openapi: 3.1.0
info:
  title: Sinch Brands Access Control Lists Capability API
  description: The Sinch Brands API allows developers to create, update, and manage customer brand profiles used across Sinch messaging products. Brands represent the business identity associated with messaging campaigns and sender registrations. The API provides endpoints for creating brand records, updating brand details, listing brands, and deleting brands, enabling programmatic management of the brand entities required for compliant business messaging.
  version: '1.0'
  contact:
    name: Sinch Support
    url: https://www.sinch.com/contact-us/
  termsOfService: https://www.sinch.com/terms-of-service/
servers:
- url: https://brands.api.sinch.com
  description: Global Production Server
security:
- bearerAuth: []
tags:
- name: Capability
  description: Query channel capabilities for specific contacts to determine which channels can be used to reach them.
paths:
  /v1/projects/{project_id}/capability:query:
    post:
      operationId: queryCapability
      summary: Query Channel Capability
      description: Queries the capability of a specific channel for a contact to determine if the channel can be used to reach them.
      tags:
      - Capability
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CapabilityQueryRequest'
      responses:
        '200':
          description: Capability result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CapabilityQueryResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique project identifier
      schema:
        type: string
  schemas:
    CapabilityQueryResponse:
      type: object
      properties:
        app_id:
          type: string
          description: The app ID
        recipient:
          type: object
          description: The queried recipient
        request_id:
          type: string
          description: The capability query request ID
    ChannelIdentity:
      type: object
      properties:
        channel:
          type: string
          enum:
          - SMS
          - RCS
          - WHATSAPP
          - MESSENGER
          - INSTAGRAM
          - VIBER
          - VIBERBM
          - TELEGRAM
          - KAKAOTALK
          - LINE
          - MMS
          description: The channel type
        identity:
          type: string
          description: The channel-specific identity
        app_id:
          type: string
          description: The app ID for the channel
    CapabilityQueryRequest:
      type: object
      required:
      - app_id
      - recipient
      properties:
        app_id:
          type: string
          description: The app ID
        recipient:
          type: object
          description: The recipient to query capability for
          properties:
            contact_id:
              type: string
              description: The contact ID
            identified_by:
              type: object
              description: Channel identity to query
              properties:
                channel_identities:
                  type: array
                  items:
                    $ref: '#/components/schemas/ChannelIdentity'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication.
externalDocs:
  description: Sinch Brands API Documentation
  url: https://developers.sinch.com/docs/brands
