openapi: 3.2.0
info:
  title: Sinch Calls API
  x-refined-note:
  - x-sinch-standards-version differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Calls across 5 of this provider''s published API definitions: sinch-elastic-sip-trunking-api-openapi.yaml, sinch-voice-api-openapi.yaml, sinch-voice-api-v2-openapi.yaml, original-sinch-voice-openapi.yml, sinch-voice-api-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://elastic-trunking.api.sinch.com
- url: https://calling.api.sinch.com
  description: redirected by Sinch to an appropriate region
- url: https://calling-use1.api.sinch.com
  description: United States
- url: https://calling-euc1.api.sinch.com
  description: Europe
- url: https://calling-sae1.api.sinch.com
  description: South America
- url: https://calling-apse1.api.sinch.com
  description: Southeast Asia 1
- url: https://calling-apse2.api.sinch.com
  description: Southeast Asia 2
- url: https://voice.api.sinch.com
  description: Endpoint which enables consuming the Voice API globally - Redirected by Sinch to the closest region.
- url: https://us1.voice.api.sinch.com
  description: North America 1 - East
- url: https://br1.voice.api.sinch.com
  description: South America 1 - East
- url: https://eu1.voice.api.sinch.com
  description: Europe 1 - Central
- url: https://sg1.voice.api.sinch.com
  description: Asia Pacific 1 - Southeast
- url: https://au1.voice.api.sinch.com
  description: Australia & Oceania 1 - Southeast
tags:
- name: Calls
  description: The `/calls` endpoint has operations that allow you to retrieve call history and details about calls made or received using EST.
paths:
  /v1/projects/{projectId}/calls:
    get:
      summary: Find calls
      description: Find calls by query parameters.
      operationId: findCalls
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: from
        in: query
        description: A phone number that you want to use to filter results. You can pass a partial number to get all calls sent to numbers that start with the number you passed.
        required: false
        schema:
          type: string
          format: phonenumber
      - name: to
        in: query
        description: Only include calls made to this number or address. You can pass a partial number to get all calls sent to numbers that start with the number you passed.
        required: false
        schema:
          type: string
          format: phonenumber
      - name: trunkId
        in: query
        description: Only include calls made from this trunk.
        required: false
        schema:
          type: string
      - name: createTime
        description: 'Filter calls based on  `createTime`. You make the query more precise, fewer results will be returned.

          For example, 2021-02-01 will return all calls from the first of February 2021, and 2021-02-01T14:00:00Z will return all calls after 14:00 on the first of February.

          This field also supports <= and >= to search for calls in a range ?createTime>=2021-10-01&createTime<=2021-10-30 to get a list if calls for october 2021

          It is also possible to submit partial dates for example createTime=2021-02 will return all calls for February


          ***Defaults to 24 hours***


          ***Internal notes***

          If a customer submits = and not <> we should add min and max for the date range

          psueodo sql


          ```

          createTime = 2021-02-01

          select * from calls where createTime >= 2021-02-01 and createTime <= 2021-02-01T23:59:59Z


          createTime = 2021-02-01T08

          select * from calls where createTime >= 2021-02-01T08:00:00 and createTime <= 2021-02-01T08:59:59Z

          ```


          but if they submit < or > we should just use the value they submitted and parse it a complete date'
        required: false
        in: query
        schema:
          type: string
          example: '2021-02-01'
          default: now-24h
      - name: callResult
        in: query
        description: only include calls by on the callResult(s), example callResult=COMPLETED will return all calls which have completed normally.
        required: false
        schema:
          $ref: '#/components/schemas/CallResult'
      - name: direction
        in: query
        description: only include calls by on the direction(s), example direction=INBOUND,OUTBOUND will return all calls that are inbound or outbound.
        required: false
        schema:
          type: string
          description: Filter results based on the call direction.
          enum:
          - INBOUND
          - OUTBOUND
          x-ga-description: Describes whether the call was `INBOUND` *to* your Sinch number or was `OUTBOUND` and made *from* your Sinch number. An `INBOUND` call can also come from a SIP infrastructure or an application built using the Sinch SDK. An `OUTBOUND` call can be placed to a SIP infrastructure or an application built using the Sinch SDK.
          x-enumDescriptions:
            INBOUND: Somebody called your Sinch number.
            OUTBOUND: You called somebody from your SIP device.
      - name: page
        in: query
        description: The page you want to fetch
        schema:
          type: string
      - name: size
        in: query
        description: The maximum number of items to return per request. The default is 100 and the maximum is 1000. If you need to export larger amounts and pagination is not suitable for you can use the Export function in the dashboard.
        schema:
          type: integer
          maximum: 1000
          minimum: 1
      responses:
        '200':
          description: Call result response
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    calls:
                      type: array
                      description: The list of calls that matches the query parameters.
                      items:
                        $ref: '#/components/schemas/Call'
                - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';\n  const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';\n  const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';\n\n  // Replace with a valid 'from' number in your call history\n  const fromFilter = '+1781';\n  // Replace with one of: 'COMPLETED', 'NO_ANSWER', 'CANCEL', 'BUSY', 'FAILED'\n  const callResultFilter = 'FAILED';\n\n  const sinch = new SinchClient({ projectId, keyId, keySecret });\n\n  try {\n    const response = await sinch.elasticSipTrunking.calls.find({\n      from: fromFilter,\n      callResult: callResultFilter,\n    });\n    if (response.data.length === 0) {\n      console.log('No calls found matching your criteria.');\n      return;\n    }\n    console.log(`✅ Found ${response.data.length} calls.`);\n    response.data.forEach((call) => {\n      console.log(call);\n    });\n  } catch (err) {\n    console.error('❌ Failed to find calls:');\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - Basic: []
      - OAuth2.0: []
    servers:
    - url: https://elastic-trunking.api.sinch.com
  /v1/projects/{projectId}/calls/export:
    get:
      tags:
      - Calls
      summary: Export call records
      description: Export call records for a project. This returns a comma separate value (CSV) response. You can specify which records to export using the query parameters.
      operationId: exportCallRecords
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: from
        in: query
        description: A phone number that you want to use to filter results. You can pass a partial number to get all calls sent to numbers that start with the number you passed.
        required: false
        schema:
          type: string
          format: phonenumber
      - name: to
        in: query
        description: Only include calls made to this number or address. You can pass a partial number to get all calls sent to numbers that start with the number you passed.
        required: false
        schema:
          type: string
          format: phonenumber
      - name: trunkId
        in: query
        description: Only include calls made from this trunk.
        required: false
        schema:
          type: string
      - name: createTime
        description: 'Filter calls based on  `createTime`. You make the query more precise, fewer results will be returned.

          For example, 2021-02-01 will return all calls from the first of February 2021, and 2021-02-01T14:00:00Z will return all calls after 14:00 on the first of February.

          This field also supports <= and >= to search for calls in a range ?createTime>=2021-10-01&createTime<=2021-10-30 to get a list if calls for october 2021

          It is also possible to submit partial dates for example createTime=2021-02 will return all calls for February


          ***Defaults to 24 hours***'
        required: false
        in: query
        style: form
        explode: true
        schema:
          type: string
          example: '2021-02-01'
          default: now-24h
      - name: callResult
        in: query
        description: only include calls by on the callResult(s), example callResult=COMPLETED will return all calls which have completed normally.
        required: false
        style: form
        explode: false
        schema:
          $ref: '#/components/schemas/CallResult'
      - name: direction
        in: query
        description: only include calls by on the direction(s), example direction=INBOUND,OUTBOUND will return all calls that are inbound or outbound.
        required: false
        style: form
        explode: false
        schema:
          type: string
          description: Filter results based on the call direction. Describes whether the call was `INBOUND` *to* your Sinch number or was `OUTBOUND` and made *from* your Sinch number. An `INBOUND` call can also come from a SIP infrastructure or an application built using the Sinch SDK. An `OUTBOUND` call can be placed to a SIP infrastructure or an application built using the Sinch SDK.
          enum:
          - INBOUND
          - OUTBOUND
          x-enumDescriptions:
            INBOUND: Somebody called your Sinch number.
            OUTBOUND: You called somebody from your SIP device.
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      - name: fromCountryCode
        in: query
        required: false
        description: Set this if you want to filter on the country of the caller phone number.
        schema:
          type: string
          example: US
      - name: toCountryCode
        in: query
        required: false
        description: Set this if you want to filter on the country of the callee phone number.
        schema:
          type: string
          example: CA
      - name: emergencyOnly
        in: query
        required: false
        description: Set this if you want to filter on emergency calls or not.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          x-enumDescriptions:
            'true': Include only emergency calls.
            'false': Include all calls.
      - name: region
        in: query
        required: false
        description: Set this is you want to filter calls based on the region.
        schema:
          type: string
          example: us-east
      - name: projectIds
        in: query
        required: false
        description: Set this if you want to include calls from other projects.
        schema:
          type: string
      - name: fileName
        in: query
        required: false
        schema:
          type: string
      - name: groupId
        in: query
        required: false
        description: Set this if you want to filter calls based on the group ID.
        schema:
          type: string
          example: e234bd85-8uv5-44a2-a973-1f705a0960f5@vp3-i-06a73121dc26a8906.xmpp.vpc
      - name: parentId
        in: query
        required: false
        description: Set this if you want to filter calls based on the call's parent ID.
        schema:
          type: string
          example: 9128525b-7273-123f-73ae-0225d0254abb
      - name: relationshipType
        in: query
        required: false
        description: The type of relationship the call has, for example, an initial call or a child call.
        schema:
          type: string
          example: initial
      - name: hasChildren
        in: query
        required: false
        description: Set this if you want to filter on calls with children or not.
        schema:
          type: string
          enum:
          - 'true'
          - 'false'
          x-enumDescriptions:
            'true': Include only calls with children.
            'false': Include all calls.
      responses:
        '200':
          description: OK
          content:
            application/csv:
              schema:
                type: string
      x-codeSamples:
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';\n  const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';\n  const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';\n\n  // Replace with a valid 'from' number in your call history\n  const fromFilter = '+1440';\n  // Replace with one of: 'COMPLETED', 'NO_ANSWER', 'CANCEL', 'BUSY', 'FAILED'\n  const callResultFilter = 'FAILED';\n\n  const sinch = new SinchClient({ projectId, keyId, keySecret });\n\n  try {\n    const response = await sinch.elasticSipTrunking.calls.export({\n      from: fromFilter,\n      callResult: callResultFilter,\n    });\n    console.log('✅ Successfully exported the call records.');\n    console.log(response);\n  } catch (err) {\n    console.error('❌ Failed to export the call records:');\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - Basic: []
      - OAuth2.0: []
    servers:
    - url: https://elastic-trunking.api.sinch.com
  /v1/projects/{projectId}/calls/records/{pcapId}/pcap:
    get:
      tags:
      - Calls
      summary: Get PCAPs by ID
      description: Return PCAPs by the PCAP ID. Returns a .pcap file of the requested call to download. You can find the PCAP ID in the response from '/calls' endpoint. PCAPs are only available for calls from within the last 10 days.
      operationId: getPcap
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: pcapId
        in: path
        description: The ID of the PCAP you want to retrieve.
        required: true
        schema:
          type: string
          example: 0a81e938-07bd-1240-8487-0ecf41868d11
      - name: direction
        in: query
        description: Request a PCAP for the call leg specified by the direction. If this query parameter is not included, the default behavior is to return OUTBOUND calls.
        required: false
        schema:
          type: string
          enum:
          - INBOUND
          - OUTBOUND
          x-enumDescriptions:
            INBOUND: Somebody called your Sinch number.
            OUTBOUND: You called somebody from your SIP device.
          default: OUTBOUND
      responses:
        '200':
          description: The .pcap file.
          content:
            application/octet-stream: {}
      security:
      - Basic: []
      - OAuth2.0: []
    servers:
    - url: https://elastic-trunking.api.sinch.com
  /calling/v1/calls/id/{callId}:
    parameters:
    - $ref: '#/components/parameters/callId'
    patch:
      tags:
      - Calls
      summary: Update a call in progress
      description: 'This method is used to manage ongoing, connected calls. This method uses SVAML in the request body to perform various tasks related to the call. For more information about SVAML, see the Callback API documentation.


        This method can only be used for calls that originate from or terminate to PSTN or SIP networks.'
      operationId: Calling_UpdateCall
      requestBody:
        $ref: '#/components/requestBodies/updateCall'
      responses:
        '204':
          description: A success response, or an [Error](https://developers.sinch.com/docs/voice/api-reference/errors/).
      x-codeSamples:
      - lang: Java
        source: "/**\n * Sinch Java Snippet\n *\n * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java\n *\n * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details\n */\npackage voice.calls;\n\nimport com.sinch.sdk.SinchClient;\nimport com.sinch.sdk.domains.voice.api.v1.CallsService;\nimport com.sinch.sdk.domains.voice.models.v1.calls.request.CallUpdateRequest;\nimport com.sinch.sdk.domains.voice.models.v1.svaml.action.ManagedCallSvamlAction;\nimport com.sinch.sdk.domains.voice.models.v1.svaml.action.SvamlActionHangup;\nimport com.sinch.sdk.domains.voice.models.v1.svaml.instruction.SvamlInstruction;\nimport com.sinch.sdk.domains.voice.models.v1.svaml.instruction.SvamlInstructionSay;\nimport com.sinch.sdk.models.Configuration;\nimport java.util.Collection;\nimport java.util.Collections;\nimport java.util.logging.Logger;\nimport utils.Settings;\n\npublic class Update {\n\n  private static final Logger LOGGER = Logger.getLogger(Update.class.getName());\n\n  public static void main(String[] args) {\n\n    String applicationKey = Settings.getApplicationKey().orElse(\"MY_APPLICATION_KEY\");\n    String applicationSecret = Settings.getApplicationSecret().orElse(\"MY_APPLICATION_SECRET\");\n\n    // The ID of the call to update\n    String callId = \"CALL_ID\";\n    // The instruction to be performed\n    SvamlInstruction instruction = SvamlInstructionSay.builder().setText(\"Goodbye\").build();\n    // The instruction to add to the call\n    ManagedCallSvamlAction action = SvamlActionHangup.SVAML_ACTION_HANGUP;\n\n    Configuration configuration =\n        Configuration.builder()\n            .setApplicationKey(applicationKey)\n            .setApplicationSecret(applicationSecret)\n            .build();\n\n    SinchClient client = new SinchClient(configuration);\n\n    CallsService callsService = client.voice().v1().calls();\n\n    LOGGER.info(String.format(\"Updating call with ID '%s'\", callId));\n\n    Collection<SvamlInstruction> instructions = Collections.singletonList(instruction);\n\n    CallUpdateRequest request =\n        CallUpdateRequest.builder().setInstructions(instructions).setAction(action).build();\n\n    callsService.update(callId, request);\n\n    LOGGER.info(\"Done\");\n  }\n}\n"
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const applicationKey = process.env.SINCH_APPLICATION_KEY ?? 'MY_APPLICATION_KEY';\n  const applicationSecret = process.env.SINCH_APPLICATION_SECRET ?? 'MY_APPLICATION_SECRET';\n\n  // The ID of the call to update\n  const callId = 'CALL_ID';\n\n  const sinch = new SinchClient({ applicationKey, applicationSecret });\n\n  try {\n    await sinch.voice.calls.update({\n      callId,\n      updateCallRequestBody: {\n        instructions: [\n          {\n            name: 'sendDtmf',\n            value: '1234#',\n          },\n        ],\n        action: {\n          name: 'hangup',\n        },\n      },\n    });\n    console.log(`✅ Successfully updated call with ID ${callId}.`);\n  } catch (err) {\n    console.error(`❌ Failed to update call with ID ${callId}:`);\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - Basic: []
      - Signed: []
    get:
      tags:
      - Calls
      summary: Get information about a call
      description: 'You can retrieve information about an ongoing or completed call using a call ID. You can find the call ID of an ongoing call by viewing the response object from a callout request. You can find the call ID of a completed call by looking at your call logs in your Sinch Dashboard.


        Note: You can only use this method for calls that terminate to PSTN or SIP networks from an In-app call.'
      operationId: Calling_GetCallResult
      responses:
        '200':
          description: A success response, or an [Error](https://developers.sinch.com/docs/voice/api-reference/errors/).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getCallResponseObj'
      x-codeSamples:
      - lang: Java
        source: "/**\n * Sinch Java Snippet\n *\n * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java\n *\n * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details\n */\npackage voice.calls;\n\nimport com.sinch.sdk.SinchClient;\nimport com.sinch.sdk.domains.voice.api.v1.CallsService;\nimport com.sinch.sdk.domains.voice.models.v1.calls.response.CallInformation;\nimport com.sinch.sdk.models.Configuration;\nimport java.util.logging.Logger;\nimport utils.Settings;\n\npublic class Get {\n\n  private static final Logger LOGGER = Logger.getLogger(Get.class.getName());\n\n  public static void main(String[] args) {\n\n    String applicationKey = Settings.getApplicationKey().orElse(\"MY_APPLICATION_KEY\");\n    String applicationSecret = Settings.getApplicationSecret().orElse(\"MY_APPLICATION_SECRET\");\n\n    // The ID of the call to retrieve\n    String callId = \"CALL_ID\";\n\n    Configuration configuration =\n        Configuration.builder()\n            .setApplicationKey(applicationKey)\n            .setApplicationSecret(applicationSecret)\n            .build();\n\n    SinchClient client = new SinchClient(configuration);\n\n    CallsService callsService = client.voice().v1().calls();\n\n    LOGGER.info(String.format(\"Get information for call with ID '%s'\", callId));\n\n    CallInformation response = callsService.get(callId);\n\n    LOGGER.info(\"Response: \" + response);\n  }\n}\n"
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const applicationKey = process.env.SINCH_APPLICATION_KEY ?? 'MY_APPLICATION_KEY';\n  const applicationSecret = process.env.SINCH_APPLICATION_SECRET ?? 'MY_APPLICATION_SECRET';\n\n  // The ID of the call to retrieve\n  const callId = 'CALL_ID';\n\n  const sinch = new SinchClient({ applicationKey, applicationSecret });\n\n  try {\n    const response = await sinch.voice.calls.get({ callId });\n    console.log('✅ Successfully retrieved call.');\n    console.log(`Response:\\n${JSON.stringify(response, null, 2)}`);\n  } catch (err) {\n    console.error(`❌ Failed to retrieve call with ID ${callId}:`);\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - Basic: []
      - Signed: []
    servers:
    - url: https://calling.api.sinch.com
      description: redirected by Sinch to an appropriate region
    - url: https://calling-use1.api.sinch.com
      description: United States
    - url: https://calling-euc1.api.sinch.com
      description: Europe
    - url: https://calling-sae1.api.sinch.com
      description: South America
    - url: https://calling-apse1.api.sinch.com
      description: Southeast Asia 1
    - url: https://calling-apse2.api.sinch.com
      description: Southeast Asia 2
  /calling/v1/calls/id/{callId}/leg/{callLeg}:
    parameters:
    - $ref: '#/components/parameters/callId'
    - $ref: '#/components/parameters/callLeg'
    patch:
      tags:
      - Calls
      summary: Manage Call with `callLeg`
      description: 'This method is used to manage ongoing, connected calls. This method is only used when using the `PlayFiles` and `Say` instructions in the request body. This method uses SVAML in the request body to perform various tasks related to the call. For more information about SVAML, see the Callback API documentation.


        Note: You can only use this method for calls that originate from or terminate to PSTN or SIP networks.'
      operationId: Calling_ManageCallWithCallLeg
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PATCHSVAMLRequestBody'
            examples:
              hangupExample:
                value:
                  instructions:
                  - name: say
                    text: Hello, the call is over, hanging up now.  Goodbye
                    locale: en-US
                  action:
                    name: hangup
              continueExample:
                $ref: '#/components/examples/continue'
              parkExample:
                $ref: '#/components/examples/park'
              playFilesExample:
                $ref: '#/components/examples/playFiles'
              sayExample:
                $ref: '#/components/examples/say'
              sendDtmfExample:
                $ref: '#/components/examples/sendDtmf'
              setCookieExample:
                $ref: '#/components/examples/setCookie'
              answerExample:
                $ref: '#/components/examples/answer'
              startRecordingExample:
                $ref: '#/components/examples/startRecording'
              stopRecordingExample:
                $ref: '#/components/examples/stopRecording'
              ivrExample:
                value:
                  instructions:
                  - name: playFiles
                    ids:
                    - welcome
                    locale: en-US
                  action:
                    name: hangup
      responses:
        '200':
          description: A success response, or an [Error](https://developers.sinch.com/docs/voice/api-reference/errors/).
          content:
            application/json:
              example:
                content: 200 Successful response
      x-codeSamples:
      - lang: Java
        source: "/**\n * Sinch Java Snippet\n *\n * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java\n *\n * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details\n */\npackage voice.calls;\n\nimport com.sinch.sdk.SinchClient;\nimport com.sinch.sdk.domains.voice.api.v1.CallsService;\nimport com.sinch.sdk.domains.voice.models.v1.calls.request.CallLeg;\nimport com.sinch.sdk.domains.voice.models.v1.calls.request.CallUpdateRequest;\nimport com.sinch.sdk.domains.voice.models.v1.svaml.action.ManagedCallSvamlAction;\nimport com.sinch.sdk.domains.voice.models.v1.svaml.action.SvamlActionHangup;\nimport com.sinch.sdk.domains.voice.models.v1.svaml.instruction.SvamlInstruction;\nimport com.sinch.sdk.domains.voice.models.v1.svaml.instruction.SvamlInstructionSay;\nimport com.sinch.sdk.models.Configuration;\nimport java.util.Collection;\nimport java.util.Collections;\nimport java.util.logging.Logger;\nimport utils.Settings;\n\npublic class ManageWithCallLeg {\n\n  private static final Logger LOGGER = Logger.getLogger(ManageWithCallLeg.class.getName());\n\n  public static void main(String[] args) {\n\n    String applicationKey = Settings.getApplicationKey().orElse(\"MY_APPLICATION_KEY\");\n    String applicationSecret = Settings.getApplicationSecret().orElse(\"MY_APPLICATION_SECRET\");\n\n    // The ID of the call to manage\n    String callId = \"CALL_ID\";\n    // The call leg to manage\n    CallLeg callLeg = CallLeg.CALLEE;\n\n    Configuration configuration =\n        Configuration.builder()\n            .setApplicationKey(applicationKey)\n            .setApplicationSecret(applicationSecret)\n            .build();\n\n    SinchClient client = new SinchClient(configuration);\n\n    CallsService callsService = client.voice().v1().calls();\n\n    LOGGER.info(String.format(\"Manage call with ID '%s'\", callId));\n\n    ManagedCallSvamlAction action = SvamlActionHangup.SVAML_ACTION_HANGUP;\n\n    Collection<SvamlInstruction> instructions =\n        Collections.singletonList(\n            SvamlInstructionSay.builder()\n                .setText(\"Hello, the call is over, hanging up now. Goodbye\")\n                .build());\n\n    CallUpdateRequest request =\n        CallUpdateRequest.builder().setInstructions(instructions).setAction(action).build();\n\n    callsService.manageWithCallLeg(callId, callLeg, request);\n\n    LOGGER.info(\"Done\");\n  }\n}\n"
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const applicationKey = process.env.SINCH_APPLICATION_KEY ?? 'MY_APPLICATION_KEY';\n  const applicationSecret = process.env.SINCH_APPLICATION_SECRET ?? 'MY_APPLICATION_SECRET';\n\n  // The ID of the call to manage\n  const callId = 'CALL_ID';\n  // The call leg to manage: 'caller', 'callee' or 'both\n  const callLeg = 'callee';\n\n  const sinch = new SinchClient({ applicationKey, applicationSecret });\n\n  try {\n    await sinch.voice.calls.manageWithCallLeg({\n      callId,\n      callLeg,\n      manageWithCallLegRequestBody: {\n        instructions: [\n          {\n            name: 'say',\n            text: 'Hello, the call is over, hanging up now. Goodbye',\n          },\n        ],\n        action: {\n          name: 'hangup',\n        },\n      },\n    });\n    console.log(`✅ Successfully managed call with ID ${callId} using call leg.`);\n  } catch (err) {\n    console.error(`❌ Failed to manage call with ID ${callId} using call leg:`);\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - Basic: []
      - Signed: []
    servers:
    - url: https://calling.api.sinch.com
      description: redirected by Sinch to an appropriate region
    - url: https://calling-use1.api.sinch.com
      description: United States
    - url: https://calling-euc1.api.sinch.com
      description: Europe
    - url: https://calling-sae1.api.sinch.com
      description: South America
    - url: https://calling-apse1.api.sinch.com
      description: Southeast Asia 1
    - url: https://calling-apse2.api.sinch.com
      description: Southeast Asia 2
  /v2/projects/{projectId}/calls:
    get:
      tags:
      - Calls
      summary: List calls made with Sinch Voice API
      description: List and filter calls made with Sinch
      operationId: listCalls
      parameters:
      - $ref: '#/components/parameters/projectId'
      - in: query
        name: serviceId
        description: The ID of the service.
        required: false
        schema:
          $ref: '#/components/schemas/serviceId'
      - in: query
        name: from
        description: Only include calls where `from` matches this origin.  For inbound calls, this is the caller; for outbound calls, this is the calling party.
        required: false
        schema:
          type: string
          example: '+15551234567'
      - in: query
        name: to
        description: Only include calls where `to` matches this destination. For inbound calls, this is the called party; for outbound calls, this is the callee/recipient.
        required: false
        schema:
          type: string
          example: '+15551234568'
      - in: query
        name: callType
        description: 'Only include calls of the specified type.


          If omitted, calls of all types are included.'
        required: false
        schema:
          $ref: '#/components/schemas/callType'
      - in: query
        name: startTime
        description: 'Only include calls that started **at or after** `startTime`.


          Use a more precise timestamp to narrow the results. For example:

          - `2025-02-01` matches calls starting from 2025-02-01T00:00:00Z

          - `2025-02-01T14:00:00Z` matches calls starting from 14:00:00Z on 2025-02-01'
        required: false
        schema:
          type: string
          format: date-time
          example: '2025-02-01T14:00:00Z'
      - in: query
        name: endTime
        description: 'Only include calls that ended **before** `endTime` (exclusive).


          Use a more precise timestamp to narrow the results. For example:

          - `2025-03-01` matches calls ending up to 2025-03-01T00:00:00Z

          - `2025-03-01T14:00:00Z` matches calls ending up to 14:00:00Z on 2025-03-01'
        required: false
        schema:
          type: string
          format: date-time
          example: '2025-03-01T14:00:00Z'
      - in: query
        name: callResult
        description: 'Filter results to only include calls whose `callResult` matches the specified value.


          If omitted, calls with any result are included.'
        required: false
        schema:
          $ref: '#/components/schemas/callResult_2'
      - in: query
        name: callReason
        description: 'Filter results to only include calls whose `callReason` matches the specified value.


          If omitted, calls with any reason are included.'
        required: false
        schema:
          $ref: '#/components/schemas/callReason'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A list of calls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/callsList'
              example:
                calls:
                - callId: 01ARZ3NDEKTSV4RRFFQ69G5FAA
                  projectId: 5c5bf2b1-35ae-4825-ab89-457e07bb60e6
                  serviceId: 6e124178-c29d-46a5-943c-5c2ae544aade
                  sessionId: 01BX5ZZKBKACTAV9WEVGEMMVRB
                  direction: OUTBOUND
                  originationType: SERVER
                  callType: PHONE
                  callResult: COMPLETED
                  callReason: CALLEE_HANGUP
                  startTime: '2025-02-10T09:00:00Z'
                  answerTime: '2025-02-10T09:00:05Z'
                  endTime: '2025-02-10T09:00:47Z'
                  callDurationSeconds: 42
                  from:
                    type: PHONE
                    phone:
                      number: '+15551234567'
                  to:
                    type: PHONE
                    phone:
                      number: '+15551234568'
                  callRate:
                    currencyCode: USD
                    amount: '0.0123'
                  callResourceUrl: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls/01ARZ3NDEKTSV4RRFFQ69G5FAA
                - callId: 01BX5ZZKBKACTAV9WEVGEMMVRD
                  projectId: 5c5bf2b1-35ae-4825-ab89-457e07bb60e6
                  serviceId: 6e124178-c29d-46a5-943c-5c2ae544aade
                  sessionId: 01BX5ZZKBKACTAV9WEVGEMMVRE
                  direction: INBOUND
                  originationType: PHONE
                  callType: PHONE
                  callResult: IN_PROGRESS
                  startTime: '2025-02-10T09:05:00Z'
                  answerTime: '2025-02-10T09:05:08Z'
                  from:
                    type: PHONE
                    phone:
                      number: '+15559876543'
                  to:
                    type: PHONE
                    phone:
                      number: '+15551234567'
                  callRate:
                    currencyCode: USD
                    amount: '0.0100'
                  callResourceUrl: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls/01BX5ZZKBKACTAV9WEVGEMMVRD
                links:
                  first: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls?page=1&pageSize=20
                  last: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls?page=5&pageSize=20
                  prev: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls?page=1&pageSize=20
                  self: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls?page=2&pageSize=20
                  next: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls?page=3&pageSize=20
                meta:
                  totalCount: 100
                  pageCount: 5
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      x-codeSamples:
      - lang: Python
        source: "\"\"\"\nSinch Python Snippet\n\nThis snippet is available at https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets\n\"\"\"\n\nimport os\n\nfrom dotenv import load_dotenv\n\nfrom sinch import SinchClient\n\nload_dotenv()\n\nsinch_client = SinchClient(\n    project_id=os.environ.get(\"SINCH_PROJECT_ID\") or \"MY_PROJECT_ID\",\n    key_id=os.environ.get(\"SINCH_KEY_ID\") or \"MY_KEY_ID\",\n    key_secret=os.environ.get(\"SINCH_KEY_SECRET\") or \"MY_KEY_SECRET\",\n)\n\ncalls = sinch_client.voice.v2.calls.list()\n\nprint(\"List of calls:\\n\")\nfor call in calls.iterator():\n    print(call)\n"
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';\n  const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';\n  const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';\n\n  const sinch = new SinchClient({ projectId, keyId, keySecret });\n\n  try {\n    const response = await sinch.voice.v2.calls.list();\n    if (response.data.length === 0) {\n      console.log('No Voice v2 calls found.');\n      return;\n    }\n    console.log(`✅ Found ${response.data.length} Voice v2 calls.`);\n    response.data.forEach((call) => {\n      console.log(call);\n    });\n  } catch (err) {\n    console.error('❌ Failed to list Voice v2 calls:');\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - BasicAuth: []
      - SinchOAuth2: []
    post:
      tags:
      - Calls
      summary: Create and initiate a new outbound voice call
      description: Create a new outbound call associated to the project's default service or to the service specified in the `serviceId` query parameter.
      operationId: createCall
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/serviceIdQuery'
      - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callRequest'
            examples:
              simpleDial:
                summary: Outbound call to a phone number
                value:
                  commands:
                  - command: dial
                    callName: origin
                    from:
                      type: PHONE
                      phone:
                        number: '+15551234567'
                    to:
                      type: PHONE
                      phone:
                        number: '+15559876543'
                    dialTimeoutDurationSeconds: 30
                    maxCallDurationSeconds: 3600
                    events:
                      onAnswer:
                      - command: messages
                        messages:
                        - type: SAY
                          say:
                            text: Hello, your call is now connected.
                            voiceName: Emma
                      onHangup:
                      - command: hangup
              dialToStream:
                summary: Outbound call to a WebSocket stream endpoint
                value:
                  commands:
                  - command: dial
                    callName: origin
                    from:
                      type: PHONE
                      phone:
                        number: '+15551234567'
                    to:
                      type: STREAM
                      stream:
                        endpoint: wss://myapp.example.com/audio
                        streamOptions:
                          codec: PCM
                          sampleRate: 16000
                    dialTimeoutDurationSeconds: 30
                    events:
                      onHangup:
                      - command: hangup
              batchDial:
                summary: Batch of outbound calls with parameters
                value:
                  commands:
                  - command: dial
                    callName: origin
                    from:
                      type: PHONE
                      phone:
                        number: '+15551234567'
                    to:
                      type: PHONE
                      phone:
                        number: '@numberB'
                    dialTimeoutDurationSeconds: 30
                    events:
                      onAnswer:
                      - command: messages
                        messages:
                        - type: SAY
                          say:
                            text: Hello, this is an automated reminder.
                            voiceName: Emma
                      onHangup:
                      - command: hangup
                  parameters:
                  - numberB: '+15559876543'
                  - numberB: '+15559876544'
                  - numberB: '+15559876545'
                  batchOptions:
                    maxCps: 10
                    ttlSeconds: 3600
      responses:
        '201':
          description: Call created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/callResponse'
              examples:
                singleCallCreated:
                  summary: Single outbound call created
                  value:
                    projectId: 5c5bf2b1-35ae-4825-ab89-457e07bb60e6
                    serviceId: 6e124178-c29d-46a5-943c-5c2ae544aade
                    sessionId: 01BX5ZZKBKACTAV9WEVGEMMVRB
                batchCallCreated:
                  summary: Batch of outbound calls created
                  value:
                    projectId: 5c5bf2b1-35ae-4825-ab89-457e07bb60e6
                    serviceId: 6e124178-c29d-46a5-943c-5c2ae544aade
                    sessionId: 01BX5ZZKBKACTAV9WEVGEMMVRB
                    batchId: 01BX5ZZKBKACTAV9WEVGEMMVRC
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      x-codeSamples:
      - lang: Python
        source: "\"\"\"\nSinch Python Snippet\n\nThis snippet is available at https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets\n\"\"\"\n\nimport os\n\nfrom dotenv import load_dotenv\n\nfrom sinch import SinchClient\n\nload_dotenv()\n\nsinch_client = SinchClient(\n    project_id=os.environ.get(\"SINCH_PROJECT_ID\") or \"MY_PROJECT_ID\",\n    key_id=os.environ.get(\"SINCH_KEY_ID\") or \"MY_KEY_ID\",\n    key_secret=os.environ.get(\"SINCH_KEY_SECRET\") or \"MY_KEY_SECRET\",\n)\n\n# The Sinch phone number to call from\nfrom_phone_number = (\n    os.environ.get(\"SINCH_PHONE_NUMBER\") or \"MY_SINCH_PHONE_NUMBER\"\n)\n\n# The phone number of the recipient to call\nto_phone_number = \"RECIPIENT_PHONE_NUMBER\"\n\n# The command dialing out to the recipient\ndial_command = {\n    \"command\": \"dial\",\n    \"call_name\": \"Python_SDK_Snippet_Call\",\n    \"from_\": {\"type\": \"PHONE\", \"phone\": {\"number\": from_phone_number}},\n    \"to\": {\"type\": \"PHONE\", \"phone\": {\"number\": to_phone_number}},\n    \"events\": {\n        \"on_answer\": [\n            {\n                \"command\": \"messages\",\n                \"messages\": [\n                    {\n                        \"type\": \"SAY\",\n                        \"say\": {\n                            \"text\": \"Hello, your call is now connected.\",\n                            \"voice_name\": \"Emma\",\n                        },\n                    }\n                ],\n            }\n        ],\n        \"on_hangup\": [{\"command\": \"hangup\"}],\n    },\n}\n\n# The SVAML commands describing the call flow\ncommands = [dial_command]\n\nresponse = sinch_client.voice.v2.calls.start(commands=commands)\n\nprint(f\"Call Successfully started.\\n{response}\")\n"
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';\n  const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';\n  const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';\n\n  // The phone number to be used as the caller ID, in E.164 format (e.g., +12025550123)\n  const sinchPhoneNumber = process.env.SINCH_PHONE_NUMBER || 'MY_SINCH_PHONE_NUMBER';\n  // The phone number you want to call, in E.164 format (e.g., +12025550123)\n  const recipientPhoneNumber = 'RECIPIENT_PHONE_NUMBER';\n\n  const sinch = new SinchClient({ projectId, keyId, keySecret });\n\n  try {\n    const response = await sinch.voice.v2.calls.start({\n      createCallRequestBody: {\n        commands: [\n          {\n            command: 'dial',\n            callName: 'Node_SDK_Snippet_Call',\n            from: {\n              type: 'PHONE',\n              phone: {\n                number: sinchPhoneNumber,\n              },\n            },\n            to: {\n              type: 'PHONE',\n              phone: {\n                number: recipientPhoneNumber,\n              },\n            },\n            dialTimeoutDurationSeconds: 30,\n            events: {\n              onAnswer: [\n                {\n                  command: 'messages',\n                  messages: [\n                    {\n                      type: 'SAY',\n                      say: {\n                        text: 'Hello, your call is now connected.',\n                        voiceName: 'Emma',\n                      },\n                    },\n                  ],\n                },\n              ],\n              onHangup: [\n                {\n                  command: 'hangup',\n                },\n              ],\n            },\n          },\n        ],\n      },\n    });\n    console.log(`✅ Successfully started a Voice v2 call to ${recipientPhoneNumber}.`);\n    console.log(`Response:\\n${JSON.stringify(response, null, 2)}`);\n  } catch (err) {\n    console.error(`❌ Failed to start a Voice v2 call to ${recipientPhoneNumber}:`);\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - BasicAuth: []
      - SinchOAuth2: []
    servers:
    - url: https://voice.api.sinch.com
      description: Endpoint which enables consuming the Voice API globally - Redirected by Sinch to the closest region.
    - url: https://us1.voice.api.sinch.com
      description: North America 1 - East
    - url: https://br1.voice.api.sinch.com
      description: South America 1 - East
    - url: https://eu1.voice.api.sinch.com
      description: Europe 1 - Central
    - url: https://sg1.voice.api.sinch.com
      description: Asia Pacific 1 - Southeast
    - url: https://au1.voice.api.sinch.com
      description: Australia & Oceania 1 - Southeast
  /v2/projects/{projectId}/calls/{callId}:
    get:
      tags:
      - Calls
      summary: Retrieve call details by call ID
      operationId: getCallById
      description: Retrieve detailed information about a specific call using its unique identifier.
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/callId_2'
      responses:
        '200':
          description: A call object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/call'
              example:
                callId: 01ARZ3NDEKTSV4RRFFQ69G5FAA
                projectId: 5c5bf2b1-35ae-4825-ab89-457e07bb60e6
                serviceId: 6e124178-c29d-46a5-943c-5c2ae544aade
                sessionId: 01BX5ZZKBKACTAV9WEVGEMMVRB
                callName: origin
                direction: OUTBOUND
                originationType: SERVER
                callType: PHONE
                callResult: COMPLETED
                callReason: CALLEE_HANGUP
                startTime: '2025-02-10T09:00:00Z'
                answerTime: '2025-02-10T09:00:05Z'
                endTime: '2025-02-10T09:00:47Z'
                callDurationSeconds: 42
                from:
                  type: PHONE
                  phone:
                    number: '+15551234567'
                to:
                  type: PHONE
                  phone:
                    number: '+15559876543'
                callRate:
                  currencyCode: USD
                  amount: '0.0123'
                callResourceUrl: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls/01ARZ3NDEKTSV4RRFFQ69G5FAA
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      x-codeSamples:
      - lang: Python
        source: "\"\"\"\nSinch Python Snippet\n\nThis snippet is available at https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets\n\"\"\"\n\nimport os\n\nfrom dotenv import load_dotenv\n\nfrom sinch import SinchClient\n\nload_dotenv()\n\nsinch_client = SinchClient(\n    project_id=os.environ.get(\"SINCH_PROJECT_ID\") or \"MY_PROJECT_ID\",\n    key_id=os.environ.get(\"SINCH_KEY_ID\") or \"MY_KEY_ID\",\n    key_secret=os.environ.get(\"SINCH_KEY_SECRET\") or \"MY_KEY_SECRET\",\n)\n\n# The ID of the call to retrieve\ncall_id = \"CALL_ID\"\n\nresponse = sinch_client.voice.v2.calls.get(call_id=call_id)\n\nprint(f\"Successfully retrieved call details.\\n{response}\")\n"
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';\n  const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';\n  const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';\n\n  // The ID of the call to retrieve\n  const callId = 'CALL_ID';\n\n  const sinch = new SinchClient({ projectId, keyId, keySecret });\n\n  try {\n    const response = await sinch.voice.v2.calls.get({\n      callId,\n    });\n    console.log(`✅ Successfully retrieved the Voice v2 call with ID ${callId}.`);\n    console.log(`Response:\\n${JSON.stringify(response, null, 2)}`);\n  } catch (err) {\n    console.error(`❌ Failed to retrieve the Voice v2 call with ID ${callId}:`);\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - BasicAuth: []
      - SinchOAuth2: []
    patch:
      tags:
      - Calls
      summary: Patch an ongoing call by call ID
      description: Interact with an ongoing call by submitting a set of SVAML commands. Use this to force disconnect, play messages, bridge with another call, or perform other call control actions.
      operationId: patchCallById
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/callId_2'
      - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callPatchRequest'
      responses:
        '202':
          description: Commands accepted for processing.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      x-codeSamples:
      - lang: Python
        source: "\"\"\"\nSinch Python Snippet\n\nThis snippet is available at https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets\n\"\"\"\n\nimport os\n\nfrom dotenv import load_dotenv\n\nfrom sinch import SinchClient\n\nload_dotenv()\n\nsinch_client = SinchClient(\n    project_id=os.environ.get(\"SINCH_PROJECT_ID\") or \"MY_PROJECT_ID\",\n    key_id=os.environ.get(\"SINCH_KEY_ID\") or \"MY_KEY_ID\",\n    key_secret=os.environ.get(\"SINCH_KEY_SECRET\") or \"MY_KEY_SECRET\",\n)\n\n# The ID of the ongoing call to interact with\ncall_id = \"CALL_ID\"\n\n# The SVAML commands to interact with the ongoing call\ncommands = [{\"command\": \"hangup\"}]\n\nsinch_client.voice.v2.calls.interact_by_call_id(\n    call_id=call_id, commands=commands\n)\n\nprint(\"Successfully submitted commands to the call.\")\n"
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';\n  const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';\n  const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';\n\n  // The ID of the ongoing call to interact with\n  const callId = 'CALL_ID';\n\n  const sinch = new SinchClient({ projectId, keyId, keySecret });\n\n  try {\n    await sinch.voice.v2.calls.interactByCallId({\n      callId,\n      callPatchRequestBody: {\n        commands: [\n          {\n            command: 'hangup',\n          },\n        ],\n      },\n    });\n    console.log(`✅ Successfully submitted SVAML commands for the Voice v2 call with ID ${callId}.`);\n  } catch (err) {\n    console.error(`❌ Failed to interact with the Voice v2 call with ID ${callId}:`);\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - BasicAuth: []
      - SinchOAuth2: []
    servers:
    - url: https://voice.api.sinch.com
      description: Endpoint which enables consuming the Voice API globally - Redirected by Sinch to the closest region.
    - url: https://us1.voice.api.sinch.com
      description: North America 1 - East
    - url: https://br1.voice.api.sinch.com
      description: South America 1 - East
    - url: https://eu1.voice.api.sinch.com
      description: Europe 1 - Central
    - url: https://sg1.voice.api.sinch.com
      description: Asia Pacific 1 - Southeast
    - url: https://au1.voice.api.sinch.com
      description: Australia & Oceania 1 - Southeast
  /v2/projects/{projectId}/sessions/{sessionId}/calls/{callName}:
    patch:
      tags:
      - Calls
      summary: Patch an ongoing call by session ID and call name
      description: Interact with an ongoing call identified by its session and call name by submitting a set of SVAML commands. Use this to force disconnect, play messages, bridge with another call, or perform other call control actions.
      operationId: patchCallBySessionAndName
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/sessionId'
      - $ref: '#/components/parameters/idempotencyKey'
      - name: callName
        in: path
        required: true
        description: The name of the call leg within the session, as assigned by the `callName` property in the `dial` command.
        schema:
          type: string
          example: origin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/callPatchRequest'
      responses:
        '202':
          description: Commands accepted for processing.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      x-codeSamples:
      - lang: Python
        source: "\"\"\"\nSinch Python Snippet\n\nThis snippet is available at https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets\n\"\"\"\n\nimport os\n\nfrom dotenv import load_dotenv\n\nfrom sinch import SinchClient\n\nload_dotenv()\n\nsinch_client = SinchClient(\n    project_id=os.environ.get(\"SINCH_PROJECT_ID\") or \"MY_PROJECT_ID\",\n    key_id=os.environ.get(\"SINCH_KEY_ID\") or \"MY_KEY_ID\",\n    key_secret=os.environ.get(\"SINCH_KEY_SECRET\") or \"MY_KEY_SECRET\",\n)\n\n# The ID of the session the call leg belongs to\nsession_id = \"SESSION_ID\"\n\n# The name of the call leg within the session\ncall_name = \"CALL_NAME\"\n\n# The SVAML commands to interact with the ongoing call\ncommands = [{\"command\": \"hangup\"}]\n\nsinch_client.voice.v2.calls.interact_by_call_name(\n    session_id=session_id, call_name=call_name, commands=commands\n)\n\nprint(\"Successfully submitted commands to the call.\")\n"
      - lang: Node.js
        source: "/**\n * Sinch Node.js Snippet\n * See: https://github.com/sinch/sinch-sdk-node/examples/snippets\n */\nimport { SinchClient } from '@sinch/sdk-core';\nimport * as dotenv from 'dotenv';\ndotenv.config();\n\nasync function main() {\n  const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';\n  const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';\n  const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';\n\n  // The ID of the session that contains the call\n  const sessionId = 'SESSION_ID';\n  // The name of the call leg within the session, as assigned by the `callName` property in the `dial` command\n  const callName = 'CALL_NAME';\n\n  const sinch = new SinchClient({ projectId, keyId, keySecret });\n\n  try {\n    await sinch.voice.v2.calls.interactByCallName({\n      sessionId,\n      callName,\n      callPatchRequestBody: {\n        commands: [\n          {\n            command: 'hangup',\n          },\n        ],\n      },\n    });\n    console.log(`✅ Successfully submitted SVAML commands for the Voice v2 call named ${callName} in session ${sessionId}.`);\n  } catch (err) {\n    console.error(`❌ Failed to interact with the Voice v2 call named ${callName} in session ${sessionId}:`);\n    console.error(err);\n  }\n}\n\nmain();\n"
      security:
      - BasicAuth: []
      - SinchOAuth2: []
    servers:
    - url: https://voice.api.sinch.com
      description: Endpoint which enables consuming the Voice API globally - Redirected by Sinch to the closest region.
    - url: https://us1.voice.api.sinch.com
      description: North America 1 - East
    - url: https://br1.voice.api.sinch.com
      description: South America 1 - East
    - url: https://eu1.voice.api.sinch.com
      description: Europe 1 - Central
    - url: https://sg1.voice.api.sinch.com
      description: Asia Pacific 1 - Southeast
    - url: https://au1.voice.api.sinch.com
      description: Australia & Oceania 1 - Southeast
  /calling/v1/calls/id/{call_id}:
    get:
      operationId: getCall
      summary: Get Call Information
      description: Returns information about a specific call identified by the call ID.
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/CallId'
      responses:
        '200':
          description: Call details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallInformation'
        '401':
          description: Unauthorized
        '404':
          description: Call not found
      security:
      - basicAuth: []
    patch:
      operationId: updateCall
      summary: Update a Call
      description: Updates an ongoing call with SVAML instructions. Can be used to play prompts, connect calls, or hang up.
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/CallId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SVAMLControl'
      responses:
        '200':
          description: Call updated
        '401':
          description: Unauthorized
        '404':
          description: Call not found
      security:
      - basicAuth: []
    servers:
    - url: https://calling.api.sinch.com
      description: Global Production Server
components:
  schemas:
    Pagination:
      type: object
      readOnly: true
      properties:
        totalItems:
          type: integer
          readOnly: true
          format: int32
          description: Total size of the result.
          example: 10000
        pageNumber:
          readOnly: true
          type: string
          description: The token to be used for listing the next page
          example: '1'
        size:
          type: integer
          readOnly: true
          format: int32
          description: The number of items per page. default is 1000
          example: 2000
    CallResult:
      description: The result of the call.
      readOnly: true
      type: string
      example: COMPLETED
      enum:
      - COMPLETED
      - NO_ANSWER
      - CANCEL
      - BUSY
      - FAILED
      x-enumDescriptions:
        COMPLETED: The call was completed successfully.
        NO_ANSWER: The call timeout before the recipient answered.
        CANCEL: The call was canceled.
        BUSY: The recipient was busy.
        FAILED: The call failed.
    Call:
      description: The call resource represents an inbound or outbound connection between Sinch and a supported device
      type: object
      properties:
        callId:
          type: string
          description: The unique identifier of the call.
          format: ULID
        to:
          x-version: 1
          x-PII: true
          type: string
          description: 'For `INBOUND` calls, this is the Sinch number the phone dialed.

            For `OUTBOUND` calls, this is the phone number you want to make a call to.

            Formatted according e164 format.'
        from:
          x-version: 1
          x-PII: true
          x-v1: breaking
          type: string
          x-mvp-description: 'The call''s origination, formatted according to the call''s `callType`. For calls to the telephone network, this is a phone number in [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format, including the leading `+`.

            <b>Note:</b> If you do not include the `from` property, the call is made from the number or identifier configured as the default for your application or service.'
          description: 'For `INBOUND` calls, this is the number of the person calling. When making an outbound call set this to the your Sinch number you want to show up as Caller Id.

            The call''s origination, formatted according to the call''s `callType`. For calls in the telephone network,

            this is a phone number in [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format, including the leading `+`.'
          format: phoneNumber
          example: '+14155553434'
        direction:
          x-version: 1
          type: string
          enum:
          - INBOUND
          - OUTBOUND
          readOnly: true
          x-PII: false
          x-v1: false
          description: Describes whether the call was `INBOUND` *to* your Sinch number or was `OUTBOUND` and made *from* your Sinch number.
          x-enumDescriptions:
            INBOUND: Someone called your Sinch number.
            OUTBOUND: Someone called from your SIP device.
        answerTime:
          x-version: 1
          readOnly: true
          x-PII: false
          x-V1: breaking
          type: string
          format: date-time
          description: Time when call was answered
          example: '2021-11-01T23:26:50Z'
        endTime:
          x-version: 1
          readOnly: true
          type: string
          format: date-time
          x-PII: false
          x-V1: breaking
          description: The time the call ended
          example: '2021-11-01T23:29:50Z'
        durationSeconds:
          x-version: 1
          x-PII: false
          x-V1: breaking
          description: The duration of the call in seconds. For inbound calls, this is the time from when the call started until the call ended. For outbound calls, this is the time from when the call was answered until the call ended.
          readOnly: true
          type: integer
          example: 45
        callResult:
          $ref: '#/components/schemas/CallResult'
        pricePerMinute:
          description: The price per minute for this call.
          allOf:
          - $ref: '#/components/schemas/Money'
          readOnly: true
        billingDurationSeconds:
          x-version: 1
          readOnly: true
          description: The duration of the call adjusted with the billing period.
          type: integer
          example: 60
        price:
          x-version: 1
          description: The total price for this call. This field is populated when the call ends.
          allOf:
          - $ref: '#/components/schemas/Money'
          readOnly: true
        createTime:
          x-version: 1
          readOnly: true
          x-PII: false
          x-v1: true
          type: string
          format: date-time
          description: The time the call was created.
          example: '2021-11-01T23:20:50Z'
        projectId:
          x-version: 1
          type: string
          description: The ID of the project that the call belongs to.
        trunkId:
          x-version: 1
          example: dFeDe67-09d5-49d5-b469-e1fc2cb163c7
          type: string
          description: The ID of the trunk that the call was made through.
        pcapId:
          type: string
          description: The ID of the PCAP that can be retrieved. PCAPs are only stored for 10 days.
          example: 0a81e938-07bd-1240-8487-0ecf41868d11
    Money:
      type: object
      readOnly: true
      properties:
        currencyCode:
          readOnly: true
          description: The 3-letter currency code defined in ISO 4217.
          type: string
          example: USD
        amount:
          readOnly: true
          description: The amount with 4 decimals and decimal delimiter `.`.
          type: string
          example: '0.0040'
    destinationMxp:
      type: object
      description: The type of device and number or endpoint to call.
      required:
      - type
      - endpoint
      properties:
        type:
          $ref: '#/components/schemas/mxpDestination'
        endpoint:
          type: string
          description: For type `userName` the value is the username for a data endpoint.
          format: user name
          example: myUserName
    svaml.instruction:
      type: object
      description: Instructions allow an application to play a message or file, start recording, and various other tasks. For more information about instructions, see the [SVAML](https://developers.sinch.com/docs/voice/api-reference/svaml/) documentation.
      anyOf:
      - $ref: '#/components/schemas/svaml.instruction.playFiles'
      - $ref: '#/components/schemas/svaml.instruction.say'
      - $ref: '#/components/schemas/svaml.instruction.sendDtmf'
      - $ref: '#/components/schemas/svaml.instruction.setCookie'
      - $ref: '#/components/schemas/svaml.instruction.answer'
      - $ref: '#/components/schemas/svaml.instruction.startRecording'
      - $ref: '#/components/schemas/svaml.instruction.stopRecording'
      discriminator:
        propertyName: name
        mapping:
          playFiles: '#/components/schemas/svaml.instruction.playFiles'
          say: '#/components/schemas/svaml.instruction.say'
          sendDtmf: '#/components/schemas/svaml.instruction.sendDtmf'
          setCookie: '#/components/schemas/svaml.instruction.setCookie'
          answer: '#/components/schemas/svaml.instruction.answer'
          startRecording: '#/components/schemas/svaml.instruction.startRecording'
          stopRecording: '#/components/schemas/svaml.instruction.stopRecording'
    pstnDestination:
      type: string
      description: Type `number` used for PSTN endpoints.
      x-enumDescriptions:
        number: A e.164 formatted number for PSTN endpoints.
        Number: A e.164 formatted number for PSTN endpoints.
      enum:
      - number
      - Number
      example: number
    svaml.action.park:
      type: object
      description: Parks the call and places the caller on hold. The caller is placed into a loop, listening to an IVR prompt (either a pre-recorded audio file or generated by text to speech). If the call is unparked, prompts will stop playing immediately. If the max duration is reached, the last prompt will be fully played until the call ends.
      required:
      - name
      properties:
        name:
          type: string
          description: The name property. Must have the value `park`.
          x-enumDescriptions:
            park: The `park` action.
          enum:
          - park
          default: park
        locale:
          type: string
          description: The voice and language you want to use for the text-to-speech message. This can either be defined by the ISO 639 locale and language code or by specifying a particular voice. Supported languages and voices are detailed [here](https://developers.sinch.com/docs/voice/api-reference/voice-locales).
          example: en-US
        introPrompt:
          type: string
          description: That prompt that is played when the call is first answered. You can use text-to-speech using the `#tts[]` element, SSML commands using the `#ssml[]` element.
          example: '#tts[Welcome]'
        holdPrompt:
          type: string
          description: The prompt that is played on repeat until the call is unparked or the until the `maxDuration` value is reached. You can use text-to-speech using the `#tts[]` element, SSML commands using the `#ssml[]` element.
          example: '#tts[Thank you for your patience, your call is very important to us.]'
        maxDuration:
          type: integer
          description: The maximum amount of time in seconds that the `holdPrompt` will be played.
          example: 180
    callResult:
      type: string
      x-enumDescriptions:
        N/A: Not applicable
        ANSWERED: The call was answered.
        BUSY: The line called was busy.
        NOANSWER: The line called failed to answer.
        FAILED: The call failed.
      enum:
      - N/A
      - ANSWERED
      - BUSY
      - NOANSWER
      - FAILED
      description: Contains the result of a call.
      example: ANSWERED
    svaml.action.hangup:
      type: object
      description: Hangs up a call. Available to use in a response to an [Incoming Call Event](https://developers.sinch.com/docs/voice/api-reference/voice/callbacks/ice) callback or an [Answered Call Event](https://developers.sinch.com/docs/voice/api-reference/voice/callbacks/ace) callback.
      required:
      - name
      properties:
        name:
          type: string
          description: The name property. Must have the value `hangup`.
          x-enumDescriptions:
            hangup: The `hangup` action.
          enum:
          - hangup
          default: hangup
    svaml.instruction.startRecordingOptions:
      type: object
      properties:
        destinationUrl:
          type: string
        credentials:
          type: string
        format:
          type: string
        notificationEvents:
          type: boolean
        transcriptionOptions:
          type: object
          properties:
            enabled:
              type: boolean
            locale:
              type: string
    svaml.action.continue:
      type: object
      description: Continues to set up a call. Available to use in a response to an [Answered Call Event](https://developers.sinch.com/docs/voice/api-reference/voice/callbacks/ace) callback.
      required:
      - name
      properties:
        name:
          type: string
          description: The name property. Must have the value `continue`.
          x-enumDescriptions:
            continue: The `continue` action.
          enum:
          - continue
          default: continue
    price:
      type: object
      properties:
        currencyId:
          type:
          - string
          - 'null'
        amount:
          type: number
          format: float
    svaml.instruction.say:
      type: object
      description: Plays a synthesized text-to-speech message to the end user. The message is provided in the text field.
      required:
      - name
      properties:
        name:
          type: string
          description: The `name` property. Must have the value `say`.
          x-enumDescriptions:
            say: The `say` instruction.
          enum:
          - say
          default: say
        text:
          type: string
          description: Contains the message that will be spoken. Default maximum length is 600 characters. To change this limit, please contact support.
          example: Hello, thank you for calling Sinch!
        locale:
          type: string
          description: The voice and language you want to use for the text-to-speech message. This can either be defined by the ISO 639 locale and language code or by specifying a particular voice. Supported languages and voices are detailed [here](https://developers.sinch.com/docs/voice/api-reference/voice-locales).
          example: en-US
    svaml.instruction.startRecording:
      type: object
      description: Starts a recording of the call.
      required:
      - name
      properties:
        name:
          type: string
          description: The `name` property. Must have the value `startRecording`.
          x-enumDescriptions:
            startRecording: The `startRecording` instruction.
          enum:
          - startRecording
          default: startRecording
        options:
          $ref: '#/components/schemas/svaml.instruction.startRecordingOptions'
    destinationSip:
      type: object
      description: The type of device and number or endpoint to call.
      required:
      - type
      - endpoint
      properties:
        type:
          $ref: '#/components/schemas/sipDestination'
        endpoint:
          type: string
          description: For type `sip` the value is the SIP address for a SIP endpoint.
          format: sip address
          example: +19876543210@example.sip.sinch.com
    sipDestination:
      type: string
      description: Type `sip` for SIP infrastructures.
      x-enumDescriptions:
        sip: A SIP address for SIP infrastructures.
      enum:
      - sip
      example: sip
    destinationPstn:
      type: object
      description: The type of device and number or endpoint to call.
      required:
      - type
      - endpoint
      properties:
        type:
          $ref: '#/components/schemas/pstnDestination'
        endpoint:
          type: string
          description: If the type is `number` the value of the endpoint is a phone number.
          format: e164 for numbers
          example: '+12125550123'
    svaml.instruction.setCookie:
      type: object
      required:
      - name
      description: Creates a cookie for the duration of the call.
      properties:
        name:
          type: string
          description: The `name` property. Must have the value `setCookie`.
          x-enumDescriptions:
            setCookie: The `setCookie` instruction.
          enum:
          - setCookie
          default: setCookie
        key:
          type: string
          description: The name of the cookie you want to set.
          example: cookie_name
        value:
          type: string
          description: The value of the cookie you want to set.
          example: cookie_value
    svaml.instruction.playFiles:
      type: object
      description: Plays Interactive Voice Response (IVR) files for the supported locale or SSML commands at the Sinch backend. An IVR message is played only on the caller's side.
      required:
      - name
      - ids
      properties:
        name:
          type: string
          description: The `name` property. Must have the value `playFiles`.
          x-enumDescriptions:
            playFiles: The `playFiles` instruction.
          enum:
          - playFiles
          default: playFiles
        ids:
          type: array
          description: The IDs of the files which will be played. These can be a URL to a file, SSML commands using the `#ssml[]` element, or text using the `#tts[]` element.
          items:
            type: string
          example:
          - '#ssml[Thank you for calling Sinch!]'
        locale:
          type: string
          description: If using SSML or TTS, this is a required field. The voice and language you want to use for the text-to-speech message. This can either be defined by the ISO 639 locale and language code or by specifying a particular voice. Supported languages and voices are detailed [here](https://developers.sinch.com/docs/voice/api-reference/voice-locales).
          example: en-US
    PATCHSVAMLRequestBody:
      type: object
      description: SVAML is a call control markup language. When a server receives a callback event from the Sinch platform, it can respond with a SVAML object to control the voice call. The following is an example of a SVAML object type and its contents.
      properties:
        instructions:
          type: array
          description: The collection of instructions that can perform various tasks during the call. You can include as many instructions as necessary.
          items:
            $ref: '#/components/schemas/svaml.instruction'
        action:
          $ref: '#/components/schemas/svaml.action.patch'
    svaml.action.patch:
      type: object
      description: The action that will control the call. Each SVAML object can only include one action.
      oneOf:
      - $ref: '#/components/schemas/svaml.action.hangup'
      - $ref: '#/components/schemas/svaml.action.continue'
      - $ref: '#/components/schemas/svaml.action.park'
      discriminator:
        propertyName: name
        mapping:
          hangup: '#/components/schemas/svaml.action.hangup'
          continue: '#/components/schemas/svaml.action.continue'
          park: '#/components/schemas/svaml.action.park'
    svaml.instruction.answer:
      type: object
      description: Forces the callee to answer the call.
      required:
      - name
      properties:
        name:
          type: string
          description: The `name` property. Must have the value `answer`.
          x-enumDescriptions:
            answer: The `answer` instruction.
          enum:
          - answer
          default: answer
    getCallResponseObj:
      type: object
      properties:
        from:
          oneOf:
          - $ref: '#/components/schemas/destinationMxp'
          - $ref: '#/components/schemas/destinationPstn'
          - $ref: '#/components/schemas/destinationSip'
        to:
          oneOf:
          - $ref: '#/components/schemas/destinationMxp'
          - $ref: '#/components/schemas/destinationPstn'
          - $ref: '#/components/schemas/destinationSip'
        domain:
          type: string
          x-enumDescriptions:
            pstn: The Public Switched Telephone Network, or a normal phone call.
          enum:
          - pstn
          description: Must be `pstn` for PSTN.
          example: pstn
        callId:
          type: string
          description: The unique identifier of the call.
        duration:
          type: integer
          description: The duration of the call in seconds.
        status:
          type: string
          x-enumDescriptions:
            ONGOING: Call status is `ONGOING`
            FINAL: Call status is `FINAL`
          enum:
          - ONGOING
          - FINAL
          description: The status of the call. Either `ONGOING` or `FINAL`
          example: ONGOING
        result:
          $ref: '#/components/schemas/callResult'
        reason:
          type: string
          x-enumDescriptions:
            N/A: Not available.
            TIMEOUT: Timed out.
            CALLERHANGUP: Caller hung up.
            CALLEEHANGUP: Callee hung up.
            BLOCKED: The call was blocked.
            NOCREDITPARTNER: No credit available.
            MANAGERHANGUP: The Sinch server ended the call.
            CANCEL: Call was canceled.
            GENERALERROR: A general error.
            INVALIDSVAMLACTION: Call could not be completed due to invalid SVAML response.
          enum:
          - N/A
          - TIMEOUT
          - CALLERHANGUP
          - CALLEEHANGUP
          - BLOCKED
          - NOCREDITPARTNER
          - MANAGERHANGUP
          - CANCEL
          - GENERALERROR
          - INVALIDSVAMLACTION
          description: Contains the reason why a call ended.
        timestamp:
          type: string
          format: date-time
          description: The date and time of the call.
        custom:
          type: string
          description: A string that can be used to pass custom information related to the call.
        userRate:
          $ref: '#/components/schemas/price'
        debit:
          $ref: '#/components/schemas/price'
    svaml.instruction.stopRecording:
      type: object
      description: Stops the recording of the call.
      required:
      - name
      properties:
        name:
          type: string
          description: The `name` property. Must have the value `stopRecording`.
          x-enumDescriptions:
            stopRecording: The `stopRecording` instruction.
          enum:
          - stopRecording
          default: stopRecording
    svaml.instruction.sendDtmf:
      type: object
      description: Plays DTMF tones in the call.
      required:
      - name
      properties:
        name:
          type: string
          description: The `name` property. Must have the value `sendDtmf`.
          x-enumDescriptions:
            sendDtmf: The `sendDtmf` instruction.
          enum:
          - sendDtmf
          default: sendDtmf
        value:
          type: string
          description: 'A string that determines the DTMF tones to play to the callee when the call is picked up.

            Valid characters are: `0-9`, `#`, and `w`. `w` renders a 500ms pause. For example, the string `ww1234#w#`, plays a 1 second pause, the DTMF tones for `1`, `2`, `3`, `4`, and `#`, followed by a 500ms pause and finally the `#` tone.

            This is useful if the callout destination requires a conference PIN code or an extension. If there is a calling party, it will hear progress while the DTMF is sent.'
          example: ww1234#w#
    mxpDestination:
      type: string
      description: Type `userName` used for data endpoints.
      x-enumDescriptions:
        username: A username for data endpoints.
        Username: A username for data endpoints.
      enum:
      - username
      - Username
      example: username
    problemDetails:
      title: Problem Details
      description: Base error response schema following [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457) (Problem Details for HTTP APIs). All error responses use this structure.
      x-category: response
      x-usage: http-response
      type: object
      additionalProperties: false
      required:
      - type
      - title
      - detail
      - instance
      properties:
        type:
          type: string
          description: URI that identifies the problem type and links to the corresponding error documentation.
        title:
          type: string
          description: Human-readable short summary of the problem type.
        detail:
          type: string
          description: Human-readable explanation of the specific problem occurrence.
        instance:
          type: string
          description: URI reference that identifies the specific occurrence of the problem (typically the request path).
    callResult_2:
      title: Call Result
      description: 'The outcome/state of the call.


        This field includes both **transitional** states (during call setup and execution) and **final** states (when the call has ended).'
      type: string
      enum:
      - QUEUED
      - INITIATED
      - IN_PROGRESS
      - COMPLETED
      - REJECTED
      - NO_ANSWER
      - CANCEL
      - BUSY
      - FAILED
      x-enumDescriptions:
        QUEUED: The call is queued for initiation. This is a transitional state.
        INITIATED: The call is connecting but the recipient has not yet answered. This is a transitional state.
        IN_PROGRESS: The call has been answered and is in progress. This is a transitional state.
        COMPLETED: The call was answered and is ended. This is a final state.
        REJECTED: The call was rejected by the recipient.
        NO_ANSWER: The call was not answered by the recipient.
        CANCEL: The call was cancelled.
        BUSY: The call was not answered because the recipient was busy.
        FAILED: The call could not be completed.
      examples:
      - IN_PROGRESS
    callResponse:
      x-category: call
      x-usage: call
      type: object
      additionalProperties: false
      title: Callout response
      description: 'Response returned after initiating an outbound call or a batch of call sessions.


        Contains identifiers for the created session and associated project/service. `batchId` is included only when the request started a batch operation.'
      required:
      - projectId
      - serviceId
      - sessionId
      properties:
        projectId:
          $ref: '#/components/schemas/projectId'
        serviceId:
          $ref: '#/components/schemas/serviceId'
        sessionId:
          $ref: '#/components/schemas/sessionId'
        batchId:
          $ref: '#/components/schemas/batchId'
    sip:
      type: object
      additionalProperties: false
      title: SIP Endpoint
      required:
      - type
      - sip
      properties:
        type:
          type: string
          const: SIP
          description: Routes the call to a SIP (Session Initiation Protocol) endpoint.
        sip:
          type: object
          additionalProperties: false
          required:
          - endpoint
          properties:
            endpoint:
              type: string
              description: SIP URI of the destination endpoint. Both `sip:` (unencrypted) and `sips:` (TLS-encrypted) schemes are supported.
              format: uri
              maxLength: 256
              pattern: '^sips?:'
            transport:
              type: string
              description: 'Transport protocol to use for the SIP signalling channel.


                If omitted, the platform selects a default based on the URI scheme: `UDP` for `sip:` and `TLS` for `sips:`. Setting this explicitly overrides that default — for example, to force `TCP` for a `sip:` URI or to use `TLS` without switching to the `sips:` scheme.'
              enum:
              - UDP
              - TCP
              - TLS
              x-enumDescriptions:
                UDP: Connectionless transport. Lowest overhead; suitable for most standard SIP deployments.
                TCP: Connection-oriented transport. More reliable for large SIP messages or NAT traversal scenarios.
                TLS: Encrypted transport. Provides confidentiality and integrity for SIP signalling.
            callHeaders:
              $ref: '#/components/schemas/sipCallHeaders'
      examples:
      - type: SIP
        sip:
          endpoint: sip:user@example.com
          transport: TCP
          callHeaders:
          - key: X-Correlation-Id
            value: '12345'
          - key: X-Call-Routing
            value: forwarded
    messages:
      type: object
      additionalProperties: false
      title: Messages
      description: "Plays one or more messages on the call. Multiple messages in the array are played sequentially in order.\n\nThis is a non-blocking command — the next command in the sequence executes immediately while messages play in parallel. \nPlayback outcomes are handled via the `events` property. The `onFinish` event can be used to run a command after all messages complete."
      required:
      - command
      - messages
      properties:
        command:
          type: string
          const: messages
          description: Command to play a message on the channel
        messagesName:
          type: string
          description: 'Name of the message for identification and reference within the call session.


            This name is used to uniquely identify the message and must be unique within the current call session.

            This name can be referenced in other commands (e.g., `stopMessages`) to control this specific message.'
          minLength: 1
          maxLength: 32
          pattern: ^\S+$
          example: my-messages
        messages:
          $ref: '#/components/schemas/typesOfMessages'
        events:
          $ref: '#/components/schemas/messageEvents'
      examples:
      - command: messages
        messagesName: greeting-sequence
        messages:
        - type: SAY
          say:
            text: Hello! Your call is being connected.
            voiceName: Emma
        - type: PLAY
          play:
            url: https://example.com/audio/hold-music.mp3
        - type: SAY
          say:
            text: <speak><prosody volume="-6dB">Thank you for waiting.</prosody></speak>
            format: SSML
            voiceName: Emma
    serviceId:
      title: Service ID
      type: string
      format: uuid
      description: The ID of the service used.
      examples:
      - 6e124178-c29d-46a5-943c-5c2ae544aade
    requestParameters:
      type: array
      title: Command Parameter Sets
      description: 'An array of parameter objects that define values for dynamic placeholders in commands. Each object represents a set of parameters for a single queued call.


        Use these parameters to inject customer-defined values into your SVAML commands, enabling personalized call flows without modifying the base command structure.'
      items:
        $ref: '#/components/schemas/requestParameter'
    messageEvents:
      type: object
      additionalProperties: false
      title: Message Events
      description: 'SVAML commands to execute based on message playback outcomes.

        '
      properties:
        onFinish:
          description: 'Commands to execute when all messages in the sequence have finished playing.

            '
          $ref: '#/components/schemas/svamlCommands'
    menuPrompt:
      type: object
      additionalProperties: false
      title: Menu Prompt
      description: Prompt configuration for menu playback, including prompt messages and barge-in behavior.
      required:
      - messages
      properties:
        allowBargeIn:
          type: boolean
          description: 'Controls whether input can interrupt prompt playback.


            When enabled, playback stops as soon as input is detected and the input is evaluated immediately if matching conditions are met.


            When disabled, input is still collected during playback and evaluated after playback finishes.'
          default: true
        messages:
          $ref: '#/components/schemas/typesOfMessages'
    recordingDestination:
      title: Recording Destination
      type: string
      description: Select target service to receive recorded and transcribed files
      enum:
      - AWS
      - GCP
      - AZURE
      x-enumDescriptions:
        AWS: Store recordings in Amazon Web Services S3 bucket. Use `s3` as schema for the URL.
        GCP: Store recordings in Google Cloud Platform Storage. Use `gs` as schema for the URL.
        AZURE: Store recordings in Microsoft Azure Blob Storage.  Use `azure` as schema for the URL.
      default: AWS
      examples:
      - AWS
    webhookFallbackUrl:
      title: Webhook Fallback URL
      type: string
      format: uri
      description: 'Fallback webhook URL used when the primary webhook URL fails.


        A failed request is re-sent to this URL immediately. After repeated consecutive failures of the primary URL, requests are sent only here until the primary URL recovers.


        See *Timeouts and failover* in the **Webhooks** section for the authoritative algorithm.'
      examples:
      - https://example.com/fallback
    callId:
      title: Call ID
      type: string
      format: ulid
      description: The `Id`` of the call.
      examples:
      - 01ARZ3NDEKTSV4RRFFQ69G5FAA
    call:
      type: object
      additionalProperties: false
      title: Call Resource
      description: Call details
      required:
      - callId
      - projectId
      - serviceId
      - sessionId
      - direction
      - originationType
      - callType
      - callResult
      - startTime
      - callRate
      - callResourceUrl
      properties:
        callId:
          $ref: '#/components/schemas/callId'
        projectId:
          $ref: '#/components/schemas/projectId'
        serviceId:
          $ref: '#/components/schemas/serviceId'
        sessionId:
          $ref: '#/components/schemas/sessionId'
        callName:
          type: string
          minLength: 1
          maxLength: 32
          pattern: ^\S+$
          description: 'The name identifying this call leg within the session, as assigned by the `callName` property in the `dial` command or in the SVAML response to an incoming call webhook.


            Omitted for calls that were not assigned a name.'
          example: origin
        bridgeName:
          type: string
          description: The name of the bridge the call belongs to. Omitted for calls not assigned to any bridge.
          example: my-bridge
        batchId:
          $ref: '#/components/schemas/batchId'
        from:
          $ref: '#/components/schemas/from'
        to:
          $ref: '#/components/schemas/to'
        startTime:
          type: string
          format: date-time
          description: Timestamp (RFC 3339) indicating when the call was created and call setup was initiated (start of the call attempt).
          example: '2025-01-01 00:00:00+00:00'
        updateTime:
          type: string
          format: date-time
          description: 'Timestamp (RFC 3339) indicating when the call was last updated.


            Omitted if no updates were performed on this call.'
          example: '2025-01-01 00:00:00+00:00'
        callType:
          $ref: '#/components/schemas/callType'
        direction:
          $ref: '#/components/schemas/callDirection'
        answerTime:
          type: string
          format: date-time
          description: 'Timestamp (RFC 3339) indicating when the call was answered.


            Omitted if the call was not answered.'
          example: '2025-01-01 00:00:00+00:00'
        endTime:
          type: string
          format: date-time
          description: 'Timestamp (RFC 3339) indicating when the call ended.


            Omitted for ongoing calls.'
          example: '2025-01-01 00:00:00+00:00'
        callDurationSeconds:
          type: integer
          description: Duration of the call in seconds
          example: 42
        callResult:
          $ref: '#/components/schemas/callResult_2'
        callReason:
          $ref: '#/components/schemas/callReason'
        originationType:
          $ref: '#/components/schemas/originationType'
        callRate:
          $ref: '#/components/schemas/money'
          description: The rate charged for this call, expressed as a monetary amount **per minute** in the specified currency.
        callResourceUrl:
          type: string
          format: uri
          description: Absolute URI to this call resource. Use this URL to retrieve the call details
          example: https://voice.api.sinch.com/v2/projects/5c5bf2b1-35ae-4825-ab89-457e07bb60e6/calls/01AN4Z07BY79KA1307SR9X4MV3
    recordingEvents:
      type: object
      additionalProperties: false
      title: Recording Events
      description: 'SVAML commands to execute based on recording lifecycle outcomes.

        '
      properties:
        onFinish:
          description: 'Commands to execute when the recording is successfully stopped. Note that this does not mean that the file is delivered to the configured destination yet.

            '
          $ref: '#/components/schemas/svamlCommands'
        onFailure:
          description: 'Commands to execute if the recording fails to start. If omitted, failures are silently ignored and the call flow continues.

            '
          $ref: '#/components/schemas/svamlCommands'
    gotoMenu:
      type: object
      additionalProperties: false
      title: Goto Menu
      description: 'Switches execution to another menu within the current menu context. The menu name must be a menu defined in the `menu` command. This is a blocking command — execution waits for the menu to complete before proceeding to the next command.


        **Important**: this command can only be called within a menu execution context.'
      required:
      - command
      - menuName
      properties:
        command:
          type: string
          const: gotoMenu
          description: Switch execution to another menu within the current menu context.
        menuName:
          type: string
          description: Name of the target menu to execute next. Must match a key in menus.
          minLength: 1
          maxLength: 16
    callsList:
      type: object
      additionalProperties: false
      title: Calls List Response
      description: List of calls.
      x-category: response
      x-usage: call
      required:
      - calls
      - links
      - meta
      properties:
[...]
