openapi: 3.2.0
info:
  title: Provisioning WhatsApp Templates API
  description: The WhatsApp template endpoint offers a way for you to manage your WhatsApp templates that can be used with the Conversation API. The WhatsApp templates are a requirement to send the initial outbound messages in the WhatsApp API.
  version: 1.2.117
servers:
- url: https://provisioning.api.sinch.com
  description: Production server
security:
- BasicAuth: []
  BearerAuth: []
  OAuth2Production: []
tags:
- name: WhatsApp Templates
  description: The WhatsApp template endpoint offers a way for you to manage your WhatsApp templates that can be used with the Conversation API. The WhatsApp templates are a requirement to send the initial outbound messages in the WhatsApp API.
paths:
  /v1/projects/{projectId}/whatsapp/templates:
    get:
      description: Returns a paginated list of templates for the specified project. If no page token is supplied then the first `50` templates are returned in alphabetical order.
      operationId: WhatsappTemplatesController_listTemplates_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: pageToken
        required: false
        in: query
        schema:
          type: string
        description: The page token if retrieving the next page from a previous query.
      - name: pageSize
        required: false
        in: query
        schema:
          type: number
          minimum: 1
          maximum: 1000
        description: The page size requested.
      - name: fieldMask
        required: false
        in: query
        description: Field masks are a way for API callers to list the fields that a request should return.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappTemplateDtoFieldMaskPathsEnum'
      - name: filterStates
        required: false
        in: query
        description: Optionally query for sender by states.
        x-enumDescriptions:
          APPROVED: The template is approved and available for use.
          DISABLED: The template has been disabled and is restricted from outbound messaging operations.
          PAUSED: The template is temporarily paused and cannot be utilized until explicitly resumed.
          PENDING: The template is queued and currently awaiting approval or processing milestones.
          REJECTED: The template was rejected and cannot be used.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappTemplateStatesEnum'
      - name: filterStatuses
        required: false
        in: query
        description: Optionally query for sender by statuses.
        x-enumDescriptions:
          DRAFT: The template changes are saved as a draft only.
          IN_PROGRESS: The template changes have been submitted and are still processing.
          REJECTED: The template changes have been reviewed and rejected.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappTemplateStatusesEnum'
      - name: templateAnalyticsDateRange
        required: false
        in: query
        description: The date range to retrieve template analytics for. Fallback to DAY if none is set.
        x-enumDescriptions:
          DAY: Filters metrics collection to include data from the last 24 hours.
          MONTH: Filters metrics collection to include data from the last 30 days.
          QUARTER: Filters metrics collection to include data from the last 90 days.
          WEEK: Filters metrics collection to include data from the last 7 days.
        schema:
          $ref: '#/components/schemas/WhatsappTemplateAnalyticsDateRangesEnum'
      - name: templateName
        required: false
        in: query
        description: Optionally query for template by name. Will return all templates with names that begin with the query string.
        schema:
          type: string
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/WhatsappTemplateListDto'
                - $ref: '#/components/schemas/WhatsappPartialTemplateListDto'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
                invalid_page_size-1:
                  summary: InvalidPageSizeError
                  value:
                    errorCode: invalid_page_size
                    message: Page size must be numeric.
                    resolution: Use a integer value for pageSize parameter.
                invalid_page_token-2:
                  summary: InvalidPageTokenError
                  value:
                    errorCode: invalid_page_token
                    message: Invalid page token.
                    resolution: The page token to use is provided in the previous query response, for new queries simply leave this field undefined.
                invalid_filter_states-3:
                  summary: InvalidFilterStatesError
                  value:
                    errorCode: invalid_filter_states
                    message: Invalid filterStates.
                    resolution: Verify that the filterStates used are supported by the Provisioning API.
                    additionalInformation:
                      supportedCodes: APPROVED, DISABLED, PAUSED, PENDING, REJECTED
                invalid_filter_statuses-4:
                  summary: InvalidFilterStatusesError
                  value:
                    errorCode: invalid_filter_statuses
                    message: Invalid filter statuses.
                    resolution: Verify that the filterStatuses used are supported by the Provisioning API.
                    additionalInformation:
                      supportedCodes: DRAFT, IN_PROGRESS, REJECTED
                invalid_fields-5:
                  summary: InvalidFieldsError
                  value:
                    errorCode: invalid_fields
                    message: Invalid fields.
                    resolution: Verify that the fields used are supported by the Provisioning API.
                    additionalInformation:
                      supportedCodes: whatsappId, state, name, language, category, rejectionCode, qualityScore, changes, changes.status, changes.allowCategoryChange, changes.details, changes.details.components, changes.details.components.0.type, changes.details.components.0.format, changes.details.components.0.text, changes.details.components.0.example, changes.details.components.0.example.url, changes.details.components.0.examples, changes.details.components.0.addSecurityRecommendation, changes.details.components.0.codeExpirationMinutes, changes.details.components.0.buttons, changes.details.components.0.buttons.0.type, changes.details.components.0.buttons.0.text, changes.details.components.0.buttons.0.phoneNumber, changes.details.components.0.buttons.0.url, changes.details.components.0.buttons.0.example, changes.details.components.0.buttons.0.otpType, changes.details.components.0.buttons.0.autofillText, changes.details.components.0.buttons.0.packageName, changes.details.components.0.buttons.0.signatureHash, changes.details.components.0.buttons.0.supportedApps, changes.details.components.0.buttons.0.supportedApps.0.packageName, changes.details.components.0.buttons.0.supportedApps.0.signatureHash, changes.details.components.0.buttons.0.zeroTapTermsAccepted, changes.details.components.0.buttons.0.flowId, changes.details.components.0.buttons.0.flowAction, changes.details.components.0.buttons.0.navigateScreen, changes.details.components.0.hasExpiration, changes.details.messageSendTtlSeconds, changes.details.optimization, details, details.components, details.components.0.type, details.components.0.format, details.components.0.text, details.components.0.example, details.components.0.example.url, details.components.0.examples, details.components.0.addSecurityRecommendation, details.components.0.codeExpirationMinutes, details.components.0.buttons, details.components.0.buttons.0.type, details.components.0.buttons.0.text, details.components.0.buttons.0.phoneNumber, details.components.0.buttons.0.url, details.components.0.buttons.0.example, details.components.0.buttons.0.otpType, details.components.0.buttons.0.autofillText, details.components.0.buttons.0.packageName, details.components.0.buttons.0.signatureHash, details.components.0.buttons.0.supportedApps, details.components.0.buttons.0.supportedApps.0.packageName, details.components.0.buttons.0.supportedApps.0.signatureHash, details.components.0.buttons.0.zeroTapTermsAccepted, details.components.0.buttons.0.flowId, details.components.0.buttons.0.flowAction, details.components.0.buttons.0.navigateScreen, details.components.0.hasExpiration, details.messageSendTtlSeconds, details.optimization, analytics, analytics.0.sent, analytics.0.delivered, analytics.0.read, analytics.0.start, analytics.0.end, analytics.0.buttons, analytics.0.buttons.0.type, analytics.0.buttons.0.content, analytics.0.buttons.0.clicks, isMetaGenerated
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: List all templates in project
      tags:
      - WhatsApp Templates
      x-badges:
      - name: GA
        position: after
        color: green
    post:
      callbacks:
        Comment:
          '{$request.body#webhooks.target}':
            post:
              summary: WhatsApp Template received a comment
              description: "\n      Callback sent when a comment is placed on a template.\n      "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_TEMPLATE_COMMENT_ADDED`.
                          type: string
                        payload:
                          description: Template at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappTemplateDto'
                        comment:
                          description: Comment for template.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_TEMPLATE_COMMENT_ADDED
                      payload:
                        name: My WhatsApp Template
                        category: UTILITY
                        language: EN_US
                        qualityScore: QUALITY_SCORE_GREEN
                        changes:
                          status: DRAFT
                          details:
                            components:
                            - type: HEADER
                              format: TEXT
                              text: Save {{1}}% on your next purchase!
                              examples:
                              - '20'
                            - type: HEADER
                              format: DOCUMENT
                              examples:
                              - url: https://example.com/photos/1.png
                            - type: HEADER
                              format: LOCATION
                            - type: BODY
                              text: Good morning {{1}}, your package has arrived.
                              examples:
                              - Mr. Smith
                              addSecurityRecommendation: true
                            - type: FOOTER
                              text: To track your order please click the 'Track Your Order' button
                              codeExpirationMinutes: 5
                            - type: BUTTONS
                              buttons:
                              - type: PHONE_NUMBER
                                text: Example text.
                                phoneNumber: +48 777 777777
                              - type: URL
                                text: Example test
                                url: https://www.my-website.com?name={{1}}
                                examples:
                                - https://www.my-website.com?name=john
                              - type: QUICK_REPLY
                                text: Track Your Order
                              - type: OTP
                                otpType: COPY_CODE
                                text: Example text.
                              - type: REQUEST_CONTACT_INFO
                                text: Share Contact Info
                              - type: ORDER_DETAILS
                                text: Copy Pix code
                              - type: COPY_CODE
                                text: Copy offer code
                                examples:
                                - WINTER27
                            - type: CAROUSEL
                              cards:
                              - components:
                                - type: HEADER
                                  format: IMAGE
                                  examples:
                                  - url: https://example.com/photos/1.png
                                - type: BODY
                                  text: Good morning {{1}}, your package has arrived.
                                  examples:
                                  - Mr. Smith
                                - type: BUTTONS
                                  buttons:
                                  - type: URL
                                    text: Example test
                                    url: https://www.my-website.com?name={{1}}
                                    examples:
                                    - https://www.my-website.com?name=john
                                  - type: QUICK_REPLY
                                    text: Track Your Order
                                  - type: PHONE_NUMBER
                                    text: Example text.
                                    phoneNumber: +48 777 777777
                            messageSendTtlSeconds: 60
                            optimization:
                              bidAmount: 500
                              bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                              bidCountryMultiplierOverrides:
                                US: '1.2'
                                GB: '1.1'
                        analytics: []
                        isMetaGenerated: false
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Approved:
          '{$request.body#webhooks.target}':
            post:
              summary: WhatsApp Template approved
              description: "\n        Callback sent when a template is approved.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_TEMPLATE_APPROVED`.
                          type: string
                        payload:
                          description: Template at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappTemplateDto'
                        comment:
                          description: Comment for template.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_TEMPLATE_APPROVED
                      payload:
                        whatsappId: '123456'
                        name: My WhatsApp Template
                        state: APPROVED
                        category: UTILITY
                        language: EN_US
                        qualityScore: QUALITY_SCORE_GREEN
                        details:
                          components:
                          - type: HEADER
                            format: TEXT
                            text: Save {{1}}% on your next purchase!
                            examples:
                            - '20'
                          messageSendTtlSeconds: 60
                          optimization:
                            bidAmount: 500
                            bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                            bidCountryMultiplierOverrides:
                              US: '1.2'
                              GB: '1.1'
                        analytics: []
                        isMetaGenerated: false
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Rejected:
          '{$request.body#webhooks.target}':
            post:
              summary: WhatsApp Template rejected
              description: "\n        Callback sent when a template is rejected.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_TEMPLATE_REJECTED`.
                          type: string
                        payload:
                          description: Template at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappTemplateDto'
                        comment:
                          description: Comment for template.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_TEMPLATE_REJECTED
                      payload:
                        name: My WhatsApp Template
                        state: REJECTED
                        category: UTILITY
                        language: EN_US
                        qualityScore: QUALITY_SCORE_GREEN
                        details:
                          components:
                          - type: HEADER
                            format: TEXT
                            text: Save {{1}}% on your next purchase!
                            examples:
                            - '20'
                          messageSendTtlSeconds: 60
                          optimization:
                            bidAmount: 500
                            bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                            bidCountryMultiplierOverrides:
                              US: '1.2'
                              GB: '1.1'
                        analytics: []
                        isMetaGenerated: false
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        StatusUpdated:
          '{$request.body#webhooks.target}':
            post:
              summary: WhatsApp Template status updated
              description: "\n        Callback sent when a template status in changed to `ARCHIVED`, `DISABLED`, `FLAGGED`, `PAUSED`, `REINSTATED` or `UNPAUSED`.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_TEMPLATE_STATUS_UPDATED`.
                          type: string
                        payload:
                          description: Template at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappTemplateDto'
                        newState:
                          description: New state for template.
                          type: string
                          enum:
                          - ARCHIVED
                          - DISABLED
                          - FLAGGED
                          - PAUSED
                          - REINSTATED
                          - UNPAUSED
                          x-enumDescriptions:
                            ARCHIVED: The template has been archived.
                            DISABLED: The template has been disabled.
                            FLAGGED: The template has been flagged for review or policy compliance issues.
                            PAUSED: The template has been paused and cannot be used until unpaused.
                            REINSTATED: The template has been reinstated after a previous restriction was lifted.
                            UNPAUSED: The template has been unpaused and is available for use.
                        comment:
                          description: Comment for template.
                          type: string
                      required:
                      - type
                      - payload
                      - newState
                    example:
                      type: WHATSAPP_TEMPLATE_STATUS_UPDATED
                      payload:
                        whatsappId: '123456'
                        name: My WhatsApp Template
                        state: PAUSED
                        category: UTILITY
                        language: EN_US
                        qualityScore: QUALITY_SCORE_GREEN
                        details:
                          components:
                          - type: HEADER
                            format: TEXT
                            text: Save {{1}}% on your next purchase!
                            examples:
                            - '20'
                          messageSendTtlSeconds: 60
                          optimization:
                            bidAmount: 500
                            bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                            bidCountryMultiplierOverrides:
                              US: '1.2'
                              GB: '1.1'
                        analytics: []
                        isMetaGenerated: false
                      newState: PAUSED
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Deleted:
          '{$request.body#webhooks.target}':
            post:
              summary: WhatsApp Template deleted
              description: Callback sent when a template is deleted.
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case WHATSAPP_TEMPLATE_DELETED.
                          type: string
                      required:
                      - type
                    example:
                      type: WHATSAPP_TEMPLATE_DELETED
                      payload:
                        whatsappId: '123456'
                        name: My WhatsApp Template
                        category: UTILITY
                        language: EN_US
                        qualityScore: QUALITY_SCORE_GREEN
                        details:
                          components:
                          - type: HEADER
                            format: TEXT
                            text: Save {{1}}% on your next purchase!
                            examples:
                            - '20'
                          messageSendTtlSeconds: 60
                          optimization:
                            bidAmount: 500
                            bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                            bidCountryMultiplierOverrides:
                              US: '1.2'
                              GB: '1.1'
                        analytics: []
                        isMetaGenerated: false
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        QualityScoreUpdated:
          '{$request.body#webhooks.target}':
            post:
              summary: WhatsApp Template quality score updated
              description: "\n        Callback sent when a template quality score changed.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_TEMPLATE_QUALITY_SCORE_UPDATED`.
                          type: string
                        payload:
                          description: Template at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappTemplateDto'
                        comment:
                          description: Comment for template.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_TEMPLATE_QUALITY_SCORE_UPDATED
                      payload:
                        whatsappId: '123456'
                        name: My WhatsApp Template
                        state: APPROVED
                        category: UTILITY
                        language: EN_US
                        qualityScore: QUALITY_SCORE_GREEN
                        details:
                          components:
                          - type: HEADER
                            format: TEXT
                            text: Save {{1}}% on your next purchase!
                            examples:
                            - '20'
                          messageSendTtlSeconds: 60
                          optimization:
                            bidAmount: 500
                            bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                            bidCountryMultiplierOverrides:
                              US: '1.2'
                              GB: '1.1'
                        analytics: []
                        isMetaGenerated: false
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        CategoryUpdated:
          '{$request.body#webhooks.target}':
            post:
              summary: WhatsApp Template category updated
              description: "\n        Callback sent when a templates category is changed.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_TEMPLATE_CATEGORY_UPDATED`.
                          type: string
                        payload:
                          description: Template at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappTemplateDto'
                        comment:
                          description: Comment for template.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_TEMPLATE_CATEGORY_UPDATED
                      payload:
                        whatsappId: '123456'
                        name: My WhatsApp Template
                        state: APPROVED
                        category: UTILITY
                        language: EN_US
                        qualityScore: QUALITY_SCORE_GREEN
                        details:
                          components:
                          - type: HEADER
                            format: TEXT
                            text: Save {{1}}% on your next purchase!
                            examples:
                            - '20'
                          messageSendTtlSeconds: 60
                          optimization:
                            bidAmount: 500
                            bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                            bidCountryMultiplierOverrides:
                              US: '1.2'
                              GB: '1.1'
                        analytics: []
                        isMetaGenerated: false
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        FutureCategoryUpdate:
          '{$request.body#webhooks.target}':
            post:
              summary: WhatsApp Template category coming update
              description: "\n        Callback sent when a templates category coming to be changed.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_TEMPLATE_CATEGORY_FUTURE_UPDATE`.
                          type: string
                        payload:
                          description: Template at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappTemplateDto'
                        futureCategory:
                          description: Future category for template.
                          type: string
                          enum:
                          - AUTHENTICATION
                          - MARKETING
                          - UTILITY
                          - UNRECOGNIZED
                          x-enumDescriptions:
                            AUTHENTICATION: Billing or functional category for authentication and verification messages.
                            MARKETING: Billing or functional category for promotional or marketing messages.
                            UTILITY: Billing or functional category for utility and service-related messages.
                            UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
                        comment:
                          description: Comment for template.
                          type: string
                      required:
                      - type
                      - payload
                      - futureCategory
                    example:
                      type: WHATSAPP_TEMPLATE_CATEGORY_FUTURE_UPDATE
                      payload:
                        whatsappId: '123456'
                        name: My WhatsApp Template
                        state: APPROVED
                        category: UTILITY
                        language: EN_US
                        qualityScore: QUALITY_SCORE_GREEN
                        details:
                          components:
                          - type: HEADER
                            format: TEXT
                            text: Save {{1}}% on your next purchase!
                            examples:
                            - '20'
                          messageSendTtlSeconds: 60
                          optimization:
                            bidAmount: 500
                            bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                            bidCountryMultiplierOverrides:
                              US: '1.2'
                              GB: '1.1'
                        analytics: []
                        isMetaGenerated: false
                      futureCategory: MARKETING
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
      description: Creates a new template with the request data. If the `status` field is set to `submit` the template will be created immediately, otherwise it will be saved as a `draft`.
      operationId: WhatsappTemplatesController_createTemplate_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      requestBody:
        required: true
        description: Template data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappTemplateInputDto'
            examples:
              marketingOrUtilityFull:
                summary: Marketing or Utility full example
                description: "\n    Full body to create a Marketing or Utility template.\n    "
                value:
                  name: my_template
                  category: MARKETING
                  language: EN
                  details:
                    components:
                    - type: HEADER
                      format: LOCATION
                    - type: HEADER
                      format: TEXT
                      text: Save {{1}}% on your next purchase!
                      examples:
                      - '20'
                    - type: HEADER
                      format: DOCUMENT
                      examples:
                      - url: https://example.com/photos/1.png
                    - type: BODY
                      text: Good morning {{1}}, your package has arrived.
                      examples:
                      - Mr. Smith
                      addSecurityRecommendation: true
                    - type: FOOTER
                      text: To track your order please click the 'Track Your Order' button
                      codeExpirationMinutes: 5
                    - type: BUTTONS
                      buttons:
                      - type: PHONE_NUMBER
                        text: Example text.
                        phoneNumber: +48 777 777777
                      - type: URL
                        text: Example test
                        url: https://www.my-website.com?name={{1}}
                        examples:
                        - https://www.my-website.com?name=john
                      - type: QUICK_REPLY
                        text: Track Your Order
                      - type: OTP
                        otpType: COPY_CODE
                        text: Example text.
                      - type: FLOW
                        text: Start Flow
                        flowId: flow-id
                        navigateScreen: QUESTION_ONE
                        flowAction: NAVIGATE
                      - type: REQUEST_CONTACT_INFO
                      - type: ORDER_DETAILS
                      - type: COPY_CODE
                        examples:
                        - WINTER27
                    - type: CAROUSEL
                      cards:
                      - components:
                        - type: HEADER
                          format: IMAGE
                          examples:
                          - url: https://example.com/photos/1.png
                        - type: BODY
                          text: Good morning {{1}}, your package has arrived.
                          examples:
                          - Mr. Smith
                        - type: BUTTONS
                          buttons:
                          - type: URL
                            text: Example test
                            url: https://www.my-website.com?name={{1}}
                            examples:
                            - https://www.my-website.com?name=john
                          - type: QUICK_REPLY
                            text: Track Your Order
                          - type: PHONE_NUMBER
                            text: Example text.
                            phoneNumber: +48 777 777777
              marketingWithOptimization:
                summary: Marketing template with dynamic pricing optimization
                description: "\n    Body example to create a Marketing template with dynamic pricing optimization.\n    "
                value:
                  name: my_template
                  category: MARKETING
                  language: EN
                  details:
                    components:
                    - type: HEADER
                      format: TEXT
                      text: Save {{1}}% on your next purchase!
                      examples:
                      - '20'
                    - type: BODY
                      text: Good morning {{1}}, your package has arrived.
                      examples:
                      - Mr. Smith
                      addSecurityRecommendation: true
                    optimization:
                      bidAmount: 500
                      bidStrategy: LOWEST_COST_WITH_BID_CAP
                      bidCountryMultiplierOverrides:
                        US: '1.2'
                        GB: '1.1'
              marketingOrUtilityMinimum:
                summary: Minimalist Marketing or Utility example
                description: "\n    Minimalist body to create a Marketing or Utility template.\n    "
                value:
                  name: my_template
                  category: UTILITY
                  language: EN
                  details:
                    components:
                    - type: HEADER
                      format: TEXT
                      text: Save {{1}}% on your next purchase!
                      examples:
                      - '20'
                    - type: BODY
                      text: Good morning {{1}}, your package has arrived.
                      examples:
                      - Mr. Smith
                      addSecurityRecommendation: true
              authenticationFull:
                summary: Authentication full example
                description: "\n    Full body to create an Authentication template.\n    "
                value:
                  name: my_template
                  category: AUTHENTICATION
                  language: EN
                  details:
                    components:
                    - type: BODY
                      addSecurityRecommendation: true
                    - type: FOOTER
                      codeExpirationMinutes: 62
                    - type: BUTTONS
                      buttons:
                      - type: OTP
                        otpType: ONE_TAP
                        text: My copy code text
                        autofillText: My autofill text
                        packageName: com.android.chrome
                        signatureHash: sample+hash
                        supportedApps:
                        - packageName: com.android.chrome
                          signatureHash: sample+hash
                    - type: BUTTONS
                      buttons:
                      - type: OTP
                        otpType: ZERO_TAP
                        text: My copy code text
                        autofillText: My autofill text
                        packageName: com.android.chrome
                        signatureHash: sample+hash
                        supportedApps:
                        - packageName: com.android.chrome
                          signatureHash: sample+hash
                        zeroTapTermsAccepted: true
                    messageSendTtlSeconds: 360
              authenticationMinimum:
                summary: Minimalist Authentication example
                description: "\n    Minimalist body to create an Authentication template.\n    "
                value:
                  name: my_template
                  category: AUTHENTICATION
                  language: EN
                  details:
                    components:
                    - type: BODY
                      addSecurityRecommendation: false
                    - type: BUTTONS
                      buttons:
                      - type: OTP
                        otpType: COPY_CODE
                        text: Copy code
              flowUtility:
                summary: Start Flow Utility example
                description: "\n    Body example to create a Flow template of utility category.\n    "
                value:
                  name: my_template
                  category: UTILITY
                  language: EN
                  details:
                    components:
                    - type: BUTTONS
                      buttons:
                      - type: FLOW
                        flowId: flow-id
                        text: Start Flow
                        navigateScreen: QUESTION_ONE
                        flowAction: NAVIGATE
              flowMarketing:
                summary: Start Flow Marketing example
                description: "\n    Body example to create a Flow template of marketing category.\n    "
                value:
                  name: my_template
                  category: MARKETING
                  language: EN
                  details:
                    components:
                    - type: BUTTONS
                      buttons:
                      - type: FLOW
                        flowId: flow-id
                        text: Start Flow
                        navigateScreen: QUESTION_ONE
                        flowAction: NAVIGATE
      responses:
        '201':
          description: Created template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappTemplateDto'
              examples:
                response:
                  summary: Create response
                  description: "\n    Response when successfully creating a template.\n    "
                  value:
                    name: My WhatsApp Template
                    category: UTILITY
                    language: EN_US
                    qualityScore: QUALITY_SCORE_GREEN
                    changes:
                      status: DRAFT
                      details:
                        components:
                        - type: HEADER
                          format: TEXT
                          text: Save {{1}}% on your next purchase!
                          examples:
                          - '20'
                        - type: HEADER
                          format: DOCUMENT
                          examples:
                          - url: https://example.com/photos/1.png
                        - type: HEADER
                          format: LOCATION
                        - type: BODY
                          text: Good morning {{1}}, your package has arrived.
                          examples:
                          - Mr. Smith
                          addSecurityRecommendation: true
                        - type: FOOTER
                          text: To track your order please click the 'Track Your Order' button
                          codeExpirationMinutes: 5
                        - type: BUTTONS
                          buttons:
                          - type: PHONE_NUMBER
                            text: Example text.
                            phoneNumber: +48 777 777777
                          - type: URL
                            text: Example test
                            url: https://www.my-website.com?name={{1}}
                            examples:
                            - https://www.my-website.com?name=john
                          - type: QUICK_REPLY
                            text: Track Your Order
                          - type: OTP
                            otpType: COPY_CODE
                            text: Example text.
                          - type: REQUEST_CONTACT_INFO
                            text: Share Contact Info
                          - type: ORDER_DETAILS
                            text: Copy Pix code
                          - type: COPY_CODE
                            text: Copy offer code
                            examples:
                            - WINTER27
                        - type: CAROUSEL
                          cards:
                          - components:
                            - type: HEADER
                              format: IMAGE
                              examples:
                              - url: https://example.com/photos/1.png
                            - type: BODY
                              text: Good morning {{1}}, your package has arrived.
                              examples:
                              - Mr. Smith
                            - type: BUTTONS
                              buttons:
                              - type: URL
                                text: Example test
                                url: https://www.my-website.com?name={{1}}
                                examples:
                                - https://www.my-website.com?name=john
                              - type: QUICK_REPLY
                                text: Track Your Order
                              - type: PHONE_NUMBER
                                text: Example text.
                                phoneNumber: +48 777 777777
                        messageSendTtlSeconds: 60
                        optimization:
                          bidAmount: 500
                          bidStrategy: BID_STRATEGY_LOWEST_COST_WITH_BID_CAP
                          bidCountryMultiplierOverrides:
                            US: '1.2'
                            GB: '1.1'
                    analytics: []
                    isMetaGenerated: false
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                      - 'category must be one of the following values: AUTHENTICATION, MARKETING, UTILITY'
                project_not_initialized-1:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
                template_policies_violations-2:
                  summary: TemplatePoliciesViolationsError
                  value:
                    errorCode: template_policies_violations
                    message: Your message couldn't be sent because it includes content that other people on Facebook have reported as abusive.
                    resolution: Remove violating content. If template is saved as draft, try to submit the template again. If option "saveDraftOnFailure" is specified as "false", try the request again.
                template_check_media_file_size-3:
                  summary: TemplateCheckMediaFileSizeError
                  value:
                    errorCode: template_check_media_file_size
                    message: Failed to check media file size.
                    resolution: Ensure media file URL is correct and then try again later. If template is saved as draft, try to submit the template again. If option "saveDraftOnFailure" is specified as "false", try the request again.
                template_dynamic_pricing_not_available-4:
                  summary: TemplateDynamicPricingNotAvailableError
                  value:
                    errorCode: template_dynamic_pricing_not_available
                    message: Dynamic pricing is not available for this account.
                    resolution: Enable dynamic pricing prerequisites for the WhatsApp Business Account before retrying.
                template_invalid_category-5:
                  summary: TemplateInvalidCategoryError
                  value:
                    errorCode: template_invalid_category
                    message: Template invalid category.
                    resolution: 'Verify that categories are correct: AUTHENTICATION, MARKETING, UTILITY.'
                template_invalid_button_example-6:
                  summary: TemplateInvalidButtonExampleError
                  value:
                    errorCode: template_invalid_button_example
                    message: Invalid button example.
                    resolution: Only dynamic URL buttons are allowed to have an example.
                template_media_file_size_exceeds_maximum_file_size_limit-7:
                  summary: TemplateMediaFileSizeExceedsMaximumFileSizeLimitError
                  value:
                    errorCode: template_media_file_size_exceeds_maximum_file_size_limit
                    message: Template media file size exceeds maximum file size limit.
                    resolution: Try again with a smaller file.
                file_invalid_mime_type-8:
                  summary: FileInvalidMimeTypeError
                  value:
                    errorCode: file_invalid_mime_type
                    message: 'details.components[0].headerExample.media.url: invalid file mime type.'
                    resolution: 'Try again with supported mime types: image/jpeg, image/png, application/pdf, video/3gp, video/mp4.'
                invalid_payload-9:
                  summary: InvalidPayloadError
                  value:
                    errorCode: invalid_payload
                    message: Invalid payload.
                    resolution: Correct payload and submit again.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                resource_locked-0:
                  summary: ResourceLockedError
                  value:
                    errorCode: resource_locked
                    message: Resource is locked.
                    resolution: Another operation for this resource is already in progress. Please wait and try again.
                template_exists-1:
                  summary: TemplateExistsError
                  value:
                    errorCode: template_exists
                    message: Template already exists.
                    resolution: Templates must have unique name and language. Change language or name and submit again.
                    additionalInformation:
                      supportedCodes: AF, AR, AZ, BG, BN, CA, CS, DA, DE, EL, EN, EN_GB, EN_US, ES, ES_AR, ES_ES, ES_MX, ES_UY, ET, FA, FI, FIL, FR, GA, GU, HA, HE, HI, HR, HU, ID, IT, JA, KA, KK, KN, KO, KY_KG, LO, LT, LV, MK, ML, MR, MS, NB, NL, PA, PL, PT_BR, PT_PT, RO, RU, RW_RW, SK, SL, SQ, SR, SV, SW, TA, TE, TH, TR, UK, UR, UZ, VI, ZH_CN, ZH_HK, ZH_TW, ZU
                template_name_recently_used-2:
                  summary: TemplateNameRecentlyUsedError
                  value:
                    errorCode: template_name_recently_used
                    message: A template with the same name has been deleted within 30 days.
                    resolution: Use another "name" for "EN" or wait the required time.
                template_incorrect_category-3:
                  summary: TemplateIncorrectCategoryError
                  value:
                    errorCode: template_incorrect_category
                    message: Template incorrect category.
                    resolution: 'Use a category that has been used in another language: "UTILITY".'
                template_restricted_Domain_for_button_url-4:
                  summary: TemplateRestrictedDomainForButtonUrlError
                  value:
                    errorCode: template_restricted_Domain_for_button_url
                    message: Restricted domain for button url.
                    resolution: 'Replace any of the following restricted domains: wa.me, whatsapp.com'
                file_not_found-5:
                  summary: FileNotFoundError
                  value:
                    errorCode: file_not_found
                    message: 'details.components[0].headerExample.media.url: file not found.'
                    resolution: Verify that the url is correct.
                file_size_too_large-6:
                  summary: FileSizeTooLargeError
                  value:
                    errorCode: file_size_too_large
                    message: 'details.components[0].headerExample.media.url: file size is too large.'
                    resolution: Try again with a smaller file. Max size for `image/jpeg` is 5MB.
                file_unexpected_error-7:
                  summary: FileUnexpectedErrorError
                  value:
                    errorCode: file_unexpected_error
                    message: 'details.components[0].headerExample.media.url: file unexpected error.'
                    resolution: The file cannot be handled properly. Please try with another one.
                object_with_whatsapp_business_account_id_does_not_exist-8:
                  summary: ObjectWithWhatsappBusinessAccountIdDoesNotExistError
                  value:
                    errorCode: object_with_whatsapp_business_account_id_does_not_exist
                    message: WhatsApp Business Account does not exist.
                    resolution: Verify that WhatsApp Business ID still exists and contact support.
                template_language_recently_deleted-9:
                  summary: TemplateLanguageRecentlyDeletedError
                  value:
                    errorCode: template_language_recently_deleted
                    message: A template with the same language has been deleted within 4 weeks.
                    resolution: Try to create EN content again in 4 weeks or create a new template.
        '424':
          description: FailedDependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                template_limit_reached-0:
                  summary: TemplateLimitReachedError
                  value:
                    errorCode: template_limit_reached
                    message: Number of templates has reached the limit.
                    resolution: Delete some templates or reach out to support to increase the template limit. If template is saved as draft, try to submit the template again. If option "saveDraftOnFailure" is specified as "false", try the request again.
                template_content_already_exists-1:
                  summary: TemplateContentAlreadyExistsError
                  value:
                    errorCode: template_content_already_exists
                    message: Template cannot be submitted because the content is the same as the content in another template.
                    resolution: Use other template or edit template data and submit again. If template is saved as draft, try to submit the template again. If option "saveDraftOnFailure" is specified as "false", try the request again.
                template_submit_error-2:
                  summary: TemplateSubmitErrorError
                  value:
                    errorCode: template_submit_error
                    message: Template submit error.
                    resolution: Please try again later. If template is saved as draft, try to submit the template again. If option "saveDraftOnFailure" is specified as "false", try the request again.
                    additionalInformation:
                      metaError:
                        code: '123'
                        subcode: '123456'
                        message: Invalid parameter
                        description: Character Limit Exceeded
                        reason: field 'name' can't have more than 1,024 characters
        '429':
          description: TooManyRequests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                whatsapp_business_api_request_limit_exceeded-0:
                  summary: WhatsappBusinessApiRequestLimitExceededError
                  value:
                    errorCode: whatsapp_business_api_request_limit_exceeded
                    message: WhatsApp business api request limit reached.
                    resolution: WhatsApp business API request limits reached. Please try again later.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                template_start_session_for_uploading_media-0:
                  summary: TemplateStartSessionForUploadingMediaError
                  value:
                    errorCode: template_start_session_for_uploading_media
                    message: Failed to start session for uploading template media example.
                    resolution: Please try again later. If template is saved as draft, try to submit the template again. If option "saveDraftOnFailure" is specified as "false", try the request again.
                internal_error-1:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support. If template is saved as draft, try to submit the template again. If option "saveDraftOnFailure" is specified as "false", try the request again.
                internal_error-2:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: Create a template in project
      tags:
      - WhatsApp Templates
      x-badges:
      - name: GA
        position: after
        color: green
  /v1/projects/{projectId}/whatsapp/templates/{templateName}:
    get:
      description: Returns a paginated list of templates for the specified project and name. If no page token is supplied then the first `50` templates are returned in alphabetical order.
      operationId: WhatsappTemplatesController_listTemplatesByName_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: templateName
        required: true
        in: path
        description: The unique name of the template.
        schema:
          type: string
      - name: pageToken
        required: false
        in: query
        schema:
          type: string
        description: The page token if retrieving the next page from a previous query.
      - name: pageSize
        required: false
        in: query
        schema:
          type: number
          minimum: 1
          maximum: 1000
        description: The page size requested.
      - name: fieldMask
        required: false
        in: query
        description: Field masks are a way for API callers to list the fields that a request should return.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappTemplateDtoFieldMaskPathsEnum'
      - name: templateAnalyticsDateRange
        required: false
        in: query
        description: The date range to retrieve template analytics for. Fallback to DAY if none is set.
        x-enumDescriptions:
          DAY: Filters metrics collection to include data from the last 24 hours.
          MONTH: Filters metrics collection to include data from the last 30 days.
          QUARTER: Filters metrics collection to include data from the last 90 days.
          WEEK: Filters metrics collection to include data from the last 7 days.
        schema:
          $ref: '#/components/schemas/WhatsappTemplateAnalyticsDateRangesEnum'
      responses:
        '200':
          description: List of templates with the same name
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/WhatsappTemplateListDto'
                - $ref: '#/components/schemas/WhatsappPartialTemplateListDto'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
                invalid_page_size-1:
                  summary: InvalidPageSizeError
                  value:
                    errorCode: invalid_page_size
                    message: Page size must be numeric.
                    resolution: Use a integer value for pageSize parameter.
                invalid_page_token-2:
                  summary: InvalidPageTokenError
                  value:
                    errorCode: invalid_page_token
                    message: Invalid page token.
                    resolution: The page token to use is provided in the previous query response, for new queries simply leave this field undefined.
                invalid_fields-3:
                  summary: InvalidFieldsError
                  value:
                    errorCode: invalid_fields
                    message: Invalid fields.
                    resolution: Verify that the fields used are supported by the Provisioning API.
                    additionalInformation:
                      supportedCodes: whatsappId, state, name, language, category, rejectionCode, qualityScore, changes, changes.status, changes.allowCategoryChange, changes.details, changes.details.components, changes.details.components.0.type, changes.details.components.0.format, changes.details.components.0.text, changes.details.components.0.example, changes.details.components.0.example.url, changes.details.components.0.examples, changes.details.components.0.addSecurityRecommendation, changes.details.components.0.codeExpirationMinutes, changes.details.components.0.buttons, changes.details.components.0.buttons.0.type, changes.details.components.0.buttons.0.text, changes.details.components.0.buttons.0.phoneNumber, changes.details.components.0.buttons.0.url, changes.details.components.0.buttons.0.example, changes.details.components.0.buttons.0.otpType, changes.details.components.0.buttons.0.autofillText, changes.details.components.0.buttons.0.packageName, changes.details.components.0.buttons.0.signatureHash, changes.details.components.0.buttons.0.supportedApps, changes.details.components.0.buttons.0.supportedApps.0.packageName, changes.details.components.0.buttons.0.supportedApps.0.signatureHash, changes.details.components.0.buttons.0.zeroTapTermsAccepted, changes.details.components.0.buttons.0.flowId, changes.details.components.0.buttons.0.flowAction, changes.details.components.0.buttons.0.navigateScreen, changes.details.components.0.hasExpiration, changes.details.messageSendTtlSeconds, changes.details.optimization, details, details.components, details.components.0.type, details.components.0.format, details.components.0.text, details.components.0.example, details.components.0.example.url, details.components.0.examples, details.components.0.addSecurityRecommendation, details.components.0.codeExpirationMinutes, details.components.0.buttons, details.components.0.buttons.0.type, details.components.0.buttons.0.text, details.components.0.buttons.0.phoneNumber, details.components.0.buttons.0.url, details.components.0.buttons.0.example, details.components.0.buttons.0.otpType, details.components.0.buttons.0.autofillText, details.components.0.buttons.0.packageName, details.components.0.buttons.0.signatureHash, details.components.0.buttons.0.supportedApps, details.components.0.buttons.0.supportedApps.0.packageName, details.components.0.buttons.0.supportedApps.0.signatureHash, details.components.0.buttons.0.zeroTapTermsAccepted, details.components.0.buttons.0.flowId, details.components.0.buttons.0.flowAction, details.components.0.buttons.0.navigateScreen, details.components.0.hasExpiration, details.messageSendTtlSeconds, details.optimization, analytics, analytics.0.sent, analytics.0.delivered, analytics.0.read, analytics.0.start, analytics.0.end, analytics.0.buttons, analytics.0.buttons.0.type, analytics.0.buttons.0.content, analytics.0.buttons.0.clicks, isMetaGenerated
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                template_not_found-0:
                  summary: TemplateNotFoundError
                  value:
                    errorCode: template_not_found
                    message: Template not found.
                    resolution: Verify that the parameters are correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: List all templates for a specific name
      tags:
      - WhatsApp Templates
      x-badges:
      - name: GA
        position: after
        color: green
    delete:
      description: 'Delete template that matches the name.


        If message templates with the same name exists in multiple languages, all those templates will also be deleted.

        Once deleted the name can not be used for new message templates for 30 days. Use a different name to create future templates during that time period.

        Messages that have been sent with the deleted template, but not yet delivered, will be attempted to be deliver for 30 days from the time of the message.'
      operationId: WhatsappTemplatesController_deleteTemplatesByName_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: templateName
        required: true
        in: path
        description: The unique name of the template.
        schema:
          type: string
      responses:
        '204':
          description: Template(s) deleted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
                template_invalid_language_code-1:
                  summary: TemplateInvalidLanguageCodeError
                  value:
                    errorCode: template_invalid_language_code
                    message: Invalid language code.
                    resolution: Verify that the language code used is supported by the Provisioning API and WhatsApp.
                    additionalInformation:
                      supportedCodes: AF, AR, AZ, BG, BN, CA, CS, DA, DE, EL, EN, EN_GB, EN_US, ES, ES_AR, ES_ES, ES_MX, ES_UY, ET, FA, FI, FIL, FR, GA, GU, HA, HE, HI, HR, HU, ID, IT, JA, KA, KK, KN, KO, KY_KG, LO, LT, LV, MK, ML, MR, MS, NB, NL, PA, PL, PT_BR, PT_PT, RO, RU, RW_RW, SK, SL, SQ, SR, SV, SW, TA, TE, TH, TR, UK, UR, UZ, VI, ZH_CN, ZH_HK, ZH_TW, ZU
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                template_not_found-0:
                  summary: TemplateNotFoundError
                  value:
                    errorCode: template_not_found
                    message: Template not found.
                    resolution: Verify that the parameters are correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                resource_locked-0:
                  summary: ResourceLockedError
                  value:
                    errorCode: resource_locked
                    message: Resource is locked.
                    resolution: Another operation for this resource is already in progress. Please wait and try again.
        '429':
          description: TooManyRequests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                whatsapp_business_api_request_limit_exceeded-0:
                  summary: WhatsappBusinessApiRequestLimitExceededError
                  value:
                    errorCode: whatsapp_business_api_request_limit_exceeded
                    message: WhatsApp business api request limit reached.
                    resolution: WhatsApp business API request limits reached. Please try again later.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: Delete template by name
      tags:
      - WhatsApp Templates
      x-badges:
      - name: GA
        position: after
        color: green
  /v1/projects/{projectId}/whatsapp/templates/{templateName}/languages/{languageCode}:
    get:
      description: Returns a template for a project, with the specified name and language.
      operationId: WhatsappTemplatesController_getTemplate_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: templateName
        required: true
        in: path
        description: The unique name of the template.
        schema:
          type: string
      - name: languageCode
        required: true
        in: path
        description: The language code of the specific template.
        x-enumDescriptions:
          AF: The language configuration is set to Afrikaans.
          AR: The language configuration is set to Arabic.
          AZ: The language configuration is set to Azerbaijani.
          BG: The language configuration is set to Bulgarian.
          BN: The language configuration is set to Bengali.
          CA: The language configuration is set to Catalan.
          CS: The language configuration is set to Czech.
          DA: The language configuration is set to Danish.
          DE: The language configuration is set to German.
          EL: The language configuration is set to Greek.
          EN: The language configuration is set to English.
          EN_GB: The language configuration is set to British English.
          EN_US: The language configuration is set to American English.
          ES: The language configuration is set to Spanish.
          ES_AR: The language configuration is set to Argentinian Spanish.
          ES_ES: The language configuration is set to European Spanish.
          ES_MX: The language configuration is set to Mexican Spanish.
          ES_UY: The language configuration is set to Uruguayan Spanish.
          ET: The language configuration is set to Estonian.
          FA: The language configuration is set to Persian.
          FI: The language configuration is set to Finnish.
          FIL: The language configuration is set to Filipino.
          FR: The language configuration is set to French.
          GA: The language configuration is set to Irish.
          GU: The language configuration is set to Gujarati.
          HA: The language configuration is set to Hausa.
          HE: The language configuration is set to Hebrew.
          HI: The language configuration is set to Hindi.
          HR: The language configuration is set to Croatian.
          HU: The language configuration is set to Hungarian.
          ID: The language configuration is set to Indonesian.
          IT: The language configuration is set to Italian.
          JA: The language configuration is set to Japanese.
          KA: The language configuration is set to Georgian.
          KK: The language configuration is set to Kazakh.
          KN: The language configuration is set to Kannada.
          KO: The language configuration is set to Korean.
          KY_KG: The language configuration is set to Kyrgyz.
          LO: The language configuration is set to Lao.
          LT: The language configuration is set to Lithuanian.
          LV: The language configuration is set to Latvian.
          MK: The language configuration is set to Macedonian.
          ML: The language configuration is set to Malayalam.
          MR: The language configuration is set to Marathi.
          MS: The language configuration is set to Malay.
          NB: The language configuration is set to Norwegian.
          NL: The language configuration is set to Dutch.
          PA: The language configuration is set to Punjabi.
          PL: The language configuration is set to Polish.
          PT_BR: The language configuration is set to Brazilian Portuguese.
          PT_PT: The language configuration is set to European Portuguese.
          RO: The language configuration is set to Romanian.
          RU: The language configuration is set to Russian.
          RW_RW: The language configuration is set to Kinyarwanda.
          SK: The language configuration is set to Slovak.
          SL: The language configuration is set to Slovenian.
          SQ: The language configuration is set to Albanian.
          SR: The language configuration is set to Serbian.
          SV: The language configuration is set to Swedish.
          SW: The language configuration is set to Swahili.
          TA: The language configuration is set to Tamil.
          TE: The language configuration is set to Telugu.
          TH: The language configuration is set to Thai.
          TR: The language configuration is set to Turkish.
          UK: The language configuration is set to Ukrainian.
          UR: The language configuration is set to Urdu.
          UZ: The language configuration is set to Uzbek.
          VI: The language configuration is set to Vietnamese.
          ZH_CN: The language configuration is set to Simplified Chinese.
          ZH_HK: The language configuration is set to Traditional Chinese (Hong Kong).
          ZH_TW: The language configuration is set to Traditional Chinese (Taiwan).
          ZU: The language configuration is set to Zulu.
          UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
        schema:
          $ref: '#/components/schemas/WhatsappTemplateLanguagesEnum'
      - name: fieldMask
        required: false
        in: query
        description: Field masks are a way for API callers to list the fields that a request should return.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappTemplateDtoFieldMaskPathsEnum'
      - name: templateAnalyticsDateRange
        required: false
        in: query
        description: The date range to retrieve template analytics for. Fallback to DAY if none is set.
        x-enumDescriptions:
          DAY: Filters metrics collection to include data from the last 24 hours.
          MONTH: Filters metrics collection to include data from the last 30 days.
          QUARTER: Filters metrics collection to include data from the last 90 days.
          WEEK: Filters metrics collection to include data from the last 7 days.
        schema:
          $ref: '#/components/schemas/WhatsappTemplateAnalyticsDateRangesEnum'
      responses:
        '200':
          description: Template
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/WhatsappTemplateDto'
                - $ref: '#/components/schemas/WhatsappPartialTemplateDto'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
                template_invalid_language_code-1:
                  summary: TemplateInvalidLanguageCodeError
                  value:
                    errorCode: template_invalid_language_code
                    message: Invalid language code.
                    resolution: Verify that the language code used is supported by the Provisioning API and WhatsApp.
                    additionalInformation:
                      supportedCodes: AF, AR, AZ, BG, BN, CA, CS, DA, DE, EL, EN, EN_GB, EN_US, ES, ES_AR, ES_ES, ES_MX, ES_UY, ET, FA, FI, FIL, FR, GA, GU, HA, HE, HI, HR, HU, ID, IT, JA, KA, KK, KN, KO, KY_KG, LO, LT, LV, MK, ML, MR, MS, NB, NL, PA, PL, PT_BR, PT_PT, RO, RU, RW_RW, SK, SL, SQ, SR, SV, SW, TA, TE, TH, TR, UK, UR, UZ, VI, ZH_CN, ZH_HK, ZH_TW, ZU
                invalid_fields-2:
                  summary: InvalidFieldsError
                  value:
                    errorCode: invalid_fields
                    message: Invalid fields.
                    resolution: Verify that the fields used are supported by the Provisioning API.
                    additionalInformation:
                      supportedCodes: whatsappId, state, name, language, category, rejectionCode, qualityScore, changes, changes.status, changes.allowCategoryChange, changes.details, changes.details.components, changes.details.components.0.type, changes.details.components.0.format, changes.details.components.0.text, changes.details.components.0.example, changes.details.components.0.example.url, changes.details.components.0.examples, changes.details.components.0.addSecurityRecommendation, changes.details.components.0.codeExpirationMinutes, changes.details.components.0.buttons, changes.details.components.0.buttons.0.type, changes.details.components.0.buttons.0.text, changes.details.components.0.buttons.0.phoneNumber, changes.details.components.0.buttons.0.url, changes.details.components.0.buttons.0.example, changes.details.components.0.buttons.0.otpType, changes.details.components.0.buttons.0.autofillText, changes.details.components.0.buttons.0.packageName, changes.details.components.0.buttons.0.signatureHash, changes.details.components.0.buttons.0.supportedApps, changes.details.components.0.buttons.0.supportedApps.0.packageName, changes.details.components.0.buttons.0.supportedApps.0.signatureHash, changes.details.components.0.buttons.0.zeroTapTermsAccepted, changes.details.components.0.buttons.0.flowId, changes.details.components.0.buttons.0.flowAction, changes.details.components.0.buttons.0.navigateScreen, changes.details.components.0.hasExpiration, changes.details.messageSendTtlSeconds, changes.details.optimization, details, details.components, details.components.0.type, details.components.0.format, details.components.0.text, details.components.0.example, details.components.0.example.url, details.components.0.examples, details.components.0.addSecurityRecommendation, details.components.0.codeExpirationMinutes, details.components.0.buttons, details.components.0.buttons.0.type, details.components.0.buttons.0.text, details.components.0.buttons.0.phoneNumber, details.components.0.buttons.0.url, details.components.0.buttons.0.example, details.components.0.buttons.0.otpType, details.components.0.buttons.0.autofillText, details.components.0.buttons.0.packageName, details.components.0.buttons.0.signatureHash, details.components.0.buttons.0.supportedApps, details.components.0.buttons.0.supportedApps.0.packageName, details.components.0.buttons.0.supportedApps.0.signatureHash, details.components.0.buttons.0.zeroTapTermsAccepted, details.components.0.buttons.0.flowId, details.components.0.buttons.0.flowAction, details.components.0.buttons.0.navigateScreen, details.components.0.hasExpiration, details.messageSendTtlSeconds, details.optimization, analytics, analytics.0.sent, analytics.0.delivered, analytics.0.read, analytics.0.start, analytics.0.end, analytics.0.buttons, analytics.0.buttons.0.type, analytics.0.buttons.0.content, analytics.0.buttons.0.clicks, isMetaGenerated
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                template_not_found-0:
                  summary: TemplateNotFoundError
                  value:
                    errorCode: template_not_found
                    message: Template not found.
                    resolution: Verify that the parameters are correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: Get template in project
      tags:
      - WhatsApp Templates
      x-badges:
      - name: GA
        position: after
        color: green
    delete:
      description: 'Delete a template by name and language.


        Please note that by default only draft is removed. Use query parameter `deleteSubmitted=true` to also remove the submitted template.

        Once an approved template is deleted, the template cannot be recreated again with this name and language for 30 days. Consequently, be aware that you must use a different name to create template for this language within this 30 days long period.

        If you need the template in this language soon, update the submitted template for a specific language instead of trying to delete and recreate it again.'
      operationId: WhatsappTemplatesController_deleteTemplateByNameAndLanguage_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: templateName
        required: true
        in: path
        description: The unique name of the template.
        schema:
          type: string
      - name: languageCode
        required: true
        in: path
        description: The language code of the specific template.
        x-enumDescriptions:
          AF: The language configuration is set to Afrikaans.
          AR: The language configuration is set to Arabic.
          AZ: The language configuration is set to Azerbaijani.
          BG: The language configuration is set to Bulgarian.
          BN: The language configuration is set to Bengali.
          CA: The language configuration is set to Catalan.
          CS: The language configuration is set to Czech.
          DA: The language configuration is set to Danish.
          DE: The language configuration is set to German.
          EL: The language configuration is set to Greek.
          EN: The language configuration is set to English.
          EN_GB: The language configuration is set to British English.
          EN_US: The language configuration is set to American English.
          ES: The language configuration is set to Spanish.
          ES_AR: The language configuration is set to Argentinian Spanish.
          ES_ES: The language configuration is set to European Spanish.
          ES_MX: The language configuration is set to Mexican Spanish.
          ES_UY: The language configuration is set to Uruguayan Spanish.
          ET: The language configuration is set to Estonian.
          FA: The language configuration is set to Persian.
          FI: The language configuration is set to Finnish.
          FIL: The language configuration is set to Filipino.
          FR: The language configuration is set to French.
          GA: The language configuration is set to Irish.
          GU: The language configuration is set to Gujarati.
          HA: The language configuration is set to Hausa.
          HE: The language configuration is set to Hebrew.
          HI: The language configuration is set to Hindi.
[...]
