openapi: 3.2.0
info:
  title: Sinch Conversation Apps API
  description: The Sinch Conversation API is an omnichannel messaging platform that enables developers to send and receive messages across multiple channels including SMS, RCS, WhatsApp, Facebook Messenger, Instagram, Viber, Telegram, KakaoTalk, and LINE through a single unified API. It provides contact management, conversation tracking, message templating, and webhook callbacks for real-time event handling. The API normalizes message formats across channels, allowing developers to build multichannel messaging experiences without channel-specific integrations.
  version: '1.0'
  contact:
    name: Sinch Support
    url: https://www.sinch.com/contact-us/
  termsOfService: https://www.sinch.com/terms-of-service/
servers:
- url: https://us.conversation.api.sinch.com
  description: US Production Server
- url: https://eu.conversation.api.sinch.com
  description: EU Production Server
- url: https://br.conversation.api.sinch.com
  description: Brazil Production Server
security:
- oAuth2: []
- basicAuth: []
tags:
- name: Apps
  description: Manage Conversation API applications including channel credentials and webhook configurations.
paths:
  /v1/projects/{project_id}/apps:
    get:
      operationId: listApps
      summary: List Apps
      description: Returns a list of all Conversation API apps in the project.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppList'
        '401':
          description: Unauthorized
    post:
      operationId: createApp
      summary: Create an App
      description: Creates a new Conversation API app with channel credentials.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
      responses:
        '200':
          description: App created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /v1/projects/{project_id}/apps/{app_id}:
    get:
      operationId: getApp
      summary: Get an App
      description: Returns the details of a specific Conversation API app.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized
        '404':
          description: App not found
    patch:
      operationId: updateApp
      summary: Update an App
      description: Updates the properties of a specific Conversation API app.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppRequest'
      responses:
        '200':
          description: App updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized
        '404':
          description: App not found
    delete:
      operationId: deleteApp
      summary: Delete an App
      description: Deletes a specific Conversation API app.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App deleted
        '401':
          description: Unauthorized
        '404':
          description: App not found
components:
  schemas:
    UpdateAppRequest:
      type: object
      properties:
        display_name:
          type: string
          description: Updated display name
        channel_credentials:
          type: array
          description: Updated channel credentials
          items:
            $ref: '#/components/schemas/ChannelCredential'
    App:
      type: object
      properties:
        id:
          type: string
          description: The unique app identifier
        display_name:
          type: string
          description: The app display name
        channel_credentials:
          type: array
          description: Channel credential configurations
          items:
            $ref: '#/components/schemas/ChannelCredential'
        conversation_metadata_report_view:
          type: string
          description: Metadata report configuration
    ChannelCredential:
      type: object
      properties:
        channel:
          type: string
          description: The channel type
        static_bearer:
          type: object
          description: Static bearer token credential
          properties:
            claimed_identity:
              type: string
              description: The claimed identity
            token:
              type: string
              description: The bearer token
        static_token:
          type: object
          description: Static token credential
          properties:
            token:
              type: string
              description: The token value
        callback_secret:
          type: string
          description: Secret for validating callbacks from the channel
    AppList:
      type: object
      properties:
        apps:
          type: array
          description: List of apps
          items:
            $ref: '#/components/schemas/App'
    CreateAppRequest:
      type: object
      required:
      - display_name
      properties:
        display_name:
          type: string
          description: The app display name
        channel_credentials:
          type: array
          description: Channel credential configurations
          items:
            $ref: '#/components/schemas/ChannelCredential'
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique project identifier
      schema:
        type: string
    AppId:
      name: app_id
      in: path
      required: true
      description: The unique app identifier
      schema:
        type: string
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow using project key ID and secret.
      flows:
        clientCredentials:
          tokenUrl: https://auth.sinch.com/oauth2/token
          scopes: {}
    basicAuth:
      type: http
      scheme: basic
      description: Key ID as username and key secret as password.
externalDocs:
  description: Sinch Conversation API Documentation
  url: https://developers.sinch.com/docs/conversation
