openapi: 3.2.0
info:
  title: Provisioning Bundles API
  description: The bundles endpoint allows you to create and manage bundles of account resources.
  version: 1.2.117
servers:
- url: https://provisioning.api.sinch.com
  description: Production server
security:
- BasicAuth: []
  BearerAuth: []
  OAuth2Production: []
tags:
- name: Bundles
  description: The bundles endpoint allows you to create and manage bundles of account resources.
paths:
  /v1/projects/{projectId}/bundles:
    get:
      description: Returns a paginated list of bundles for a given project, optionally filtered by SMS App IDs, Conversation App IDs, or bundle states. If no page token is supplied then the first `10` will be returned.
      operationId: BundlesBundlesController_list_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: pageToken
        required: false
        in: query
        schema:
          type: string
        description: The page token if retrieving the next page from a previous query.
      - name: pageSize
        required: false
        in: query
        schema:
          type: number
          minimum: 1
          maximum: 25
        description: The page size requested.
      - name: filterConvAppIds
        required: false
        in: query
        description: Optional query for filtering by Conversation App IDs.
        schema:
          type: array
          items:
            type: string
      - name: filterSmsAppIds
        required: false
        in: query
        description: Optional query for filtering by SMS App IDs.
        schema:
          type: array
          items:
            type: string
      - name: filterStates
        required: false
        in: query
        description: Optional query for filtering by bundle states.
        x-enumDescriptions:
          DONE: The service setup has completed successfully.
          FAILED: The service setup failed and requires troubleshooting or manual retry.
          IN_PROGRESS: The service setup is currently executing.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/BundlesBundleServicesStateEnum'
      responses:
        '200':
          description: List of bundles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesListBundlesDto'
              examples:
                response:
                  summary: List response
                  description: "\n    Response with sms apps.\n    "
                  value:
                    totalSize: 1
                    pageSize: 10
                    bundles:
                    - id: 62a02dd40000000000000000
                      projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                      name: Sample response
                      region: US
                      subproject:
                        id: ea026751-3edf-40a9-ad93-1b382bd60a78
                        name: Sample response
                        parentProjectId: 18bbdcc8-117d-42f0-85cc-e30462c49404
                        status: PENDING
                      smsApp:
                        id: 54e5eb6cae6242c88c132c8da8bb1072
                        smsServiceId: d84b09da00fb4b76ff63f2fcea8d46c7
                        name: Sample response
                        status: PENDING_ADD
                        regions:
                        - US
                        test: false
                      convApp:
                        id: 31c12b1042d14b37ae96df96bb13575b
                        name: Sample response
                        processingMode: CONVERSATION
                      webhooks:
                      - id: 7c60ce550f1d40198d5ffb113d58591b
                        projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                        target: https://webhook.site/d614d077-302a-4e0b-a06a-276923f7d8d4
                        triggers:
                        - BUNDLE_DONE
                      state: IN_PROGRESS
                    - id: 55402ee30230777000098701
                      projectId: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                      name: Bundle name
                      region: US
                      subproject:
                        id: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                        name: Subproject name
                        parentProjectId: 8c9148fa-8f4e-46f6-8229-565ce0f527be
                        status: READY
                      smsApp:
                        id: 64efff6cae6242c88cfee38da8bb8976
                        smsServiceId: 566544da00fb4b769008f2fcea9067e3
                        name: SMS App name
                        status: ACTIVE
                        regions:
                        - US
                        test: false
                      convApp:
                        id: aa252b10e5614b37ff96df96bb560092
                        name: Conversation App name
                        processingMode: CONVERSATION
                      webhooks:
                      - id: 9981ce550f1dfea0005ffb113d581434
                        projectId: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                        target: https://webhook.site/de85df25-f474-4997-b50d-264955e3cedb
                        triggers:
                        - BUNDLE_DONE
                      state: DONE
                      webhookDeliveryStatuses:
                      - webhookId: 9981ce550f1dfea0005ffb113d581434
                        date: '2026-06-24T11:54:15.123Z'
                        httpStatusCode: 200
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                invalid_page_token-0:
                  summary: InvalidPageTokenError
                  value:
                    errorCode: invalid_page_token
                    message: Invalid page token.
                    resolution: The page token to use is provided in the previous query response, for new queries simply leave this field undefined.
                invalid_page_size-1:
                  summary: InvalidPageSizeError
                  value:
                    errorCode: invalid_page_size
                    message: Page size must be numeric.
                    resolution: Use a integer value for pageSize parameter.
                invalid_id_format-2:
                  summary: InvalidIdFormatError
                  value:
                    errorCode: invalid_id_format
                    message: Id is not in the expected format.
                    resolution: projectId param is in the wrong format. Confirm that you're sending the correct value.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: List bundles by projectId
      tags:
      - Bundles
      x-badges:
      - name: GA
        position: after
        color: green
    post:
      callbacks:
        BundleDone:
          '{$request.body#webhooks.target}':
            post:
              summary: Bundle Done Event
              description: "\n        When a bundle is completed, the system makes a `POST` request to the specified callback URL.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, will always be `BUNDLE_DONE` for this callback.
                          type: string
                        payload:
                          description: Bundle data representing the completed form.
                          allOf:
                          - $ref: '#/components/schemas/BundlesBundlesDto'
                      required:
                      - type
                      - payload
                    example:
                      type: BUNDLE_DONE
                      payload:
                        id: 62a02dd40000000000000000
                        projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                        name: Sample response
                        region: US
                        subproject:
                          id: ea026751-3edf-40a9-ad93-1b382bd60a78
                          name: Sample response
                          parentProjectId: 18bbdcc8-117d-42f0-85cc-e30462c49404
                          status: READY
                        smsApp:
                          id: 54e5eb6cae6242c88c132c8da8bb1072
                          smsServiceId: d84b09da00fb4b76ff63f2fcea8d46c7
                          name: Sample response
                          status: ACTIVE
                          regions:
                          - US
                          test: false
                        convApp:
                          id: 31c12b1042d14b37ae96df96bb13575b
                          name: Sample response
                          processingMode: CONVERSATION
                          smsChannelStatus: PENDING
                        webhooks:
                        - id: 7c60ce550f1d40198d5ffb113d58591b
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          target: https://webhook.site/d614d077-302a-4e0b-a06a-276923f7d8d4
                          triggers:
                          - BUNDLE_DONE
                        state: DONE
                        webhookDeliveryStatuses:
                        - webhookId: 7c60ce550f1d40198d5ffb113d58591b
                          date: '2025-02-14T10:54:15.676Z'
                          httpStatusCode: 200
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
      description: Creates a new bundle of resources based on the input work order.
      operationId: BundlesBundlesController_create_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      requestBody:
        required: true
        description: Example Bundle create requests
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/BundlesInputBundlesDto'
            examples:
              small:
                summary: Small example
                description: "\n    Small example to create a subproject, SMS App and Conversation App. The webhooks for Conversation API and Provisioning API are examples and can be extended.\n    "
                value:
                  name: Small bundle example
                  region: US
                  subproject: true
                  smsApp: true
                  convApp:
                    name: Conversation App Example
                    webhooks:
                    - target: https://webhook.site/d614d077-302a-4e0b-a06a-276923f7d8d4
                      secret: secret
                      triggers:
                      - MESSAGE_DELIVERY
                    processingMode: DISPATCH
                    retentionPolicy:
                      retentionPolicyType: MESSAGE_EXPIRE_POLICY
                      ttl: 7
                    consentManagerSettings:
                      mode: PRIMARY
                  webhooks:
                  - target: https://webhook.site/d614d077-302a-4e0b-a06a-276923f7d8d4
                    secret: secret
                    triggers:
                    - BUNDLE_DONE
              minimal:
                summary: Minimal example
                description: "\n    Minimal example to create a subproject, SMS App and Conversation App. This will not register any webhooks which will have to be done separately.\n    "
                value:
                  name: Minimal bundle example
                  region: US
                  subproject: true
                  smsApp: true
                  convApp: true
              full:
                summary: Full example
                description: "\n    Full example with all options filled in. The webhooks for Conversation API and Provisioning API are examples and can be extended.\n    "
                value:
                  name: Full bundle example
                  region: US
                  subproject:
                    name: Subproject Example
                    labels:
                      env: testing
                      team: QA-team
                  smsApp:
                    name: Sms App Example
                  convApp:
                    name: Conversation App Example
                    webhooks:
                    - target: https://webhook.site/d614d077-302a-4e0b-a06a-276923f7d8d4
                      secret: secret
                      triggers:
                      - MESSAGE_DELIVERY
                    processingMode: DISPATCH
                    retentionPolicy:
                      retentionPolicyType: MESSAGE_EXPIRE_POLICY
                      ttl: 7
                    consentManagerSettings:
                      mode: PRIMARY
                  webhooks:
                  - target: https://webhook.site/d614d077-302a-4e0b-a06a-276923f7d8d4
                    secret: secret
                    triggers:
                    - BUNDLE_DONE
                  testNumber: true
      responses:
        '201':
          description: Responds with the bundle created. At time of response the bundle might not be completed. To receive the complete payload register a webhook for the `BUNDLE_DONE` trigger.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesBundlesDto'
              examples:
                notReady:
                  summary: Pending response
                  description: "\n    Response if the SMS App is not ready. This is the most likely response.\n    "
                  value:
                    id: 62a02dd40000000000000000
                    projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                    name: Sample response
                    region: US
                    subproject:
                      id: ea026751-3edf-40a9-ad93-1b382bd60a78
                      name: Sample response
                      parentProjectId: 18bbdcc8-117d-42f0-85cc-e30462c49404
                      status: PENDING
                    smsApp:
                      id: 54e5eb6cae6242c88c132c8da8bb1072
                      smsServiceId: d84b09da00fb4b76ff63f2fcea8d46c7
                      name: Sample response
                      status: PENDING_ADD
                      regions:
                      - US
                      test: false
                    convApp:
                      id: 31c12b1042d14b37ae96df96bb13575b
                      name: Sample response
                      processingMode: CONVERSATION
                    webhooks:
                    - id: 7c60ce550f1d40198d5ffb113d58591b
                      projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                      target: https://webhook.site/d614d077-302a-4e0b-a06a-276923f7d8d4
                      triggers:
                      - BUNDLE_DONE
                    state: IN_PROGRESS
                ready:
                  summary: Completed response
                  description: "\n    Response if the SMS App is ready. The data is the same as the callback payload.\n    "
                  value:
                    id: 55402ee30230777000098701
                    projectId: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                    name: Bundle name
                    region: US
                    subproject:
                      id: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                      name: Subproject name
                      parentProjectId: 8c9148fa-8f4e-46f6-8229-565ce0f527be
                      status: READY
                    smsApp:
                      id: 64efff6cae6242c88cfee38da8bb8976
                      smsServiceId: 566544da00fb4b769008f2fcea9067e3
                      name: SMS App name
                      status: ACTIVE
                      regions:
                      - US
                      test: false
                    convApp:
                      id: aa252b10e5614b37ff96df96bb560092
                      name: Conversation App name
                      processingMode: CONVERSATION
                    webhooks:
                    - id: 9981ce550f1dfea0005ffb113d581434
                      projectId: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                      target: https://webhook.site/de85df25-f474-4997-b50d-264955e3cedb
                      triggers:
                      - BUNDLE_DONE
                    state: DONE
                    webhookDeliveryStatuses:
                    - webhookId: 9981ce550f1dfea0005ffb113d581434
                      date: '2026-06-24T11:54:15.123Z'
                      httpStatusCode: 200
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                      - subproject must be boolean or object
                invalid_payload-1:
                  summary: InvalidPayloadError
                  value:
                    errorCode: invalid_payload
                    message: Invalid payload.
                    resolution: Correct payload and submit again.
                no_services_to_create-2:
                  summary: NoServicesToCreateError
                  value:
                    errorCode: no_services_to_create
                    message: No services to create.
                    resolution: Add at least one service to create.
                missing_name-3:
                  summary: MissingNameError
                  value:
                    errorCode: missing_name
                    message: Missing name for bundles.
                    resolution: Make sure you have given a separate service name or principal.
                invalid_webhooks-4:
                  summary: InvalidWebhooksError
                  value:
                    errorCode: invalid_webhooks
                    message: Unable to create webhooks.
                    resolution: Please try again.
                invalid_staging_bundles_input_region-5:
                  summary: InvalidStagingBundlesInputRegionError
                  value:
                    errorCode: invalid_staging_bundles_input_region
                    message: Invalid bundles region for staging.
                    resolution: Verify that bundles region is valid for staging. Allowed bundles regions for staging EU, US.
                parent_sms_bespoke_price-6:
                  summary: ParentSmsBespokePriceError
                  value:
                    errorCode: parent_sms_bespoke_price
                    message: Parent SMS service has bespoke pricing.
                    resolution: SMS apps cannot be copied from a parent project that has bespoke pricing configured.
                target_project_not_subproject-7:
                  summary: TargetProjectNotSubprojectError
                  value:
                    errorCode: target_project_not_subproject
                    message: Target project is not a subproject.
                    resolution: Copying an SMS app from a parent is only supported when the target project is a subproject.
                parent_sms_not_route_assisted-8:
                  summary: ParentSmsNotRouteAssistedError
                  value:
                    errorCode: parent_sms_not_route_assisted
                    message: Parent SMS service is not route assisted.
                    resolution: SMS apps can only be copied from a parent project whose SMS service is route assisted.
                conversation_app_already_connected_to_sms_app-9:
                  summary: ConversationAppAlreadyConnectedToSmsAppError
                  value:
                    errorCode: conversation_app_already_connected_to_sms_app
                    message: Conversation App is already connected to an SMS App.
                    resolution: Use the SMS App that is already connected to the Conversation App or disconnect the currently connected SMS App before connecting another SMS App.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                forbidden_payload-0:
                  summary: ForbiddenPayloadError
                  value:
                    errorCode: forbidden_payload
                    message: Forbidden payload.
                    resolution: Please ensure that you have permission to use that payload.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                conversation_app_not_found-0:
                  summary: ConversationAppNotFoundError
                  value:
                    errorCode: conversation_app_not_found
                    message: Conversation App not found.
                    resolution: Verify that the appId is correct.
                sms_app_not_found-1:
                  summary: SmsAppNotFoundError
                  value:
                    errorCode: sms_app_not_found
                    message: SmsApp not found.
                    resolution: Verify that the appId is correct.
                default_sms_app_not_found-2:
                  summary: DefaultSmsAppNotFoundError
                  value:
                    errorCode: default_sms_app_not_found
                    message: Default SmsApp not found.
                    resolution: Create SmsApp in test mode to use in request.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                webhook_exists-0:
                  summary: WebhookExistsError
                  value:
                    errorCode: webhook_exists
                    message: Webhook with the provided target already exists.
                    resolution: Webhooks must have a unique target. Change the target and submit again.
                conversation_app_is_already_in_bundles_process-1:
                  summary: ConversationAppIsAlreadyInBundlesProcessError
                  value:
                    errorCode: conversation_app_is_already_in_bundles_process
                    message: Conversation App is already in Bundles process.
                    resolution: Please select another conversationAppId for which the request is to be made.
                default_sms_app_already_exists-2:
                  summary: DefaultSmsAppAlreadyExistsError
                  value:
                    errorCode: default_sms_app_already_exists
                    message: Default SmsApp already exists.
                    resolution: Please contact with support.
                more_than_one_sms_app-3:
                  summary: MoreThanOneSmsAppError
                  value:
                    errorCode: more_than_one_sms_app
                    message: More than one SmsApp.
                    resolution: Please select the smsAppId for which the request is to be made.
                sms_app_is_already_linked_to_conversation_app-4:
                  summary: SmsAppIsAlreadyLinkedToConversationAppError
                  value:
                    errorCode: sms_app_is_already_linked_to_conversation_app
                    message: SmsApp is already linked to ConversationApp.
                    resolution: Please select another smsAppId for which the request is to be made.
                sms_app_is_already_in_bundles_process-5:
                  summary: SmsAppIsAlreadyInBundlesProcessError
                  value:
                    errorCode: sms_app_is_already_in_bundles_process
                    message: SmsApp is already in Bundles process.
                    resolution: Please select another smsAppId for which the request is to be made.
                allowed_only_for_default_test_sms_app-6:
                  summary: AllowedOnlyForDefaultTestSmsAppError
                  value:
                    errorCode: allowed_only_for_default_test_sms_app
                    message: Allowed only for default test SMS app.
                    resolution: Verify that the SMS app is marked as defaultTest.
                not_allowed_for_subproject-7:
                  summary: NotAllowedForSubprojectError
                  value:
                    errorCode: not_allowed_for_subproject
                    message: Not allowed for subproject.
                    resolution: Verify that the subproject is eligible for test numbers.
                not_allowed_for_non_test_account-8:
                  summary: NotAllowedForNonTestAccountError
                  value:
                    errorCode: not_allowed_for_non_test_account
                    message: Not allowed for non test account.
                    resolution: Verify that the account is a test account.
                only_one_test_number_allowed-9:
                  summary: OnlyOneTestNumberAllowedError
                  value:
                    errorCode: only_one_test_number_allowed
                    message: Only one active test number is allowed per project.
                    resolution: Verify that there are no other active test numbers in the project.
        '424':
          description: FailedDependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                webhook_limit_reached-0:
                  summary: WebhookLimitReachedError
                  value:
                    errorCode: webhook_limit_reached
                    message: Number of webhooks has reached the limit.
                    resolution: Delete some webhooks to be able to add more.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                failed_to_create_subproject-0:
                  summary: FailedToCreateSubprojectError
                  value:
                    errorCode: failed_to_create_subproject
                    message: Failed to create subproject.
                    resolution: Please try again.
                failed_to_create_sms_service-1:
                  summary: FailedToCreateSmsServiceError
                  value:
                    errorCode: failed_to_create_sms_service
                    message: Failed to create sms service.
                    resolution: Please try again.
                failed_to_create_conversation_service-2:
                  summary: FailedToCreateConversationServiceError
                  value:
                    errorCode: failed_to_create_conversation_service
                    message: Failed to create conversation service.
                    resolution: Please try again.
                internal_error-3:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: Create bundle for project
      tags:
      - Bundles
      x-badges:
      - name: GA
        position: after
        color: green
  /v1/projects/{projectId}/bundles/{bundleId}:
    get:
      description: Retrieve created bundle and resources created.
      operationId: BundlesBundlesController_get_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: bundleId
        required: true
        in: path
        description: The unique ID of the bundle.
        schema:
          type: string
      responses:
        '200':
          description: Responds with the bundle created. At time of response the bundle might not be completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesBundlesDto'
              examples:
                notReady:
                  summary: Pending response
                  description: "\n    Response if the SMS App is not ready. This is the most likely response.\n    "
                  value:
                    id: 62a02dd40000000000000000
                    projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                    name: Sample response
                    region: US
                    subproject:
                      id: ea026751-3edf-40a9-ad93-1b382bd60a78
                      name: Sample response
                      parentProjectId: 18bbdcc8-117d-42f0-85cc-e30462c49404
                      status: PENDING
                    smsApp:
                      id: 54e5eb6cae6242c88c132c8da8bb1072
                      smsServiceId: d84b09da00fb4b76ff63f2fcea8d46c7
                      name: Sample response
                      status: PENDING_ADD
                      regions:
                      - US
                      test: false
                    convApp:
                      id: 31c12b1042d14b37ae96df96bb13575b
                      name: Sample response
                      processingMode: CONVERSATION
                    webhooks:
                    - id: 7c60ce550f1d40198d5ffb113d58591b
                      projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                      target: https://webhook.site/d614d077-302a-4e0b-a06a-276923f7d8d4
                      triggers:
                      - BUNDLE_DONE
                    state: IN_PROGRESS
                ready:
                  summary: Completed response
                  description: "\n    Response if the SMS App is ready. The data is the same as the callback payload.\n    "
                  value:
                    id: 55402ee30230777000098701
                    projectId: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                    name: Bundle name
                    region: US
                    subproject:
                      id: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                      name: Subproject name
                      parentProjectId: 8c9148fa-8f4e-46f6-8229-565ce0f527be
                      status: READY
                    smsApp:
                      id: 64efff6cae6242c88cfee38da8bb8976
                      smsServiceId: 566544da00fb4b769008f2fcea9067e3
                      name: SMS App name
                      status: ACTIVE
                      regions:
                      - US
                      test: false
                    convApp:
                      id: aa252b10e5614b37ff96df96bb560092
                      name: Conversation App name
                      processingMode: CONVERSATION
                    webhooks:
                    - id: 9981ce550f1dfea0005ffb113d581434
                      projectId: 6b48c78b-b924-433d-9b7d-2bb2a30e7d56
                      target: https://webhook.site/de85df25-f474-4997-b50d-264955e3cedb
                      triggers:
                      - BUNDLE_DONE
                    state: DONE
                    webhookDeliveryStatuses:
                    - webhookId: 9981ce550f1dfea0005ffb113d581434
                      date: '2026-06-24T11:54:15.123Z'
                      httpStatusCode: 200
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                invalid_id_format-0:
                  summary: InvalidIdFormatError
                  value:
                    errorCode: invalid_id_format
                    message: Id is not in the expected format.
                    resolution: bundleId param is in the wrong format. Confirm that you're sending the correct value.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                bundle_not_found-0:
                  summary: BundleNotFoundError
                  value:
                    errorCode: bundle_not_found
                    message: Bundle not found.
                    resolution: Verify that the parameters are correct.
                conversation_app_not_found-1:
                  summary: ConversationAppNotFoundError
                  value:
                    errorCode: conversation_app_not_found
                    message: Conversation App not found.
                    resolution: Verify that the appId is correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundlesPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: Get bundle by projectId and bundleId
      tags:
      - Bundles
      x-badges:
      - name: GA
        position: after
        color: green
components:
  schemas:
    BundlesWebhooksInputWebhookTriggerEnum:
      type: string
      enum:
      - BATCH_DELIVERY_REPORT_FULL
      - BATCH_DELIVERY_REPORT_SUMMARY
      - BATCH_STATUS_UPDATE
      - BILLING_CREDIT_LIMIT_BREACHED
      - CAPABILITY
      - CHANNEL_EVENT
      - CONSENT_BATCH_COMPLETE
      - CONTACT_CREATE
      - CONTACT_DELETE
      - CONTACT_IDENTITIES_DUPLICATION
      - CONTACT_MERGE
      - CONTACT_UPDATE
      - CONVERSATION_DELETE
      - CONVERSATION_START
      - CONVERSATION_STOP
      - EVENT_DELIVERY
      - EVENT_INBOUND
      - MESSAGE_DELIVERY
      - MESSAGE_INBOUND
      - MESSAGE_INBOUND_SMART_CONVERSATION_REDACTION
      - MESSAGE_SUBMIT
      - OPT_IN
      - OPT_OUT
      - RECORD_NOTIFICATION
      - SMART_CONVERSATION
      - UNSUPPORTED
      description: An array of triggers that should trigger the webhook and result in an event being sent to the target url.
    BundlesInputConversationAppDispatchRetentionPolicyTypesEnum:
      type: string
      const: MESSAGE_EXPIRE_POLICY
      description: "\nConversation API dispatch retention policy type.\n    "
    BundlesHttpStatusCodeEnum:
      type: number
      enum:
      - 100
      - 101
      - 102
      - 103
      - 200
      - 201
      - 202
      - 203
      - 204
      - 205
      - 206
      - 207
      - 208
      - 226
      - 300
      - 301
      - 302
      - 303
      - 304
      - 305
      - 306
      - 307
      - 308
      - 400
      - 401
      - 402
      - 403
      - 404
      - 405
      - 406
      - 407
      - 408
      - 409
      - 410
      - 411
      - 412
      - 413
      - 414
      - 415
      - 416
      - 417
      - 418
      - 421
      - 422
      - 423
      - 424
      - 425
      - 426
      - 428
      - 429
      - 431
      - 451
      - 500
      - 501
      - 502
      - 503
      - 504
      - 505
      - 506
      - 507
      - 508
      - 510
      - 511
    BundlesConversationAppConsentManagerSettingsInputDto:
      type: object
      properties:
        mode:
          x-enumDescriptions:
            DISABLED: The consent manager integration is disabled.
            PRIMARY: The consent manager utilizes the primary data governance tracking mode.
            SECONDARY: The consent manager utilizes the secondary data governance fallback tracking mode.
          description: "\nConversation API consent manager settings mode.\n    "
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesInputConversationAppConsentManagerSettingsModesEnum'
      required:
      - mode
    BundlesInputConversationAppProcessingModesEnum:
      type: string
      enum:
      - CONVERSATION
      - DISPATCH
      description: "\nConversation API processing mode. May be changed later by using Conversation App API.\n    "
    BundlesBundlesDto:
      type: object
      properties:
        id:
          type: string
          description: Id of bundle created.
          uniqueItems: false
        projectId:
          type: string
          description: The project or subproject id where resources have been created.
          uniqueItems: false
        name:
          type: string
          description: Name of bundle created. If a name was not specified in the resource blocks then they were created with this name.
          maxLength: 255
          uniqueItems: false
        state:
          x-enumDescriptions:
            DONE: The service setup has completed successfully.
            FAILED: The service setup failed and requires troubleshooting or manual retry.
            IN_PROGRESS: The service setup is currently executing.
          description: Current state.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesBundleServicesStateEnum'
        webhookDeliveryStatuses:
          description: List delivery statuses for all BUNDLE_DONE webhooks.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/BundlesWebhookDeliveryStatusDto'
        region:
          x-enumDescriptions:
            BR: The resources are provisioned and active within the Brazil region.
            EU: The resources are provisioned and active within the Europe region.
            US: The resources are provisioned and active within the United States region.
          description: Region resources were create in.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesBundlesRegionEnum'
        subproject:
          description: Subproject created, if requested.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesSubprojectDto'
        smsApp:
          description: SMS App created, if requested.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesBundlesSmsAppDto'
        convApp:
          description: Conversation App created, if requested.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesConversationAppDto'
        webhooks:
          description: Webhooks registered, if requested.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/BundlesWebhookDto'
      required:
      - id
      - projectId
      - state
      - region
    BundlesWebhooksWebhookTriggerEnum:
      type: string
      enum:
      - BATCH_DELIVERY_REPORT_FULL
      - BATCH_DELIVERY_REPORT_SUMMARY
      - BATCH_STATUS_UPDATE
      - BILLING_CREDIT_LIMIT_BREACHED
      - CAPABILITY
      - CHANNEL_EVENT
      - CONSENT_BATCH_COMPLETE
      - CONTACT_CREATE
      - CONTACT_DELETE
      - CONTACT_IDENTITIES_DUPLICATION
      - CONTACT_MERGE
      - CONTACT_UPDATE
      - CONVERSATION_DELETE
      - CONVERSATION_START
      - CONVERSATION_STOP
      - EVENT_DELIVERY
      - EVENT_INBOUND
      - MESSAGE_DELIVERY
      - MESSAGE_INBOUND
      - MESSAGE_INBOUND_SMART_CONVERSATION_REDACTION
      - MESSAGE_SUBMIT
      - OPT_IN
      - OPT_OUT
      - RECORD_NOTIFICATION
      - SMART_CONVERSATION
      - UNRECOGNIZED
      - UNSPECIFIED_TRIGGER
      - UNSUPPORTED
      description: An array of triggers that should trigger the webhook and result in an event being sent to the target url.
    BundlesConversationAppConsentManagerSettingsModesEnum:
      type: string
      enum:
      - DISABLED
      - PRIMARY
      - SECONDARY
      - UNRECOGNIZED
      description: "\nConversation API consent manager settings mode.\n    "
    BundlesInputConversationAppConsentManagerSettingsModesEnum:
      type: string
      enum:
      - DISABLED
      - PRIMARY
      - SECONDARY
      description: "\nConversation API consent manager settings mode.\n    "
    BundlesConversationAppInputDto:
      type: object
      properties:
        name:
          type: string
          description: "\nName of Conversation API App to create. If not set, will use `name` from root object. If neither this value or the `name` in the root is set, then the request will fail. \n  "
          minLength: 1
          maxLength: 255
          uniqueItems: false
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/BundlesConversationAppWebhooksInputDto'
          maxItems: 5
          description: '

            Conversation API webhooks to create for the new App. See <a href="https://developers.sinch.com/docs/conversation/api-reference/conversation/tag/Webhooks/#tag/Webhooks/operation/Webhooks_CreateWebhook">Conversation API documentation</a> for all options.

            '
          uniqueItems: false
        processingMode:
          x-enumDescriptions:
            CONVERSATION: Messages are processed using conversational logic, maintaining context and state.
            DISPATCH: Messages are processed using fire-and-forget dispatch logic without active state management.
          description: "\nConversation API processing mode. May be changed later by using Conversation App API.\n    "
          default: DISPATCH
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesInputConversationAppProcessingModesEnum'
        retentionPolicy:
          oneOf:
          - $ref: '#/components/schemas/BundlesConversationAppConversationRetentionPolicyInputDto'
            description: "\nRetention policy in CONVERSATION mode.\n        "
          - $ref: '#/components/schemas/BundlesConversationAppDispatchRetentionPolicyInputDto'
            description: "\nRetention policy in DISPATCH mode.\n        "
          description: "\nConversation API retention policy for messages and conversations. May be changed later by using Conversation App API.\n    "
          uniqueItems: false
        consentManagerSettings:
          description: Conversation API consent manager settings.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesConversationAppConsentManagerSettingsInputDto'
    BundlesInputBundlesDto:
      type: object
      properties:
        name:
          type: string
          examples:
          - Sample bundle
          description: Name of bundle to create. If a name is not specified in the resource blocks then they will be created with this name.
          minLength: 1
          maxLength: 255
          uniqueItems: false
        region:
          x-enumDescriptions:
            BR: Specifies that the resources should be provisioned within the Brazil region.
            EU: Specifies that the resources should be provisioned within the Europe region.
            US: Specifies that the resources should be provisioned within the United States region.
          example: US
          description: "Region to create resources in.\n (Allowed values for staging environment: `EU` or `US`)."
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesBundlesInputRegionEnum'
        subproject:
          oneOf:
          - $ref: '#/components/schemas/BundlesSubprojectInputDto'
          - type: boolean
            description: Set to `true` to use default values. Set to `false` or omit to not create a subproject.
          example: true
          description: "\nSubproject resource block.\n\nIf set to true, a subproject will be created under the provided projectId with default name from the root object. Optionally a different name can be specified as well as labels on the project.\n\nIf not provided or set to false, a subproject will not be created and instead all resources will be created under the projectId provided in the request.\n  "
          uniqueItems: false
        smsApp:
          oneOf:
          - $ref: '#/components/schemas/BundlesInputBundlesSmsAppDto'
          - type: boolean
            description: Set to `true` to use default values. Set to `false` or omit to not create an SMS app.
          example: true
          description: "\nSMS Application resource block.\n\nIf set to true, an SMS Application will be created under the project or subproject specified. Optionally a different name can specified.\n\nIf not provided or set to false, an SMS Application will not be created.\n  "
          uniqueItems: false
        convApp:
          oneOf:
          - $ref: '#/components/schemas/BundlesConversationAppInputDto'
          - type: boolean
            description: Set to `true` to use default values. Set to `false` or omit to not create a Conversation API app.
          example: true
          description: "\nConversation Application resource block.\n\nIf set to true, a Conversation Application will be created under the project or subproject specified. All other resources created will be associated with the Conversation Application.\nOptionally a different name can specified as well as Conversation API webhooks.\n\nIf not provided or set to `false`, a Conversation Application will not be created.\n  "
          uniqueItems: false
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/BundlesWebhookInputDto'
          uniqueItems: true
          minItems: 1
          maxItems: 15
          description: "\nWebhook targets for the Provisioning API.\n  \nField 'target' must have unique values across items.\n  "
      required:
      - region
    BundlesConversationAppWebhooksInputDto:
      type: object
      properties:
        target:
          type: string
          maxLength: 742
          description: The target url where events should be sent to. The conversation-api.*.sinch.com subdomains are forbidden.
          uniqueItems: false
        triggers:
          type: array
          x-enumDescriptions:
            BATCH_DELIVERY_REPORT_FULL: Triggers when a complete batch delivery report payload is ready for dispatch.
            BATCH_DELIVERY_REPORT_SUMMARY: Triggers when a summary representation of a batch delivery report is generated.
            BATCH_STATUS_UPDATE: Triggers when the general state of a message batch updates.
            BILLING_CREDIT_LIMIT_BREACHED: Triggers when the associated account breaches its pre-configured billing credit boundary.
            CAPABILITY: Triggers when the operational capabilities of a target contact identity are updated.
            CHANNEL_EVENT: Triggers when an isolated event occurs on an active communication channel.
            CONSENT_BATCH_COMPLETE: Triggers when the bulk processing configuration for user consent data completes execution.
            CONTACT_CREATE: Triggers when a completely new contact identity profile is registered.
            CONTACT_DELETE: Triggers when an existing contact identity profile is removed from storage.
            CONTACT_IDENTITIES_DUPLICATION: Triggers when identical unique fields are detected across multiple customer records.
            CONTACT_MERGE: Triggers when independent user identity footprints consolidate into a single record.
            CONTACT_UPDATE: Triggers when specific configuration attributes on a profile are updated.
            CONVERSATION_DELETE: Triggers when an active or historic interaction footprint is purged from log data.
            CONVERSATION_START: Triggers when a fresh interaction loop initializes with a target identity.
            CONVERSATION_STOP: Triggers when an ongoing session loop explicitly terminates or expires.
            EVENT_DELIVERY: Triggers when a system or channel action event is successfully dispatched to the target.
            EVENT_INBOUND: Triggers when an external system or user action payload enters the API processing cycle.
            MESSAGE_DELIVERY: Triggers when a communication text or rich data asset successfully targets the destination node.
            MESSAGE_INBOUND: Triggers when an incoming communication piece from an end-user hits the messaging gateway.
            MESSAGE_INBOUND_SMART_CONVERSATION_REDACTION: Triggers when a message object undergoes automated sensitive data scrubbing prior to ingestion.
            MESSAGE_SUBMIT: Triggers when an explicit delivery request is initially registered by the API ingestion layer.
            OPT_IN: Triggers when a client record submits a confirmation to receive notifications.
            OPT_OUT: Triggers when a client record revokes baseline authorization to receive outbound communication.
            RECORD_NOTIFICATION: Triggers when an internal system audit log changes state.
            SMART_CONVERSATION: Triggers when natural language workflows process automated contextual interaction variables.
            UNSUPPORTED: Triggers when an incoming trigger structure fails validation criteria.
          uniqueItems: true
          maxLength: 20
          description: An array of triggers that should trigger the webhook and result in an event being sent to the target url.
          items:
            $ref: '#/components/schemas/BundlesWebhooksInputWebhookTriggerEnum'
        secret:
          type: string
          description: Optional secret used to sign contents of webhooks sent by the Conversation API. You can then use the secret to verify the signature.
          uniqueItems: false
        targetType:
          x-enumDescriptions:
            DISMISS: Drops the payload without executing delivery attempts to any destinations.
            GRPC: Routes the payload directly via an active gRPC stream connection.
            HTTP: Dispatches the payload via a standard HTTP POST callback configuration.
          description: Conversation API webhook target type.
          default: HTTP
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesInputWebhookTargetTypesEnum'
      required:
      - target
      - triggers
    BundlesConversationAppConsentManagerSettingsDto:
      type: object
      properties:
        mode:
          x-enumDescriptions:
            DISABLED: The consent manager integration is disabled.
            PRIMARY: The consent manager utilizes the primary data governance tracking mode.
            SECONDARY: The consent manager utilizes the secondary data governance fallback tracking mode.
            UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
          description: "\nConversation API consent manager settings mode.\n    "
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesConversationAppConsentManagerSettingsModesEnum'
      required:
      - mode
    BundlesWebhookInputDto:
      type: object
      properties:
        target:
          type: string
          description: A valid target url where events should be sent to.
          maxLength: 742
          minLength: 1
          format: url
          uniqueItems: false
        secret:
          type: string
          description: Secret to be used to sign contents of webhooks sent by the provisioning API. You can then use the secret to verify the signature. Please not that secret should have a high entropy to be considered secure.
          maxLength: 128
          minLength: 1
          uniqueItems: false
        triggers:
          type: array
          x-enumDescriptions:
            BUNDLE_DONE: Webhook event triggered when a bundle processing flow is completed.
            RCS_BRAND_REGISTRATION_PROCESS_STATUS_UPDATED: Webhook event triggered when the RCS brand registration process status changes.
            RCS_SENDER_COMMENT_ADDED: Webhook event triggered when a new comment is added to an RCS sender.
            RCS_SENDER_OPERATOR_STATUS_UPDATED: Webhook event triggered when an RCS sender operator status changes.
            RCS_SENDER_STATUS_UPDATED: Webhook event triggered when an RCS sender status changes.
            RCS_ACCOUNT_COMMENT_ADDED: Webhook event triggered when a new comment is added to an RCS account.
            KAKAOTALK_SENDER_ACTIVE: Webhook event triggered when a KakaoTalk sender becomes active.
            KAKAOTALK_SENDER_INACTIVE: Webhook event triggered when a KakaoTalk sender becomes inactive.
            KAKAOTALK_SENDER_REJECTED: Webhook event triggered when a KakaoTalk sender is rejected.
            KAKAOTALK_SENDER_COMMENT_ADDED: Webhook event triggered when a new comment is added to a KakaoTalk sender.
            KAKAOTALK_TEMPLATE_APPROVED: Webhook event triggered when a KakaoTalk template is approved.
            KAKAOTALK_TEMPLATE_COMMENT_ADDED: Webhook event triggered when a new comment is added to a KakaoTalk template.
            KAKAOTALK_TEMPLATE_REJECTED: Webhook event triggered when a KakaoTalk template is rejected.
            WHATSAPP_ACCOUNT_ONBOARDED: Webhook event triggered when a WhatsApp account onboarding is completed.
            WHATSAPP_ACCOUNT_PENDING_VERIFICATION: Webhook event triggered when a WhatsApp account is pending verification.
            WHATSAPP_ACCOUNT_REJECTED: Webhook event triggered when a WhatsApp account is rejected.
            WHATSAPP_ACCOUNT_COMMENT_ADDED: Webhook event triggered when a new comment is added to a WhatsApp account.
            WHATSAPP_ACCOUNT_DAILY_LIMIT_CHANGED: Webhook event triggered when a WhatsApp account daily messaging limit changes.
            WHATSAPP_WABA_ACCOUNT_CHANGED: Webhook event triggered when the linked WhatsApp Business Account changes.
            WHATSAPP_SENDER_ACTIVE: Webhook event triggered when a WhatsApp sender becomes active.
            WHATSAPP_SENDER_INACTIVE: Webhook event triggered when a WhatsApp sender becomes inactive.
            WHATSAPP_SENDER_REJECTED: Webhook event triggered when a WhatsApp sender is rejected.
            WHATSAPP_SENDER_DELETED: Webhook event triggered when a WhatsApp sender is deleted.
            WHATSAPP_SENDER_DISPLAY_NAME_UPDATED: Webhook event triggered when a WhatsApp sender display name is updated.
            WHATSAPP_SENDER_ERROR: Webhook event triggered when a WhatsApp sender enters an error state.
            WHATSAPP_SENDER_PENDING_VERIFICATION: Webhook event triggered when a WhatsApp sender is pending verification.
            WHATSAPP_SENDER_COMMENT_ADDED: Webhook event triggered when a new comment is added to a WhatsApp sender.
            WHATSAPP_SENDER_DAILY_LIMIT_CHANGED: Webhook event triggered when a WhatsApp sender daily messaging limit changes.
            WHATSAPP_SENDER_QUALITY_RATING_CHANGED: Webhook event triggered when a WhatsApp sender quality rating changes.
            WHATSAPP_SENDER_USERNAME_UPDATED: Webhook event triggered when a WhatsApp sender username is updated.
            WHATSAPP_TEMPLATE_APPROVED: Webhook event triggered when a WhatsApp template is approved.
            WHATSAPP_TEMPLATE_REJECTED: Webhook event triggered when a WhatsApp template is rejected.
            WHATSAPP_TEMPLATE_DELETED: Webhook event triggered when a WhatsApp template is deleted.
            WHATSAPP_TEMPLATE_COMMENT_ADDED: Webhook event triggered when a new comment is added to a WhatsApp template.
            WHATSAPP_TEMPLATE_STATUS_UPDATED: Webhook event triggered when a WhatsApp template status changes.
            WHATSAPP_TEMPLATE_CATEGORY_UPDATED: Webhook event triggered when a WhatsApp template category changes.
            WHATSAPP_TEMPLATE_CATEGORY_FUTURE_UPDATE: Webhook event triggered when a future WhatsApp template category update is scheduled.
            WHATSAPP_TEMPLATE_QUALITY_SCORE_UPDATED: Webhook event triggered when a WhatsApp template quality score changes.
            ALL: Webhook event triggered for all supported events.
          uniqueItems: true
          minItems: 1
          description: 'List of triggers you want to be notified about on your webhook. To be able to listen to all type of events use `ALL`.

            - Common: `ALL`

            - Bundles: `BUNDLE_DONE`

            - WhatsApp Sender: `WHATSAPP_SENDER_ACTIVE`, `WHATSAPP_SENDER_COMMENT_ADDED`, `WHATSAPP_SENDER_DAILY_LIMIT_CHANGED`, `WHATSAPP_SENDER_DELETED`, `WHATSAPP_SENDER_DISPLAY_NAME_UPDATED`, `WHATSAPP_SENDER_ERROR`, `WHATSAPP_SENDER_INACTIVE`, `WHATSAPP_SENDER_PENDING_VERIFICATION`, `WHATSAPP_SENDER_QUALITY_RATING_CHANGED`, `WHATSAPP_SENDER_REJECTED` or `WHATSAPP_SENDER_USERNAME_UPDATED`

            - WhatsApp Template: `WHATSAPP_TEMPLATE_APPROVED`, `WHATSAPP_TEMPLATE_CATEGORY_FUTURE_UPDATE`, `WHATSAPP_TEMPLATE_CATEGORY_UPDATED`, `WHATSAPP_TEMPLATE_COMMENT_ADDED`, `WHATSAPP_TEMPLATE_DELETED`, `WHATSAPP_TEMPLATE_QUALITY_SCORE_UPDATED`, `WHATSAPP_TEMPLATE_REJECTED` or `WHATSAPP_TEMPLATE_STATUS_UPDATED`

            - WhatsApp Account: `WHATSAPP_ACCOUNT_COMMENT_ADDED`, `WHATSAPP_ACCOUNT_DAILY_LIMIT_CHANGED`, `WHATSAPP_ACCOUNT_ONBOARDED`, `WHATSAPP_ACCOUNT_PENDING_VERIFICATION`, `WHATSAPP_ACCOUNT_REJECTED` or `WHATSAPP_WABA_ACCOUNT_CHANGED`

            - RCS Sender: `RCS_BRAND_REGISTRATION_PROCESS_STATUS_UPDATED`, `RCS_SENDER_COMMENT_ADDED`, `RCS_SENDER_OPERATOR_STATUS_UPDATED` or `RCS_SENDER_STATUS_UPDATED`

            - KakaoTalk Sender: `KAKAOTALK_SENDER_ACTIVE`, `KAKAOTALK_SENDER_COMMENT_ADDED`, `KAKAOTALK_SENDER_INACTIVE` or `KAKAOTALK_SENDER_REJECTED`

            - KakaoTalk Template: `KAKAOTALK_TEMPLATE_APPROVED`, `KAKAOTALK_TEMPLATE_COMMENT_ADDED` or `KAKAOTALK_TEMPLATE_REJECTED`'
          items:
            $ref: '#/components/schemas/BundlesWebhookTriggersEnum'
      required:
      - target
      - secret
      - triggers
    BundlesInputBundlesSmsAppDto:
      type: object
      properties:
        test:
          type: boolean
          default: false
          deprecated: true
          description: Deprecated. This field is no longer used and will be removed in a future release.
          uniqueItems: false
        name:
          type: string
          description: "\nName of SMS App to create. If not set, will use `name` from root object. If neither this value or the `name` in the root is set, then the request will fail. \n"
          minLength: 1
          maxLength: 255
          uniqueItems: false
    BundlesWebhookDeliveryStatusDto:
      type: object
      properties:
        webhookId:
          type: string
          uniqueItems: false
        httpStatusCode:
          x-enumDescriptions:
            '100': The server has received the request headers and the client should proceed to send the request body.
            '101': The server understands and is willing to comply with the client request to switch protocols.
            '102': The server has received and is processing the request, but no response is available yet.
            '103': Returns intermediate response headers before the final HTTP message, primarily used for preloading resources.
            '200': The request has succeeded and the payload is returned in the response.
            '201': The request has succeeded and a new resource has been successfully created as a result.
            '202': The request has been accepted for processing, but the processing has not been completed.
            '203': The returned metainformation is not identical to that at the origin server.
            '204': The request has succeeded but there is no additional content to send in the response payload.
            '205': The server successfully processed the request and requires the client to reset the document view.
            '206': The server is successfully delivering part of the resource due to a range header sent by the client.
            '207': Provides status for multiple independent operations within a single response message.
            '208': The members of a DAV binding have already been enumerated in a previous part of the multi-status response.
            '226': The server has completed a GET request for the resource, and the response is a representation of one or more instance-manipulations.
            '300': The requested resource has multiple representations, each with its own specific location.
            '301': The requested resource has been assigned a new permanent URI and any future references should use this URI.
            '302': The requested resource resides temporarily under a different URI.
            '303': The server directs the client to get the requested resource at another URI with a GET request.
            '304': Indicates that the resource has not been modified since the version specified by the request headers.
            '305': The requested resource must be accessed through the proxy given by the location field.
            '306': No longer used. Originally intended to direct the client to use a different proxy for subsequent requests.
            '307': The requested resource resides temporarily under a different URI, and the client must use the original method.
            '308': The requested resource has been assigned a new permanent URI, and the client must retain the original request method.
            '400': The server cannot or will not process the request due to something that is perceived to be a client error.
            '401': The request requires user authentication. The client must authenticate itself to get the requested response.
            '402': Reserved for future use. Originally intended to indicate that digital payment systems are required.
            '403': The client does not have access rights to the content; the server is refusing to give the requested resource.
            '404': The server cannot find the requested resource or the origin server is willing to hide its existence.
            '405': The request method is known by the server but is not supported by the target resource.
            '406': The target resource does not have a current representation that would be acceptable to the user agent.
            '407': The client must first authenticate itself with the proxy before proceeding.
            '408': The server timed out waiting for the client request; the connection was closed without completing the transfer.
            '409': The request could not be completed due to a conflict with the current state of the target resource.
            '410': The requested resource is no longer available at the server and no forwarding address is known.
            '411': The server refuses to accept the request without a defined Content-Length header field.
            '412': One or more preconditions given in the request header fields evaluated to false when tested on the server.
            '413': The server refuses to process a request because the request payload is larger than the server is willing or able to process.
            '414': The server refuses to service the request because the request target URI is longer than the server is willing to interpret.
            '415': The origin server refuses to service the request because the payload is in an unsupported format.
            '416': The range specified by the Range header field in the request cannot be fulfilled by the server.
            '417': The expectation given in the Expect request header field could not be met by at least one inbound server.
            '418': The server refuses to brew coffee because it is, permanently, a teapot.
            '421': The request was directed at a server that is not able to produce a response for that specific connection.
            '422': The server understands the content type and syntax of the request, but was unable to process the contained instructions.
            '423': The source or destination resource of a method is locked and cannot be modified.
            '424': The method could not be performed because the requested action depended on another action that failed.
            '425': The server is unwilling to risk processing a request that might be replayed during a TLS early data attack.
            '426': The server refuses to perform the request using the current protocol but might do so after the client upgrades to a different protocol.
            '428': The origin server requires the request to be conditional to avoid race conditions.
            '429': The user has sent too many requests in a given amount of time, exceeding the rate limits.
            '431': The server is unwilling to process the request because its header fields are too large.
            '451': The user agent requested a resource that cannot legally be provided, such as a website blocked by a government.
            '500': The server encountered an unexpected condition that prevented it from fulfilling the request.
            '501': The server does not support the functionality required to fulfill the request.
            '502': The server, while acting as a gateway or proxy, received an invalid response from the upstream server.
            '503': The server is currently unable to handle the request due to a temporary overloading or maintenance of the server.
            '504': The server, while acting as a gateway or proxy, did not receive a timely response from the upstream server.
            '505': The server does not support, or refuses to support, the major version of HTTP that was used in the request message.
            '506': The server has an internal configuration error where the chosen variant resource is configured to engage in transparent content negotiation itself.
            '507': The method could not be performed on the resource because the server is unable to store the representation needed to complete the request.
            '508': The server terminated an operation because it encountered an infinite loop while processing a conditional request.
            '510': Further extensions to the request are required for the server to fulfill it.
            '511': The client needs to authenticate to gain network access before sending requests.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesHttpStatusCodeEnum'
        errorMessage:
          type: string
          uniqueItems: false
        date:
          type: string
          uniqueItems: false
      required:
      - webhookId
      - httpStatusCode
      - date
    BundlesConversationAppDto:
      type: object
      properties:
        id:
          type: string
          description: Conversation App id.
          uniqueItems: false
        name:
          type: string
          description: Name of Conversation App.
          maxLength: 255
          uniqueItems: false
        webhooks:
          type: array
          items:
            $ref: '#/components/schemas/BundlesConversationAppWebhooksDto'
          maxItems: 5
          description: List all webhooks for a given app.
          uniqueItems: false
        processingMode:
          x-enumDescriptions:
            CONVERSATION: Messages are processed using conversational logic, maintaining context and state.
            DISPATCH: Messages are processed using fire-and-forget dispatch logic without active state management.
            UNSPECIFIED: The message processing mode is unspecified.
            UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
          description: Conversation API processing mode.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesConversationAppProcessingModesEnum'
        retentionPolicy:
          description: Conversation API retention policy for messages and conversations.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesConversationAppRetentionPolicyDto'
        consentManagerSettings:
          description: Conversation API consent manager settings.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesConversationAppConsentManagerSettingsDto'
        smsChannelStatus:
          x-enumDescriptions:
            ACTIVE: The channel integration is active and operating as expected.
            FAILING: The channel integration is failing and requires manual troubleshooting.
            PENDING: The channel integration setup or synchronization is pending completion.
            UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
          description: Status of the SMS channel credentials integration.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesConversationAppChannelIntegrationStatusEnum'
      required:
      - id
      - name
      - processingMode
    BundlesConversationAppChannelIntegrationStatusEnum:
      type: string
      enum:
      - ACTIVE
      - FAILING
      - PENDING
      - UNRECOGNIZED
      description: Status of the SMS channel credentials integration.
    BundlesConversationAppRetentionPolicyTypesEnum:
      type: string
      enum:
      - CONVERSATION_EXPIRE_POLICY
      - MESSAGE_EXPIRE_POLICY
      - PERSIST_RETENTION_POLICY
      - UNRECOGNIZED
      description: "\nConversation API retention policy type.\n    "
    BundlesBundleServicesStateEnum:
      type: string
      enum:
      - DONE
      - FAILED
      - IN_PROGRESS
      description: Current state.
    BundlesListBundlesDto:
      type: object
      properties:
        totalSize:
          type: number
          description: Total size of the entries matching the search query.
          uniqueItems: false
        pageSize:
          type: number
          description: Requested size of the page.
          uniqueItems: false
        previousPageToken:
          type: string
          description: Encoded token to use in list request to fetch previous batch of entries.
          uniqueItems: false
        nextPageToken:
          type: string
          description: Encoded token to use in list request to fetch next batch of entries.
          uniqueItems: false
        bundles:
          description: List of bundles.
          uniqueItems: false
          type: array
          items:
            $ref: '#/components/schemas/BundlesBundlesDto'
      required:
      - totalSize
      - pageSize
      - bundles
    BundlesWebhookTriggersEnum:
      type: string
      enum:
      - ALL
      - BUNDLE_DONE
      - KAKAOTALK_SENDER_ACTIVE
      - KAKAOTALK_SENDER_COMMENT_ADDED
      - KAKAOTALK_SENDER_INACTIVE
      - KAKAOTALK_SENDER_REJECTED
      - KAKAOTALK_TEMPLATE_APPROVED
      - KAKAOTALK_TEMPLATE_COMMENT_ADDED
      - KAKAOTALK_TEMPLATE_REJECTED
      - RCS_BRAND_REGISTRATION_PROCESS_STATUS_UPDATED
      - RCS_SENDER_COMMENT_ADDED
      - RCS_SENDER_OPERATOR_STATUS_UPDATED
      - RCS_SENDER_STATUS_UPDATED
      - RCS_ACCOUNT_COMMENT_ADDED
      - WHATSAPP_ACCOUNT_COMMENT_ADDED
      - WHATSAPP_ACCOUNT_DAILY_LIMIT_CHANGED
      - WHATSAPP_ACCOUNT_ONBOARDED
      - WHATSAPP_ACCOUNT_PENDING_VERIFICATION
      - WHATSAPP_ACCOUNT_REJECTED
      - WHATSAPP_WABA_ACCOUNT_CHANGED
      - WHATSAPP_SENDER_ACTIVE
      - WHATSAPP_SENDER_COMMENT_ADDED
      - WHATSAPP_SENDER_DAILY_LIMIT_CHANGED
      - WHATSAPP_SENDER_DELETED
      - WHATSAPP_SENDER_DISPLAY_NAME_UPDATED
      - WHATSAPP_SENDER_ERROR
      - WHATSAPP_SENDER_INACTIVE
      - WHATSAPP_SENDER_PENDING_VERIFICATION
      - WHATSAPP_SENDER_QUALITY_RATING_CHANGED
      - WHATSAPP_SENDER_REJECTED
      - WHATSAPP_SENDER_USERNAME_UPDATED
      - WHATSAPP_TEMPLATE_APPROVED
      - WHATSAPP_TEMPLATE_CATEGORY_FUTURE_UPDATE
      - WHATSAPP_TEMPLATE_CATEGORY_UPDATED
      - WHATSAPP_TEMPLATE_COMMENT_ADDED
      - WHATSAPP_TEMPLATE_DELETED
      - WHATSAPP_TEMPLATE_QUALITY_SCORE_UPDATED
      - WHATSAPP_TEMPLATE_REJECTED
      - WHATSAPP_TEMPLATE_STATUS_UPDATED
      description: 'List of triggers you want to be notified about on your webhook. To be able to listen to all type of events use `ALL`.

        - Common: `ALL`

        - Bundles: `BUNDLE_DONE`

        - WhatsApp Sender: `WHATSAPP_SENDER_ACTIVE`, `WHATSAPP_SENDER_COMMENT_ADDED`, `WHATSAPP_SENDER_DAILY_LIMIT_CHANGED`, `WHATSAPP_SENDER_DELETED`, `WHATSAPP_SENDER_DISPLAY_NAME_UPDATED`, `WHATSAPP_SENDER_ERROR`, `WHATSAPP_SENDER_INACTIVE`, `WHATSAPP_SENDER_PENDING_VERIFICATION`, `WHATSAPP_SENDER_QUALITY_RATING_CHANGED`, `WHATSAPP_SENDER_REJECTED` or `WHATSAPP_SENDER_USERNAME_UPDATED`

        - WhatsApp Template: `WHATSAPP_TEMPLATE_APPROVED`, `WHATSAPP_TEMPLATE_CATEGORY_FUTURE_UPDATE`, `WHATSAPP_TEMPLATE_CATEGORY_UPDATED`, `WHATSAPP_TEMPLATE_COMMENT_ADDED`, `WHATSAPP_TEMPLATE_DELETED`, `WHATSAPP_TEMPLATE_QUALITY_SCORE_UPDATED`, `WHATSAPP_TEMPLATE_REJECTED` or `WHATSAPP_TEMPLATE_STATUS_UPDATED`

        - WhatsApp Account: `WHATSAPP_ACCOUNT_COMMENT_ADDED`, `WHATSAPP_ACCOUNT_DAILY_LIMIT_CHANGED`, `WHATSAPP_ACCOUNT_ONBOARDED`, `WHATSAPP_ACCOUNT_PENDING_VERIFICATION`, `WHATSAPP_ACCOUNT_REJECTED` or `WHATSAPP_WABA_ACCOUNT_CHANGED`

        - RCS Sender: `RCS_BRAND_REGISTRATION_PROCESS_STATUS_UPDATED`, `RCS_SENDER_COMMENT_ADDED`, `RCS_SENDER_OPERATOR_STATUS_UPDATED` or `RCS_SENDER_STATUS_UPDATED`

        - KakaoTalk Sender: `KAKAOTALK_SENDER_ACTIVE`, `KAKAOTALK_SENDER_COMMENT_ADDED`, `KAKAOTALK_SENDER_INACTIVE` or `KAKAOTALK_SENDER_REJECTED`

        - KakaoTalk Template: `KAKAOTALK_TEMPLATE_APPROVED`, `KAKAOTALK_TEMPLATE_COMMENT_ADDED` or `KAKAOTALK_TEMPLATE_REJECTED`'
    BundlesConversationAppDispatchRetentionPolicyInputDto:
      type: object
      properties:
        retentionPolicyType:
          x-enumDescriptions:
            MESSAGE_EXPIRE_POLICY: Specifies that dispatched messages expire after the configured retention period.
          description: "\nConversation API dispatch retention policy type.\n    "
          default: MESSAGE_EXPIRE_POLICY
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesInputConversationAppDispatchRetentionPolicyTypesEnum'
        ttl:
          type: number
          minimum: 0
          maximum: 7
          description: "\nConversation API dispatch retention time in days.\n    "
          default: 7
          uniqueItems: false
    BundlesConversationAppWebhooksDto:
      type: object
      properties:
        id:
          type: string
          description: The ID of the webhook.
          uniqueItems: false
        target:
          type: string
          maxLength: 742
          description: The target url where events should be sent to.
          uniqueItems: false
        triggers:
          type: array
          x-enumDescriptions:
            BATCH_DELIVERY_REPORT_FULL: The event payload signifies a complete batch delivery report execution loop.
            BATCH_DELIVERY_REPORT_SUMMARY: The event payload signifies a condensed data summary of a batch delivery footprint.
            BATCH_STATUS_UPDATE: The event payload signifies a progressive operational change in an active message batch.
            BILLING_CREDIT_LIMIT_BREACHED: The event payload signifies that account messaging balances have exceeded soft credit caps.
            CAPABILITY: The event payload signifies an explicit update to the underlying destination parameters.
            CHANNEL_EVENT: The event payload signifies a native interaction anomaly or change on the network tier.
            CONSENT_BATCH_COMPLETE: The event payload signifies that group user permissions have finished compiling.
            CONTACT_CREATE: The event payload signifies that a fresh contact record has entered active storage.
            CONTACT_DELETE: The event payload signifies the explicit extraction of a contact record from system indexes.
            CONTACT_IDENTITIES_DUPLICATION: The event payload signifies that matching unique pointers exist within parallel client rows.
            CONTACT_MERGE: The event payload signifies that redundant system identity fragments consolidated.
            CONTACT_UPDATE: The event payload signifies modified operational information inside an existing profile block.
            CONVERSATION_DELETE: The event payload signifies that a session context data footprint has been purged.
            CONVERSATION_START: The event payload signifies that a synchronous messaging session context has successfully spun up.
            CONVERSATION_STOP: The event payload signifies that a session interaction path has timed out or finished.
            EVENT_DELIVERY: The event payload signifies the confirmed routing of a channel context event.
            EVENT_INBOUND: The event payload signifies an incoming channel context packet arriving from an exterior service.
            MESSAGE_DELIVERY: The event payload signifies a confirmed successful transit milestone to the recipient endpoint.
            MESSAGE_INBOUND: The event payload signifies an active user response or message arrival at the gateway layer.
            MESSAGE_INBOUND_SMART_CONVERSATION_REDACTION: The event payload signifies a user message that has been automatically modified to strip sensitive parameters.
            MESSAGE_SUBMIT: The event payload signifies that an outbound message request has completed original system ingestion.
            OPT_IN: The event payload signifies a distinct user action authorizing outbound communications.
            OPT_OUT: The event payload signifies an explicit customer action withdrawing notification authorization.
            RECORD_NOTIFICATION: The event payload signifies an audit or event observation milestone update.
            SMART_CONVERSATION: The event payload signifies the evaluation phase completion of an intelligent agent workflow.
            UNSPECIFIED_TRIGGER: The event payload lacks explicit category properties or contains a legacy definition structure.
            UNSUPPORTED: The event payload matches a recognized platform definition but remains unconfigured on this service.
            UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
          maxItems: 20
          uniqueItems: true
          description: An array of triggers that should trigger the webhook and result in an event being sent to the target url.
          items:
            $ref: '#/components/schemas/BundlesWebhooksWebhookTriggerEnum'
        secret:
          type: string
          description: Optional secret used to sign contents of webhooks sent by the Conversation API. You can then use the secret to verify the signature.
          uniqueItems: false
      required:
      - id
      - target
      - triggers
    BundlesWebhookDto:
      type: object
      properties:
        id:
          type: string
          description: The ID of the webhook.
          uniqueItems: false
        target:
          type: string
          description: The target url where events will be sent to.
          uniqueItems: false
        projectId:
          type: string
          description: The project that this webhook belongs to.
          uniqueItems: false
        triggers:
          type: array
          x-enumDescriptions:
            BUNDLE_DONE: Webhook event triggered when a bundle processing flow is completed.
            RCS_BRAND_REGISTRATION_PROCESS_STATUS_UPDATED: Webhook event triggered when the RCS brand registration process status changes.
            RCS_SENDER_COMMENT_ADDED: Webhook event triggered when a new comment is added to an RCS sender.
            RCS_SENDER_OPERATOR_STATUS_UPDATED: Webhook event triggered when an RCS sender operator status changes.
            RCS_SENDER_STATUS_UPDATED: Webhook event triggered when an RCS sender status changes.
            RCS_ACCOUNT_COMMENT_ADDED: Webhook event triggered when a new comment is added to an RCS account.
            KAKAOTALK_SENDER_ACTIVE: Webhook event triggered when a KakaoTalk sender becomes active.
            KAKAOTALK_SENDER_INACTIVE: Webhook event triggered when a KakaoTalk sender becomes inactive.
            KAKAOTALK_SENDER_REJECTED: Webhook event triggered when a KakaoTalk sender is rejected.
            KAKAOTALK_SENDER_COMMENT_ADDED: Webhook event triggered when a new comment is added to a KakaoTalk sender.
            KAKAOTALK_TEMPLATE_APPROVED: Webhook event triggered when a KakaoTalk template is approved.
            KAKAOTALK_TEMPLATE_COMMENT_ADDED: Webhook event triggered when a new comment is added to a KakaoTalk template.
            KAKAOTALK_TEMPLATE_REJECTED: Webhook event triggered when a KakaoTalk template is rejected.
            WHATSAPP_ACCOUNT_ONBOARDED: Webhook event triggered when a WhatsApp account onboarding is completed.
            WHATSAPP_ACCOUNT_PENDING_VERIFICATION: Webhook event triggered when a WhatsApp account is pending verification.
            WHATSAPP_ACCOUNT_REJECTED: Webhook event triggered when a WhatsApp account is rejected.
            WHATSAPP_ACCOUNT_COMMENT_ADDED: Webhook event triggered when a new comment is added to a WhatsApp account.
            WHATSAPP_ACCOUNT_DAILY_LIMIT_CHANGED: Webhook event triggered when a WhatsApp account daily messaging limit changes.
            WHATSAPP_WABA_ACCOUNT_CHANGED: Webhook event triggered when the linked WhatsApp Business Account changes.
            WHATSAPP_SENDER_ACTIVE: Webhook event triggered when a WhatsApp sender becomes active.
            WHATSAPP_SENDER_INACTIVE: Webhook event triggered when a WhatsApp sender becomes inactive.
            WHATSAPP_SENDER_REJECTED: Webhook event triggered when a WhatsApp sender is rejected.
            WHATSAPP_SENDER_DELETED: Webhook event triggered when a WhatsApp sender is deleted.
            WHATSAPP_SENDER_DISPLAY_NAME_UPDATED: Webhook event triggered when a WhatsApp sender display name is updated.
            WHATSAPP_SENDER_ERROR: Webhook event triggered when a WhatsApp sender enters an error state.
            WHATSAPP_SENDER_PENDING_VERIFICATION: Webhook event triggered when a WhatsApp sender is pending verification.
            WHATSAPP_SENDER_COMMENT_ADDED: Webhook event triggered when a new comment is added to a WhatsApp sender.
            WHATSAPP_SENDER_DAILY_LIMIT_CHANGED: Webhook event triggered when a WhatsApp sender daily messaging limit changes.
            WHATSAPP_SENDER_QUALITY_RATING_CHANGED: Webhook event triggered when a WhatsApp sender quality rating changes.
            WHATSAPP_SENDER_USERNAME_UPDATED: Webhook event triggered when a WhatsApp sender username is updated.
            WHATSAPP_TEMPLATE_APPROVED: Webhook event triggered when a WhatsApp template is approved.
            WHATSAPP_TEMPLATE_REJECTED: Webhook event triggered when a WhatsApp template is rejected.
            WHATSAPP_TEMPLATE_DELETED: Webhook event triggered when a WhatsApp template is deleted.
            WHATSAPP_TEMPLATE_COMMENT_ADDED: Webhook event triggered when a new comment is added to a WhatsApp template.
            WHATSAPP_TEMPLATE_STATUS_UPDATED: Webhook event triggered when a WhatsApp template status changes.
            WHATSAPP_TEMPLATE_CATEGORY_UPDATED: Webhook event triggered when a WhatsApp template category changes.
            WHATSAPP_TEMPLATE_CATEGORY_FUTURE_UPDATE: Webhook event triggered when a future WhatsApp template category update is scheduled.
            WHATSAPP_TEMPLATE_QUALITY_SCORE_UPDATED: Webhook event triggered when a WhatsApp template quality score changes.
            ALL: Webhook event triggered for all supported events.
          uniqueItems: true
          description: List of triggers this webhook is triggered by.
          items:
            $ref: '#/components/schemas/BundlesWebhookTriggersEnum'
      required:
      - id
      - target
      - projectId
      - triggers
    BundlesProvisioningStatesEnum:
      type: string
      enum:
      - ACTIVE
      - BLOCKED
      - DELETED
      - DEPROVISIONING
      - DEPROVISIONING_FAILED
      - FAILED_ADD
      - FAILED_BLOCK
      - FAILED_DELETE
      - FAILED_UNBLOCK
      - FAILED_UPDATE
      - IN_PROGRESS_ADD
      - IN_PROGRESS_BLOCK
      - IN_PROGRESS_DELETE
      - IN_PROGRESS_UNBLOCK
      - IN_PROGRESS_UPDATE
      - PENDING_ADD
      - PENDING_BLOCK
      - PENDING_DELETE
      - PENDING_UNBLOCK
      - PENDING_UPDATE
      - PROVISIONING
      - PROVISIONING_ADD
      - PROVISIONING_ADD_FAILED
      - PROVISIONING_BLOCK
      - PROVISIONING_BLOCK_FAILED
      - PROVISIONING_FAILED
      - PROVISIONING_UNBLOCK
      - PROVISIONING_UNBLOCK_FAILED
      - PROVISIONING_UPDATE
      - PROVISIONING_UPDATE_FAILED
      - STATUS_UNSPECIFIED
      - UNRECOGNIZED
      description: Status of SMS App.
    BundlesInputConversationAppConversationRetentionPolicyTypesEnum:
      type: string
      enum:
      - CONVERSATION_EXPIRE_POLICY
      - MESSAGE_EXPIRE_POLICY
      - PERSIST_RETENTION_POLICY
      description: "\nConversation API conversation retention policy type.\n    "
    BundlesBundlesInputRegionEnum:
      type: string
      enum:
      - BR
      - EU
      - US
      description: "Region to create resources in.\n (Allowed values for staging environment: `EU` or `US`)."
    BundlesSubprojectStatusEnum:
      type: string
      enum:
      - PENDING
      - READY
      description: Status of subproject.
    BundlesConversationAppRetentionPolicyDto:
      type: object
      properties:
        retentionPolicyType:
          x-enumDescriptions:
            CONVERSATION_EXPIRE_POLICY: The entire conversation expires after the configured retention period.
            MESSAGE_EXPIRE_POLICY: Individual messages expire after the configured retention period.
            PERSIST_RETENTION_POLICY: The conversation data is retained indefinitely until it is explicitly removed.
            UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
          description: "\nConversation API retention policy type.\n    "
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesConversationAppRetentionPolicyTypesEnum'
        ttl:
          type: number
          description: "\nConversation API retention time in days.\n    "
          uniqueItems: false
      required:
      - retentionPolicyType
    BundlesPapiErrorDto:
      type: object
      properties:
        errorCode:
          type: string
          description: Error code identifying the type of error.
          uniqueItems: false
        message:
          type: string
          description: Human-readable error message.
          uniqueItems: false
        resolution:
          type: string
          description: Suggested resolution for the error.
          uniqueItems: false
        additionalInformation:
          type: object
          additionalProperties:
            oneOf:
            - type: array
              items:
                type: string
          description: Additional context about the error.
          uniqueItems: false
      required:
      - errorCode
      - message
      - resolution
    BundlesBundlesSmsAppDto:
      type: object
      properties:
        id:
          type: string
          description: SMS App id.
          uniqueItems: false
        smsServiceId:
          type: string
          description: Id of the SMS Service which the SMS App belongs to.
          uniqueItems: false
        name:
          type: string
          description: Name of SMS App.
          uniqueItems: false
        status:
          x-enumDescriptions:
            ACTIVE: The resource is active and ready to use.
            BLOCKED: The resource is blocked and cannot be used.
            DELETED: The resource has been deleted.
            DEPROVISIONING: The resource deprovisioning is currently in progress.
            DEPROVISIONING_FAILED: The resource deprovisioning failed and requires attention.
            FAILED_ADD: Adding the resource failed during the provisioning sequence.
            FAILED_BLOCK: Blocking the resource failed during the provisioning sequence.
            FAILED_DELETE: Deleting the resource failed during the provisioning sequence.
            FAILED_UNBLOCK: Unblocking the resource failed during the provisioning sequence.
            FAILED_UPDATE: Updating the resource failed during the provisioning sequence.
            IN_PROGRESS_ADD: The resource creation sequence is currently in progress.
            IN_PROGRESS_BLOCK: The resource blocking sequence is currently in progress.
            IN_PROGRESS_DELETE: The resource deletion sequence is currently in progress.
            IN_PROGRESS_UNBLOCK: The resource unblocking sequence is currently in progress.
            IN_PROGRESS_UPDATE: The resource update sequence is currently in progress.
            PENDING_ADD: The resource creation sequence is queued and waiting to start.
            PENDING_BLOCK: The resource blocking sequence is queued and waiting to start.
            PENDING_DELETE: The resource deletion sequence is queued and waiting to start.
            PENDING_UNBLOCK: The resource unblocking sequence is queued and waiting to start.
            PENDING_UPDATE: The resource update sequence is queued and waiting to start.
            PROVISIONING: The provisioning sequence is currently in progress.
            PROVISIONING_ADD: The provisioning system is actively processing resource creation.
            PROVISIONING_ADD_FAILED: The provisioning flow failed while attempting to create the resource.
            PROVISIONING_BLOCK: The provisioning system is actively processing resource blocking.
            PROVISIONING_BLOCK_FAILED: The provisioning flow failed while attempting to block the resource.
            PROVISIONING_FAILED: The provisioning sequence failed and requires technical attention.
            PROVISIONING_UNBLOCK: The provisioning system is actively processing resource unblocking.
            PROVISIONING_UNBLOCK_FAILED: The provisioning flow failed while attempting to unblock the resource.
            PROVISIONING_UPDATE: The provisioning system is actively processing a resource update.
            PROVISIONING_UPDATE_FAILED: The provisioning flow failed while attempting to update the resource.
            STATUS_UNSPECIFIED: The provisioning status was not specified by the upstream system.
            UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
          description: Status of SMS App.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesProvisioningStatesEnum'
        regions:
          type: array
          x-enumDescriptions:
            AU: The application operates within the Australia region.
            BR: The application operates within the Brazil region.
            CA: The application operates within the Canada region.
            EU: The application operates within the Europe region.
            US: The application operates within the United States region.
            UNRECOGNIZED: The value returned by an upstream system is not recognized by this API version.
          description: List of regions of the app.
          uniqueItems: false
          items:
            $ref: '#/components/schemas/BundlesSmsAppRegionsEnum'
        test:
          type: boolean
          description: True if the app is a test app.
          uniqueItems: false
        numberVerified:
          type: boolean
          description: Indicates whether the phone number associated with the SMS app has been verified.
          uniqueItems: false
      required:
      - id
      - smsServiceId
      - name
      - status
      - regions
      - test
      - numberVerified
    BundlesSubprojectDto:
      type: object
      properties:
        id:
          type: string
          description: Subproject id.
          uniqueItems: false
        name:
          type: string
          description: Name of Subproject.
          maxLength: 255
          uniqueItems: false
        labels:
          type: object
          additionalProperties:
            type: string
          description: Project labels, if provided.
          uniqueItems: false
        parentProjectId:
          type: string
          description: Parent project id which the subproject is associated with.
          uniqueItems: false
        status:
          x-enumDescriptions:
            PENDING: The secondary asset profile deployment awaits structural orchestration steps.
            READY: The secondary asset profile configuration is entirely compiled and active.
          description: Status of subproject.
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesSubprojectStatusEnum'
      required:
      - id
      - name
      - parentProjectId
      - status
    BundlesBundlesRegionEnum:
      type: string
      enum:
      - BR
      - EU
      - US
      description: Region resources were create in.
    BundlesSmsAppRegionsEnum:
      type: string
      enum:
      - AU
      - BR
      - CA
      - EU
      - US
      - UNRECOGNIZED
      description: List of regions of the app.
    BundlesSubprojectInputDto:
      type: object
      properties:
        name:
          type: string
          description: "\nName of subproject to create. If not set, will use `name` from root object. If neither this value or the `name` in the root is set, then the request will fail. \n    "
          minLength: 1
          maxLength: 255
          uniqueItems: false
        labels:
          type: object
          additionalProperties:
            type: string
          description: '

            Optional labels to attach to the subproject. If provided must be an object with string keys and string values.

            '
          uniqueItems: false
    BundlesInputWebhookTargetTypesEnum:
      type: string
      enum:
      - DISMISS
      - GRPC
      - HTTP
      description: Conversation API webhook target type.
    BundlesConversationAppProcessingModesEnum:
      type: string
      enum:
      - CONVERSATION
      - DISPATCH
      - UNRECOGNIZED
      - UNSPECIFIED
      description: Conversation API processing mode.
    BundlesConversationAppConversationRetentionPolicyInputDto:
      type: object
      properties:
        retentionPolicyType:
          x-enumDescriptions:
            CONVERSATION_EXPIRE_POLICY: Specifies that the entire conversation expires after the configured retention period.
            MESSAGE_EXPIRE_POLICY: Specifies that individual messages expire after the configured retention period.
            PERSIST_RETENTION_POLICY: Specifies that conversation data is retained indefinitely until it is explicitly removed.
          description: "\nConversation API conversation retention policy type.\n    "
          default: MESSAGE_EXPIRE_POLICY
          uniqueItems: false
          allOf:
          - $ref: '#/components/schemas/BundlesInputConversationAppConversationRetentionPolicyTypesEnum'
        ttl:
          type: number
          minimum: 1
          maximum: 3650
          description: "\nConversation API conversation retention time in days.\n    "
          default: 180
          uniqueItems: false
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    OAuth2Production:
      type: oauth2
      description: OAuth2 authorization for production
      flows:
        clientCredentials:
          tokenUrl: https://auth.sinch.com/oauth2/token
[...]
