openapi: 3.1.0
info:
  title: Sinch Provisioning API
  description: >-
    The Sinch Provisioning API allows developers to programmatically set up
    senders, accounts, and templates on the messaging platforms used by the
    Sinch Conversation API. It provides endpoints for configuring messaging
    channel integrations, managing sender identities, and setting up message
    templates for approval. This API streamlines the onboarding process for
    new messaging channels and automates the configuration that would
    otherwise require manual setup through dashboards.
  version: '1.0'
  contact:
    name: Sinch Support
    url: https://www.sinch.com/contact-us/
  termsOfService: https://www.sinch.com/terms-of-service/
externalDocs:
  description: Sinch Provisioning API Documentation
  url: https://developers.sinch.com/docs/provisioning-api
servers:
  - url: https://provisioning.api.sinch.com
    description: Global Production Server
tags:
  - name: KakaoTalk Senders
    description: >-
      Manage KakaoTalk sender identities for messaging through the Conversation
      API.
  - name: LINE Senders
    description: >-
      Manage LINE sender identities for messaging through the Conversation API.
  - name: RCS Senders
    description: >-
      Manage RCS sender identities for Rich Communication Services messaging
      through the Conversation API.
  - name: Telegram Senders
    description: >-
      Manage Telegram bot sender identities for messaging through the
      Conversation API.
security:
  - oAuth2: []
  - basicAuth: []
paths:
  /v1/projects/{project_id}/rcs/senders:
    get:
      operationId: listRcsSenders
      summary: List RCS senders
      description: >-
        Returns a list of all RCS senders configured for the project.
      tags:
        - RCS Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of RCS senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSenderList'
        '401':
          description: Unauthorized
    post:
      operationId: createRcsSender
      summary: Create an RCS sender
      description: >-
        Creates a new RCS sender identity with brand information and
        messaging agent configuration.
      tags:
        - RCS Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRcsSenderRequest'
      responses:
        '200':
          description: RCS sender created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSender'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /v1/projects/{project_id}/rcs/senders/{sender_id}:
    get:
      operationId: getRcsSender
      summary: Get an RCS sender
      description: >-
        Returns the details and status of a specific RCS sender.
      tags:
        - RCS Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SenderId'
      responses:
        '200':
          description: RCS sender details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSender'
        '401':
          description: Unauthorized
        '404':
          description: Sender not found
    patch:
      operationId: updateRcsSender
      summary: Update an RCS sender
      description: >-
        Updates the configuration of a specific RCS sender.
      tags:
        - RCS Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SenderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRcsSenderRequest'
      responses:
        '200':
          description: RCS sender updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSender'
        '401':
          description: Unauthorized
        '404':
          description: Sender not found
    delete:
      operationId: deleteRcsSender
      summary: Delete an RCS sender
      description: >-
        Deletes a specific RCS sender from the project.
      tags:
        - RCS Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SenderId'
      responses:
        '200':
          description: RCS sender deleted
        '401':
          description: Unauthorized
        '404':
          description: Sender not found
  /v1/projects/{project_id}/rcs/senders/{sender_id}/launch:
    post:
      operationId: launchRcsSender
      summary: Launch an RCS sender
      description: >-
        Submits an RCS sender for launch, initiating the approval process
        with carriers and Google.
      tags:
        - RCS Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SenderId'
      responses:
        '200':
          description: RCS sender launch initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSender'
        '401':
          description: Unauthorized
        '404':
          description: Sender not found
  /v1/projects/{project_id}/kakaoTalk/senders:
    get:
      operationId: listKakaoTalkSenders
      summary: List KakaoTalk senders
      description: >-
        Returns a list of all KakaoTalk senders configured for the project.
      tags:
        - KakaoTalk Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of KakaoTalk senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderList'
        '401':
          description: Unauthorized
    post:
      operationId: createKakaoTalkSender
      summary: Create a KakaoTalk sender
      description: >-
        Creates a new KakaoTalk sender for messaging through the Conversation API.
      tags:
        - KakaoTalk Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSenderRequest'
      responses:
        '200':
          description: Sender created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /v1/projects/{project_id}/line/senders:
    get:
      operationId: listLineSenders
      summary: List LINE senders
      description: >-
        Returns a list of all LINE senders configured for the project.
      tags:
        - LINE Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of LINE senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderList'
        '401':
          description: Unauthorized
    post:
      operationId: createLineSender
      summary: Create a LINE sender
      description: >-
        Creates a new LINE sender for messaging through the Conversation API.
      tags:
        - LINE Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSenderRequest'
      responses:
        '200':
          description: Sender created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /v1/projects/{project_id}/telegram/senders:
    get:
      operationId: listTelegramSenders
      summary: List Telegram senders
      description: >-
        Returns a list of all Telegram bot senders configured for the project.
      tags:
        - Telegram Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of Telegram senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SenderList'
        '401':
          description: Unauthorized
    post:
      operationId: createTelegramSender
      summary: Create a Telegram sender
      description: >-
        Creates a new Telegram bot sender for messaging through the
        Conversation API.
      tags:
        - Telegram Senders
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSenderRequest'
      responses:
        '200':
          description: Sender created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sender'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  securitySchemes:
    oAuth2:
      type: oauth2
      description: >-
        OAuth 2.0 client credentials flow.
      flows:
        clientCredentials:
          tokenUrl: https://auth.sinch.com/oauth2/token
          scopes: {}
    basicAuth:
      type: http
      scheme: basic
      description: >-
        Key ID as username and key secret as password.
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique project identifier
      schema:
        type: string
    SenderId:
      name: sender_id
      in: path
      required: true
      description: The unique sender identifier
      schema:
        type: string
  schemas:
    RcsSender:
      type: object
      properties:
        id:
          type: string
          description: The unique sender identifier
        displayName:
          type: string
          description: The display name shown to recipients
        description:
          type: string
          description: The sender description
        logoUrl:
          type: string
          format: uri
          description: URL to the sender logo
        heroImageUrl:
          type: string
          format: uri
          description: URL to the hero image
        phoneNumber:
          type: string
          description: The associated phone number
        color:
          type: string
          description: Brand color in hex format
        website:
          type: string
          format: uri
          description: Brand website URL
        privacyPolicy:
          type: string
          format: uri
          description: Privacy policy URL
        termsOfService:
          type: string
          format: uri
          description: Terms of service URL
        status:
          type: string
          description: The current sender status
        createTime:
          type: string
          format: date-time
          description: When the sender was created
        updateTime:
          type: string
          format: date-time
          description: When the sender was last updated
    RcsSenderList:
      type: object
      properties:
        senders:
          type: array
          description: List of RCS senders
          items:
            $ref: '#/components/schemas/RcsSender'
    CreateRcsSenderRequest:
      type: object
      required:
        - displayName
      properties:
        displayName:
          type: string
          description: The display name
        description:
          type: string
          description: The sender description
        logoUrl:
          type: string
          format: uri
          description: Logo URL
        heroImageUrl:
          type: string
          format: uri
          description: Hero image URL
        phoneNumber:
          type: string
          description: Associated phone number
        color:
          type: string
          description: Brand color
        website:
          type: string
          format: uri
          description: Website URL
        privacyPolicy:
          type: string
          format: uri
          description: Privacy policy URL
        termsOfService:
          type: string
          format: uri
          description: Terms of service URL
    UpdateRcsSenderRequest:
      type: object
      properties:
        displayName:
          type: string
          description: Updated display name
        description:
          type: string
          description: Updated description
        logoUrl:
          type: string
          format: uri
          description: Updated logo URL
        heroImageUrl:
          type: string
          format: uri
          description: Updated hero image URL
    Sender:
      type: object
      properties:
        id:
          type: string
          description: The unique sender identifier
        name:
          type: string
          description: The sender name
        status:
          type: string
          description: The sender status
        channelCredentials:
          type: object
          description: Channel-specific credentials
        createTime:
          type: string
          format: date-time
          description: When the sender was created
    SenderList:
      type: object
      properties:
        senders:
          type: array
          description: List of senders
          items:
            $ref: '#/components/schemas/Sender'
    CreateSenderRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          description: The sender name
        channelCredentials:
          type: object
          description: Channel-specific credentials and configuration
