openapi: 3.2.0
info:
  title: Sinch Apps API
  version: '1.0'
  description: 'Operations tagged Apps across 2 of this provider''s published API definitions: sinch-chatlayer-analytics-api-openapi.yaml, original-sinch-conversation-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://analytics.api.chatlayer.ai
  description: Europe
- url: https://analytics.api.prod.us-east4.gcp.chatlayer.ai
  description: US
- url: https://analytics.api.prod.asia-south1.gcp.chatlayer.ai
  description: APAC
- url: https://analytics.api.prod.sa-east1.gcp.chatlayer.ai
  description: South America
- url: https://us.conversation.api.sinch.com
  description: US Production Server
- url: https://eu.conversation.api.sinch.com
  description: EU Production Server
- url: https://br.conversation.api.sinch.com
  description: Brazil Production Server
tags:
- name: Apps
paths:
  /v1/apps/{app_id}/logs/stream:
    get:
      tags:
      - Apps
      operationId: Analytics_ListAppIntegrationsLogs
      parameters:
      - name: app_id
        in: path
        required: true
        schema:
          type: string
      - name: start_time
        in: query
        required: true
        schema:
          type: string
      - name: end_time
        in: query
        required: true
        schema:
          type: string
      - name: query
        in: query
        schema:
          type: string
      - name: page_size
        in: query
        description: 'The maximum number of logs to return.

          The service may return fewer than this value.

          The maximum value allowed is 100; value above 100 will be coerced to 100.'
        schema:
          type: integer
          format: int32
      - name: page_token
        in: query
        description: 'A page token, received from a previous ListAppIntegrationsLogsRequest call.

          Provide this to retrieve a subsequent page.'
        schema:
          type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppIntegrationsLogsResponse'
      security:
      - basicAuth: []
      summary: Analytics list app integrations logs
      x-summary-source: derived
    servers:
    - url: https://analytics.api.chatlayer.ai
      description: Europe
    - url: https://analytics.api.prod.us-east4.gcp.chatlayer.ai
      description: US
    - url: https://analytics.api.prod.asia-south1.gcp.chatlayer.ai
      description: APAC
    - url: https://analytics.api.prod.sa-east1.gcp.chatlayer.ai
      description: South America
  /v1/projects/{project_id}/apps:
    get:
      operationId: listApps
      summary: List Apps
      description: Returns a list of all Conversation API apps in the project.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of apps
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppList'
        '401':
          description: Unauthorized
      security:
      - oAuth2: []
      - basicAuth: []
    post:
      operationId: createApp
      summary: Create an App
      description: Creates a new Conversation API app with channel credentials.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
      responses:
        '200':
          description: App created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
      security:
      - oAuth2: []
      - basicAuth: []
    servers:
    - url: https://us.conversation.api.sinch.com
      description: US Production Server
    - url: https://eu.conversation.api.sinch.com
      description: EU Production Server
    - url: https://br.conversation.api.sinch.com
      description: Brazil Production Server
  /v1/projects/{project_id}/apps/{app_id}:
    get:
      operationId: getApp
      summary: Get an App
      description: Returns the details of a specific Conversation API app.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized
        '404':
          description: App not found
      security:
      - oAuth2: []
      - basicAuth: []
    patch:
      operationId: updateApp
      summary: Update an App
      description: Updates the properties of a specific Conversation API app.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAppRequest'
      responses:
        '200':
          description: App updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
        '401':
          description: Unauthorized
        '404':
          description: App not found
      security:
      - oAuth2: []
      - basicAuth: []
    delete:
      operationId: deleteApp
      summary: Delete an App
      description: Deletes a specific Conversation API app.
      tags:
      - Apps
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App deleted
        '401':
          description: Unauthorized
        '404':
          description: App not found
      security:
      - oAuth2: []
      - basicAuth: []
    servers:
    - url: https://us.conversation.api.sinch.com
      description: US Production Server
    - url: https://eu.conversation.api.sinch.com
      description: EU Production Server
    - url: https://br.conversation.api.sinch.com
      description: Brazil Production Server
components:
  schemas:
    ListAppIntegrationsLog:
      type: object
      properties:
        id:
          type: string
        app_id:
          type: string
        app_version:
          type: string
        platform_version:
          type: string
        log_message:
          type: string
        log_type:
          type: string
        severity_level:
          type: integer
          format: int32
        timestamp:
          type: string
          format: date-time
        log_attributes:
          type: object
          additionalProperties:
            type: string
        resource_attributes:
          type: object
          additionalProperties:
            type: string
        event_method:
          type: string
        event_command:
          type: string
    ListAppIntegrationsLogsResponse:
      type: object
      properties:
        logs:
          type: array
          items:
            $ref: '#/components/schemas/ListAppIntegrationsLog'
        next_page_token:
          type: string
    CreateAppRequest:
      type: object
      required:
      - display_name
      properties:
        display_name:
          type: string
          description: The app display name
        channel_credentials:
          type: array
          description: Channel credential configurations
          items:
            $ref: '#/components/schemas/ChannelCredential'
    ChannelCredential:
      type: object
      properties:
        channel:
          type: string
          description: The channel type
        static_bearer:
          type: object
          description: Static bearer token credential
          properties:
            claimed_identity:
              type: string
              description: The claimed identity
            token:
              type: string
              description: The bearer token
        static_token:
          type: object
          description: Static token credential
          properties:
            token:
              type: string
              description: The token value
        callback_secret:
          type: string
          description: Secret for validating callbacks from the channel
    UpdateAppRequest:
      type: object
      properties:
        display_name:
          type: string
          description: Updated display name
        channel_credentials:
          type: array
          description: Updated channel credentials
          items:
            $ref: '#/components/schemas/ChannelCredential'
    AppList:
      type: object
      properties:
        apps:
          type: array
          description: List of apps
          items:
            $ref: '#/components/schemas/App'
    App:
      type: object
      properties:
        id:
          type: string
          description: The unique app identifier
        display_name:
          type: string
          description: The app display name
        channel_credentials:
          type: array
          description: Channel credential configurations
          items:
            $ref: '#/components/schemas/ChannelCredential'
        conversation_metadata_report_view:
          type: string
          description: Metadata report configuration
  parameters:
    AppId:
      name: app_id
      in: path
      required: true
      description: The unique app identifier
      schema:
        type: string
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique project identifier
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Generate your access token on the [Chatlayer platform](https://app.chatlayer.ai/settings/api-access/tokens).
    oAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow using project key ID and secret.
      flows:
        clientCredentials:
          tokenUrl: https://auth.sinch.com/oauth2/token
          scopes: {}
x-refined-from:
- sinch-chatlayer-analytics-api-openapi.yaml
- original-sinch-conversation-openapi.yml
x-explorer-enabled: false
x-samples-languages:
- curl
- java
- csharp
- node
- php
x-original-swagger-version: '2.0'
