openapi: 3.2.0
info:
  title: Sinch Voice Conferences API
  description: The Sinch Voice API is a programmable voice platform that allows developers to make, receive, and manage voice calls over PSTN, SIP, and in-app channels. It supports text-to-speech in over 115 languages, interactive voice response (IVR) menus, call recording, transcription, number masking, and conferencing. The API enables outbound and inbound calling with real-time call control through callbacks and SVAML instructions.
  version: '1.0'
  contact:
    name: Sinch Support
    url: https://www.sinch.com/contact-us/
  termsOfService: https://www.sinch.com/terms-of-service/
servers:
- url: https://calling.api.sinch.com
  description: Global Production Server
security:
- basicAuth: []
tags:
- name: Conferences
  description: Manage ongoing conferences including retrieving conference info, muting or unmuting participants, and removing participants.
paths:
  /calling/v1/conferences/id/{conference_id}:
    get:
      operationId: getConference
      summary: Get Conference Information
      description: Returns information about an ongoing conference including a list of participants.
      tags:
      - Conferences
      parameters:
      - $ref: '#/components/parameters/ConferenceId'
      responses:
        '200':
          description: Conference details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConferenceInfo'
        '401':
          description: Unauthorized
        '404':
          description: Conference not found
    delete:
      operationId: kickAllFromConference
      summary: Kick All Participants from Conference
      description: Removes all participants from an ongoing conference, effectively ending the conference.
      tags:
      - Conferences
      parameters:
      - $ref: '#/components/parameters/ConferenceId'
      responses:
        '200':
          description: All participants removed
        '401':
          description: Unauthorized
        '404':
          description: Conference not found
  /calling/v1/conferences/id/{conference_id}/{call_id}:
    patch:
      operationId: manageConferenceParticipant
      summary: Manage Conference Participant
      description: Manages a specific participant in a conference. Can mute, unmute, or put a participant on hold.
      tags:
      - Conferences
      parameters:
      - $ref: '#/components/parameters/ConferenceId'
      - $ref: '#/components/parameters/CallId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageParticipantRequest'
      responses:
        '200':
          description: Participant updated
        '401':
          description: Unauthorized
        '404':
          description: Conference or participant not found
    delete:
      operationId: kickParticipantFromConference
      summary: Kick Participant from Conference
      description: Removes a specific participant from an ongoing conference.
      tags:
      - Conferences
      parameters:
      - $ref: '#/components/parameters/ConferenceId'
      - $ref: '#/components/parameters/CallId'
      responses:
        '200':
          description: Participant removed
        '401':
          description: Unauthorized
        '404':
          description: Conference or participant not found
components:
  parameters:
    CallId:
      name: call_id
      in: path
      required: true
      description: The unique call identifier
      schema:
        type: string
    ConferenceId:
      name: conference_id
      in: path
      required: true
      description: The unique conference identifier
      schema:
        type: string
  schemas:
    Participant:
      type: object
      properties:
        cli:
          type: string
          description: The participant caller ID
        callId:
          type: string
          description: The participant call ID
        duration:
          type: integer
          description: Duration in conference in seconds
        muted:
          type: boolean
          description: Whether the participant is muted
        onhold:
          type: boolean
          description: Whether the participant is on hold
    ConferenceInfo:
      type: object
      properties:
        conferenceId:
          type: string
          description: The conference identifier
        participants:
          type: array
          description: List of participants in the conference
          items:
            $ref: '#/components/schemas/Participant'
    ManageParticipantRequest:
      type: object
      properties:
        command:
          type: string
          enum:
          - mute
          - unmute
          - onhold
          - resume
          description: The command to execute on the participant
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Application key and secret used for HTTP basic authentication. Application-signed requests are also supported.
externalDocs:
  description: Sinch Voice API Documentation
  url: https://developers.sinch.com/docs/voice
