openapi: 3.2.0
info:
  title: Sinch RCS Senders API
  version: '1.0'
  description: 'Operations tagged RCS Senders across 2 of this provider''s published API definitions: sinch-provisioning-api-openapi.yaml, original-sinch-provisioning-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://provisioning.api.sinch.com
  description: Production server
tags:
- name: RCS Senders
  description: The RCS sender endpoint offers a way for you to manage your RCS senders that can be used with the Conversation API.
paths:
  /v1/projects/{projectId}/rcs/senders:
    get:
      description: Returns a paginated list of senders for the specified project. If no page token is supplied then the first `50` will be returned.
      operationId: RcsSendersController_listSenders_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: pageToken
        required: false
        in: query
        schema:
          type: string
        description: The page token if retrieving the next page from a previous query.
      - name: pageSize
        required: false
        in: query
        schema:
          type: number
          minimum: 1
          maximum: 100
        description: The page size requested.
      - name: filterConversationApiAppId
        required: false
        in: query
        description: Optional query for sender by Conversation API app id.
        schema:
          type: string
      - name: filterSenderIds
        required: false
        in: query
        description: Optional query for sender by sender ids.
        schema:
          type: string
      - name: filterSenderName
        required: false
        in: query
        description: Optional query for sender by name. Use the `search` parameter instead
        deprecated: true
        schema:
          type: string
      - name: filterStates
        required: false
        in: query
        description: Optionally query for sender by states.
        x-enumDescriptions:
          DRAFT: The sender configuration is saved as a draft.
          IN_PROGRESS: The sender registration or setup is currently in progress.
          IN_TEST: The sender is currently undergoing testing.
          LAUNCHED: The sender has been successfully launched.
          LAUNCHING: The sender launch sequence is currently executing.
          PREPARING_LAUNCH: The sender configuration is being prepared for launch.
          UNLAUNCHED: The sender has been unlaunched and is disabled.
          UNKNOWN: The current state of the sender cannot be determined.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/RcsSenderStatesEnum'
      - name: search
        required: false
        in: query
        description: Search term to filter senders (partial match, case-insensitive).
        schema:
          type: string
      - name: sortColumn
        required: false
        in: query
        description: Optional query for sender sort column.
        x-enumDescriptions:
          CREATED: Orders the results collection based on the original resource creation timestamp.
          MODIFIED: Orders the results collection based on the latest resource modification timestamp.
          NAME: Orders the results collection alphabetically by the identity identifier string.
          STATE: Orders the results collection sequentially by the current lifecycle state code.
        schema:
          $ref: '#/components/schemas/RcsSenderSortColumnsEnum'
      - name: sortDirection
        required: false
        in: query
        description: Optional query for sender sort direction.
        x-enumDescriptions:
          ASC: Ascending order. Oldest or lowest values first.
          DESC: Descending order. Newest or highest values first.
        schema:
          $ref: '#/components/schemas/RcsSortDirectionsEnum'
      responses:
        '200':
          description: List of senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSenderListDto'
              examples:
                newResponse:
                  summary: List response
                  description: "\n    Response with senders.\n    "
                  value:
                    totalSize: 2
                    pageSize: 50
                    senders:
                    - id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                      state: IN_TEST
                      testNumberStates:
                      - number: '+46123123111'
                        state: UNVERIFIED
                        submitted: '2023-01-19t13:11:08.204Z'
                      - number: '+46123123222'
                        state: VERIFIED
                        submitted: '2023-01-19t13:11:08.204Z'
                      - number: '+46123123333'
                        state: DECLINED
                        submitted: '2023-01-19t13:11:08.204Z'
                      countryStatus:
                      - country: FR
                        status: NOT_LAUNCHED
                        operators:
                        - name: Coriolis Telecom
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Lycamobile
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Bouygues
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Free
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: NRJ Mobile
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: SFR
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Orange
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                      - country: GB
                        status: NOT_LAUNCHED
                        operators:
                        - name: EE
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Three
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Sky
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: O2
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Vodafone
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                      - country: SE
                        status: NOT_LAUNCHED
                        operators:
                        - name: Tele2
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Telenor
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Telia
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Three
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                      details:
                        brand:
                          emails:
                          - label: label
                            address: test@test.com
                          - label: label-1
                            address: test-1@test.com
                          - label: label-2
                            address: test-2@test.com
                          phones:
                          - label: label
                            number: '+48777777777'
                          - label: label-1
                            number: '48888888888'
                          - label: label-2
                            number: '+48999999999'
                          websites:
                          - label: label
                            url: https://example.com
                          - label: label-1
                            url: https://example-1.com
                          - label: label-2
                            url: https://example-2.com
                          color: '#000000'
                          description: Test description
                          bannerUrl: https://example-banner-url.com
                          logoUrl: https://example-logo-url.com
                          privacyPolicyUrl: https://example-private-policy-url.com
                          termsOfServiceUrl: https://example-terms-of-service-url.com
                          name: Test name
                        testNumbers:
                        - '+48777777777'
                        countries:
                        - FR
                        - GB
                        - SE
                        questionnaire:
                          general:
                            questions:
                              optInDescription:
                                question: How do users agree to receive messages from your business through the agent?
                                suggestedAnswers:
                                - By subscribing to our loyalty program
                                - By making a purchase in-store or online
                                - By subscribing to a newsletter
                                - By creating an account on our website or app
                              triggerDescription:
                                question: When does your business send messages to users through the agent?
                                suggestedAnswers:
                                - User actions (e.g. after making a purchase)
                              interactionsDescription:
                                question: How will users interact with your business through the agent?
                                suggestedAnswers:
                                - Online Payment
                                - Password reset
                                - OTP/2FA for account login
                              optOutDescription:
                                question: What message does your business send when a user opts out?
                                suggestedAnswers:
                                - Thank you for opting out
                                - Thank you for unsubscribing
                                - We have registered your opt out request
                              videoUris:
                                question: ''
                                suggestedAnswers: []
                              screenshotUris:
                                question: ''
                                suggestedAnswers: []
                            answers:
                              optInDescription: By subscribing to a newsletter
                              triggerDescription: User actions (e.g. after making a purchase)
                              interactionsDescription: Billing or payment reminders,aef Order updates,aef Upon package delivery
                              interactionsDescriptionMetadata:
                                ignore: ',aef'
                              optOutDescription: We have registered your opt out request
                              videoUris:
                              - https://example-video-url.com
                              screenshotUris:
                              - https://example-screenshot-url.com
                          verification:
                            questions:
                              name:
                                question: What is the name of your verification contact?
                                suggestedAnswers: []
                              email:
                                question: What is the email of your verification contact?
                                suggestedAnswers: []
                              title:
                                question: What is the title of your verification contact?
                                suggestedAnswers: []
                              website:
                                question: What is the website of your verification contact?
                                suggestedAnswers: []
                              phone:
                                question: What is the phone number of your verification contact?
                                suggestedAnswers: []
                              partner:
                                companyName:
                                  question: 'For ASP resellers: what is the name of the brand partner company?'
                                  suggestedAnswers: []
                                contactName:
                                  question: 'For ASP resellers: what is the name of the brand partner contact person?'
                                  suggestedAnswers: []
                                contactEmailAddress:
                                  question: 'For ASP resellers: what is the email of the brand partner contact person?'
                                  suggestedAnswers: []
                            answers:
                              name: Exam Ple
                              email: email@example.com
                              title: Head Example
                              website: https://example.com
                              phone: '+48777777777'
                              partner:
                                companyName: Partner company
                                contactName: Partner contact name
                                contactEmailAddress: partner.contact@partner-company.com
                          gb:
                            questions:
                              brandIndustry:
                                question: What sector or industry does your business operate in?
                                suggestedAnswers:
                                - Automotive
                                - Beauty, spa and salon
                                - Clothing
                                - Education
                                - Entertainment
                                - Event planning and service
                                - Finance and banking
                                - Food and groceries
                                - Public service
                                - Hotel and lodging
                                - Medical and health
                                - Charity
                                - Professional services
                                - Shopping and retail
                                - Travel and transportation
                                - Restaurant
                              companyLegalName:
                                question: What is the registered legal name of your company?
                                suggestedAnswers: []
                              companyRegistrationNumber:
                                question: What is the registration number of your company?
                                suggestedAnswers: []
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              messagesVolume:
                                question: What is the total volume of messages expected to be sent by your agent?
                                suggestedAnswers:
                                - 0 - 10K messages
                                - 10K - 100K messages
                                - 100K - 1M messages
                                - 1M+ messages
                              messagesFrequency:
                                question: How often do you expect to send messages?
                                suggestedAnswers:
                                - Once per day
                                - Once per week
                                - Once per month
                                - Once per 3 months
                                - Once per 6 months
                              campaignLength:
                                question: What will be the length of the RCS campaign?
                                suggestedAnswers:
                                - 1 day or less
                                - 2 to 7 days
                                - 8 to 21 days
                                - 1 month
                                - 3 months
                                - 6 months
                                - Continuous / ongoing
                            answers:
                              brandIndustry: Automotive
                              companyLegalName: Example company legal name
                              companyRegistrationNumber: 123-123456789
                              fullCompanyAddress: Skeppsbron 1 Malmö, 123 12, Sweden
                              messagesVolume: 10K - 100K messages
                              messagesFrequency: Once per month
                          fr:
                            questions:
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              siren:
                                question: What is your Company directory identification system number (SIREN)?
                                suggestedAnswers: []
                            answers:
                              fullCompanyAddress: Skeppsbron 1-split-211 20-split-Malmö
                              fullCompanyAddressMetadata:
                                ignore: -split-
                              siren: '123456789'
                          us:
                            questions:
                              ownershipType:
                                question: What is the ownership type of your company?
                                suggestedAnswers:
                                - PRIVATE
                                - PUBLIC
                              companyLegalName:
                                question: What is the registered legal name of your company?
                                suggestedAnswers: []
                              companyPhoneNumber:
                                question: What is the primary phone number of your company?
                                suggestedAnswers: []
                              companyEmailAddress:
                                question: What is the primary email address of your company?
                                suggestedAnswers: []
                              brandName:
                                question: What is your brand name or Doing Business As (DBA)?
                                suggestedAnswers: []
                              brandIndustry:
                                question: What sector or industry does your business operate in?
                                suggestedAnswers:
                                - AGRICULTURE
                                - COMMUNICATION
                                - CONSTRUCTION
                                - EDUCATION
                                - ENERGY
                                - ENTERTAINMENT
                                - FINANCIAL
                                - GAMBLING
                                - GOVERNMENT
                                - HEALTHCARE
                                - HOSPITALITY
                                - HUMAN_RESOURCES
                                - INSURANCE
                                - LEGAL
                                - MANUFACTURING
                                - NON_GOVERNMENTAL_ORGANIZATION
                                - POLITICAL
                                - POSTAL
                                - PROFESSIONAL
                                - REAL_ESTATE
                                - RETAIL
                                - TECHNOLOGY
                                - TRANSPORTATION
                              legalForm:
                                question: What is the legal form of your company?
                                suggestedAnswers:
                                - CORPORATION
                                - LIMITED_LIABILITY_COMPANY
                                - PARTNERSHIP
                                - S_CORPORATION
                              taxIdCountry:
                                question: In which country is your company's tax ID registered?
                                suggestedAnswers: []
                              taxId:
                                question: 'For non-US companies: what is the tax ID of your company?'
                                suggestedAnswers: []
                              addressLine:
                                question: What is the primary street address of your company?
                                suggestedAnswers: []
                              addressCity:
                                question: In which city is your company located?
                                suggestedAnswers: []
                              addressCountry:
                                question: In which country is your company located?
                                suggestedAnswers: []
                              addressState:
                                question: In which state is your company located?
                                suggestedAnswers: []
                              addressPostalCode:
                                question: What is the postal code for your company address?
                                suggestedAnswers: []
                              websiteUrl:
                                question: What is the primary website URL for your company?
                                suggestedAnswers: []
                              contactFirstName:
                                question: What is the first name of the responsible contact person for your company?
                                suggestedAnswers: []
                              contactSurname:
                                question: What is the surname of the responsible contact person for your company?
                                suggestedAnswers: []
                              stockExchange:
                                question: What is the primary home country stock exchange abbreviation?
                                suggestedAnswers: []
                              stockSymbol:
                                question: What is the primary home country stock symbol associated with the stock exchange?
                                suggestedAnswers: []
                              sampleMessages:
                                question: Please provide sample messages for each use case or message type sent by your brand.
                                suggestedAnswers: []
                              messagesVolume:
                                question: What is the expected message volume?
                                suggestedAnswers: []
                              embeddedLink:
                                question: Does your brand send messages that contain embedded links to external websites?
                                suggestedAnswers: []
                              embeddedPhone:
                                question: Does your brand send messages that contain embedded phone numbers for direct calling?
                                suggestedAnswers: []
                              ageGatedContent:
                                question: Does your brand send messages that contain age-gated content or require age verification?
                                suggestedAnswers: []
                              directLending:
                                question: Does your brand send messages that involve direct lending or financial services?
                                suggestedAnswers: []
                              optInConfirmationMessage:
                                question: Does your brand send opt-in confirmation messages to users who have subscribed to receive messages?
                                suggestedAnswers: []
                              helpMessage:
                                question: Does your brand send help messages that provide assistance or support information to users?
                                suggestedAnswers: []
                              callToActionMessage:
                                question: Does your brand send call-to-action messages that encourage users to take specific actions?
                                suggestedAnswers: []
                            answers:
                              ownershipType: PUBLIC
                              companyLegalName: Example company legal name
                              companyPhoneNumber: '+48777777777'
                              companyEmailAddress: email@example.com
                              brandName: Example brand name
                              brandIndustry: AGRICULTURE
                              legalForm: CORPORATION
                              taxIdCountry: US
                              taxId: 12-3456789
                              addressLine: 123 Main St
                              addressCity: Anytown
                              addressCountry: US
                              addressState: CA
                              addressPostalCode: '12345'
                              websiteUrl: https://example.com
                              contactFirstName: John
                              contactSurname: Doe
                              stockExchange: NASDAQ
                              stockSymbol: EXMPL
                              sampleMessages:
                              - Sample message 1 for the US questionnaire.
                              - Sample message 2 for the US questionnaire.
                              messagesVolume: 10000
                              embeddedLink: true
                              embeddedPhone: true
                              ageGatedContent: false
                              directLending: false
                              optInConfirmationMessage: Thank you for opting in!
                              helpMessage: For help, contact support.
                              callToActionMessage: Click here to claim your special offer and explore our latest updates now.
                      region: EU
                      billingCategory: CONVERSATIONAL
                      useCase: OTP
                      hostingRegion: EUROPE
                      authName: yurwN6123asd
                      authToken: ejiiqJtDyurwN6jLze8v
                      conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                      conversationApiAppDetails:
                        id: 4CF9CE97504C4A468F4610919D17ECC1
                        projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                        region: EU
                        channelStatus: ACTIVE
                      created: '2023-01-19t13:11:08.204Z'
                      modified: '2023-01-19t13:11:08.204Z'
                      launched: '2023-01-19t13:11:08.204Z'
                      supplierDetails:
                        google:
                          agentId: agentId
                          brandId: brandId
                    - id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                      state: PREPARING_LAUNCH
                      testNumberStates:
                      - number: '+46123123111'
                        state: UNVERIFIED
                        submitted: '2023-01-19t13:11:08.204Z'
                      - number: '+46123123222'
                        state: VERIFIED
                        submitted: '2023-01-19t13:11:08.204Z'
                      - number: '+46123123333'
                        state: DECLINED
                        submitted: '2023-01-19t13:11:08.204Z'
                      countryStatus:
                      - country: FR
                        status: PENDING
                        operators:
                        - name: Coriolis Telecom
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Lycamobile
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Bouygues
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Free
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: NRJ Mobile
                          status: REJECTED
                          remark: Sender was rejected due to operator policy.
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: SFR
                          status: SUSPENDED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Orange
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                      - country: GB
                        status: PENDING
                        operators:
                        - name: EE
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Three
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Sky
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: O2
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Vodafone
                          status: SUSPENDED
                          modified: '2023-01-19t13:11:08.204Z'
                      - country: SE
                        status: PENDING
                        operators:
                        - name: Tele2
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Telenor
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Telia
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Three
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                      details:
                        brand:
                          emails:
                          - label: label
                            address: test@test.com
                          - label: label-1
                            address: test-1@test.com
                          - label: label-2
                            address: test-2@test.com
                          phones:
                          - label: label
                            number: '+48777777777'
                          - label: label-1
                            number: '48888888888'
                          - label: label-2
                            number: '+48999999999'
                          websites:
                          - label: label
                            url: https://example.com
                          - label: label-1
                            url: https://example-1.com
                          - label: label-2
                            url: https://example-2.com
                          color: '#000000'
                          description: Test description
                          bannerUrl: https://example-banner-url.com
                          logoUrl: https://example-logo-url.com
                          privacyPolicyUrl: https://example-private-policy-url.com
                          termsOfServiceUrl: https://example-terms-of-service-url.com
                          name: Test name
                        testNumbers:
                        - '+48777777777'
                        countries:
                        - FR
                        - GB
                        - SE
                        questionnaire:
                          general:
                            questions:
                              optInDescription:
                                question: How do users agree to receive messages from your business through the agent?
                                suggestedAnswers:
                                - By subscribing to our loyalty program
                                - By making a purchase in-store or online
                                - By subscribing to a newsletter
                                - By creating an account on our website or app
                              triggerDescription:
                                question: When does your business send messages to users through the agent?
                                suggestedAnswers:
                                - User actions (e.g. after making a purchase)
                              interactionsDescription:
                                question: How will users interact with your business through the agent?
                                suggestedAnswers:
                                - Online Payment
                                - Password reset
                                - OTP/2FA for account login
                              optOutDescription:
                                question: What message does your business send when a user opts out?
                                suggestedAnswers:
                                - Thank you for opting out
                                - Thank you for unsubscribing
                                - We have registered your opt out request
                              videoUris:
                                question: ''
                                suggestedAnswers: []
                              screenshotUris:
                                question: ''
                                suggestedAnswers: []
                            answers:
                              optInDescription: By subscribing to a newsletter
                              triggerDescription: User actions (e.g. after making a purchase)
                              interactionsDescription: Billing or payment reminders,aef Order updates,aef Upon package delivery
                              interactionsDescriptionMetadata:
                                ignore: ',aef'
                              optOutDescription: We have registered your opt out request
                              videoUris:
                              - https://example-video-url.com
                              screenshotUris:
                              - https://example-screenshot-url.com
                          verification:
                            questions:
                              name:
                                question: What is the name of your verification contact?
                                suggestedAnswers: []
                              email:
                                question: What is the email of your verification contact?
                                suggestedAnswers: []
                              title:
                                question: What is the title of your verification contact?
                                suggestedAnswers: []
                              website:
                                question: What is the website of your verification contact?
                                suggestedAnswers: []
                              phone:
                                question: What is the phone number of your verification contact?
                                suggestedAnswers: []
                              partner:
                                companyName:
                                  question: 'For ASP resellers: what is the name of the brand partner company?'
                                  suggestedAnswers: []
                                contactName:
                                  question: 'For ASP resellers: what is the name of the brand partner contact person?'
                                  suggestedAnswers: []
                                contactEmailAddress:
                                  question: 'For ASP resellers: what is the email of the brand partner contact person?'
                                  suggestedAnswers: []
                            answers:
                              name: Exam Ple
                              email: email@example.com
                              title: Head Example
                              website: https://example.com
                              phone: '+48777777777'
                              partner:
                                companyName: Partner company
                                contactName: Partner contact name
                                contactEmailAddress: partner.contact@partner-company.com
                          gb:
                            questions:
                              brandIndustry:
                                question: What sector or industry does your business operate in?
                                suggestedAnswers:
                                - Automotive
                                - Beauty, spa and salon
                                - Clothing
                                - Education
                                - Entertainment
                                - Event planning and service
                                - Finance and banking
                                - Food and groceries
                                - Public service
                                - Hotel and lodging
                                - Medical and health
                                - Charity
                                - Professional services
                                - Shopping and retail
                                - Travel and transportation
                                - Restaurant
                              companyLegalName:
                                question: What is the registered legal name of your company?
                                suggestedAnswers: []
                              companyRegistrationNumber:
                                question: What is the registration number of your company?
                                suggestedAnswers: []
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              messagesVolume:
                                question: What is the total volume of messages expected to be sent by your agent?
                                suggestedAnswers:
                                - 0 - 10K messages
                                - 10K - 100K messages
                                - 100K - 1M messages
                                - 1M+ messages
                              messagesFrequency:
                                question: How often do you expect to send messages?
                                suggestedAnswers:
                                - Once per day
                                - Once per week
                                - Once per month
                                - Once per 3 months
                                - Once per 6 months
                              campaignLength:
                                question: What will be the length of the RCS campaign?
                                suggestedAnswers:
                                - 1 day or less
                                - 2 to 7 days
                                - 8 to 21 days
                                - 1 month
                                - 3 months
                                - 6 months
                                - Continuous / ongoing
                            answers:
                              brandIndustry: Automotive
                              companyLegalName: Example company legal name
                              companyRegistrationNumber: 123-123456789
                              fullCompanyAddress: Skeppsbron 1 Malmö, 123 12, Sweden
                              messagesVolume: 10K - 100K messages
                              messagesFrequency: Once per month
                          fr:
                            questions:
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              siren:
                                question: What is your Company directory identification system number (SIREN)?
                                suggestedAnswers: []
                            answers:
                              fullCompanyAddress: Skeppsbron 1-split-211 20-split-Malmö
                              fullCompanyAddressMetadata:
                                ignore: -split-
                              siren: '123456789'
                          us:
                            questions:
                              ownershipType:
                                question: What is the ownership type of your company?
                                suggestedAnswers:
                                - PRIVATE
                                - PUBLIC
                              companyLegalName:
                                question: What is the registered legal name of your company?
                                suggestedAnswers: []
                              companyPhoneNumber:
                                question: What is the primary phone number of your company?
                                suggestedAnswers: []
                              companyEmailAddress:
                                question: What is the primary email address of your company?
                                suggestedAnswers: []
                              brandName:
                                question: What is your brand name or Doing Business As (DBA)?
                                suggestedAnswers: []
                              brandIndustry:
                                question: What sector or industry does your business operate in?
                                suggestedAnswers:
                                - AGRICULTURE
                                - COMMUNICATION
                                - CONSTRUCTION
                                - EDUCATION
                                - ENERGY
                                - ENTERTAINMENT
                                - FINANCIAL
                                - GAMBLING
                                - GOVERNMENT
                                - HEALTHCARE
                                - HOSPITALITY
                                - HUMAN_RESOURCES
                                - INSURANCE
                                - LEGAL
                                - MANUFACTURING
                                - NON_GOVERNMENTAL_ORGANIZATION
                                - POLITICAL
                                - POSTAL
                                - PROFESSIONAL
                                - REAL_ESTATE
                                - RETAIL
                                - TECHNOLOGY
                                - TRANSPORTATION
                              legalForm:
                                question: What is the legal form of your company?
                                suggestedAnswers:
                                - CORPORATION
                                - LIMITED_LIABILITY_COMPANY
                                - PARTNERSHIP
                                - S_CORPORATION
                              taxIdCountry:
                                question: In which country is your company's tax ID registered?
                                suggestedAnswers: []
                              taxId:
                                question: 'For non-US companies: what is the tax ID of your company?'
                                suggestedAnswers: []
                              addressLine:
                                question: What is the primary street address of your company?
                                suggestedAnswers: []
                              addressCity:
                                question: In which city is your company located?
                                suggestedAnswers: []
                              addressCountry:
                                question: In which country is your company located?
                                suggestedAnswers: []
                              addressState:
                                question: In which state is your company located?
                                suggestedAnswers: []
                              addressPostalCode:
                                question: What is the postal code for your company address?
                                suggestedAnswers: []
                              websiteUrl:
                                question: What is the primary website URL for your company?
                                suggestedAnswers: []
                              contactFirstName:
                                question: What is the first name of the responsible contact person for your company?
                                suggestedAnswers: []
                              contactSurname:
                                question: What is the surname of the responsible contact person for your company?
                                suggestedAnswers: []
                              stockExchange:
                                question: What is the primary home country stock exchange abbreviation?
                                suggestedAnswers: []
                              stockSymbol:
                                question: What is the primary home country stock symbol associated with the stock exchange?
                                suggestedAnswers: []
                              sampleMessages:
                                question: Please provide sample messages for each use case or message type sent by your brand.
                                suggestedAnswers: []
                              messagesVolume:
                                question: What is the expected message volume?
                                suggestedAnswers: []
                              embeddedLink:
                                question: Does your brand send messages that contain embedded links to external websites?
                                suggestedAnswers: []
                              embeddedPhone:
                                question: Does your brand send messages that contain embedded phone numbers for direct calling?
                                suggestedAnswers: []
                              ageGatedContent:
                                question: Does your brand send messages that contain age-gated content or require age verification?
                                suggestedAnswers: []
                              directLending:
                                question: Does your brand send messages that involve direct lending or financial services?
                                suggestedAnswers: []
                              optInConfirmationMessage:
                                question: Does your brand send opt-in confirmation messages to users who have subscribed to receive messages?
                                suggestedAnswers: []
                              helpMessage:
                                question: Does your brand send help messages that provide assistance or support information to users?
                                suggestedAnswers: []
                              callToActionMessage:
                                question: Does your brand send call-to-action messages that encourage users to take specific actions?
                                suggestedAnswers: []
                            answers:
                              ownershipType: PUBLIC
                              companyLegalName: Example company legal name
                              companyPhoneNumber: '+48777777777'
                              companyEmailAddress: email@example.com
                              brandName: Example brand name
                              brandIndustry: AGRICULTURE
                              legalForm: CORPORATION
                              taxIdCountry: US
                              taxId: 12-3456789
                              addressLine: 123 Main St
                              addressCity: Anytown
                              addressCountry: US
                              addressState: CA
                              addressPostalCode: '12345'
                              websiteUrl: https://example.com
                              contactFirstName: John
                              contactSurname: Doe
                              stockExchange: NASDAQ
                              stockSymbol: EXMPL
                              sampleMessages:
                              - Sample message 1 for the US questionnaire.
                              - Sample message 2 for the US questionnaire.
                              messagesVolume: 10000
                              embeddedLink: true
                              embeddedPhone: true
                              ageGatedContent: false
                              directLending: false
                              optInConfirmationMessage: Thank you for opting in!
                              helpMessage: For help, contact support.
                              callToActionMessage: Click here to claim your special offer and explore our latest updates now.
                      region: EU
                      billingCategory: CONVERSATIONAL
                      useCase: OTP
                      hostingRegion: EUROPE
                      authName: yurwN6123asd
                      authToken: ejiiqJtDyurwN6jLze8v
                      conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                      conversationApiAppDetails:
                        id: 4CF9CE97504C4A468F4610919D17ECC1
                        projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                        region: EU
                        channelStatus: ACTIVE
                      created: '2023-01-19t13:11:08.204Z'
                      modified: '2023-01-19t13:11:08.204Z'
                      launched: '2023-01-19t13:11:08.204Z'
                      supplierDetails:
                        google:
                          agentId: agentId
                          brandId: brandId
                response:
                  summary: '[Deprecated] List response'
                  description: "\n    Response with senders.\n    "
                  value:
                    totalSize: 2
                    pageSize: 50
                    senders:
                    - id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                      state: IN_TEST
                      testNumberStates:
                      - number: '+46123123111'
                        state: UNVERIFIED
                        submitted: '2023-01-19t13:11:08.204Z'
                      - number: '+46123123222'
                        state: VERIFIED
                        submitted: '2023-01-19t13:11:08.204Z'
                      - number: '+46123123333'
                        state: DECLINED
                        submitted: '2023-01-19t13:11:08.204Z'
                      countryStatus:
                      - country: FR
                        status: NOT_LAUNCHED
                        operators:
                        - name: Coriolis Telecom
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Lycamobile
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Bouygues
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Free
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: NRJ Mobile
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: SFR
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Orange
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                      - country: GB
                        status: NOT_LAUNCHED
                        operators:
                        - name: EE
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Three
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Sky
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: O2
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Vodafone
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                      - country: SE
                        status: NOT_LAUNCHED
                        operators:
                        - name: Tele2
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Telenor
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Telia
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Three
                          status: NOT_LAUNCHED
                          modified: '2023-01-19t13:11:08.204Z'
                      details:
                        brand:
                          emails:
                          - label: label
                            address: test@test.com
                          - label: label-1
                            address: test-1@test.com
                          - label: label-2
                            address: test-2@test.com
                          phones:
                          - label: label
                            number: '+48777777777'
                          - label: label-1
                            number: '48888888888'
                          - label: label-2
                            number: '+48999999999'
                          websites:
                          - label: label
                            url: https://example.com
                          - label: label-1
                            url: https://example-1.com
                          - label: label-2
                            url: https://example-2.com
                          color: '#000000'
                          description: Test description
                          bannerUrl: https://example-banner-url.com
                          logoUrl: https://example-logo-url.com
                          privacyPolicyUrl: https://example-private-policy-url.com
                          termsOfServiceUrl: https://example-terms-of-service-url.com
                          name: Test name
                        testNumbers:
                        - '+48777777777'
                        countries:
                        - FR
                        - GB
                        - SE
                        questionnaire:
                          general:
                            questions:
                              optInDescription:
                                question: How do users agree to receive messages from your business through the agent?
                                suggestedAnswers:
                                - By subscribing to our loyalty program
                                - By making a purchase in-store or online
                                - By subscribing to a newsletter
                                - By creating an account on our website or app
                              triggerDescription:
                                question: When does your business send messages to users through the agent?
                                suggestedAnswers:
                                - User actions (e.g. after making a purchase)
                              interactionsDescription:
                                question: How will users interact with your business through the agent?
                                suggestedAnswers:
                                - Online Payment
                                - Password reset
                                - OTP/2FA for account login
                              optOutDescription:
                                question: What message does your business send when a user opts out?
                                suggestedAnswers:
                                - Thank you for opting out
                                - Thank you for unsubscribing
                                - We have registered your opt out request
                              videoUris:
                                question: ''
                                suggestedAnswers: []
                              screenshotUris:
                                question: ''
                                suggestedAnswers: []
                            answers:
                              optInDescription: By subscribing to a newsletter
                              triggerDescription: User actions (e.g. after making a purchase)
                              interactionsDescription: Billing or payment reminders,aef Order updates,aef Upon package delivery
                              interactionsDescriptionMetadata:
                                ignore: ',aef'
                              optOutDescription: We have registered your opt out request
                              videoUris:
                              - https://example-video-url.com
                              screenshotUris:
                              - https://example-screenshot-url.com
                          verification:
                            questions:
                              name:
                                question: What is the name of your verification contact?
                                suggestedAnswers: []
                              email:
                                question: What is the email of your verification contact?
                                suggestedAnswers: []
                              title:
                                question: What is the title of your verification contact?
                                suggestedAnswers: []
                              website:
                                question: What is the website of your verification contact?
                                suggestedAnswers: []
                              phone:
                                question: What is the phone number of your verification contact?
                                suggestedAnswers: []
                              partner:
                                companyName:
                                  question: 'For ASP resellers: what is the name of the brand partner company?'
                                  suggestedAnswers: []
                                contactName:
                                  question: 'For ASP resellers: what is the name of the brand partner contact person?'
                                  suggestedAnswers: []
                                contactEmailAddress:
                                  question: 'For ASP resellers: what is the email of the brand partner contact person?'
                                  suggestedAnswers: []
                            answers:
                              name: Exam Ple
                              email: email@example.com
                              title: Head Example
                              website: https://example.com
                              phone: '+48777777777'
                              partner:
                                companyName: Partner company
                                contactName: Partner contact name
                                contactEmailAddress: partner.contact@partner-company.com
                          gb:
                            questions:
                              brandIndustry:
                                question: What sector or industry does your business operate in?
                                suggestedAnswers:
                                - Automotive
                                - Beauty, spa and salon
                                - Clothing
                                - Education
                                - Entertainment
                                - Event planning and service
                                - Finance and banking
                                - Food and groceries
                                - Public service
                                - Hotel and lodging
                                - Medical and health
                                - Charity
                                - Professional services
                                - Shopping and retail
                                - Travel and transportation
                                - Restaurant
                              companyLegalName:
                                question: What is the registered legal name of your company?
                                suggestedAnswers: []
                              companyRegistrationNumber:
                                question: What is the registration number of your company?
                                suggestedAnswers: []
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              messagesVolume:
                                question: What is the total volume of messages expected to be sent by your agent?
                                suggestedAnswers:
                                - 0 - 10K messages
                                - 10K - 100K messages
                                - 100K - 1M messages
                                - 1M+ messages
                              messagesFrequency:
                                question: How often do you expect to send messages?
                                suggestedAnswers:
                                - Once per day
                                - Once per week
                                - Once per month
                                - Once per 3 months
                                - Once per 6 months
                              campaignLength:
                                question: What will be the length of the RCS campaign?
                                suggestedAnswers:
                                - 1 day or less
                                - 2 to 7 days
                                - 8 to 21 days
                                - 1 month
                                - 3 months
                                - 6 months
                                - Continuous / ongoing
                            answers:
                              brandIndustry: Automotive
                              companyLegalName: Example company legal name
                              companyRegistrationNumber: 123-123456789
                              fullCompanyAddress: Skeppsbron 1 Malmö, 123 12, Sweden
                              messagesVolume: 10K - 100K messages
                              messagesFrequency: Once per month
                          fr:
                            questions:
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              siren:
                                question: What is your Company directory identification system number (SIREN)?
                                suggestedAnswers: []
                            answers:
                              fullCompanyAddress: Skeppsbron 1-split-211 20-split-Malmö
                              fullCompanyAddressMetadata:
                                ignore: -split-
                              siren: '123456789'
                          us:
                            questions:
                              companyLegalName:
                                question: What is the registered legal name of your company?
                                suggestedAnswers: []
                              ein:
                                question: What is the Employer Identification Number (EIN) of your company?
                                suggestedAnswers: []
                              brandIndustry:
                                question: What sector or industry does your business operate in?
                                suggestedAnswers:
                                - Automotive
                                - Beauty, spa and salon
                                - Clothing
                                - Education
                                - Entertainment
                                - Event planning and service
                                - Finance and banking
                                - Food and groceries
                                - Public service
                                - Hotel and lodging
                                - Medical and health
                                - Charity
                                - Professional services
                                - Shopping and retail
                                - Travel and transportation
                                - Restaurant
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              smsCampaign:
                                question: US SMS campaign used as fallback.
                                suggestedAnswers: []
                              messagesVolume:
                                question: What is the total volume of messages expected to be sent by your agent?
                                suggestedAnswers:
                                - 0 - 10K messages
                                - 10K - 100K messages
                                - 100K - 1M messages
                                - 1M+ messages
                            answers:
                              companyLegalName: Example company legal name
                              ein: 12-3456789
                              brandIndustry: Automotive
                              fullCompanyAddress: Skeppsbron 1-split-211 20-split-Malmö
                              fullCompanyAddressMetadata:
                                ignore: -split-
                              smsCampaign: We have registered your opt out request
                              messagesVolume: 10K - 100K messages
                      region: EU
                      billingCategory: CONVERSATIONAL
                      useCase: OTP
                      hostingRegion: EUROPE
                      authName: yurwN6123asd
                      authToken: ejiiqJtDyurwN6jLze8v
                      conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                      conversationApiAppDetails:
                        id: 4CF9CE97504C4A468F4610919D17ECC1
                        projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                        region: EU
                        channelStatus: ACTIVE
                      created: '2023-01-19t13:11:08.204Z'
                      modified: '2023-01-19t13:11:08.204Z'
                      launched: '2023-01-19t13:11:08.204Z'
                      supplierDetails:
                        google:
                          agentId: agentId
                          brandId: brandId
                    - id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                      state: PREPARING_LAUNCH
                      testNumberStates:
                      - number: '+46123123111'
                        state: UNVERIFIED
                        submitted: '2023-01-19t13:11:08.204Z'
                      - number: '+46123123222'
                        state: VERIFIED
                        submitted: '2023-01-19t13:11:08.204Z'
                      - number: '+46123123333'
                        state: DECLINED
                        submitted: '2023-01-19t13:11:08.204Z'
                      countryStatus:
                      - country: FR
                        status: PENDING
                        operators:
                        - name: Coriolis Telecom
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Lycamobile
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Bouygues
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Free
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: NRJ Mobile
                          status: REJECTED
                          remark: Sender was rejected due to operator policy.
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: SFR
                          status: SUSPENDED
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Orange
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                      - country: GB
                        status: PENDING
                        operators:
                        - name: EE
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Three
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Sky
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: O2
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Vodafone
                          status: SUSPENDED
                          modified: '2023-01-19t13:11:08.204Z'
                      - country: SE
                        status: PENDING
                        operators:
                        - name: Tele2
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Telenor
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Telia
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                        - name: Three
                          status: PENDING
                          modified: '2023-01-19t13:11:08.204Z'
                      details:
                        brand:
                          emails:
                          - label: label
                            address: test@test.com
                          - label: label-1
                            address: test-1@test.com
                          - label: label-2
                            address: test-2@test.com
                          phones:
                          - label: label
                            number: '+48777777777'
                          - label: label-1
                            number: '48888888888'
                          - label: label-2
                            number: '+48999999999'
                          websites:
                          - label: label
                            url: https://example.com
                          - label: label-1
                            url: https://example-1.com
                          - label: label-2
                            url: https://example-2.com
                          color: '#000000'
                          description: Test description
                          bannerUrl: https://example-banner-url.com
                          logoUrl: https://example-logo-url.com
                          privacyPolicyUrl: https://example-private-policy-url.com
                          termsOfServiceUrl: https://example-terms-of-service-url.com
                          name: Test name
                        testNumbers:
                        - '+48777777777'
                        countries:
                        - FR
                        - GB
                        - SE
                        questionnaire:
                          general:
                            questions:
                              optInDescription:
                                question: How do users agree to receive messages from your business through the agent?
                                suggestedAnswers:
                                - By subscribing to our loyalty program
                                - By making a purchase in-store or online
                                - By subscribing to a newsletter
                                - By creating an account on our website or app
                              triggerDescription:
                                question: When does your business send messages to users through the agent?
                                suggestedAnswers:
                                - User actions (e.g. after making a purchase)
                              interactionsDescription:
                                question: How will users interact with your business through the agent?
                                suggestedAnswers:
                                - Online Payment
                                - Password reset
                                - OTP/2FA for account login
                              optOutDescription:
                                question: What message does your business send when a user opts out?
                                suggestedAnswers:
                                - Thank you for opting out
                                - Thank you for unsubscribing
                                - We have registered your opt out request
                              videoUris:
                                question: ''
                                suggestedAnswers: []
                              screenshotUris:
                                question: ''
                                suggestedAnswers: []
                            answers:
                              optInDescription: By subscribing to a newsletter
                              triggerDescription: User actions (e.g. after making a purchase)
                              interactionsDescription: Billing or payment reminders,aef Order updates,aef Upon package delivery
                              interactionsDescriptionMetadata:
                                ignore: ',aef'
                              optOutDescription: We have registered your opt out request
                              videoUris:
                              - https://example-video-url.com
                              screenshotUris:
                              - https://example-screenshot-url.com
                          verification:
                            questions:
                              name:
                                question: What is the name of your verification contact?
                                suggestedAnswers: []
                              email:
                                question: What is the email of your verification contact?
                                suggestedAnswers: []
                              title:
                                question: What is the title of your verification contact?
                                suggestedAnswers: []
                              website:
                                question: What is the website of your verification contact?
                                suggestedAnswers: []
                              phone:
                                question: What is the phone number of your verification contact?
                                suggestedAnswers: []
                              partner:
                                companyName:
                                  question: 'For ASP resellers: what is the name of the brand partner company?'
                                  suggestedAnswers: []
                                contactName:
                                  question: 'For ASP resellers: what is the name of the brand partner contact person?'
                                  suggestedAnswers: []
                                contactEmailAddress:
                                  question: 'For ASP resellers: what is the email of the brand partner contact person?'
                                  suggestedAnswers: []
                            answers:
                              name: Exam Ple
                              email: email@example.com
                              title: Head Example
                              website: https://example.com
                              phone: '+48777777777'
                              partner:
                                companyName: Partner company
                                contactName: Partner contact name
                                contactEmailAddress: partner.contact@partner-company.com
                          gb:
                            questions:
                              brandIndustry:
                                question: What sector or industry does your business operate in?
                                suggestedAnswers:
                                - Automotive
                                - Beauty, spa and salon
                                - Clothing
                                - Education
                                - Entertainment
                                - Event planning and service
                                - Finance and banking
                                - Food and groceries
                                - Public service
                                - Hotel and lodging
                                - Medical and health
                                - Charity
                                - Professional services
                                - Shopping and retail
                                - Travel and transportation
                                - Restaurant
                              companyLegalName:
                                question: What is the registered legal name of your company?
                                suggestedAnswers: []
                              companyRegistrationNumber:
                                question: What is the registration number of your company?
                                suggestedAnswers: []
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              messagesVolume:
                                question: What is the total volume of messages expected to be sent by your agent?
                                suggestedAnswers:
                                - 0 - 10K messages
                                - 10K - 100K messages
                                - 100K - 1M messages
                                - 1M+ messages
                              messagesFrequency:
                                question: How often do you expect to send messages?
                                suggestedAnswers:
                                - Once per day
                                - Once per week
                                - Once per month
                                - Once per 3 months
                                - Once per 6 months
                              campaignLength:
                                question: What will be the length of the RCS campaign?
                                suggestedAnswers:
                                - 1 day or less
                                - 2 to 7 days
                                - 8 to 21 days
                                - 1 month
                                - 3 months
                                - 6 months
                                - Continuous / ongoing
                            answers:
                              brandIndustry: Automotive
                              companyLegalName: Example company legal name
                              companyRegistrationNumber: 123-123456789
                              fullCompanyAddress: Skeppsbron 1 Malmö, 123 12, Sweden
                              messagesVolume: 10K - 100K messages
                              messagesFrequency: Once per month
                          fr:
                            questions:
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              siren:
                                question: What is your Company directory identification system number (SIREN)?
                                suggestedAnswers: []
                            answers:
                              fullCompanyAddress: Skeppsbron 1-split-211 20-split-Malmö
                              fullCompanyAddressMetadata:
                                ignore: -split-
                              siren: '123456789'
                          us:
                            questions:
                              companyLegalName:
                                question: What is the registered legal name of your company?
                                suggestedAnswers: []
                              ein:
                                question: What is the Employer Identification Number (EIN) of your company?
                                suggestedAnswers: []
                              brandIndustry:
                                question: What sector or industry does your business operate in?
                                suggestedAnswers:
                                - Automotive
                                - Beauty, spa and salon
                                - Clothing
                                - Education
                                - Entertainment
                                - Event planning and service
                                - Finance and banking
                                - Food and groceries
                                - Public service
                                - Hotel and lodging
                                - Medical and health
                                - Charity
                                - Professional services
                                - Shopping and retail
                                - Travel and transportation
                                - Restaurant
                              fullCompanyAddress:
                                question: Full Company Address
                                suggestedAnswers: []
                              smsCampaign:
                                question: US SMS campaign used as fallback.
                                suggestedAnswers: []
                              messagesVolume:
                                question: What is the total volume of messages expected to be sent by your agent?
                                suggestedAnswers:
                                - 0 - 10K messages
                                - 10K - 100K messages
                                - 100K - 1M messages
                                - 1M+ messages
                            answers:
                              companyLegalName: Example company legal name
                              ein: 12-3456789
                              brandIndustry: Automotive
                              fullCompanyAddress: Skeppsbron 1-split-211 20-split-Malmö
                              fullCompanyAddressMetadata:
                                ignore: -split-
                              smsCampaign: We have registered your opt out request
                              messagesVolume: 10K - 100K messages
                      region: EU
                      billingCategory: CONVERSATIONAL
                      useCase: OTP
                      hostingRegion: EUROPE
                      authName: yurwN6123asd
                      authToken: ejiiqJtDyurwN6jLze8v
                      conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                      conversationApiAppDetails:
                        id: 4CF9CE97504C4A468F4610919D17ECC1
                        projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                        region: EU
                        channelStatus: ACTIVE
                      created: '2023-01-19t13:11:08.204Z'
                      modified: '2023-01-19t13:11:08.204Z'
                      launched: '2023-01-19t13:11:08.204Z'
                      supplierDetails:
                        google:
                          agentId: agentId
                          brandId: brandId
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsPapiErrorDto'
              examples:
                invalid_page_token-0:
                  summary: InvalidPageTokenError
                  value:
                    errorCode: invalid_page_token
                    message: Invalid page token.
                    resolution: The page token to use is provided in the previous query response, for new queries simply leave this field undefined.
                invalid_page_size-1:
                  summary: InvalidPageSizeError
                  value:
                    errorCode: invalid_page_size
                    message: Page size must be numeric.
                    resolution: Use a integer value for pageSize parameter.
                invalid_filter_states-2:
                  summary: InvalidFilterStatesError
                  value:
                    errorCode: invalid_filter_states
                    message: Invalid filterStates.
                    resolution: Verify that the filterStates used are supported by the Provisioning API.
                    additionalInformation:
                      supportedCodes: DRAFT, IN_PROGRESS, IN_TEST, LAUNCHED, LAUNCHING, PREPARING_LAUNCH, UNLAUNCHED, UNKNOWN
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsPapiErrorDto'
              examples:
                rbm_has_not_been_used-0:
                  summary: RbmHasNotBeenUsedError
                  value:
                    errorCode: rbm_has_not_been_used
                    message: RBM has not been used.
                    resolution: Please wait and try again or reach out to support at si-richmessaging@sinch.com
        '429':
          description: TooManyRequests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsPapiErrorDto'
              examples:
                rbm_too_many_requests-0:
                  summary: RbmTooManyRequestsError
                  value:
                    errorCode: rbm_too_many_requests
                    message: RCS Business Messaging too many requests.
                    resolution: Please wait and try again.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: List all senders in project
      tags:
      - RCS Senders
      x-badges:
      - name: GA
        position: after
        color: green
      security:
      - BasicAuth: []
        BearerAuth: []
        OAuth2Production: []
    post:
      callbacks:
        StatusUpdate:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender status updated
              description: "\n        Received when a Sender status is updated.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `RCS_SENDER_STATUS_UPDATED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/RcsSenderDto'
                        previousState:
                          description: The previous state of the sender.
                          type: string
                          enum:
                          - DRAFT
                          - IN_PROGRESS
                          - IN_TEST
                          - LAUNCHED
                          - LAUNCHING
                          - PREPARING_LAUNCH
                          - UNLAUNCHED
                          - UNKNOWN
                          x-enumDescriptions:
                            DRAFT: The sender configuration is saved as a draft.
                            IN_PROGRESS: The sender registration or setup is currently in progress.
                            IN_TEST: The sender is currently undergoing testing.
                            LAUNCHED: The sender has been successfully launched.
                            LAUNCHING: The sender launch sequence is currently executing.
                            PREPARING_LAUNCH: The sender configuration is being prepared for launch.
                            UNLAUNCHED: The sender has been unlaunched and is disabled.
                            UNKNOWN: The current state of the sender cannot be determined.
                        currentState:
                          description: The current state of the sender.
                          type: string
                          enum:
                          - DRAFT
                          - IN_PROGRESS
                          - IN_TEST
                          - LAUNCHED
                          - LAUNCHING
                          - PREPARING_LAUNCH
                          - UNLAUNCHED
                          - UNKNOWN
                          x-enumDescriptions:
                            DRAFT: The sender configuration is saved as a draft.
                            IN_PROGRESS: The sender registration or setup is currently in progress.
                            IN_TEST: The sender is currently undergoing testing.
                            LAUNCHED: The sender has been successfully launched.
                            LAUNCHING: The sender launch sequence is currently executing.
                            PREPARING_LAUNCH: The sender configuration is being prepared for launch.
                            UNLAUNCHED: The sender has been unlaunched and is disabled.
                            UNKNOWN: The current state of the sender cannot be determined.
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                      - previousState
                      - currentState
                    example:
                      type: RCS_SENDER_STATUS_UPDATED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: IN_TEST
                        testNumberStates:
                        - number: '+46123123111'
                          state: UNVERIFIED
                          submitted: '2023-01-19t13:11:08.204Z'
                        - number: '+46123123222'
                          state: VERIFIED
                          submitted: '2023-01-19t13:11:08.204Z'
                        - number: '+46123123333'
                          state: DECLINED
                          submitted: '2023-01-19t13:11:08.204Z'
                        countryStatus:
                        - country: FR
                          status: NOT_LAUNCHED
                          operators:
                          - name: Coriolis Telecom
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: Lycamobile
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: Bouygues
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: Free
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: NRJ Mobile
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: SFR
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: Orange
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                        - country: GB
                          status: NOT_LAUNCHED
                          operators:
                          - name: EE
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: Three
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: Sky
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: O2
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: Vodafone
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                        - country: SE
                          status: NOT_LAUNCHED
                          operators:
                          - name: Tele2
                            status: NOT_LAUNCHED
                            modified: '2023-01-19t13:11:08.204Z'
                          - name: Telenor
[...]
