openapi: 3.2.0
info:
  title: Sinch Provisioning RCS Senders API
  description: The Sinch Provisioning API allows developers to programmatically set up senders, accounts, and templates on the messaging platforms used by the Sinch Conversation API. It provides endpoints for configuring messaging channel integrations, managing sender identities, and setting up message templates for approval. This API streamlines the onboarding process for new messaging channels and automates the configuration that would otherwise require manual setup through dashboards.
  version: '1.0'
  contact:
    name: Sinch Support
    url: https://www.sinch.com/contact-us/
  termsOfService: https://www.sinch.com/terms-of-service/
servers:
- url: https://provisioning.api.sinch.com
  description: Global Production Server
security:
- oAuth2: []
- basicAuth: []
tags:
- name: RCS Senders
  description: Manage RCS sender identities for Rich Communication Services messaging through the Conversation API.
paths:
  /v1/projects/{project_id}/rcs/senders:
    get:
      operationId: listRcsSenders
      summary: List Rcs Senders
      description: Returns a list of all RCS senders configured for the project.
      tags:
      - RCS Senders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of RCS senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSenderList'
        '401':
          description: Unauthorized
    post:
      operationId: createRcsSender
      summary: Create an Rcs Sender
      description: Creates a new RCS sender identity with brand information and messaging agent configuration.
      tags:
      - RCS Senders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRcsSenderRequest'
      responses:
        '200':
          description: RCS sender created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSender'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /v1/projects/{project_id}/rcs/senders/{sender_id}:
    get:
      operationId: getRcsSender
      summary: Get an Rcs Sender
      description: Returns the details and status of a specific RCS sender.
      tags:
      - RCS Senders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SenderId'
      responses:
        '200':
          description: RCS sender details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSender'
        '401':
          description: Unauthorized
        '404':
          description: Sender not found
    patch:
      operationId: updateRcsSender
      summary: Update an Rcs Sender
      description: Updates the configuration of a specific RCS sender.
      tags:
      - RCS Senders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SenderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRcsSenderRequest'
      responses:
        '200':
          description: RCS sender updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSender'
        '401':
          description: Unauthorized
        '404':
          description: Sender not found
    delete:
      operationId: deleteRcsSender
      summary: Delete an Rcs Sender
      description: Deletes a specific RCS sender from the project.
      tags:
      - RCS Senders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SenderId'
      responses:
        '200':
          description: RCS sender deleted
        '401':
          description: Unauthorized
        '404':
          description: Sender not found
  /v1/projects/{project_id}/rcs/senders/{sender_id}/launch:
    post:
      operationId: launchRcsSender
      summary: Launch an Rcs Sender
      description: Submits an RCS sender for launch, initiating the approval process with carriers and Google.
      tags:
      - RCS Senders
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SenderId'
      responses:
        '200':
          description: RCS sender launch initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RcsSender'
        '401':
          description: Unauthorized
        '404':
          description: Sender not found
components:
  schemas:
    RcsSender:
      type: object
      properties:
        id:
          type: string
          description: The unique sender identifier
        displayName:
          type: string
          description: The display name shown to recipients
        description:
          type: string
          description: The sender description
        logoUrl:
          type: string
          format: uri
          description: URL to the sender logo
        heroImageUrl:
          type: string
          format: uri
          description: URL to the hero image
        phoneNumber:
          type: string
          description: The associated phone number
        color:
          type: string
          description: Brand color in hex format
        website:
          type: string
          format: uri
          description: Brand website URL
        privacyPolicy:
          type: string
          format: uri
          description: Privacy policy URL
        termsOfService:
          type: string
          format: uri
          description: Terms of service URL
        status:
          type: string
          description: The current sender status
        createTime:
          type: string
          format: date-time
          description: When the sender was created
        updateTime:
          type: string
          format: date-time
          description: When the sender was last updated
    CreateRcsSenderRequest:
      type: object
      required:
      - displayName
      properties:
        displayName:
          type: string
          description: The display name
        description:
          type: string
          description: The sender description
        logoUrl:
          type: string
          format: uri
          description: Logo URL
        heroImageUrl:
          type: string
          format: uri
          description: Hero image URL
        phoneNumber:
          type: string
          description: Associated phone number
        color:
          type: string
          description: Brand color
        website:
          type: string
          format: uri
          description: Website URL
        privacyPolicy:
          type: string
          format: uri
          description: Privacy policy URL
        termsOfService:
          type: string
          format: uri
          description: Terms of service URL
    UpdateRcsSenderRequest:
      type: object
      properties:
        displayName:
          type: string
          description: Updated display name
        description:
          type: string
          description: Updated description
        logoUrl:
          type: string
          format: uri
          description: Updated logo URL
        heroImageUrl:
          type: string
          format: uri
          description: Updated hero image URL
    RcsSenderList:
      type: object
      properties:
        senders:
          type: array
          description: List of RCS senders
          items:
            $ref: '#/components/schemas/RcsSender'
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique project identifier
      schema:
        type: string
    SenderId:
      name: sender_id
      in: path
      required: true
      description: The unique sender identifier
      schema:
        type: string
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth 2.0 client credentials flow.
      flows:
        clientCredentials:
          tokenUrl: https://auth.sinch.com/oauth2/token
          scopes: {}
    basicAuth:
      type: http
      scheme: basic
      description: Key ID as username and key secret as password.
externalDocs:
  description: Sinch Provisioning API Documentation
  url: https://developers.sinch.com/docs/provisioning-api
