openapi: 3.2.0
info:
  title: Provisioning WhatsApp Senders API
  description: A WhatsApp Sender is also referred to as a 'Business Profile' or a WhatsApp channel. The WhatsApp Sender endpoint allows you to create a Sender through Meta's Embedded sign up. A Sender must be provisioned for you as a consumer of the WhatsApp API to send messages to your end users.
  version: 1.2.117
servers:
- url: https://provisioning.api.sinch.com
  description: Production server
security:
- BasicAuth: []
  BearerAuth: []
  OAuth2Production: []
tags:
- name: WhatsApp Senders
  description: A WhatsApp Sender is also referred to as a 'Business Profile' or a WhatsApp channel. The WhatsApp Sender endpoint allows you to create a Sender through Meta's Embedded sign up. A Sender must be provisioned for you as a consumer of the WhatsApp API to send messages to your end users.
paths:
  /v1/projects/{projectId}/whatsapp/senders:
    get:
      description: Returns a paginated list of senders for the specified project. If no page token is supplied then the first `50` will be returned.
      operationId: WhatsappSendersController_listSenders_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: pageToken
        required: false
        in: query
        schema:
          type: string
        description: The page token if retrieving the next page from a previous query.
      - name: pageSize
        required: false
        in: query
        schema:
          type: number
          minimum: 1
          maximum: 100
        description: The page size requested.
      - name: filterStates
        required: false
        in: query
        description: Optionally query for sender by states.
        x-enumDescriptions:
          ACTIVE: The sender identity is active and ready to dispatch messages.
          IN_PROGRESS: The configuration or provisioning sequence for the sender identity is currently in progress.
          INACTIVE: The sender identity exists within the system but is currently not active.
          PENDING_VERIFICATION: The sender identity awaits completion of the formal verification and compliance loop.
          SUSPENDED: The sender identity has been temporarily suspended due to administrative or policy restrictions.
          ERROR: The sender identity has encountered an operational failure and requires technical troubleshooting.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappSenderStatesEnum'
      - name: filterStatuses
        required: false
        in: query
        description: Optionally query for sender by statuses.
        x-enumDescriptions:
          DRAFT: The modifications to the sender identity are saved as a draft only.
          ERROR: The modifications to the sender identity failed and require technical troubleshooting or a manual retry.
          IN_PROGRESS: The modifications to the sender identity have been submitted and are still processing.
          MULTIPLE_WABA_ERROR: This status is deprecated and retained exclusively for backward compatibility layers.
          REJECTED: The modifications to the sender identity have been reviewed and rejected.
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WhatsappSenderStatusesEnum'
      responses:
        '200':
          description: List of senders
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappSenderListDto'
              examples:
                response:
                  summary: List response
                  description: "\n    Response with senders.\n    "
                  value:
                    totalSize: 2
                    pageSize: 50
                    senders:
                    - id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                      state: ACTIVE
                      details:
                        displayName: Test name
                        description: Test description
                        vertical: PROFESSIONAL_SERVICES
                        email: test@test.com
                        address: Test address
                        about: Test about
                        websiteOne: https://example-1.com
                        photoUrl: https://example.com/photos/1.png
                      metadata:
                        displayName:
                          value: New Display Name
                          status: PENDING
                      created: '2023-01-19T13:11:08.204Z'
                      modified: '2023-01-19T13:11:08.204Z'
                      region: EU
                      metaLocalStorage: DE
                      conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                      conversationApiAppDetails:
                        id: 4CF9CE97504C4A468F4610919D17ECC1
                        projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                        region: EU
                        channelStatus: ACTIVE
                      maxTps: 10
                      qualityRating: GREEN
                      bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                      cloudApi: true
                      countryCode: '48'
                      phoneNumber: '777777777'
                      numberProvider: CUSTOMER
                      businessManager: SINCH_UK
                      compatibleRegions:
                      - eu
                      - us
                    - id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                      changes:
                        status: IN_PROGRESS
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                      metadata:
                        displayName:
                          value: New Display Name
                          status: PENDING
                      created: '2023-01-19T13:11:08.204Z'
                      modified: '2023-01-19T13:11:08.204Z'
                      region: EU
                      metaLocalStorage: DE
                      conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                      conversationApiAppDetails:
                        id: 4CF9CE97504C4A468F4610919D17ECC1
                        projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                        region: EU
                        channelStatus: ACTIVE
                      maxTps: 10
                      qualityRating: GREEN
                      bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                      cloudApi: true
                      countryCode: '48'
                      phoneNumber: '777777777'
                      numberProvider: CUSTOMER
                      businessManager: SINCH_UK
                      compatibleRegions:
                      - eu
                      - us
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
                invalid_page_token-1:
                  summary: InvalidPageTokenError
                  value:
                    errorCode: invalid_page_token
                    message: Invalid page token.
                    resolution: The page token to use is provided in the previous query response, for new queries simply leave this field undefined.
                invalid_page_size-2:
                  summary: InvalidPageSizeError
                  value:
                    errorCode: invalid_page_size
                    message: Page size must be numeric.
                    resolution: Use a integer value for pageSize parameter.
                invalid_filter_states-3:
                  summary: InvalidFilterStatesError
                  value:
                    errorCode: invalid_filter_states
                    message: Invalid filterStates.
                    resolution: Verify that the filterStates used are supported by the Provisioning API.
                    additionalInformation:
                      supportedCodes: ACTIVE, IN_PROGRESS, INACTIVE, PENDING_VERIFICATION, SUSPENDED, ERROR
                invalid_filter_statuses-4:
                  summary: InvalidFilterStatusesError
                  value:
                    errorCode: invalid_filter_statuses
                    message: Invalid filter statuses.
                    resolution: Verify that the filterStatuses used are supported by the Provisioning API.
                    additionalInformation:
                      supportedCodes: DRAFT, ERROR, IN_PROGRESS, REJECTED
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                sender_not_found-0:
                  summary: SenderNotFoundError
                  value:
                    errorCode: sender_not_found
                    message: Sender not found.
                    resolution: Verify that the parameters are correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: List all senders in project
      tags:
      - WhatsApp Senders
      x-badges:
      - name: GA
        position: after
        color: green
    post:
      callbacks:
        Comment:
          '{$request.body#webhooks.target}':
            post:
              summary: Comment on sender
              description: "\n        Received when a comment has been added to the sender.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_COMMENT_ADDED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                      - comment
                    example:
                      type: WHATSAPP_SENDER_COMMENT_ADDED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: INACTIVE
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
                      comment: Example comment
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Active:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender completed
              description: "\n        Received when a Sender is completed and ready for use.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_ACTIVE`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_ACTIVE
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: ACTIVE
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Inactive:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender inactive
              description: "\n        Received when a sender is inactivated.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_INACTIVE`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_INACTIVE
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: INACTIVE
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        PendingVerification:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender in pending verification
              description: "\n        Received when a sender is in pending verification.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_PENDING_VERIFICATION`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_PENDING_VERIFICATION
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: PENDING_VERIFICATION
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Rejected:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender in rejected
              description: "\n        Received when a sender is rejected.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_REJECTED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_REJECTED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        changes:
                          status: REJECTED
                          details:
                            displayName: Test name
                            description: Test description
                            vertical: PROFESSIONAL_SERVICES
                            email: test@test.com
                            address: Test address
                            about: Test about
                            websiteOne: https://example-1.com
                            photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Error:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender in error
              description: "\n        Received when a sender has error.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_ERROR`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_ERROR
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        changes:
                          status: ERROR
                          details:
                            displayName: Test name
                            description: Test description
                            vertical: PROFESSIONAL_SERVICES
                            email: test@test.com
                            address: Test address
                            about: Test about
                            websiteOne: https://example-1.com
                            photoUrl: https://example.com/photos/1.png
                          errorReason: Reach out to support at support@sinch.com
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        DailyLimitChanged:
          '{$request.body#webhooks.target}':
            post:
              summary: Daily limit changed for Sender
              deprecated: true
              description: "\n        Received when a daily limit for sender is changed.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_DAILY_LIMIT_CHANGED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_DAILY_LIMIT_CHANGED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: ACTIVE
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        dailyLimit: TIER_100K
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        QualityRatingChanged:
          '{$request.body#webhooks.target}':
            post:
              summary: Quality rating changed for Sender
              description: "\n        Received when a quality rating for sender is changed.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_QUALITY_RATING_CHANGED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_QUALITY_RATING_CHANGED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: ACTIVE
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: YELLOW
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Deleted:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender deleted
              description: "\n        Received when a sender has been deleted.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_DELETED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_DELETED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        region: UNRECOGNIZED
                        metaLocalStorage: UNRECOGNIZED
                        cloudApi: false
                        businessManager: SINCH_UK
                        compatibleRegions: []
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        DisplayNameUpdated:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender display name updated
              description: "\n        Received when a sender display name is updated.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_DISPLAY_NAME_UPDATED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_DISPLAY_NAME_UPDATED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: ACTIVE
                        changes:
                          status: IN_PROGRESS
                          details:
                            displayName: Test name
                            description: Test description
                            vertical: PROFESSIONAL_SERVICES
                            email: test@test.com
                            address: Test address
                            about: Test about
                            websiteOne: https://example-1.com
                            photoUrl: https://example.com/photos/1.png
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        UsernameUpdated:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender username updated
              description: "\n        Received when a sender username is updated.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_USERNAME_UPDATED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_USERNAME_UPDATED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: ACTIVE
                        changes:
                          status: IN_PROGRESS
                          details:
                            displayName: Test name
                            description: Test description
                            vertical: PROFESSIONAL_SERVICES
                            email: test@test.com
                            address: Test address
                            about: Test about
                            websiteOne: https://example-1.com
                            photoUrl: https://example.com/photos/1.png
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
      description: 'Creates a sender for a project. The possible combinations of region, business manager and hosting type are the following


        | Region | | SINCH_BR | SINCH_MX | SINCH_UK |

        | --------- | -- | --- | --- | --- |

        | BR | Embedded (ES) | ✅ Supported | ✅ Supported | ❌ Unsupported |

        | | Partner-initiated | ✅ Supported | ✅ Supported | ❌ Unsupported |

        | EU | Embedded (ES) | ❌ Unsupported | ❌ Unsupported | ✅ Supported |

        | | Partner-initiated | ❌ Unsupported | ❌ Unsupported | ✅ Supported |

        | US | Embedded (ES) | ✅ Supported | ✅ Supported | ✅ Supported |

        | | Partner-initiated | ✅ Supported | ✅ Supported | ✅ Supported |'
      operationId: WhatsappSendersController_createSender_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      requestBody:
        required: true
        description: Sender data
        content:
          application/json:
            schema:
              anyOf:
              - $ref: '#/components/schemas/WhatsappSenderInputEsDto'
              - $ref: '#/components/schemas/WhatsappInputSenderPhoneProvisioningDto'
              - $ref: '#/components/schemas/WhatsappInputSenderPartnerInitiatedDto'
              - $ref: '#/components/schemas/WhatsappSenderInputDtoDeprecated'
            examples:
              es:
                summary: Body request for ES
                description: "\n        Example body request to create an ES.\n        "
                value:
                  region: EU
                  metaLocalStorage: DE
                  wabaId: '11111111111111'
                  phoneNumberId: '222222222222222'
                  authenticationCode: 123asdf123
              phoneProvisioning:
                summary: Body request for new-number sender flow
                description: "\n      Example body request to create a sender with provisioned phone number.\n      "
                value:
                  details:
                    countryCode: '49'
                    phoneNumber: '1701234567'
                    displayName: Demo sender
              partnerInitiated:
                summary: Body request for Partner Initiated Sender
                description: "\n      Example body request to create a partner-initiated sender.\n      "
                value:
                  region: EU
                  metaLocalStorage: DE
                  phoneNumberProvider: CUSTOMER
                  details:
                    countryCode: '48'
                    phoneNumber: '777777777'
                    displayName: Test name
                    description: Test description
                    vertical: EDUCATION
                    email: test@test.com
                    address: Test address
                    websiteOne: https://example-1.com
                    about: Test about
                    photoUrl: https://example.com/photos/1.png
              esWithFacebookToken:
                summary: Body request for ES with Facebook token [Deprecated]
                description: "\n        Example body request to create an ES. [Deprecated]\n        "
                value:
                  region: EU
                  metaLocalStorage: DE
                  wabaId: '11111111111111'
                  phoneNumberId: '222222222222222'
                  facebookAccessToken: FACEBOOK_TOKEN
                  name: Example name
                  details:
                    displayName: Test name
                    description: Test description
                    vertical: EDUCATION
                    email: test@test.com
                    address: Test address
                    websiteOne: https://example-1.com
                    about: Test about
                    photoUrl: https://example.com/photos/1.png
              esWithFacebookCode:
                summary: Body request for ES with Facebook code [Deprecated]
                description: "\n        Example body request to create an ES. [Deprecated]\n        "
                value:
                  region: EU
                  metaLocalStorage: DE
                  wabaId: '11111111111111'
                  phoneNumberId: '222222222222222'
                  facebookCode: FACEBOOK_CODE
                  name: Example name
                  details:
                    displayName: Test name
                    description: Test description
                    vertical: EDUCATION
                    email: test@test.com
                    address: Test address
                    websiteOne: https://example-1.com
                    about: Test about
                    photoUrl: https://example.com/photos/1.png
      responses:
        '201':
          description: Sender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappSenderDto'
              examples:
                response:
                  summary: Create response
                  description: "\n    Response when successfully creating a sender.\n    "
                  value:
                    id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                    changes:
                      status: IN_PROGRESS
                      details:
                        displayName: Test name
                        description: Test description
                        vertical: PROFESSIONAL_SERVICES
                        email: test@test.com
                        address: Test address
                        about: Test about
                        websiteOne: https://example-1.com
                        photoUrl: https://example.com/photos/1.png
                    metadata:
                      displayName:
                        value: New Display Name
                        status: PENDING
                    created: '2023-01-19T13:11:08.204Z'
                    modified: '2023-01-19T13:11:08.204Z'
                    region: EU
                    metaLocalStorage: DE
                    conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                    conversationApiAppDetails:
                      id: 4CF9CE97504C4A468F4610919D17ECC1
                      projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                      region: EU
                      channelStatus: ACTIVE
                    maxTps: 10
                    qualityRating: GREEN
                    bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                    cloudApi: true
                    countryCode: '48'
                    phoneNumber: '777777777'
                    numberProvider: CUSTOMER
                    businessManager: SINCH_UK
                    compatibleRegions:
                    - eu
                    - us
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                      - details should not be null or undefined
                project_not_initialized-1:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
                invalid_facebook_token-2:
                  summary: InvalidFacebookTokenError
                  value:
                    errorCode: invalid_facebook_token
                    message: Facebook token is invalid or has expired
                    resolution: Check that token is correct, or create a new one and try again.
                invalid_business_manager-3:
                  summary: InvalidBusinessManagerError
                  value:
                    errorCode: invalid_business_manager
                    message: Invalid business manager.
                    resolution: Check that business manager is correct for project.
                invalid_business_manager_for_environment-4:
                  summary: InvalidBusinessManagerForEnvironmentError
                  value:
                    errorCode: invalid_business_manager_for_environment
                    message: Invalid business manager for environment.
                    resolution: Verify that business manager is valid for environment. Allowed business managers for environment SINCH_AMERICA, SINCH_UK.
                file_invalid_mime_type-5:
                  summary: FileInvalidMimeTypeError
                  value:
                    errorCode: file_invalid_mime_type
                    message: 'details.photoUrl: invalid file mime type.'
                    resolution: 'Try again with supported mime types: image/jpeg, image/png, image/webp.'
                invalid_payload-6:
                  summary: InvalidPayloadError
                  value:
                    errorCode: invalid_payload
                    message: Invalid payload.
                    resolution: Correct payload and submit again.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_found-0:
                  summary: ProjectNotFoundError
                  value:
                    errorCode: project_not_found
                    message: Project not found.
                    resolution: Verify that the projectId is correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_data_is_corrupt-0:
                  summary: AccountDataIsCorruptError
                  value:
                    errorCode: account_data_is_corrupt
                    message: Account data is corrupt.
                    resolution: Please contact support.
                wrong_waba_id-1:
                  summary: WrongWabaIdError
                  value:
                    errorCode: wrong_waba_id
                    message: Different wabaId already exists for sub account / project.
                    resolution: Please check if the WhatsApp Business Account is correct, or don't provide the WhatsApp Business Account in the request for this project.
                not_found_waba_id-2:
                  summary: NotFoundWabaIdError
                  value:
                    errorCode: not_found_waba_id
                    message: Not found wabaId.
                    resolution: Verify that exist any WhatsApp Business Account for sub account / project.
                too_many_waba_id-3:
                  summary: TooManyWabaIdError
                  value:
                    errorCode: too_many_waba_id
                    message: Too many wabaId.
                    resolution: We can't automatically select WhatsApp Business Account for this project, please provide WhatsApp Business Account in the request.
                waba_id_used-4:
                  summary: WabaIdUsedError
                  value:
                    errorCode: waba_id_used
                    message: WabaId is used.
                    resolution: WhatsApp Business Account is already used in another project. Use another id or create the sender under the correct project.
                wrong_business_manager-5:
                  summary: WrongBusinessManagerError
                  value:
                    errorCode: wrong_business_manager
                    message: Different business manager already exists for sub account / project.
                    resolution: Please check if the Business Manager is correct, or don't provide the Business Manager in the request for this project.
                used_phone_number_id-6:
                  summary: UsedPhoneNumberIdError
                  value:
                    errorCode: used_phone_number_id
                    message: Used phoneNumberId.
                    resolution: PhoneNumberId is used. Choose another one.
                provisioned_phone_number_id-7:
                  summary: ProvisionedPhoneNumberIdError
                  value:
                    errorCode: provisioned_phone_number_id
                    message: Provisioned phoneNumberId.
                    resolution: PhoneNumberId is provisioned. Choose another one.
                all_phone_number_id_provisioned-8:
                  summary: AllPhoneNumberIdProvisionedError
                  value:
                    errorCode: all_phone_number_id_provisioned
                    message: All phoneNumberId are provisioned.
                    resolution: All phoneNumberId are provisioned. Add another one.
                invalid_waba_id_or_phone_number_id_for_region-9:
                  summary: InvalidWabaIdOrPhoneNumberIdForRegionError
                  value:
                    errorCode: invalid_waba_id_or_phone_number_id_for_region
                    message: Invalid wabaId or phoneNumberId for region.
                    resolution: Please check if the WhatsApp Business Account, phone number id and region are correct.
                file_not_found-10:
                  summary: FileNotFoundError
                  value:
                    errorCode: file_not_found
                    message: 'details.photoUrl: file not found.'
                    resolution: Verify that the url is correct.
                file_size_too_large-11:
                  summary: FileSizeTooLargeError
                  value:
                    errorCode: file_size_too_large
                    message: 'details.photoUrl: file size is too large.'
                    resolution: Try again with a smaller file. Max size for `image/jpeg` is 5MB.
                file_has_wrong_dimensions-12:
                  summary: FileHasWrongDimensionsError
                  value:
                    errorCode: file_has_wrong_dimensions
                    message: 'details.photoUrl: image has wrong dimensions.'
                    resolution: 'Try again with image dimensions: min 192 x 192 px & max 640 x 640 px.'
                file_unexpected_error-13:
                  summary: FileUnexpectedErrorError
                  value:
                    errorCode: file_unexpected_error
                    message: 'details.photoUrl: file unexpected error.'
                    resolution: The file cannot be handled properly. Please try with another one.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                facebook_Request_limit_reached-0:
                  summary: FacebookRequestLimitReachedError
                  value:
                    errorCode: facebook_Request_limit_reached
                    message: Facebook request limit reached.
                    resolution: Please try again later.
                log_in_facebook_required-1:
                  summary: LogInFacebookRequiredError
                  value:
                    errorCode: log_in_facebook_required
                    message: Log in to facebook required.
                    resolution: Log in to www.facebook.com and follow the instructions given.
                internal_error-2:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: Create sender for project
      tags:
      - WhatsApp Senders
      x-badges:
      - name: GA
        position: after
        color: green
  /v1/projects/{projectId}/whatsapp/senders/{senderId}:
    get:
      description: Returns a sender for a project.
      operationId: WhatsappSendersController_get_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: senderId
        required: true
        in: path
        description: The unique ID of the sender.
        schema:
          type: string
      responses:
        '200':
          description: Sender
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappSenderDto'
              examples:
                response:
                  summary: Get response
                  description: "\n    Response with a sender.\n    "
                  value:
                    id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                    state: ACTIVE
                    details:
                      displayName: Test name
                      description: Test description
                      vertical: PROFESSIONAL_SERVICES
                      email: test@test.com
                      address: Test address
                      about: Test about
                      websiteOne: https://example-1.com
                      photoUrl: https://example.com/photos/1.png
                    metadata:
                      displayName:
                        value: New Display Name
                        status: PENDING
                    created: '2023-01-19T13:11:08.204Z'
                    modified: '2023-01-19T13:11:08.204Z'
                    region: EU
                    metaLocalStorage: DE
                    conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                    conversationApiAppDetails:
                      id: 4CF9CE97504C4A468F4610919D17ECC1
                      projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                      region: EU
                      channelStatus: ACTIVE
                    maxTps: 10
                    qualityRating: GREEN
                    bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                    cloudApi: true
                    countryCode: '48'
                    phoneNumber: '777777777'
                    numberProvider: CUSTOMER
                    businessManager: SINCH_UK
                    compatibleRegions:
                    - eu
                    - us
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                sender_not_found-0:
                  summary: SenderNotFoundError
                  value:
                    errorCode: sender_not_found
                    message: Sender not found.
                    resolution: Verify that the parameters are correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: Get sender for project
      tags:
      - WhatsApp Senders
      x-badges:
      - name: GA
        position: after
        color: green
    delete:
      description: Marks a sender for removal. Once requested the sender will be active for 30 days to send final messages. After 30 days it will be removed.
      operationId: WhatsappSendersController_delete_v1
      parameters:
      - name: projectId
        required: true
        in: path
        description: The unique ID of the project. You can find this on the <a href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
        schema:
          type: string
      - name: senderId
        required: true
        in: path
        description: The unique ID of the sender.
        schema:
          type: string
      responses:
        '204':
          description: Sender deleted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: Verify that the project ID is correct and that it has been onboarded for WhatsApp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                sender_not_found-0:
                  summary: SenderNotFoundError
                  value:
                    errorCode: sender_not_found
                    message: Sender not found.
                    resolution: Verify that the parameters are correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                sender_already_deleted-0:
                  summary: SenderAlreadyDeletedError
                  value:
                    errorCode: sender_already_deleted
                    message: A sender has been deleted within 30 days.
                    resolution: Wait the required time.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: Please wait and try again, if the error persist please contact support.
      summary: Delete sender for project
      tags:
      - WhatsApp Senders
      x-badges:
      - name: GA
        position: after
        color: green
    patch:
      callbacks:
        Comment:
          '{$request.body#webhooks.target}':
            post:
              summary: Comment on sender
              description: "\n        Received when a comment has been added to the sender.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_COMMENT_ADDED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                      - comment
                    example:
                      type: WHATSAPP_SENDER_COMMENT_ADDED
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: INACTIVE
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
                      comment: Example comment
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Active:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender completed
              description: "\n        Received when a Sender is completed and ready for use.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_ACTIVE`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_ACTIVE
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: ACTIVE
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Inactive:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender inactive
              description: "\n        Received when a sender is inactivated.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_INACTIVE`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_INACTIVE
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: INACTIVE
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        PendingVerification:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender in pending verification
              description: "\n        Received when a sender is in pending verification.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_PENDING_VERIFICATION`.
                          type: string
                        payload:
                          description: Sender at time of callback.
                          allOf:
                          - $ref: '#/components/schemas/WhatsappSenderDto'
                        comment:
                          description: Comment for sender.
                          type: string
                      required:
                      - type
                      - payload
                    example:
                      type: WHATSAPP_SENDER_PENDING_VERIFICATION
                      payload:
                        id: cf11794a-6a5e-4a12-b103-da79bd378bf1
                        state: PENDING_VERIFICATION
                        details:
                          displayName: Test name
                          description: Test description
                          vertical: PROFESSIONAL_SERVICES
                          email: test@test.com
                          address: Test address
                          about: Test about
                          websiteOne: https://example-1.com
                          photoUrl: https://example.com/photos/1.png
                        metadata:
                          displayName:
                            value: New Display Name
                            status: PENDING
                        created: '2023-01-19T13:11:08.204Z'
                        modified: '2023-01-19T13:11:08.204Z'
                        region: EU
                        metaLocalStorage: DE
                        conversationApiApp: 4CF9CE97504C4A468F4610919D17ECC1
                        conversationApiAppDetails:
                          id: 4CF9CE97504C4A468F4610919D17ECC1
                          projectId: ea026751-3edf-40a9-ad93-1b382bd60a78
                          region: EU
                          channelStatus: ACTIVE
                        maxTps: 10
                        qualityRating: GREEN
                        bearerToken: aaaaAAAA.bbbbBBBB.ccccCCCC
                        cloudApi: true
                        countryCode: '48'
                        phoneNumber: '777777777'
                        numberProvider: CUSTOMER
                        businessManager: SINCH_UK
                        compatibleRegions:
                        - eu
                        - us
              responses:
                '200':
                  description: Response to callback will be ignored. The call will retry if unsuccessful.
        Rejected:
          '{$request.body#webhooks.target}':
            post:
              summary: Sender in rejected
              description: "\n        Received when a sender is rejected.\n        "
              parameters:
              - in: header
                name: x-sinch-webhook-signature
                schema:
                  type: string
                  format: SHA256-hash
                example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
              - in: header
                name: x-sinch-webhook-signature-algorithm
                schema:
                  type: string
                  const: HmacSHA256
                  x-enumDescriptions:
                    HmacSHA256: The HMAC SHA-256 signature algorithm used to validate webhook authenticity.
                  uniqueItems: false
                example: HmacSHA256
              - in: header
                name: x-sinch-webhook-signature-nonce
                schema:
                  type: string
                example: 01EAW2BNWCG9DC13RS582V0ZQ3
              - in: header
                name: x-sinch-webhook-signature-timestamp
                schema:
                  type: string
                  format: timestamp
                example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: Type of event, in this case `WHATSAPP_SENDER_REJECTED`.
                          type: string
                        payload:
                          description: Sender at time of callback.
[...]
