openapi: 3.2.0
info:
  title: Sinch Voice Calls API
  description: The Sinch Voice API is a programmable voice platform that allows developers to make, receive, and manage voice calls over PSTN, SIP, and in-app channels. It supports text-to-speech in over 115 languages, interactive voice response (IVR) menus, call recording, transcription, number masking, and conferencing. The API enables outbound and inbound calling with real-time call control through callbacks and SVAML instructions.
  version: '1.0'
  contact:
    name: Sinch Support
    url: https://www.sinch.com/contact-us/
  termsOfService: https://www.sinch.com/terms-of-service/
servers:
- url: https://calling.api.sinch.com
  description: Global Production Server
security:
- basicAuth: []
tags:
- name: Calls
  description: Manage ongoing calls or retrieve information about a call. Supports updating call properties and hanging up calls.
paths:
  /calling/v1/calls/id/{call_id}:
    get:
      operationId: getCall
      summary: Get Call Information
      description: Returns information about a specific call identified by the call ID.
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/CallId'
      responses:
        '200':
          description: Call details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallInformation'
        '401':
          description: Unauthorized
        '404':
          description: Call not found
    patch:
      operationId: updateCall
      summary: Update a Call
      description: Updates an ongoing call with SVAML instructions. Can be used to play prompts, connect calls, or hang up.
      tags:
      - Calls
      parameters:
      - $ref: '#/components/parameters/CallId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SVAMLControl'
      responses:
        '200':
          description: Call updated
        '401':
          description: Unauthorized
        '404':
          description: Call not found
components:
  schemas:
    Price:
      type: object
      properties:
        currencyId:
          type: string
          description: The currency code
        amount:
          type: number
          description: The amount
    CallInformation:
      type: object
      properties:
        from:
          type: string
          description: The caller number
        to:
          type: string
          description: The callee number
        domain:
          type: string
          description: The call domain
        callId:
          type: string
          description: The unique call identifier
        duration:
          type: integer
          description: The call duration in seconds
        status:
          type: string
          description: The current call status
        result:
          type: string
          description: The call result
        reason:
          type: string
          description: The reason for call disconnection
        timestamp:
          type: string
          format: date-time
          description: When the call was initiated
        userRate:
          $ref: '#/components/schemas/Price'
        debit:
          $ref: '#/components/schemas/Price'
    SVAMLControl:
      type: object
      properties:
        action:
          type: object
          description: The SVAML action to execute
          properties:
            name:
              type: string
              description: The action name
        instructions:
          type: array
          description: List of SVAML instructions
          items:
            type: object
            properties:
              name:
                type: string
                description: The instruction name
  parameters:
    CallId:
      name: call_id
      in: path
      required: true
      description: The unique call identifier
      schema:
        type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Application key and secret used for HTTP basic authentication. Application-signed requests are also supported.
externalDocs:
  description: Sinch Voice API Documentation
  url: https://developers.sinch.com/docs/voice
