openapi: 3.2.0
info:
  title: Imported Numbers and Hosting Orders Qualified Numbers API
  description: API for importing, hosting, and qualifying numbers to enable them for use with Sinch SMS text messaging services.
  contact:
    name: Support
    url: https://www.sinch.com
    email: support@sinch.com
  license:
    name: MIT
    url: https://www.sinch.com/toc
  version: '1.0'
servers:
- url: https://imported.numbers.api.sinch.com
  description: Global API
security:
- Basic: []
- OAuth2.0: []
tags:
- name: Qualified Numbers
  description: 'You can use the Qualified Numbers API to qualify numbers you want Sinch to host and have available for use with Sinch SMS services. Qualifying a number involves verifying ownership of a number either by providing a one time passcode sent to the number by voice call or by providing invoices for multiple numbers. Once numbers are qualified, you can then enable those numbers for SMS text messaging services.


    Note: The SMS enablement process is only supported in United States and Canada.'
paths:
  /v1/projects/{projectId}/qualifiedNumbers:
    get:
      tags:
      - Qualified Numbers
      summary: List qualified numbers
      description: Returns a list of qualified numbers for the project.
      operationId: QualifiedNumberService_ListQualifiedNumbers
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/regionCode'
      - $ref: '#/components/parameters/globalProcessStates'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/orderBy'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQualifiedNumber'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/qualifiedNumbers/{phoneNumber}:
    get:
      tags:
      - Qualified Numbers
      summary: Get qualified number
      description: Return a qualified number as specified by the phone number in the path.
      operationId: QualifiedNumberService_GetQualifiedNumber
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualifiedNumber'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Qualified Numbers
      summary: Delete qualified number
      description: Deletes a qualified number as specified by the phone number in the path.
      operationId: QualifiedNumberService_DeleteQualifiedNumber
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
      responses:
        '200':
          description: OK
          content: {}
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/qualifiedNumbers:addNumbers:
    post:
      tags:
      - Qualified Numbers
      summary: Create qualified number batch
      description: Create a request to qualify a batch of numbers. After you have submitted the request, you must send an email to orders@sinch.com attaching all of the invoices related to the phone numbers in the request. In most cases, it will take the Sinch team 1-3 days to review your documentation and qualify your numbers.
      operationId: QualifiedNumberService_BatchCreateQualifiedNumbers
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchCreateQualifiedNumbersRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchCreateQualifiedNumbersResponse'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/qualifiedNumbers:textEnableNumbers:
    post:
      tags:
      - Qualified Numbers
      summary: Text enable numbers
      description: Enables text capability for the specified qualified numbers. You can enable up to 500 numbers at once. To enable a number for SMS, you must include a Campaign ID and billing information for a Letter of Authorization to be generated. The information required can differ depending on if you are a direct customer of Sinch or a reseller. The Letter of Authorization will be sent to the email you provide in the request to be e-signed.
      operationId: QualifiedNumberService_TextEnableNumbers
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextEnableNumbersRequest'
            examples:
              directLOAExample:
                summary: Direct customer LOA
                value:
                  regionCode: US
                  numbers:
                  - '+12025550134'
                  servicePlanId: YOUR_service_plan_id
                  campaignId: YOUR_campaign_id
                  directLoaInfo:
                    authorisedPerson:
                      firstName: John
                      lastName: Doe
                      email: john.doe@email.com
                    address:
                      buildingNumber: '1234'
                      street: Main St
                      city: NYC
                      state: NY
                      postalCode: '01002'
                      country: US
                    currentVoiceCarrier: Verizon
                  scheduledOsrUpdateTime: '2023-01-13T14:34:40.968Z'
                  migrateToSinchTmo: true
              resellerLOAExample:
                summary: Reseller LOA
                value:
                  regionCode: US
                  numbers:
                  - '+12025550134'
                  servicePlanId: YOUR_service_plan_id
                  campaignId: YOUR_campaign_id
                  resellerLoaInfo:
                    businessName: Acme, Inc.
                    authorisedPerson:
                      firstName: John
                      lastName: Doe
                      email: john.doe@email.com
                    address:
                      buildingNumber: '1234'
                      street: Main St
                      city: NYC
                      state: NY
                      postalCode: '01002'
                      country: US
                    currentVoiceCarrier: Verizon
                  scheduledOsrUpdateTime: '2023-01-13T14:34:40.968Z'
                  migrateToSinchTmo: true
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextEnableResponse'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/qualifiedNumbers:textEnableTollFreeNumbers:
    post:
      summary: Text enable Toll Free qualified numbers
      description: Text enable Toll Free qualified numbers of a specific project by creating a hosting order.
      operationId: QualifiedNumbersTextEnableTollFreeNumbers
      requestBody:
        $ref: '#/components/requestBodies/TextEnableTollFreeNumbersRequest'
      responses:
        '200':
          $ref: '#/components/responses/HostingOrderResponse'
        '400':
          $ref: '#/components/responses/TextEnableNumbers_InvalidArgumentResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/AlreadyExistsResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
      parameters:
      - $ref: '#/components/parameters/projectId'
      tags:
      - Qualified Numbers
  /v1/projects/{projectId}/qualifiedNumbers/{phoneNumber}:verifyVoiceChallenge:
    post:
      tags:
      - Qualified Numbers
      summary: Verify voice challenge
      description: Uses the code you received from the Send voice challenge operation to verify that you own the phone number.
      operationId: QualifiedNumberService_VerifyVoiceChallenge
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyVoiceChallengeRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualifiedNumber'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/qualifiedNumbers/{phoneNumber}:sendVoiceChallenge:
    post:
      tags:
      - Qualified Numbers
      summary: Send voice challenge
      description: Sends a voice challenge to the phone number specified in the path to verify that you own the number. The voice call contains a code that you must use to verify the number.
      operationId: QualifiedNumberService_SendVoiceChallenge
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualifiedNumber'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    DirectLoaInfo:
      description: Letter of Authorization for direct Sinch customers.
      required:
      - authorisedPerson
      - address
      - currentVoiceCarrier
      type: object
      properties:
        authorisedPerson:
          $ref: '#/components/schemas/AuthorizedPerson'
        address:
          $ref: '#/components/schemas/Address'
        currentVoiceCarrier:
          type: string
          description: The current carrier you are using for voice services for the number you want to host on Sinch.
          example: TMO
    QualifiedNumber_OwnershipVerificationDetails:
      description: Details about the ownership verification, including the status of the verification process and any error if available.
      type: object
      properties:
        status:
          $ref: '#/components/schemas/State'
        error:
          type: string
    QualifiedNumber_OsrEligibilityDetails:
      description: Details about the OSR eligibility, including the status of the OSR update, and the error if available.
      type: object
      properties:
        status:
          $ref: '#/components/schemas/State'
        error:
          type: string
    Address:
      description: The address of the business.
      required:
      - buildingNumber
      - street
      - city
      - state
      - postalCode
      - country
      type: object
      properties:
        buildingNumber:
          type: string
          description: The building number of the address.
          example: '123'
        street:
          type: string
          description: The street name of the address.
          example: 1st
        city:
          type: string
          description: The city name of the address.
          example: New York
        state:
          type: string
          description: The state name of the address.
          example: NY
        postalCode:
          type: string
          description: The postal code of the address.
          example: '00001'
        country:
          type: string
          description: The country of the address.
          example: USA
    TextEnableResponse:
      type: object
      properties:
        hostingOrderId:
          type: string
          description: The ID of the hosting order.
    TextEnableInfo:
      type: object
      properties:
        businessName:
          type: string
          description: The name of the business.
          example: Acme, Inc.
        authorisedPerson:
          $ref: '#/components/schemas/AuthorizedPerson'
        address:
          $ref: '#/components/schemas/Address'
        serviceProvider:
          type: string
        currentVoiceCarrier:
          type: string
          description: The current carrier you are using for voice services for the number you want to host on Sinch.
          example: TMO
        nnid:
          type: string
          description: The Net Number ID for the number you want to host on Sinch.
        loaType:
          description: The type of the letter of authorization.
          type: string
          format: enum
          enum:
          - Direct
          - Reseller
          x-enumDescriptions:
            Direct: If you are a direct Sinch customer.
            Reseller: If you are a Sinch partner or reseller.
    TextEnableTollFreeNumbersLoaInfoCommon:
      required:
      - projectId
      - regionCode
      - numbers
      - servicePlanId
      type: object
      properties:
        projectId:
          type: string
          description: The project id we want the numbers to be enabled for.
        displayName:
          type: string
          description: The display name of the numbers.
        regionCode:
          type: string
          description: 'ISO 3166-1 alpha-2 country code of the phone number. Example: US, CA'
        numbers:
          type: array
          items:
            type: string
        scheduledZipwhipProvisioningTime:
          type: string
          description: Optional field which allow to determine when Zipwhip provisioning will be done. Timestamp needs to be from UTC zone. Important! If LOA is signed after `scheduledZipwhipProvisioningTime`, date will be rescheduled to the next day at the same time.
        servicePlanId:
          type: string
          description: The SMS service that the number will be linked to. The `servicePlanId` can be found in the [Sinch Customer Dashboard](https://dashboard.sinch.com/sms/api/rest).
        callbackUrl:
          type: string
          description: The callback URL to be called for text enablement updates
    QualifiedNumber_HostedNumberDetails:
      description: Details about the hosting status of a number, including any errors if available.
      type: object
      properties:
        status:
          type: integer
          description: The status of the hosting details.
          format: enum
          enum:
          - 0
          - 1
          - 2
          x-enumDescriptions:
            '0': HOSTING_STATUS_UNSPECIFIED
            '1': HOSTING_STATUS_HOSTED
            '2': HOSTING_STATUS_FAILED
        error:
          type: string
          description: The description of the hosting status error.
    BlanketLoaInfo:
      description: You can set up a blanket Letter of Authorization (LoA) that will allow you to import numbers to your account without having to sign an LoA each time you submit a request. To set up a blanket LoA, email your account manager. Once the LoA has been approved, you can use this `blanketLoaInfo` object in your requests. The `blanketLoaInfo` object should be sent as an empty object.
      type: object
      properties: {}
    State:
      type: string
      description: Indicates the current state of the operation.
      enum:
      - DONE
      - FAILED
      - IN_PROGRESS
      - WAITING
      - STATE_UNSPECIFIED
      x-enumDescriptions:
        DONE: The operation was completed successfully.
        FAILED: The operation has failed.
        IN_PROGRESS: The operation is currently in progress.
        WAITING: The operation is pending and has not yet started.
        STATE_UNSPECIFIED: The state is unspecified.
      example: DONE
    BatchCreateQualifiedNumbersRequest:
      required:
      - phoneNumbers
      type: object
      properties:
        phoneNumbers:
          type: array
          items:
            type: string
            example: '+12345612345'
      description: The phone numbers you want to qualify.
    TextEnableTollFreeNumbersRequest:
      type: object
      oneOf:
      - $ref: '#/components/schemas/TextEnableTollFreeNumbersDirectLoaInfoRequest'
      - $ref: '#/components/schemas/TextEnableTollFreeNumbersResellerLoaInfoRequest'
      description: Request for text enabling project Toll Free numbers.
      title: Text enable Toll Free numbers request
    ListQualifiedNumber:
      type: object
      properties:
        qualifiedNumbers:
          type: array
          items:
            $ref: '#/components/schemas/QualifiedNumber'
        nextPageToken:
          type: string
        totalSize:
          type: integer
          format: int32
    VerifyVoiceChallengeRequest:
      required:
      - code
      type: object
      properties:
        code:
          type: string
          example: '1234'
    ResellerLoaInfo:
      description: Letter of Authorization for resellers.
      required:
      - businessName
      - authorisedPerson
      - address
      - currentVoiceCarrier
      type: object
      properties:
        businessName:
          type: string
          description: The name of the business.
          example: Acme, Inc.
        authorisedPerson:
          $ref: '#/components/schemas/AuthorizedPerson'
        address:
          $ref: '#/components/schemas/Address'
        currentVoiceCarrier:
          type: string
          description: The current carrier you are using for voice services for the number you want to host on Sinch.
          example: TMO
    ErrorResponse:
      type: object
      properties:
        code:
          example: '404'
          type: string
          description: The HTTP response code for the error.
        message:
          example: The imported number could not be found.
          type: string
          description: The friendly message describing the reason for the error response.
        status:
          example: NOT_FOUND
          type: string
          description: The HTTP response status for the error.
      description: The schema for an error response.
    HostingOrder:
      type: object
      properties:
        projectId:
          type: string
          description: The project ID to which the hosting order is associated.
          example: YOUR_project_id
        hostingOrderId:
          type: string
          description: The unique ID of the hosting order.
          example: YOUR_hosting_order_id
        displayName:
          type: string
          description: The friendly name of the hosting order.
          example: MyHostingOrder
        regionCode:
          type: string
          description: The region code of the hosting order. Number hosting is only available for the US and Canada, so you must enter either "US" or "CA".
          example: US
        state:
          type: string
          enum:
          - HOSTING_ORDER_STATE_UNSPECIFIED
          - DRAFT
          - SUBMITTED
          - WAITING_FOR_LOA_SIGNATURE
          - IN_PROGRESS
          - COMPLETED
          - REJECTED
          x-enumDescriptions:
            HOSTING_ORDER_STATE_UNSPECIFIED: State is unspecified.
            DRAFT: Hosting order is a draft.
            SUBMITTED: Hosting order has been submitted.
            WAITING_FOR_LOA_SIGNATURE: Hosting order is waiting for the LoA signature.
            IN_PROGRESS: Hosting order is in progress.
            COMPLETED: Hosting order is completed.
            REJECTED: Hosting order is rejected.
          description: The state of the hosting order.
        type:
          type: string
          enum:
          - HOSTING_ORDER_TYPE_UNSPECIFIED
          - IMPORT
          - TYPE_TEXT_ENABLE
          x-enumDescriptions:
            HOSTING_ORDER_TYPE_UNSPECIFIED: The type of hosting order is unspecified.
            IMPORT: Hosting order to import numbers.
            TYPE_TEXT_ENABLE: Hosting order to text-enable numbers.
          description: The hosting order type.
        createdTime:
          type: string
          format: date-time
          description: Timestamp when the hosting order was created
          readOnly: true
        updatedTime:
          type: string
          format: date-time
          description: Timestamp when the hosting order was last updated
          readOnly: true
        scheduledOsrUpdateTime:
          type: string
          format: date-time
          description: Timestamp when the OSR update will be done
          readOnly: true
        servicePlanId:
          type: string
          description: The service plan to which the hosting order is associated.
          example: YOUR_service_plan_id
        campaignId:
          type: string
          description: The campaign to which the hosting order is associated.
          example: YOUR_campaign_id
        migrateToSinchTmo:
          type: boolean
          readOnly: true
          description: Displays if a number is assigned to another aggregator in T-Mobile's platform, and requires migration from previous aggregator to Sinch.
        textEnableInfo:
          $ref: '#/components/schemas/TextEnableInfo'
        callbackUrl:
          type: string
          description: The client's callback URL to be called upon finishing the number import.
          example: https://www.your-callback-server.com/callback
    TextEnableNumbersRequest:
      description: A request to text enable the numbers in a hosting order.
      required:
      - regionCode
      - numbers
      - servicePlanId
      type: object
      properties:
        projectId:
          type: string
          description: The ID of the project to which the hosting order is associated.
          example: YOUR_project_id
        displayName:
          type: string
          description: The optional display name of the hosting order.
          example: MyHostingOrder
        regionCode:
          type: string
          description: The region code for the hosting order.
          example: US
        numbers:
          type: array
          description: An array of all the phone numbers associated with the hosting order.
          items:
            type: string
            example: '+12025550134'
        nnid:
          type: string
          description: Defaults to either Sinch NNID or what was originally configured on the customer account. Sinch encourages customers to use the Sinch NNID, but if you want to use another NNID, please contact your account manager.
        servicePlanId:
          type: string
          description: The ID of the service plan to which the hosting order is associated.
          example: YOUR_service_plan_id
        campaignId:
          type: string
          description: The ID of the campaign to which the hosting order is associated.
          example: YOUR_campaign_id
        directLoaInfo:
          $ref: '#/components/schemas/DirectLoaInfo'
        resellerLoaInfo:
          $ref: '#/components/schemas/ResellerLoaInfo'
        blanketLoaInfo:
          $ref: '#/components/schemas/BlanketLoaInfo'
        scheduledOsrUpdateTime:
          type: string
          format: date-time
          description: The scheduled time for OSR to be updated.
        migrateToSinchTmo:
          type: boolean
          readOnly: true
          description: Displays if a number is assigned to another aggregator in T-Mobile's platform, and requires migration from previous aggregator to Sinch.
        callbackUrl:
          type: string
          description: The client's callback URL to be called for text enablement updates.
          example: https://www.your-callback-server.com/callback
    TextEnableTollFreeNumbersDirectLoaInfoRequest:
      type: object
      properties:
        allOf:
          $ref: '#/components/schemas/TextEnableTollFreeNumbersLoaInfoCommon'
        directLoaInfo:
          $ref: '#/components/schemas/DirectLoaInfo'
      required:
      - directLoaInfo
    AuthorizedPerson:
      description: The person authorized and responsible for the hosting order.
      required:
      - firstName
      - lastName
      - email
      type: object
      properties:
        firstName:
          type: string
          description: The first name of the authorized person.
          example: John
        lastName:
          type: string
          description: The last name of the authorized person.
          example: Doe
        email:
          type: string
          description: The email address of the authorized person.
          example: john.doe@company.com
    TextEnableTollFreeNumbersResellerLoaInfoRequest:
      type: object
      properties:
        allOf:
          $ref: '#/components/schemas/TextEnableTollFreeNumbersLoaInfoCommon'
        resellerLoaInfo:
          $ref: '#/components/schemas/ResellerLoaInfo'
      required:
      - resellerLoaInfo
    BatchCreateQualifiedNumbersResponse:
      type: object
      properties:
        qualifiedNumbers:
          type: array
          items:
            $ref: '#/components/schemas/QualifiedNumber'
    QualifiedNumber:
      type: object
      properties:
        phoneNumber:
          type: string
          description: The phone number in e.164 format with leading +.
          example: '+12025550134'
        projectId:
          type: string
          description: The ID of the project to which the number belongs.
          example: abcd12ef-ab12-ab12-bc34-abcdef123456
        regionCode:
          type: string
          description: ISO 3166-1 alpha-2 country code of the phone number. Example US or CA.
          example: US
        globalProcessState:
          type: string
          format: enum
          enum:
          - GLOBAL_PROCESS_STATE_UNSPECIFIED
          - GLOBAL_PROCESS_STATE_ELIGIBLE_CHECK_PENDING
          - GLOBAL_PROCESS_STATE_ELIGIBLE
          - GLOBAL_PROCESS_STATE_NOT_ELIGIBLE
          - GLOBAL_PROCESS_STATE_VERIFICATION_PENDING
          - GLOBAL_PROCESS_STATE_VERIFICATION_FAILED
          - GLOBAL_PROCESS_STATE_VERIFICATION_BLOCKED
          - GLOBAL_PROCESS_STATE_VERIFIED
          - GLOBAL_PROCESS_STATE_HOSTING_IN_PROGRESS
          - GLOBAL_PROCESS_STATE_HOSTING_DONE
          - GLOBAL_PROCESS_STATE_HOSTING_FAILED
          x-enumDescriptions:
            GLOBAL_PROCESS_STATE_UNSPECIFIED: The state is unspecified.
            GLOBAL_PROCESS_STATE_ELIGIBLE_CHECK_PENDING: The check for eligibility is pending.
            GLOBAL_PROCESS_STATE_ELIGIBLE: The state is eligible.
            GLOBAL_PROCESS_STATE_NOT_ELIGIBLE: The state is not eligible.
            GLOBAL_PROCESS_STATE_VERIFICATION_PENDING: The state verification is pending.
            GLOBAL_PROCESS_STATE_VERIFICATION_FAILED: The state verification failed.
            GLOBAL_PROCESS_STATE_VERIFICATION_BLOCKED: The state verification is blocked.
            GLOBAL_PROCESS_STATE_VERIFIED: The state is verified.
            GLOBAL_PROCESS_STATE_HOSTING_IN_PROGRESS: Hosting process is in progress.
            GLOBAL_PROCESS_STATE_HOSTING_DONE: Hosting process is done.
            GLOBAL_PROCESS_STATE_HOSTING_FAILED: Hosting process failed.
          description: The global processing state of the qualified number.
        osrEligibility:
          $ref: '#/components/schemas/QualifiedNumber_OsrEligibilityDetails'
        ownershipVerification:
          $ref: '#/components/schemas/QualifiedNumber_OwnershipVerificationDetails'
        hostedNumber:
          $ref: '#/components/schemas/QualifiedNumber_HostedNumberDetails'
        createdTime:
          description: The date and time the hosting order was created.
          type: string
          format: date-time
        updatedTime:
          description: The date and time the hosting order was last updated.
          type: string
          format: date-time
  parameters:
    pageSize:
      name: pageSize
      description: The maximum number of items to return, server can enforce an upper limit and overwrite the value.
      in: query
      required: false
      schema:
        type: integer
        example: 20
    globalProcessStates:
      name: states
      description: The qualified number states
      in: query
      required: true
      schema:
        type: string
        enum:
        - GLOBAL_PROCESS_STATE_ELIGIBLE_CHECK_PENDING
        - GLOBAL_PROCESS_STATE_ELIGIBLE
        - GLOBAL_PROCESS_STATE_NOT_ELIGIBLE
        - GLOBAL_PROCESS_STATE_VERIFICATION_PENDING
        - GLOBAL_PROCESS_STATE_VERIFICATION_FAILED
        - GLOBAL_PROCESS_STATE_VERIFICATION_BLOCKED
        - GLOBAL_PROCESS_STATE_VERIFIED
        - GLOBAL_PROCESS_STATE_HOSTING_IN_PROGRESS
        - GLOBAL_PROCESS_STATE_HOSTING_DONE
        - GLOBAL_PROCESS_STATE_HOSTING_FAILED
        - GLOBAL_PROCESS_STATE_UNSPECIFIED
        x-enumDescriptions:
          GLOBAL_PROCESS_STATE_UNSPECIFIED: The state is unspecified.
          GLOBAL_PROCESS_STATE_ELIGIBLE_CHECK_PENDING: The check for eligibility is pending.
          GLOBAL_PROCESS_STATE_ELIGIBLE: The state is eligible.
          GLOBAL_PROCESS_STATE_NOT_ELIGIBLE: The state is not eligible.
          GLOBAL_PROCESS_STATE_VERIFICATION_PENDING: The state verification is pending.
          GLOBAL_PROCESS_STATE_VERIFICATION_FAILED: The state verification failed.
          GLOBAL_PROCESS_STATE_VERIFICATION_BLOCKED: The state verification is blocked.
          GLOBAL_PROCESS_STATE_VERIFIED: The state is verified.
          GLOBAL_PROCESS_STATE_HOSTING_IN_PROGRESS: Hosting process is in progress.
          GLOBAL_PROCESS_STATE_HOSTING_DONE: Hosting process is done.
          GLOBAL_PROCESS_STATE_HOSTING_FAILED: Hosting process failed.
        example: GLOBAL_PROCESS_STATE_HOSTING_IN_PROGRESS
    regionCode:
      name: regionCode
      description: Region code to filter by. ISO 3166-1 alpha-2 country code of the phone number. Currently supported are US, CA
      in: query
      required: false
      schema:
        type: string
        example: US
    phoneNumber:
      name: phoneNumber
      description: The phone number in [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading `+`.
      in: path
      required: true
      schema:
        type: string
        example: '+12025550134'
    pageToken:
      name: pageToken
      description: The next page token value returned from a previous listing.
      in: query
      required: false
      schema:
        type: string
        example: C2VNYXJrEg4KDCsxMjAxMjI2MzUyOQ==
    projectId:
      name: projectId
      description: Found on your [Sinch Customer Dashboard](https://dashboard.sinch.com/settings/project-management). Settings > Projects.
      in: path
      required: true
      schema:
        type: string
        example: d1923022-5199-4bb3-a513-c47b3a656bc5
    orderBy:
      name: orderBy
      description: Parameter used to order the returned hosting orders
      in: query
      required: false
      schema:
        type: string
        enum:
        - createdTime
        - updatedTime
        x-enumDescriptions:
          createdTime: Order by the time the hosting order was created.
          updatedTime: Order by the time the hosting order was last updated.
  responses:
    AlreadyExistsResponse:
      description: The imported number already exists and cannot be created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalErrorResponse:
      description: Internal server error. Typically, a server bug.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    HostingOrderResponse:
      description: A successful response with a hosting order, or an error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HostingOrder'
          examples:
            hostingOrderTextEnableResponse:
              $ref: '#/components/examples/hostingOrderResponse'
            hostingOrderImportNumbersResponse:
              $ref: '#/components/examples/importNumbersHostingOrderResponse'
    TextEnableNumbers_InvalidArgumentResponse:
      description: Status returned if any of the projectId, displayName, regionCode, numbers, nnid, servicePlanId or campaignId parameters are not valid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidServicePlanId:
              $ref: '#/components/examples/invalidServicePlanId'
    NotFoundResponse:
      description: The imported number, project, hosting order, qualified number or phone number could not be found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  requestBodies:
    TextEnableTollFreeNumbersRequest:
      description: The request to text-enable hosting orders Toll Free numbers in the current project
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TextEnableTollFreeNumbersRequest'
          examples:
            textEnableNumbers:
              $ref: '#/components/examples/textEnableTollFreeNumbers'
  examples:
    hostingOrderResponse:
      summary: A hosting order response example
      value:
        projectId: d1923022-5199-4bb3-a513-c47n7a656bc5
        hostingOrderId: 01arz3nhyrtsv4rrffq69g5fav
        displayName: Hosting order with campaignId, nnid and smsAppId
        regionCode: US
        state: SUBMITTED
        type: TYPE_TEXT_ENABLE
        createdTime: '2023-01-12T14:34:40.968Z'
        updatedTime: '2023-01-12T14:34:40.968Z'
        scheduledOsrUpdateTime: '2023-01-13T14:34:40.968Z'
        servicePlanId: 16e5c8d2odc842bda9a1b90e1673c174
        campaignId: C3O84GA
        migrateToSinchTmo: true
        callbackUrl: https://www.your-callback-server.com/callback
        hostingOrderInfo:
          businessName: Sinch AB
          authorisedPerson:
            firstName: John
            lastName: Smith
            email: email@domain.com
          address:
            buildingNumber: '2433'
            street: Vesta Drive
            city: Chicago
            state: IL
            postalCode: '60647'
            country: US
          serviceProvider: Sinch America Inc.
          currentVoiceCarrier: Verizon
          nnid: '104029'
          loaType: DIRECT
    invalidServicePlanId:
      summary: Invalid servicePlanId
      value:
        code: '400'
        message: Invalid service_plan_id {servicePlanId}
        status: INVALID_ARGUMENT
        details:
        - type: BadRequest
          fieldViolations:
          - field: smsConfiguration.servicePlanId
            description: Invalid servicePlanId
    textEnableTollFreeNumbers:
      summary: Create a new order to text enable Toll Free numbers in the given project
      value:
        regionCode: US
        numbers:
        - '+18335870229'
        - '+18339460473'
        servicePlanId: 07d6c2621f364b68856fe4938b7bb78f
        callbackUrl: https://www.your-callback-server.com/callback
        directLoaInfo:
          authorisedPerson:
            firstName: John
            lastName: Smith
            email: email@domain.com
          address:
            buildingNumber: '2433'
            street: Vesta Drive
            city: Chicago
            state: IL
            postalCode: '60647'
            country: US
          currentVoiceCarrier: Verizon
          scheduledZipwhipProvisioningTime: '2023-01-13T14:34:40.968Z'
          migrateToSinchTmo: true
    importNumbersHostingOrderResponse:
      summary: A import numbers hosting order response example
      value:
        projectId: d1923022-5199-4bb3-a513-c47n7a656bc5
        hostingOrderId: 01arz3nhyrtsv4rrffq69g5fav
        displayName: Hosting order with campaignId and smsAppId
        regionCode: US
        state: SUBMITTED
        type: IMPORT
        createdTime: '2023-01-12T14:34:40.968Z'
        updatedTime: '2023-01-12T14:34:40.968Z'
        servicePlanId: 16e5c8d2odc842bda9a1b90e1673c174
        campaignId: C3O84GA
        migrateToSinchTmo: true
        callbackUrl: https://www.your-callback-server.com/callback
        numberImport: '{}'
  securitySchemes:
    Basic:
      type: http
      description: Your key ID and Key secret serve as the username and password, respectively. Both can be found in the [Sinch Customer Dashboard](https://dashboard.sinch.com/settings/access-keys).For more information about basic authentication in the Numbers API, click [here](https://developers.sinch.com/docs/numbers/api-reference/authentication/basic).
      scheme: basic
    OAuth2.0:
      type: oauth2
      description: The username and password are your Key ID and Key Secret from the [Access keys section](https://dashboard.sinch.com/settings/access-keys) in the Sinch Customer Dashboard. Exchange these for a bearer token (access token). Learn how [here](https://developers.sinch.com/docs/numbers/api-reference/authentication/oauth).
      flows:
        clientCredentials:
          tokenUrl: https://auth.sinch.com/oauth2/token
          scopes: {}
