openapi: 3.1.0
info:
  title: Sinch Brands Access Control Lists Market Requirements API
  description: The Sinch Brands API allows developers to create, update, and manage customer brand profiles used across Sinch messaging products. Brands represent the business identity associated with messaging campaigns and sender registrations. The API provides endpoints for creating brand records, updating brand details, listing brands, and deleting brands, enabling programmatic management of the brand entities required for compliant business messaging.
  version: '1.0'
  contact:
    name: Sinch Support
    url: https://www.sinch.com/contact-us/
  termsOfService: https://www.sinch.com/terms-of-service/
servers:
- url: https://brands.api.sinch.com
  description: Global Production Server
security:
- bearerAuth: []
tags:
- name: Market Requirements
  description: Retrieve market-specific requirements for sender ID registration in different countries.
paths:
  /v1/projects/{project_id}/markets:
    get:
      operationId: listMarkets
      summary: List Markets
      description: Returns a list of available markets with their sender ID registration requirements and supported sender types.
      tags:
      - Market Requirements
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: List of markets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketList'
        '401':
          description: Unauthorized
  /v1/projects/{project_id}/markets/{market_id}:
    get:
      operationId: getMarket
      summary: Get Market Requirements
      description: Returns the detailed registration requirements for a specific market including required fields, supported sender types, and approval timelines.
      tags:
      - Market Requirements
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: market_id
        in: path
        required: true
        description: The market identifier
        schema:
          type: string
      responses:
        '200':
          description: Market requirements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Market'
        '401':
          description: Unauthorized
        '404':
          description: Market not found
components:
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: The unique project identifier
      schema:
        type: string
  schemas:
    Market:
      type: object
      properties:
        id:
          type: string
          description: The market identifier
        name:
          type: string
          description: The market name
        countryCode:
          type: string
          description: The ISO 3166-1 alpha-2 country code
        senderTypes:
          type: array
          description: Supported sender types
          items:
            type: string
        requiredFields:
          type: array
          description: Fields required for registration
          items:
            type: object
            properties:
              name:
                type: string
                description: The field name
              type:
                type: string
                description: The field type
              required:
                type: boolean
                description: Whether the field is required
              description:
                type: string
                description: Description of the field
        estimatedApprovalTime:
          type: string
          description: Estimated time for approval
    MarketList:
      type: object
      properties:
        markets:
          type: array
          description: List of markets
          items:
            $ref: '#/components/schemas/Market'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication.
externalDocs:
  description: Sinch Brands API Documentation
  url: https://developers.sinch.com/docs/brands
