openapi: 3.2.0
info:
  title: Imported Numbers Hosting Orders API
  description: API for importing, hosting, and qualifying numbers to enable them for use with Sinch SMS text messaging services.
  contact:
    name: Support
    url: https://www.sinch.com
    email: support@sinch.com
  license:
    name: MIT
    url: https://www.sinch.com/toc
  version: '1.0'
servers:
- url: https://imported.numbers.api.sinch.com
  description: Global API
security:
- Basic: []
- OAuth2.0: []
tags:
- name: Hosting Orders
  description: Hosted numbers provide you with an easy method to port your SMS enabled numbers to Sinch or to use SMS messaging and other products to send and receive messages, on voice-enabled numbers (including landline numbers) that you already own.
paths:
  /v1/projects/{projectId}/hostingOrders:
    get:
      tags:
      - Hosting Orders
      summary: List hosting orders
      description: Lists the hosting orders for the project.
      operationId: HostingOrderService_ListHostingOrders
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/regionCode'
      - $ref: '#/components/parameters/states'
      - $ref: '#/components/parameters/type'
      - $ref: '#/components/parameters/servicePlanId'
      - $ref: '#/components/parameters/campaignId'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHostingOrdersResponse'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/hostingOrders/{hostingOrderId}:
    get:
      tags:
      - Hosting Orders
      summary: Get hosting order
      description: Returns the hosting order specified by the hosting order ID.
      operationId: HostingOrderService_GetHostingOrder
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/hostingOrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingOrder'
              example:
                projectId: d1923022-5199-4bb3-a513-c47n7a656bc5
                hostingOrderId: 01arz3nhyrtsv4rrffq69g5fav
                displayName: Hosting order with campaignId, nnid and smsAppId
                regionCode: US
                state: SUBMITTED
                type: IMPORT
                createdTime: '2023-01-12T14:34:40.968Z'
                updatedTime: '2023-01-12T14:34:40.968Z'
                scheduledOsrUpdateTime: '2023-01-13T14:34:40.968Z'
                servicePlanId: 16e5c8d2odc842bda9a1b90e1673c174
                campaignId: C3O84GA
                migrateToSinchTmo: true
                callbackUrl: https://www.your-callback-server.com/callback
                hostingOrderInfo:
                  businessName: Sinch AB
                  authorisedPerson:
                    firstName: John
                    lastName: Smith
                    email: email@domain.com
                  address:
                    buildingNumber: '2433'
                    street: Vesta Drive
                    city: Chicago
                    state: IL
                    postalCode: '60647'
                    country: US
                  serviceProvider: Sinch America Inc.
                  currentVoiceCarrier: Verizon
                  nnid: '104029'
                  loaType: DIRECT
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/hostingOrders/{hostingOrderId}/report:
    get:
      summary: Retrieve a hosting order report
      description: Returns the report object for a specific hosting order
      operationId: GetHostingOrderReport
      responses:
        '200':
          $ref: '#/components/responses/HostingOrderReportResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/hostingOrderId'
      tags:
      - Hosting Orders
  /v1/projects/{projectId}/hostingOrders/{hostingOrderId}/numbers:
    get:
      tags:
      - Hosting Orders
      summary: List hosting order numbers
      description: Lists the numbers belonging to the specified hosting order.
      operationId: HostingOrderService_ListHostingOrderNumbers
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/hostingOrderId'
      - $ref: '#/components/parameters/orderBy'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/osrUpdateState'
      - name: campaignProvisioningState
        description: Filter the results by the state of the campaign provisioning.
        in: query
        schema:
          $ref: '#/components/schemas/State'
      - name: platformProvisioningState
        description: Filter the results by the state of the platform provisioning.
        in: query
        schema:
          $ref: '#/components/schemas/State'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHostingOrderNumbersResponse'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/hostingOrders/{hostingOrderId}/numbers/{phoneNumber}:
    get:
      tags:
      - Hosting Orders
      summary: Get hosting order number
      description: Returns the specified phone number belonging to the specified hosting order.
      operationId: HostingOrderService_GetHostingOrderNumber
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/hostingOrderId'
      - $ref: '#/components/parameters/phoneNumber'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingOrderNumber'
        '404':
          description: 'NOT FOUND: The resource could not be found.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/hostingOrders:importNumbers:
    post:
      tags:
      - Hosting Orders
      summary: Import numbers using hosting orders
      description: 'Import numbers associated with hosting orders of a specific project and schedule the async provisioning to Sinch SMS platform and linking to campaign if applicable.


        Note: This operation is limited to five numbers. If you want to increase the quantity of numbers you can import using this operation, please contact your account manager for authorization.'
      operationId: HostingOrderService_ImportNumbers
      parameters:
      - $ref: '#/components/parameters/projectId'
      requestBody:
        $ref: '#/components/requestBodies/ImportNumbersRequest'
      responses:
        '200':
          $ref: '#/components/responses/ImportNumbersHostingOrderResponse'
        '500':
          description: 'INTERNAL: Internal server error. Typically, a server bug.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1/projects/{projectId}/hostingOrders:textEnableNumbers:
    post:
      summary: Text enable numbers in hosting orders
      description: Text enable numbers associated with hosting orders of a specific project.
      operationId: TextEnableNumbers
      requestBody:
        $ref: '#/components/requestBodies/TextEnableNumbersRequest'
      responses:
        '200':
          $ref: '#/components/responses/HostingOrderResponse'
        '400':
          $ref: '#/components/responses/TextEnableNumbers_InvalidArgumentResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/AlreadyExistsResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
      parameters:
      - $ref: '#/components/parameters/projectId'
      tags:
      - Hosting Orders
  /v1/projects/{projectId}/hostingOrders:textEnableTollFreeNumbers:
    post:
      summary: Text enable Toll Free numbers in hosting orders
      description: Text enable Toll Free numbers associated with hosting orders of a specific project.
      operationId: TextEnableTollFreeNumbers
      requestBody:
        $ref: '#/components/requestBodies/TextEnableTollFreeNumbersRequest'
      responses:
        '200':
          $ref: '#/components/responses/HostingOrderResponse'
        '400':
          $ref: '#/components/responses/TextEnableNumbers_InvalidArgumentResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '409':
          $ref: '#/components/responses/AlreadyExistsResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
      parameters:
      - $ref: '#/components/parameters/projectId'
      tags:
      - Hosting Orders
components:
  parameters:
    states:
      name: states
      description: The hosting order states
      in: query
      required: true
      schema:
        type: string
        enum:
        - HOSTING_ORDER_STATE_UNSPECIFIED
        - DRAFT
        - SUBMITTED
        - WAITING_FOR_LOA_SIGNATURE
        - IN_PROGRESS
        - COMPLETED
        - REJECTED
        x-enumDescriptions:
          HOSTING_ORDER_STATE_UNSPECIFIED: State is unspecified.
          DRAFT: Hosting order is a draft.
          SUBMITTED: Hosting order has been submitted.
          WAITING_FOR_LOA_SIGNATURE: Hosting order is waiting for the LoA signature.
          IN_PROGRESS: Hosting order is in progress.
          COMPLETED: Hosting order is completed.
          REJECTED: Hosting order is rejected.
    type:
      name: type
      description: The hosting order type
      in: query
      required: true
      schema:
        type: string
        enum:
        - HOSTING_ORDER_TYPE_UNSPECIFIED
        - IMPORT
        - TYPE_TEXT_ENABLE
        x-enumDescriptions:
          HOSTING_ORDER_TYPE_UNSPECIFIED: Type is unspecified.
          IMPORT: Type is importing numbers.
          TYPE_TEXT_ENABLE: Type is text enabling numbers.
    pageSize:
      name: pageSize
      description: The maximum number of items to return, server can enforce an upper limit and overwrite the value.
      in: query
      required: false
      schema:
        type: integer
        example: 20
    orderBy:
      name: orderBy
      description: Parameter used to order the returned hosting orders
      in: query
      required: false
      schema:
        type: string
        enum:
        - createdTime
        - updatedTime
        x-enumDescriptions:
          createdTime: Order by the time the hosting order was created.
          updatedTime: Order by the time the hosting order was last updated.
    hostingOrderId:
      name: hostingOrderId
      description: Found on your [Sinch Customer Dashboard](https://dashboard.sinch.com/settings/project-management). Settings > Projects.
      in: path
      required: true
      schema:
        type: string
        example: 01arz3ndektsv4rrffq69g5fav
    regionCode:
      name: regionCode
      description: Region code to filter by. ISO 3166-1 alpha-2 country code of the phone number. Currently supported are US, CA
      in: query
      required: false
      schema:
        type: string
        example: US
    phoneNumber:
      name: phoneNumber
      description: The phone number in [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) format with leading `+`.
      in: path
      required: true
      schema:
        type: string
        example: '+12025550134'
    campaignId:
      name: campaignId
      description: The hosting order campaignId
      in: query
      required: true
      schema:
        type: string
        example: 123e4567-e89b-12d3-a456-426614174000
    pageToken:
      name: pageToken
      description: The next page token value returned from a previous listing.
      in: query
      required: false
      schema:
        type: string
        example: C2VNYXJrEg4KDCsxMjAxMjI2MzUyOQ==
    osrUpdateState:
      name: osrUpdateState
      description: Filter the results by the state of the OSR update.
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/State'
    projectId:
      name: projectId
      description: Found on your [Sinch Customer Dashboard](https://dashboard.sinch.com/settings/project-management). Settings > Projects.
      in: path
      required: true
      schema:
        type: string
        example: d1923022-5199-4bb3-a513-c47b3a656bc5
    servicePlanId:
      name: servicePlanId
      description: The hosting order servicePlanId
      in: query
      required: true
      schema:
        type: string
        example: 324e4567-e89b-12d3-a456-426614174000
  schemas:
    DirectLoaInfo:
      description: Letter of Authorization for direct Sinch customers.
      required:
      - authorisedPerson
      - address
      - currentVoiceCarrier
      type: object
      properties:
        authorisedPerson:
          $ref: '#/components/schemas/AuthorizedPerson'
        address:
          $ref: '#/components/schemas/Address'
        currentVoiceCarrier:
          type: string
          description: The current carrier you are using for voice services for the number you want to host on Sinch.
          example: TMO
    ErrorCode:
      type: string
      description: An optional string field that contains an error code if the operation failed. This field is empty ("") when there is no error.
      example: ''
    HostingOrderNumber_CampaignProvisioning:
      description: An object containing information about campaign provisioning.
      type: object
      properties:
        campaignId:
          type: string
          description: The campaign ID to which the hosting order is associated.
          example: YOUR_campaign_id
        state:
          $ref: '#/components/schemas/State'
    ImportNumbersRequest:
      required:
      - regionCode
      - numbers
      - servicePlanId
      type: object
      properties:
        projectId:
          type: string
          description: The ID of the project to which the import request is associated.
          example: YOUR_project_id
        displayName:
          type: string
          description: The optional display name of the import request.
          example: MyImportRequest
        regionCode:
          type: string
          description: The region code for the import request.
          example: US
        numbers:
          type: array
          description: An array of all the phone numbers associated with the import request.
          items:
            type: string
            example: '+12025550134'
        servicePlanId:
          type: string
          description: The ID of the service plan to which the import request is associated.
          example: YOUR_service_plan_id
        campaignId:
          type: string
          description: The ID of the campaign to which the request is associated.
          example: YOUR_campaign_id
        callbackUrl:
          type: string
          description: The callback URL to be called for import numbers updates
        migrateToSinchTmo:
          type: boolean
          description: If a number is assigned to another aggregator in T-Mobile's platform, then T-Mobile will give an error code 60135 indicating that number needs to be “migrated” from previous aggregator to Sinch. This “migration” requires provisioning of number by setting this flag named to true for successful number linking process.
    Address:
      description: The address of the business.
      required:
      - buildingNumber
      - street
      - city
      - state
      - postalCode
      - country
      type: object
      properties:
        buildingNumber:
          type: string
          description: The building number of the address.
          example: '123'
        street:
          type: string
          description: The street name of the address.
          example: 1st
        city:
          type: string
          description: The city name of the address.
          example: New York
        state:
          type: string
          description: The state name of the address.
          example: NY
        postalCode:
          type: string
          description: The postal code of the address.
          example: '00001'
        country:
          type: string
          description: The country of the address.
          example: USA
    ErrorMessage:
      type: string
      description: An optional string field that provides a human-readable message describing the error. This field is empty ("") when no error has occurred.
    TextEnableInfo:
      type: object
      properties:
        businessName:
          type: string
          description: The name of the business.
          example: Acme, Inc.
        authorisedPerson:
          $ref: '#/components/schemas/AuthorizedPerson'
        address:
          $ref: '#/components/schemas/Address'
        serviceProvider:
          type: string
        currentVoiceCarrier:
          type: string
          description: The current carrier you are using for voice services for the number you want to host on Sinch.
          example: TMO
        nnid:
          type: string
          description: The Net Number ID for the number you want to host on Sinch.
        loaType:
          description: The type of the letter of authorization.
          type: string
          format: enum
          enum:
          - Direct
          - Reseller
          x-enumDescriptions:
            Direct: If you are a direct Sinch customer.
            Reseller: If you are a Sinch partner or reseller.
    HostingOrderNumber:
      type: object
      properties:
        projectId:
          type: string
          description: The project ID to which the number belongs.
          example: YOUR_project_id
        hostingOrderId:
          type: string
          description: The ID of the hosting order to which the number belongs.
          example: YOUR_hosting_order_id
        phoneNumber:
          type: string
          description: The phone number in e.164 format with leading +.
          example: '+12025550134'
        osrUpdate:
          $ref: '#/components/schemas/HostingOrderNumber_OsrUpdate'
        campaignProvisioning:
          $ref: '#/components/schemas/HostingOrderNumber_CampaignProvisioning'
        platformProvisioning:
          $ref: '#/components/schemas/HostingOrderNumber_PlatformProvisioning'
        smsAtt:
          description: Contains information about hosted SMS AT&T numbers.
          allOf:
          - $ref: '#/components/schemas/CarrierState'
        smsTmo:
          description: Contains information about hosted SMS T-Mobile numbers.
          allOf:
          - $ref: '#/components/schemas/CarrierState'
        mmsAtt:
          description: Contains information about hosted MMS AT&T numbers.
          allOf:
          - $ref: '#/components/schemas/CarrierState'
        mmsTmo:
          description: Contains information about hosted MMS T-Mobile numbers.
          allOf:
          - $ref: '#/components/schemas/CarrierState'
    TextEnableTollFreeNumbersLoaInfoCommon:
      required:
      - projectId
      - regionCode
      - numbers
      - servicePlanId
      type: object
      properties:
        projectId:
          type: string
          description: The project id we want the numbers to be enabled for.
        displayName:
          type: string
          description: The display name of the numbers.
        regionCode:
          type: string
          description: 'ISO 3166-1 alpha-2 country code of the phone number. Example: US, CA'
        numbers:
          type: array
          items:
            type: string
        scheduledZipwhipProvisioningTime:
          type: string
          description: Optional field which allow to determine when Zipwhip provisioning will be done. Timestamp needs to be from UTC zone. Important! If LOA is signed after `scheduledZipwhipProvisioningTime`, date will be rescheduled to the next day at the same time.
        servicePlanId:
          type: string
          description: The SMS service that the number will be linked to. The `servicePlanId` can be found in the [Sinch Customer Dashboard](https://dashboard.sinch.com/sms/api/rest).
        callbackUrl:
          type: string
          description: The callback URL to be called for text enablement updates
    ListHostingOrderNumbersResponse:
      type: object
      properties:
        numbers:
          type: array
          items:
            $ref: '#/components/schemas/HostingOrderNumber'
        nextPageToken:
          type: string
        totalSize:
          type: integer
          format: int32
    BlanketLoaInfo:
      description: You can set up a blanket Letter of Authorization (LoA) that will allow you to import numbers to your account without having to sign an LoA each time you submit a request. To set up a blanket LoA, email your account manager. Once the LoA has been approved, you can use this `blanketLoaInfo` object in your requests. The `blanketLoaInfo` object should be sent as an empty object.
      type: object
      properties: {}
    State:
      type: string
      description: Indicates the current state of the operation.
      enum:
      - DONE
      - FAILED
      - IN_PROGRESS
      - WAITING
      - STATE_UNSPECIFIED
      x-enumDescriptions:
        DONE: The operation was completed successfully.
        FAILED: The operation has failed.
        IN_PROGRESS: The operation is currently in progress.
        WAITING: The operation is pending and has not yet started.
        STATE_UNSPECIFIED: The state is unspecified.
      example: DONE
    TextEnableTollFreeNumbersRequest:
      type: object
      oneOf:
      - $ref: '#/components/schemas/TextEnableTollFreeNumbersDirectLoaInfoRequest'
      - $ref: '#/components/schemas/TextEnableTollFreeNumbersResellerLoaInfoRequest'
      description: Request for text enabling project Toll Free numbers.
      title: Text enable Toll Free numbers request
    ListHostingOrdersResponse:
      type: object
      properties:
        hostingOrders:
          type: array
          items:
            $ref: '#/components/schemas/HostingOrder'
        nextPageToken:
          type: string
        totalSize:
          type: integer
          format: int32
    HostingOrderNumber_PlatformProvisioning:
      description: An object containing information related to the provisioning on the platform.
      type: object
      properties:
        servicePlanId:
          type: string
          description: The service plan ID to which the hosting order number is associated.
          example: YOUR_service_plan_id
        state:
          $ref: '#/components/schemas/State'
    HostingOrderReport:
      type: object
      properties:
        total:
          type: integer
          format: int32
        osrUpdated:
          type: integer
          format: int32
        smsProvisioned:
          type: integer
          format: int32
        addedToCampaign:
          type: integer
          format: int32
        ongoingManualAction:
          type: integer
          format: int32
    CarrierState:
      type: object
      description: Contains information about the state of the carrier.
      properties:
        state:
          $ref: '#/components/schemas/State'
        errorCode:
          $ref: '#/components/schemas/ErrorCode'
        errorMessage:
          $ref: '#/components/schemas/ErrorMessage'
        updateTime:
          $ref: '#/components/schemas/UpdateTime'
    ResellerLoaInfo:
      description: Letter of Authorization for resellers.
      required:
      - businessName
      - authorisedPerson
      - address
      - currentVoiceCarrier
      type: object
      properties:
        businessName:
          type: string
          description: The name of the business.
          example: Acme, Inc.
        authorisedPerson:
          $ref: '#/components/schemas/AuthorizedPerson'
        address:
          $ref: '#/components/schemas/Address'
        currentVoiceCarrier:
          type: string
          description: The current carrier you are using for voice services for the number you want to host on Sinch.
          example: TMO
    HostingOrderNumber_OsrUpdate:
      description: An object containing information about the OSR update.
      type: object
      properties:
        nnid:
          type: string
          description: The Net Number ID identifying the phone number.
        state:
          $ref: '#/components/schemas/State'
    ErrorResponse:
      type: object
      properties:
        code:
          example: '404'
          type: string
          description: The HTTP response code for the error.
        message:
          example: The imported number could not be found.
          type: string
          description: The friendly message describing the reason for the error response.
        status:
          example: NOT_FOUND
          type: string
          description: The HTTP response status for the error.
      description: The schema for an error response.
    TextEnableNumbersRequest:
      description: A request to text enable the numbers in a hosting order.
      required:
      - regionCode
      - numbers
      - servicePlanId
      type: object
      properties:
        projectId:
          type: string
          description: The ID of the project to which the hosting order is associated.
          example: YOUR_project_id
        displayName:
          type: string
          description: The optional display name of the hosting order.
          example: MyHostingOrder
        regionCode:
          type: string
          description: The region code for the hosting order.
          example: US
        numbers:
          type: array
          description: An array of all the phone numbers associated with the hosting order.
          items:
            type: string
            example: '+12025550134'
        nnid:
          type: string
          description: Defaults to either Sinch NNID or what was originally configured on the customer account. Sinch encourages customers to use the Sinch NNID, but if you want to use another NNID, please contact your account manager.
        servicePlanId:
          type: string
          description: The ID of the service plan to which the hosting order is associated.
          example: YOUR_service_plan_id
        campaignId:
          type: string
          description: The ID of the campaign to which the hosting order is associated.
          example: YOUR_campaign_id
        directLoaInfo:
          $ref: '#/components/schemas/DirectLoaInfo'
        resellerLoaInfo:
          $ref: '#/components/schemas/ResellerLoaInfo'
        blanketLoaInfo:
          $ref: '#/components/schemas/BlanketLoaInfo'
        scheduledOsrUpdateTime:
          type: string
          format: date-time
          description: The scheduled time for OSR to be updated.
        migrateToSinchTmo:
          type: boolean
          readOnly: true
          description: Displays if a number is assigned to another aggregator in T-Mobile's platform, and requires migration from previous aggregator to Sinch.
        callbackUrl:
          type: string
          description: The client's callback URL to be called for text enablement updates.
          example: https://www.your-callback-server.com/callback
    HostingOrder:
      type: object
      properties:
        projectId:
          type: string
          description: The project ID to which the hosting order is associated.
          example: YOUR_project_id
        hostingOrderId:
          type: string
          description: The unique ID of the hosting order.
          example: YOUR_hosting_order_id
        displayName:
          type: string
          description: The friendly name of the hosting order.
          example: MyHostingOrder
        regionCode:
          type: string
          description: The region code of the hosting order. Number hosting is only available for the US and Canada, so you must enter either "US" or "CA".
          example: US
        state:
          type: string
          enum:
          - HOSTING_ORDER_STATE_UNSPECIFIED
          - DRAFT
          - SUBMITTED
          - WAITING_FOR_LOA_SIGNATURE
          - IN_PROGRESS
          - COMPLETED
          - REJECTED
          x-enumDescriptions:
            HOSTING_ORDER_STATE_UNSPECIFIED: State is unspecified.
            DRAFT: Hosting order is a draft.
            SUBMITTED: Hosting order has been submitted.
            WAITING_FOR_LOA_SIGNATURE: Hosting order is waiting for the LoA signature.
            IN_PROGRESS: Hosting order is in progress.
            COMPLETED: Hosting order is completed.
            REJECTED: Hosting order is rejected.
          description: The state of the hosting order.
        type:
          type: string
          enum:
          - HOSTING_ORDER_TYPE_UNSPECIFIED
          - IMPORT
          - TYPE_TEXT_ENABLE
          x-enumDescriptions:
            HOSTING_ORDER_TYPE_UNSPECIFIED: The type of hosting order is unspecified.
            IMPORT: Hosting order to import numbers.
            TYPE_TEXT_ENABLE: Hosting order to text-enable numbers.
          description: The hosting order type.
        createdTime:
          type: string
          format: date-time
          description: Timestamp when the hosting order was created
          readOnly: true
        updatedTime:
          type: string
          format: date-time
          description: Timestamp when the hosting order was last updated
          readOnly: true
        scheduledOsrUpdateTime:
          type: string
          format: date-time
          description: Timestamp when the OSR update will be done
          readOnly: true
        servicePlanId:
          type: string
          description: The service plan to which the hosting order is associated.
          example: YOUR_service_plan_id
        campaignId:
          type: string
          description: The campaign to which the hosting order is associated.
          example: YOUR_campaign_id
        migrateToSinchTmo:
          type: boolean
          readOnly: true
          description: Displays if a number is assigned to another aggregator in T-Mobile's platform, and requires migration from previous aggregator to Sinch.
        textEnableInfo:
          $ref: '#/components/schemas/TextEnableInfo'
        callbackUrl:
          type: string
          description: The client's callback URL to be called upon finishing the number import.
          example: https://www.your-callback-server.com/callback
    ImportHostingOrder:
      type: object
      properties:
        projectId:
          type: string
          description: The project ID to which the hosting order is associated.
          example: YOUR_project_id
        hostingOrderId:
          type: string
          description: The unique ID of the hosting order.
          example: YOUR_hosting_order_id
        displayName:
          type: string
          description: The friendly name of the hosting order.
          example: MyHostingOrder
        regionCode:
          type: string
          description: The region code of the hosting order. Number hosting is only available for the US and Canada, so you must enter either "US" or "CA".
          example: US
        state:
          type: string
          enum:
          - HOSTING_ORDER_STATE_UNSPECIFIED
          - DRAFT
          - SUBMITTED
          - WAITING_FOR_LOA_SIGNATURE
          - IN_PROGRESS
          - COMPLETED
          - REJECTED
          x-enumDescriptions:
            HOSTING_ORDER_STATE_UNSPECIFIED: State is unspecified.
            DRAFT: Hosting order is a draft.
            SUBMITTED: Hosting order has been submitted.
            WAITING_FOR_LOA_SIGNATURE: Hosting order is waiting for the LoA signature.
            IN_PROGRESS: Hosting order is in progress.
            COMPLETED: Hosting order is completed.
            REJECTED: Hosting order is rejected.
          description: The state of the hosting order.
        type:
          type: string
          enum:
          - HOSTING_ORDER_TYPE_UNSPECIFIED
          - IMPORT
          - TYPE_TEXT_ENABLE
          x-enumDescriptions:
            HOSTING_ORDER_TYPE_UNSPECIFIED: The type of hosting order is unspecified.
            IMPORT: Hosting order to import numbers.
            TYPE_TEXT_ENABLE: Hosting order to text-enable numbers.
          description: The hosting order type.
        createdTime:
          type: string
          format: date-time
          description: Timestamp when the hosting order was created
          readOnly: true
        updatedTime:
          type: string
          format: date-time
          description: Timestamp when the hosting order was last updated
          readOnly: true
        servicePlanId:
          type: string
          description: The service plan to which the hosting order is associated.
          example: YOUR_service_plan_id
        campaignId:
          type: string
          description: The campaign to which the hosting order is associated.
          example: YOUR_campaign_id
        migrateToSinchTmo:
          type: boolean
          readOnly: true
          description: Displays if a number is assigned to another aggregator in T-Mobile's platform, and requires migration from previous aggregator to Sinch.
        callbackUrl:
          type: string
          description: The client's callback URL to be called upon finishing the number import.
          example: https://www.your-callback-server.com/callback
    TextEnableTollFreeNumbersDirectLoaInfoRequest:
      type: object
      properties:
        allOf:
          $ref: '#/components/schemas/TextEnableTollFreeNumbersLoaInfoCommon'
        directLoaInfo:
          $ref: '#/components/schemas/DirectLoaInfo'
      required:
      - directLoaInfo
    AuthorizedPerson:
      description: The person authorized and responsible for the hosting order.
      required:
      - firstName
      - lastName
      - email
      type: object
      properties:
        firstName:
          type: string
          description: The first name of the authorized person.
          example: John
        lastName:
          type: string
          description: The last name of the authorized person.
          example: Doe
        email:
          type: string
          description: The email address of the authorized person.
          example: john.doe@company.com
    TextEnableTollFreeNumbersResellerLoaInfoRequest:
      type: object
      properties:
        allOf:
          $ref: '#/components/schemas/TextEnableTollFreeNumbersLoaInfoCommon'
        resellerLoaInfo:
          $ref: '#/components/schemas/ResellerLoaInfo'
      required:
      - resellerLoaInfo
    UpdateTime:
      type: string
      description: A timestamp in ISO 8601 format indicating the last time the status was updated.
      example: '2025-04-02T19:45:28.650924Z'
  responses:
    AlreadyExistsResponse:
      description: The imported number already exists and cannot be created
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalErrorResponse:
      description: Internal server error. Typically, a server bug.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ImportNumbersHostingOrderResponse:
      description: A successful response with a hosting order, or an error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ImportHostingOrder'
          examples:
            hostingOrderResponse:
              $ref: '#/components/examples/importNumbersHostingOrderResponse'
    HostingOrderResponse:
      description: A successful response with a hosting order, or an error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HostingOrder'
          examples:
            hostingOrderTextEnableResponse:
              $ref: '#/components/examples/hostingOrderResponse'
            hostingOrderImportNumbersResponse:
              $ref: '#/components/examples/importNumbersHostingOrderResponse'
    TextEnableNumbers_InvalidArgumentResponse:
      description: Status returned if any of the projectId, displayName, regionCode, numbers, nnid, servicePlanId or campaignId parameters are not valid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidServicePlanId:
              $ref: '#/components/examples/invalidServicePlanId'
    NotFoundResponse:
      description: The imported number, project, hosting order, qualified number or phone number could not be found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    HostingOrderReportResponse:
      description: A successful response with a hosting order report, or an error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HostingOrderReport'
          examples:
            hostingOrderReportResponse:
              $ref: '#/components/examples/hostingOrderReportResponse'
  requestBodies:
    TextEnableTollFreeNumbersRequest:
      description: The request to text-enable hosting orders Toll Free numbers in the current project
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TextEnableTollFreeNumbersRequest'
          examples:
            textEnableNumbers:
              $ref: '#/components/examples/textEnableTollFreeNumbers'
    TextEnableNumbersRequest:
      description: The request to text-enable hosting orders numbers in the current project
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TextEnableNumbersRequest'
          examples:
            textEnableNumbers:
              $ref: '#/components/examples/textEnableNumbers'
            blanketLoa:
              $ref: '#/components/examples/blanketLoaTextEnable'
    ImportNumbersRequest:
      description: The request to import hosting orders numbers in the current project
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ImportNumbersRequest'
          examples:
            importNumbersRequest:
              $ref: '#/components/examples/importNumbersHostingOrderRequest'
  examples:
    hostingOrderReportResponse:
      summary: A hosting order report response example
      value:
        total: 1
        osrUpdated: 1
        smsProvisioned: 1
        addedToCampaign: 1
    importNumbersHostingOrderRequest:
      summary: Create a new order to import numbers in the given project
      value:
        displayName: Import numbers order
        regionCode: US
        numbers:
        - '+17724295286'
        - '+17724295287'
        servicePlanId: 07d6c2621f364b68856fe4938b7bb78f
        campaignId: C3O8OGA
        callbackUrl: https://www.your-callback-server.com/callback
        migrateToSinchTmo: true
    invalidServicePlanId:
      summary: Invalid servicePlanId
      value:
        code: '400'
        message: Invalid service_plan_id {servicePlanId}
        status: INVALID_ARGUMENT
        details:
        - type: BadRequest
          fieldViolations:
          - field: smsConfiguration.servicePlanId
            description: Invalid servicePlanId
    hostingOrderResponse:
      summary: A hosting order response example
      value:
        projectId: d1923022-5199-4bb3-a513-c47n7a656bc5
        hostingOrderId: 01arz3nhyrtsv4rrffq69g5fav
        displayName: Hosting order with campaignId, nnid and smsAppId
        regionCode: US
        state: SUBMITTED
        type: TYPE_TEXT_ENABLE
        createdTime: '2023-01-12T14:34:40.968Z'
        updatedTime: '2023-01-12T14:34:40.968Z'
        scheduledOsrUpdateTime: '2023-01-13T14:34:40.968Z'
        servicePlanId: 16e5c8d2odc842bda9a1b90e1673c174
        campaignId: C3O84GA
        migrateToSinchTmo: true
        callbackUrl: https://www.your-callback-server.com/callback
        hostingOrderInfo:
          businessName: Sinch AB
          authorisedPerson:
            firstName: John
            lastName: Smith
            email: email@domain.com
          address:
            buildingNumber: '2433'
            street: Vesta Drive
            city: Chicago
            state: IL
            postalCode: '60647'
            country: US
          serviceProvider: Sinch America Inc.
          currentVoiceCarrier: Verizon
          nnid: '104029'
          loaType: DIRECT
    textEnableTollFreeNumbers:
      summary: Create a new order to text enable Toll Free numbers in the given project
      value:
        regionCode: US
        numbers:
        - '+18335870229'
        - '+18339460473'
        servicePlanId: 07d6c2621f364b68856fe4938b7bb78f
        callbackUrl: https://www.your-callback-server.com/callback
        directLoaInfo:
          authorisedPerson:
            firstName: John
            lastName: Smith
            email: email@domain.com
          address:
            buildingNumber: '2433'
            street: Vesta Drive
            city: Chicago
            state: IL
            postalCode: '60647'
            country: US
          currentVoiceCarrier: Verizon
          scheduledZipwhipProvisioningTime: '2023-01-13T14:34:40.968Z'
          migrateToSinchTmo: true
    importNumbersHostingOrderResponse:
      summary: A import numbers hosting order response example
      value:
        projectId: d1923022-5199-4bb3-a513-c47n7a656bc5
        hostingOrderId: 01arz3nhyrtsv4rrffq69g5fav
        displayName: Hosting order with campaignId and smsAppId
        regionCode: US
        state: SUBMITTED
        type: IMPORT
        createdTime: '2023-01-12T14:34:40.968Z'
        updatedTime: '2023-01-12T14:34:40.968Z'
        servicePlanId: 16e5c8d2odc842bda9a1b90e1673c174
        campaignId: C3O84GA
        migrateToSinchTmo: true
        callbackUrl: https://www.your-callback-server.com/callback
        numberImport: '{}'
    blanketLoaTextEnable:
      summary: Create a new order to text enable numbers with a blanket LOA
      value:
        regionCode: US
        numbers:
        - '+17724295286'
        - '+17724295287'
        servicePlanId: 07d6c2621f364b68856fe4938b7bb78f
        campaignId: C3O8OGA
        callbackUrl: https://www.your-callback-server.com/callback
        blanketLoaInfo: {}
        scheduledOsrUpdateTime: '2023-01-13T14:34:40.968Z'
        migrateToSinchTmo: true
    textEnableNumbers:
      summary: Create a new order to text enable numbers in the given project
      value:
        regionCode: US
        numbers:
        - '+17724295286'
        - '+17724295287'
        servicePlanId: 07d6c2621f364b68856fe4938b7bb78f
        campaignId: C3O8OGA
        callbackUrl: https://www.your-callback-server.com/callback
        directLoaInfo:
          authorisedPerson:
            firstName: John
            lastName: Smith
            email: email@domain.com
          address:
            buildingNumber: '2433'
            street: Vesta Drive
            city: Chicago
            state: IL
            postalCode: '60647'
            country: US
          currentVoiceCarrier: Verizon
        scheduledOsrUpdateTime: '2023-01-13T14:34:40.968Z'
        migrateToSinchTmo: true
  securitySchemes:
    Basic:
      type: http
      description: Your key ID and Key secret serve as the username and password, respectively. Both can be found in the [Sinch Customer Dashboard](https://dashboard.sinch.com/settings/access-keys).For more information about basic authentication in the Numbers API, click [here](https://developers.sinch.com/docs/numbers/api-reference/authentication/basic).
      scheme: basic
    OAuth2.0:
      type: oauth2
      description: The username and password are your Key ID and Key Secret from the [Access keys section](https://dashboard.sinch.com/settings/access-keys) in the Sinch Customer Dashboard. Exchange these for a bearer token (access token). Learn how [here](https://developers.sinch.com/docs/numbers/api-reference/authentication/oauth).
      flows:
        clientCredentials:
          tokenUrl: https://auth.sinch.com/oauth2/token
          scopes: {}
