openapi: 3.1.0
info:
  version: '3.0'
  title: Fax API
  description: >
    This document provides a detailed user guide and reference documentation on
    the Fax REST API.


    If you have questions please contact us via our [support
    portal](https://support.sinch.com) and a team member will be happy to
    assist.


    {% admonition type="info" name="Note:" %}

    You must create an account on our support portal if you do not have one.

    {% /admonition %}


    ## Authentication


    For information on how to authenticate API requests we support two methods
    [Basic](https://developers.sinch.com/docs/fax/api-reference/authentication/basic)
    or
    [Oauth2](https://developers.sinch.com/docs/fax/api-reference/authentication/oauth)


    ## Global URL


    Sinch has a global server that will route your call to the appropriate
    geography region automatically:


    ```shell

    https://fax.api.sinch.com/

    ```


    ## Formats


    By default, all API calls return a JSON response unless otherwise specified.


    ### Date time fields


    All date and time fields are in UTC format unless otherwise specified.


    ## Deletion and data retention


    If you have enabled storage, we retain fax logs and media for 13 months
    which you can access via the API. After 13 months, media and logs are
    deleted.


    ## Errors & statuses


    Find error codes and explanations
    [here](https://developers.sinch.com/docs/fax/api-reference/fax/error-messages).


    ## Webhooks


    You can configure your service to use webhooks to send a request to you when
    faxes arrive or complete on your account.


    **Note:** When webhooks with Basic authentication credentials are shown in
    GET requests, the credentials are masked with `***`` symbols. It is not
    possible to retrieve previously-set credentials through the API.
  contact:
    name: Contact Fax API Team
    url: https://www.sinch.com/contact/
    email: faxteam@sinch.com
  license:
    url: https://www.sinch.com/toc
    name: MIT
servers:
  - url: https://fax.api.sinch.com
    description: v3.0 of the Fax API
security:
  - BasicAuth: []
  - OAuth2: []
tags:
  - name: Faxes
    description: >-
      The Fax API allows you to send and receive faxes. You can send faxes to a
      single recipient or to multiple recipients. You can also receive faxes and
      download them.


      To send a TEST Outbound fax you can send a fax TO +19898989898.  This will
      emulate all aspects of a real fax without charging your account.
  - name: Notifications
    description: >-
      Webhooks allow you to get updates in real-time about the status of your
      faxes. Webhooks are triggered by events such as the completion of a fax,
      and transmit information about the state of that fax to you via HTTP(S) or
      email.

      HTTP webhooks are multipart/form-data POST requests, and should be
      processed like form submissions.


      **Note:** When webhooks with Basic authentication credentials are shown in
      GET requests, the credentials are masked with `***`` symbols. It is not
      possible to retrieve previously-set credentials through the API.


      ## Setting up webhooks


      Depending on the type of webhook, you can configure the callback URLs in a
      few ways:

        **Incoming fax notification**:

        - On your [Fax service](https://dashboard.sinch.com/fax/services) in the dashboard.
        - Using the [API when configuring your service](https://developers.sinch.com/docs/fax/api-reference/fax/services/createnotificationwebhook). This is required to receive notifications about incoming calls to your Sinch number.

        **Fax completed notification**:

        - By including the `callbackUrl` property in the request body when you send a fax via the `/faxes` endpoint.

      ### Retries


      If a webhook fails, we will automatically retry sending the fax up to 16
      times. There will be a delay before each retry, which increases as
      follows:


      | Retry number | Delay   | Cumulative wait |

      | ------------ | ---------- | ------------ |

      | 1            | 5 minutes  | 5 minutes |

      | 2            | 10 minutes | 15 minutes |

      | 3            | 20 minutes | 35 minutes |

      | 4            | 30 minutes | 1 hour 5 minutes |

      | 5-16         | 6 hours    | up to ~3 days |


      ### IP Addresses


      Notifications are sent from the following IP addresses so you can add them
      to allowlists if necessary.


      | IP address | Description |

      | ---------- | ----------- |

      | 34.232.249.173 | use1 (East) |

      | 44.226.9.173 | usw2 (West) |
  - name: Fax to Email
    description: >-
      The Emails endpoint allows you to configure the Fax to Email
      functionality. Fax to Email allows you to send an email and then receive a
      fax on your Sinch number or send a fax and have it sent to your email
      address.

      The service supports sending incoming faxes to multiple email addresses
      and having many numbers associated with one email address.


      ## Setting up fax to email


      You can configure fax to email in two different places:

        - In the dashboard on a number-by-number basis or by adding an email address and associating many numbers to one email address.
        - Via the API when you create a number or update a number, or by using the email endpoint to set it up directly
        - Supported fax to email file types are Word, PDF, and TIF

      ## Fax to email example


      The following example shows how to configure Fax to Email using the API:
        1. Buy a number in the dashboard and assign it to a Fax service
        2. Add your email and associate it with the number you bought in step 1.

      ```json

      POST
      https://fax.api.sinch.com/v3/projects/{projectId}/services/{serviceId}/emails
       {
          "email": "user@domain.com",
          "phoneNumbers": [
             {
              "number": "+14155552222",
              "permissions": "both"
             }
          ]
      }

      ```


      Now you can use your email client with the above email address to fax.


      ## Send a fax using email


      Make sure the email address you are sending from is added to your account.
      You can add it in the dashboard under the **Fax to email** of your Fax
      service in the [Build
      dashboard]https://dashboard.sinch.com/fax/fax-to-email) or via the API.


      Send an email to {PhoneNumberToSendFaxTo}@sinchfax.com with the following:


      | Field | Description |

      | ----- | ----------- |

      | **Subject:** | If you have multiple phone numbers associated with the
      email address, enter the number you want to use. If left blank, the first
      number that we find will be used. |

      | **Body:** | By default, the email body is not used.  |

      | **Attachments** | Add any attachments you want to fax. If you want to
      specify the order of pages we recommend that you create one document with
      all pages in the correct order and attach that document. If you attach
      multiple documents we will merge them  into one document in the order we
      receive them. |



      ## Receive a fax using email


      When you receive a fax, we will send you an email with the following:

      | Field | Description |

      | ----- | ----------- |

      | **From:** | The number the fax was sent from, e.g.
      +15612600684@sinchfax.com |

      | **Subject:** | You have received a new fax on {+1 234 555 5555} |

      | **Body:** | The page count and other metadata are HTML only, and will
      not appear in plain text in the email. |


      There will be one PDF attachment with the fax content.


      ## Configuring your email system for best performance


      Make sure you allowlist `sinchfax.com` and `sinch.com` in your spam filter
      to ensure delivery to your inbox, both on client and server side.

      Ensure your mail server is setup correctly and not on spam lists.


      ## Encryption


      All emails are sent using TLS during transport from Sinch.
  - name: Domains
    description: >-
      You can create email domains to handle the email notifications for your
      fax service. The operations in this endpoint allow you to create, manage,
      and verify your email domains.
  - name: Templates
    description: >-
      You can use templates to control the look and content of the email
      notifications for your fax service. These templates are stored on a email
      domain that you can configure and manage using the `/domains` endpoints.
  - name: Cover pages
    description: >-
      You can add cover pages to Sinch Fax either via the API or the [Build
      dashboard](https://dashboard.sinch.com).


      A Fax service can have 0 or more cover pages configured.


      ### When cover pages are added


      #### Via dashboard


      In the **Send Fax** tab you can select the option to ***select a cover
      page from a drop down***. When one is selected it will use that cover page
      on all outbound faxes.


      **Note:** If you are using Fax to Email, this is currently the only way to
      add a cover page to your faxes.


      #### Via API


      When sending a fax using the API, you can specify `coverPageId` and supply
      your own cover page data.


      ### How to create a cover page


      Create a PDF that fits your brand. It should have all the standard static
      content you need to stay compliant. Insert tags that will be replaced at
      run time by us for dynamic content.


      #### Automatic fields


      If we find the tags described in the table below, we will replace these
      tokens with fax metadata.


      |Tag | Content | Example |Description |

      | ---- | ----- | ----- | ----- |

      |{{from}}| string | +15557897890 | Your Sinch number that you used to send
      the fax. |

      |{{to}}| string | +15551231234 |  The number to which you are sending the
      fax. |

      |{{date}}| date | 2/4/2025 | The date when the fax was sent. |

      |{{pageCount}}| number | 52 | The total number of pages to be transmitted.
      |


      ### Specifying your own dynamic fields in API calls


      When sending faxes via API you can add any tags you like with `{{}}``
      syntax and set those in your app calls for cover page data.


      Example:
        If you would like to add the recipient's name and your own message on the cover page:

      ```json

      /// in your template pdf

      Fax to : {{to_name}}

      {{my_custom_message}}


      {
        ///other fax fields removed for clarity
        coverPageData: {
          "to_name": "Dr. John Smith",
          "my_custom_message": "I know you are busy please take on this patient"
          }
      }

      ```
  - name: Error Messages
    description: >-
      ## Fax Error Messages


      When your receive a callback from the fax api notifying you of a failure,
      it will contain two values

      that can help you understand what went wrong: an errorCode and an type.


      The type will give you a general idea of why the operation failed, whereas
      the errorCode describes the issue in more detail. Below we list the
      error_codes for the API, segmented by their corresponding error_type.


      {% partial file="/partials/fax/errors/_schemas.md"/ %}


      ## General Error Messages


      Request errors are returned as HTTP status codes. The following table
      lists the possible error codes and their meaning.


      The type will give you a general idea of why the operation failed, whereas
      the errorCode describes the issue in more detail. Below we list the
      error_codes for the API, segmented by their corresponding error_type.


      ## Http Error Codes


      ### 400 - Bad Request


      ```json

      {
        "code": "404",
        "error": "Bad Request",
        "message": "
          The request could not be understood by the server due to malformed syntax. The client SHOULD NOT repeat the request without modifications.
          It could be invalid JSON, missing required fields, or other issues."
      }

      ```


      ### 401 - Unauthorized


      Empty body, or you have the wrong API key, secret, or project.


      ### 402 - Payment required


      ```json

      {
        "code": "402",
        "error": "Payment required",
        "message": "You have reached 0 balance on your account please make a payment."
      }

      ```



      ### 404 - Not found


      ```json

      {
        "code": "404",
        "error": "Not found",
        "message": "The resource is not found, not available, or does not exist."
      }

      ```


      ### 422 - Unprocessable Content (Invalid parameters)


      ```json

      {
        "code": "422",
        "error": "Invalid parameters",
        "message": "The request could not be understood by the server due to malformed syntax.
           The client SHOULD NOT repeat the request without modifications."
        details: {
          fieldViolations: [
            {
              field: "to",
              description: "The (+15551) is not a valid phone number"
            }
          ]

        }
      ```


      ### 429 Rate limit exceeded


      Rate limit exceeded, please back off and try again later. If you need
      higher rate please contact support.



      ### 500 - Internal Server Error


      Probably no body, but if there is a body it will look like this:


      ```json

      {
        "code": "500",
        "error": "Internal service error",
        "message": "Most likely a temporary issue, please try again later. If the problem persists, please back of on this request and contact support."
      }

      ```


      ### 800 - URL Connection Error


      This non-http code will be used when there is an issue connecting to the
      designated callback URL. The response will look like this:


      ```json

      {
        "error": "Could not connect to URL: https://123.456.789.00"
      }

      ```



      ## Error object


      Please note that the response code is probably the most important part of
      the response, but the error object will contain more information about the
      error.

      Not all errors return this object, and the `details` object is not always
      present.


      {% json-example 
        value={
          "$ref": "./fax.yaml#/components/schemas/Error"
        }
      /%}
  - name: Services
    description: >
      A fax service identifies a set of configuration values. You can specify
      the service as a part of an API request or by associating a Sinch number
      with a service.


      This can be useful if you want to point a group of numbers to a particular
      incoming fax URL, or want to set the storage strategy for some of your
      numbers but not all of them.


      ## Dashboard

      You can manage all your fax services and their settings via the
      [Dashboard](https://dashboard.sinch.com/fax/services).


      ## Sending a test fax


      To send a TEST Inbound fax event in the Dashboard, enter the
      `IncomingWebhookUrl` on the Incoming tab and click **Save**.  Then click
      the **SEND TEST REQUEST** button. This will emulate all aspects of a real
      INCOMING fax event without charging your account.
webhooks:
  incomingFax:
    post:
      security:
        - WebhookBasicAuth: []
      operationId: incomingFaxEvent
      tags:
        - Faxes
        - Notifications
      summary: Incoming fax event
      description: >-
        This webhook is triggered when a fax is received on a Sinch number
        associated with a service. The webhook will contain information about
        the fax, such as the sender, the recipient, and the content of the fax.
        You set the callback URL for incoming fax events on the service, either
        through the [dashboard](https://dashboard.sinch.com/fax/services) or
        using the [service
        API](https://developers.sinch.com/docs/fax/api-reference/fax/services/createnotificationwebhook).


        ### Example payloads


        Multipart/form-data request payloads are encoded as forms with a content
        type of JSON and the actual fax content as a **'file' application/pdf
        attachment**.


        Application/json request payloads are a JSON object with the file
        encoded as a base64 string as part of the JSON object.
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
                - type: object
                  properties:
                    event:
                      type: string
                      description: The value is always `INCOMING_FAX` for this event.
                      enum:
                        - INCOMING_FAX
                      default: INCOMING_FAX
                    file:
                      $ref: '#/components/schemas/FileTypeMultiPart'
                - $ref: '#/components/schemas/GenericEvent'
            encoding:
              file:
                contentType: application/pdf
              fax:
                contentType: application/json
              event:
                contentType: application/json
            example:
              event: INCOMING_FAX
              eventTime: '2021-11-01T23:25:57Z'
              fax:
                id: 01HDFHACK1YN7CCDYRA6ZRMA8Z
                direction: INBOUND
                from: '+14155552222'
                to: '+14155553333'
                numberOfPages: 1
                status: COMPLETED
                price:
                  amount: '0.00'
                  currencyCode: USD
                createTime: '2021-11-01T23:25:57Z'
                completedTime: '2021-11-01T23:25:57Z'
                projectId: YOUR_PROJECT_ID
                serviceId: YOUR_SERVICE_ID
              file: '{application/pdf}'
          application/json:
            schema:
              type: object
              properties:
                event:
                  allOf:
                    - $ref: '#/components/schemas/WebhookEvents'
                  description: Always `INCOMING_FAX` for this event.
                  enum:
                    - INCOMING_FAX
                  default: INCOMING_FAX
                eventTime:
                  description: Time of the event.
                  type: string
                  format: date-time
                fax:
                  description: The incoming fax.
                  $ref: '#/components/schemas/Fax'
                file:
                  description: The base64 encoded file.
                  type: string
                  example: '{base64_encodedData}'
                fileType:
                  $ref: '#/components/schemas/FileTypeJson'
            example:
              event: INCOMING_FAX
              eventTime: '2021-11-01T23:25:57Z'
              fax:
                id: 01HDFHACK1YN7CCDYRA6ZRMA8Z
                direction: INBOUND
                from: '+14155552222'
                to: '+14155553333'
                numberOfPages: 1
                status: COMPLETED
                price:
                  amount: '0.00'
                  currencyCode: USD
                createTime: '2021-11-01T23:25:57Z'
                completedTime: '2021-11-01T23:25:57Z'
                projectId: YOUR_PROJECT_ID
                serviceId: YOUR_SERVICE_ID
              file: '{base64_encodedData}'
              fileType: PDF
      responses:
        '200':
          description: Returns a 200 OK response if the webhook was received successfully.
  faxCompleted:
    post:
      security:
        - WebhookBasicAuth: []
      summary: Fax completed
      description: >-
        Triggered when the fax has been completed. The callback will contain
        information about the fax, such as the sender, the recipient, and the
        content of the fax. You must set the callback URL where you want the
        callback sent when you make a send fax request.
      operationId: faxCompletedCallback
      tags:
        - Notifications
        - Faxes
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
                - type: object
                  properties:
                    event:
                      type: string
                      description: Always fax completed for this event.
                      enum:
                        - FAX_COMPLETED
                      default: FAX_COMPLETED
                    file:
                      description: The fax content as pdf attachment to the body
                      type: string
                      format: binary
                      contentMediaType: application/pdf
                      contentEncoding: binary
                - $ref: '#/components/schemas/GenericEvent'
            encoding:
              file:
                contentType: application/pdf
              fax:
                contentType: application/json
              event:
                contentType: application/json
            example:
              event: FAX_COMPLETED
              eventTime: '2021-11-01T23:25:57Z'
              fax:
                id: 01HDFHACK1YN7CCDYRA6ZRMA8Z
                direction: INBOUND
                from: '+14155552222'
                to: '+14155553333'
                numberOfPages: 1
                status: COMPLETED
                price:
                  amount: '0.07'
                  currencyCode: USD
                createTime: '2021-11-01T23:25:57Z'
                completedTime: '2021-11-01T23:25:57Z'
                callbackUrl: https://www.my-website.com/callback
                callbackUrlContentType: multipart/form-data
                imageConversionMethod: HALFTONE
                projectId: YOUR_PROJECT_ID
                serviceId: YOUR_SERVICE_ID
              file: '{application/pdf}'
          application/json:
            schema:
              type: object
              properties:
                event:
                  allOf:
                    - $ref: '#/components/schemas/WebhookEvents'
                  description: Always `FAX_COMPLETED` for this event.
                  enum:
                    - FAX_COMPLETED
                  default: FAX_COMPLETED
                eventTime:
                  description: Time of the event.
                  type: string
                  format: date-time
                fax:
                  description: The incoming fax.
                  $ref: '#/components/schemas/Fax'
                files:
                  type: array
                  items:
                    $ref: '#/components/schemas/FaxBase64File'
            example:
              event: FAX_COMPLETED
              eventTime: '2021-11-01T23:25:57Z'
              fax:
                id: 01HDFHACK1YN7CCDYRA6ZRMA8Z
                direction: INBOUND
                from: '+14155552222'
                to: '+14155553333'
                numberOfPages: 1
                status: COMPLETED
                price:
                  amount: '0.07'
                  currencyCode: USD
                createTime: '2021-11-01T23:25:57Z'
                completedTime: '2021-11-01T23:25:57Z'
                callbackUrl: https://www.my-website.com/callback
                callbackUrlContentType: application/json
                projectId: YOUR_PROJECT_ID
                serviceId: YOUR_SERVICE_ID
              files:
                - file: '{base64ecnodeddata}'
                  fileType: PDF
      responses:
        '200':
          description: Returns a 200 OK response if the webhook was received successfully.
paths:
  /v3/projects/{projectId}/faxes:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags:
        - Faxes
      summary: Send a fax
      description: >-
        Create and send a fax.


        Fax content may be supplied via one or more files or URLs of supported
        filetypes.


        This endpoint supports the following content types for the fax payload:

          - Multipart/form-data
          - Application/json

        We will however always return a fax object in the response in
        application json. If you supply a callbackUrl the callback will be sent
        as multipart/form-data

        with the content of the fax as an attachment to the body, *unless* you
        specify callbackUrlContentType as application/json.


        #### file(s)

        Files may be included in the POST request as multipart/form-data parts.


        #### contentUrl

        Any URL on the Internet (including ones with basic authentication), and
        we'll pull it down and make it a fax. This might be useful to you if
        you're using a web framework for templates and creating fax files.


        Please note: If you are passing fax a secure URL (starting with
        `https://`), make sure that your SSL certificate (including your
        intermediate cert, if you have one) is installed properly, valid, and
        up-to-date.
      operationId: sendFax
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - to
              allOf:
                - type: object
                  properties:
                    to:
                      description: >-
                        When you send a fax you can specify a single number or a
                        list of numbers separated by commas (for example,
                        `+12345550100,+12345550101`).

                        Please note that if you specify a list of numbers, the
                        fax will be sent to all numbers and a Fax resource will
                        be created for each number.


                        When you receive a fax, this is the number where the fax
                        is sent to.
                      $ref: '#/components/schemas/PhoneNumber'
                    file:
                      description: >-
                        The file(s) you want to send as a fax as body
                        attachment. You made use any of the following file
                        types:


                        - `.docx`

                        - `.html`

                        - `.jpg`

                        - `.png`

                        - `.tif`

                        - `.pdf`

                        - `.txt`
                      type: string
                      format: binary
                - $ref: '#/components/schemas/Fax'
            encoding:
              files:
                contentType: application/octet-stream
            examples:
              SendFax:
                $ref: '#/components/examples/SendWebPageAsFax'
              SendFileAsFaxWithCoverPage:
                $ref: '#/components/examples/SendFileAsFaxWithCoverPage'
              SendFileAsFax:
                $ref: '#/components/examples/SendFileAsFax'
          application/json:
            schema:
              required:
                - to
              allOf:
                - type: object
                  properties:
                    to:
                      description: >-
                        When you send a fax you can specify a single number, a
                        list of numbers separated by by commas (for example,
                        `+12345550100,+12345550101`), or an array of phone
                        numbers.

                        Please note that if you specify a list of numbers, the
                        fax will be sent to all numbers and a Fax resource will
                        be created for each number.


                        When you receive a fax, this is the number where the fax
                        is sent to.
                      oneOf:
                        - $ref: '#/components/schemas/PhoneNumber'
                        - $ref: '#/components/schemas/PhoneNumberArray'
                    from:
                      $ref: '#/components/schemas/PhoneNumber'
                      description: >-
                        The number you want to send a fax from. This number must
                        be associated with your account.

                        If you do not specify a from number, we will use the
                        first number associated with your account.
                - $ref: '#/components/schemas/FaxBase64Array'
                - $ref: '#/components/schemas/Fax'
            examples:
              SendFileAsFaxWithCoverPage:
                $ref: '#/components/examples/SendFileAsFaxWithCoverPage'
              SendWebPageAsFax:
                $ref: '#/components/examples/SendWebPageAsFax'
              SendFileAsFaxJson:
                $ref: '#/components/examples/SendFileAsFaxJson'
      responses:
        '200':
          description: The created fax
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fax'
              example:
                id: 01HDF5S9P29WC29J578J8EKC1C
                direction: OUTBOUND
                to: '+1234567890'
                status: IN_PROGRESS
                headerTimeZone: America/New_York
                retryDelaySeconds: 60
                callbackUrl: https://my.callback.server
                projectId: YOUR_PROJECT_ID
                serviceId: YOUR_SERVICE_ID
                maxRetries: 3
                createTime: '2023-10-23T21:06:52.231Z'
                headerPageNumbers: true
                contentUrl: https://www.google.com
                imageConversionMethod: HALFTONE
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The recipient number you want to send a Fax to
              const faxRecipientNumber = 'FAX_RECIPIENT_NUMBER';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxes.send({
                  sendFaxRequestBody: {
                    to: faxRecipientNumber,
                    contentUrl: 'https://developers.sinch.com/fax/fax.pdf',
                  },
                });
                console.log('✅ Successfully sent the Fax.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to send the Fax to the recipient number ${faxRecipientNumber}:`);
                console.error(err);
              }
            }

            main();
    get:
      tags:
        - Faxes
      summary: List faxes
      operationId: getFaxes
      description: >-
        List faxes sent (OUTBOUND) or received (INBOUND), set parameters to
        filter the list.

        Example: Return calls made between 1st of January 2021 and  10th of
        January 2021.

        ```
         created>=2021-01-01&startTime<=2021-01-10
        ```
      parameters:
        - name: serviceId
          in: query
          description: Limits results to faxes that were sent using the specified service.
          schema:
            type: string
            example: YOUR_SERVICE_ID
        - name: createTime
          in: query
          description: >-
            Filter calls based on  `createTime`. If you make the query more
            precise, fewer results will be returned.

            For example, `2021-02-01` will return all calls from the first of
            February 2021, and `2021-02-01T14:00:00Z` will return all calls
            after 14:00 on the first of February.

            This field also supports `<=` and `>=` to search for calls in a
            range `?createTime>=2021-10-01&startTime<=2021-10-30` to get a list
            of calls for all of October 2021.

            It is also possible to submit partial dates. For example,
            `createTime=2021-02` will return all calls for February 2021.


            If not value is submitted, the default value is the prior week.
          schema:
            type: string
            format: date-time
        - name: direction
          in: query
          description: Limits results to faxes with the specified direction.
          schema:
            $ref: '#/components/schemas/FaxDirection'
          example: OUTBOUND
        - name: status
          in: query
          description: Limits results to faxes with the specified status.
          schema:
            $ref: '#/components/schemas/FaxStatus'
          example: COMPLETED
        - name: to
          in: query
          description: >-
            Filters the results by the phone number to which the fax was sent.
            The parameter search with startsWith, so you can pass a partial
            number to get all faxes sent to numbers that start with the number
            you passed.
          schema:
            $ref: '#/components/schemas/PhoneNumber'
          example: '+14155552222'
        - name: from
          in: query
          description: >-
            Filters the results by the phone number from which the fax was
            sent.  The parameter search with startsWith, so you can pass a
            partial number to get all faxes sent to numbers that start with the
            number you passed.
          schema:
            $ref: '#/components/schemas/PhoneNumber'
        - $ref: '#/components/parameters/Labels'
        - $ref: '#/components/parameters/Format'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Page'
        - name: fromCountry
          in: query
          description: >-
            Filter by the country which sent the fax. The country code should be
            in ISO 3166-1 alpha-2 format.
          schema:
            type: string
            example: US
        - name: toCountry
          in: query
          description: >-
            Filter by the country to which the fax was sent. The country code
            should be in ISO 3166-1 alpha-2 format.
          schema:
            type: string
            example: US
      responses:
        '200':
          description: Result of the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFaxesObject'
            text/csv:
              schema: {}
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxes.list({});
                if (response.data.length === 0) {
                  console.log('No Faxes found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} Faxes.`);
                response.data.forEach((fax) => {
                  console.log(fax);
                });
              } catch (err) {
                console.error('❌ Failed to list Faxes:');
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/faxes/{id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Faxes
      summary: Get fax
      description: Get fax information using the ID number of the fax.
      operationId: getFaxInfoPerId
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: The fax
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fax'
              example:
                id: 01HDF5S9P29WC29J578J8EKC1C
                direction: OUTBOUND
                to: '+1234567890'
                status: IN_PROGRESS
                headerTimeZone: America/New_York
                retryDelaySeconds: 60
                callbackUrl: https://my.callback.server
                projectId: YOUR_PROJECT_ID
                serviceId: YOUR_SERVICE_ID
                maxRetries: 3
                createTime: '2023-10-23T21:06:52.231Z'
                headerPageNumbers: true
                contentUrl:
                  - www.google.com
                imageConversionMethod: HALFTONE
                hasFile: false
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax ID you want to retrieve
              const faxId = 'FAX_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxes.get({ id: faxId });
                console.log('✅ Successfully retrieved the Fax.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the Fax with ID: ${faxId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/faxes/{id}/file:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Faxes
      summary: Download fax content
      description: Download the fax content.
      operationId: getFaxFilebyId
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: >-
            A file for the fax you requested will be returned in the format you
            specified.
          content:
            application/pdf:
              schema:
                description: >-
                  A PDF file named 'fax-1234.pdf' containing all files sent for
                  fax #1234.
                type: string
                format: binary
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import { writeFileSync } from 'fs';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax ID you want to download the content from
              const faxId = 'FAX_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxes.downloadContent({
                  id: faxId,
                });
                console.log('✅ Successfully downloaded the Fax content.');
                writeFileSync(`fax_${faxId}.pdf`, response.buffer);
              } catch (err) {
                console.error(`❌ Failed to download the content from the Fax with ID: ${faxId}:`);
                console.error(err);
              }
            }

            main();
    delete:
      tags:
        - Faxes
      summary: Delete fax content
      description: |-
        Delete the fax content for a fax using the ID number of the fax.
        Please note that this only deletes the content of the fax from storage.
      operationId: deleteFaxContentById
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '204':
          description: The fax content was deleted.
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax ID you want to delete the content from
              const faxId = 'FAX_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.fax.faxes.deleteContent({ id: faxId });
                console.log(`✅ Successfully deleted content from the Fax with ID ${faxId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete content from the Fax with ID: ${faxId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/faxes/{id}/file.{fileFormat}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Faxes
      summary: Download fax content
      description: Download the fax content.
      operationId: getFaxFileByIdDeprecated
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/Id'
        - name: fileFormat
          in: path
          required: true
          schema:
            type: string
            enum:
              - pdf
            default: pdf
            x-enumDescriptions:
              pdf: PDF format
          description: The file format to download. Currently only PDF is supported.
          example: pdf
      responses:
        '200':
          description: >-
            A file for the fax you requested will be returned in the format you
            specified.
          content:
            application/pdf:
              schema:
                description: >-
                  A PDF file named 'fax-1234.pdf' containing all files sent for
                  fax #1234.
                type: string
                format: binary
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import { writeFileSync } from 'fs';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax ID you want to download the content from
              const faxId = 'FAX_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxes.downloadContent({
                  id: faxId,
                  fileFormat: 'pdf',
                });
                console.log('✅ Successfully downloaded the Fax content (deprecated /file.pdf path).');
                writeFileSync(`fax_${faxId}.pdf`, response.buffer);
              } catch (err) {
                console.error(`❌ Failed to download the content from the Fax with ID: ${faxId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      description: >-
        Creates a new service that you can use to set default configuration
        values.
      operationId: createService
      summary: Create a service
      tags:
        - Services
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
      responses:
        '201':
          description: The newly created service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.services.create({
                  createServiceRequestBody: {
                    name: 'My new Fax Service',
                    defaultForProject: true,
                  },
                });
                console.log('✅ Successfully created the Fax Service.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error('❌ Failed to create the Fax Service:');
                console.error(err);
              }
            }

            main();
    get:
      description: Get a list of services for a project.
      summary: List services
      operationId: listServices
      tags:
        - Services
      parameters:
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            example: 20
            maximum: 1000
          description: Number of services to return on each request.
        - name: page
          in: query
          schema:
            type: string
          description: >-
            Optional. The page to fetch. If not specified, the first page will
            be returned.
      responses:
        '200':
          $ref: '#/components/responses/ServiceList'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.services.list({});
                if (response.data.length === 0) {
                  console.log('No Fax Services found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} Fax Services.`);
                response.data.forEach((faxService) => {
                  console.log(faxService);
                });
              } catch (err) {
                console.error('❌ Failed to list Fax Services:');
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      description: Get a service resource.
      summary: Get a service
      operationId: getService
      tags:
        - Services
      parameters:
        - name: id
          description: The service ID you want to update.
          required: true
          schema:
            type: string
          in: path
      responses:
        '200':
          description: >-
            The requested service, or an
            [Error](https://developers.sinch.com/docs/fax/api-reference/fax/error-messages)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to retrieve
              const serviceId = 'FAX_SERVICE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.services.get({ serviceId });
                console.log('✅ Successfully retrieved the Fax Service.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
    patch:
      description: Update settings on the service.
      summary: Update a Service
      operationId: updateService
      parameters:
        - name: id
          required: true
          description: The service ID you want to update.
          schema:
            type: string
          in: path
      tags:
        - Services
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Service'
      responses:
        '200':
          description: >-
            The updated service, or an
            [Error](https://developers.sinch.com/docs/fax/api-reference/fax/error-messages)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to update
              const serviceId = 'FAX_SERVICE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.services.update({
                  serviceId,
                  updateServiceRequestBody: {
                    name: 'My updated Fax Service name',
                  },
                });
                console.log('✅ Successfully updated the Fax Service.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
    delete:
      description: Removes a service from your project.
      operationId: removeService
      summary: Remove a service
      tags:
        - Services
      parameters:
        - name: id
          description: The serviceId you want to remove from your project.
          required: true
          in: path
          schema:
            type: string
      responses:
        '204':
          description: >-
            The service removed from the project, or an
            [Error](https://developers.sinch.com/docs/fax/api-reference/fax/error-messages)
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to delete
              const serviceId = 'FAX_SERVICE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.fax.services.delete({ serviceId });
                console.log(`✅ Successfully deleted the Fax Service with ID ${serviceId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{id}/coverPages:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: id
        description: the serviceId
        required: true
        in: path
        schema:
          type: string
    post:
      description: Add a cover page to your service
      summary: Add cover page
      operationId: addCoverPage
      tags:
        - Cover pages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverPage'
      responses:
        '200':
          description: >-
            The added  coverpage, or an
            [Error](https://developers.sinch.com/docs/fax/api-reference/fax/error-messages)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverPage'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              // The Fax Service ID you want to add the Cover Page to
              const serviceId = 'FAX_SERVICE_ID';

              try {
                const response = await sinch.fax.coverPages.add({
                  serviceId,
                  addCoverPageRequestBody: {
                    name: 'New cover page created with the Node.js SDK',
                    file: {
                      fileContent: 'V2VsY29tZSB0byBTaW5jaCE=',
                      fileType: 'PDF',
                    },
                  },
                });
                console.log('✅ Successfully added a cover page to the Fax Service.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error('❌ Failed to add a cover page to the Fax Service:');
                console.error(err);
              }
            }

            main();
    get:
      description: List all cover page to a service
      summary: List cover pages
      operationId: listCoverPages
      tags:
        - Cover pages
      responses:
        '200':
          description: >-
            List of coverpages
            [Error](https://developers.sinch.com/docs/fax/api-reference/fax/error-messages)
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      coverPages:
                        description: List of cover pages
                        type: array
                        items:
                          $ref: '#/components/schemas/CoverPage'
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              // The Fax Service ID you want to list the Cover Page from
              const serviceId = 'FAX_SERVICE_ID';

              try {
                const response = await sinch.fax.coverPages.list({ serviceId });
                if (response.data.length === 0) {
                  console.log('No Cover Pages found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} Cover Pages.`);
                response.data.forEach((coverPage) => {
                  console.log(coverPage);
                });
              } catch (err) {
                console.error('❌ Failed to list Cover Pages:');
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{id}/coverPages/{coverPageId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: id
        description: The serviceId containing the cover page you want to work with.
        required: true
        in: path
        schema:
          type: string
      - name: coverPageId
        in: path
        required: true
        schema:
          type: string
          description: The coverPageId you want to work with.
    delete:
      tags:
        - Cover pages
      operationId: deleteCoverPage
      summary: Delete a cover page
      description: Remove delete a cover page from a service.
      responses:
        '204':
          description: The cover page was deleted.
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to delete a Cover Page from
              const serviceId = 'FAX_SERVICE_ID';
              // The Cover Page ID you want to delete
              const coverPageId = 'COVER_PAGE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.fax.coverPages.delete({ serviceId, coverPageId });
                console.log(`✅ Successfully deleted the Cover Page with ID ${coverPageId} from the Fax Service with ID ${serviceId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the Cover Page with ID ${coverPageId} from the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
    get:
      tags:
        - Cover pages
      operationId: getCoverPage
      summary: Get a cover page
      description: Get a cover page by ID.
      responses:
        '200':
          description: >-
            The requested cover page, or an
            [Error](https://developers.sinch.com/docs/fax/api-reference/fax/error-messages)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoverPage'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to retrieve a Cover Page from
              const serviceId = 'FAX_SERVICE_ID';
              // The Cover Page ID you want to retrieve
              const coverPageId = 'COVER_PAGE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.coverPages.get({ serviceId, coverPageId });
                console.log('✅ Successfully retrieved the Cover Page.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the Cover Page with ID ${coverPageId} from the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{id}/numbers:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      description: List numbers for a service.
      summary: List numbers for service
      operationId: listNumbersForService
      tags:
        - Services
      parameters:
        - name: id
          required: true
          description: The serviceId containing the numbers you want to list.
          in: path
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            example: 20
            maximum: 1000
          description: Number of items to return on each page.
        - name: page
          in: query
          schema:
            type: string
          description: >-
            Optional. The page to fetch. If not specified, the first page will
            be returned.
      responses:
        '200':
          description: >-
            The list of numbers, or an
            [Error](https://developers.sinch.com/docs/fax/api-reference/fax/error-messages)
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      numbers:
                        description: List of phone numbers
                        type: array
                        items:
                          $ref: '#/components/schemas/ServicePhoneNumber'
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to list numbers for
              const serviceId = 'FAX_SERVICE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.services.listNumbers({ serviceId });
                if (response.data.length === 0) {
                  console.log('No Phone Numbers found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} Phone Numbers.`);
                response.data.forEach((servicePhoneNumber) => {
                  console.log(servicePhoneNumber);
                });
              } catch (err) {
                console.error(`❌ Failed to list the Phone Numbers for the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{id}/numbers/{phoneNumber}/suspend:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: phoneNumber
        description: The phone number you want to suspend.
        required: true
        in: path
        schema:
          type: string
          description: A phone number in e.164 format.
          example: '+15612600684'
      - name: id
        description: The serviceId containing the numbers you want to suspend.
        required: true
        in: path
        schema:
          type: string
    patch:
      summary: Suspend a number on the service
      description: >-
        Suspends a number assigned to the specified service. You can include a
        note as to the reason of the suspension.
      operationId: suspendNumber
      tags:
        - Services
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendRequest'
      responses:
        '200':
          description: Response detailing the suspended number.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServicePhoneNumber'
  /v3/projects/{projectId}/services/{id}/numbers/{phoneNumber}/emails:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: phoneNumber
        description: The phone number you want to get emails for.
        required: true
        in: path
        schema:
          type: string
          description: A phone number in e.164 format.
          example: '+15612600684'
      - name: id
        description: The serviceId containing the numbers you want to list.
        required: true
        in: path
        schema:
          type: string
    get:
      summary: List emails for a number
      description: List any emails for a number.
      operationId: getEmailsForNumber
      tags:
        - Fax to Email
      parameters:
        - name: page
          in: query
          description: >-
            The page to fetch. If not specified, the first page will be
            returned.
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 100
            example: 20
            maximum: 1000
          description: Number of items to return on each page.
      responses:
        '200':
          description: A list of emails associated with the number.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      emails:
                        description: List of emails numbers
                        type: array
                        items:
                          type: string
                          format: email
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to list emails associated with a phone number for
              const serviceId = 'FAX_SERVICE_ID';
              // The phone numbers you want to get emails for
              const phoneNumber ='PHONE_NUMBER';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxToEmail.listForNumber({
                  serviceId,
                  phoneNumber,
                });
                if (response.data.length === 0) {
                  console.log('No Emails found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} Emails.`);
                response.data.forEach((email) => {
                  console.log(email);
                });
              } catch (err) {
                console.error(`❌ Failed to list the configured Emails associated with the phone number ${phoneNumber} and to the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{serviceId}/emails:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      description: List emails for the project.
      summary: List emails
      operationId: getEmailsForProject
      tags:
        - Fax to Email
      parameters:
        - name: serviceId
          in: path
          description: The serviceId containing the emails you want to list.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: >-
            The page to fetch. If not specified, the first page will be
            returned.
          schema:
            type: integer
            default: 1
            example: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 100
            example: 20
            maximum: 1000
          description: Number of items to return on each page.
      responses:
        '200':
          description: A list of emails associated with the project.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      emails:
                        description: List of emails
                        type: array
                        items:
                          $ref: '#/components/schemas/Email'
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to list emails for
              const serviceId = 'FAX_SERVICE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxToEmail.list({ serviceId });
                if (response.data.length === 0) {
                  console.log('No Emails found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} Emails.`);
                response.data.forEach((email) => {
                  console.log(email);
                });
              } catch (err) {
                console.error(`❌ Failed to list Emails associated to the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
    post:
      description: >-
        Add an email to the specified service to be used for sending and
        receiving faxes. Default settings for permissions parameter is `both`.
      summary: Add an email
      operationId: createEmailForProject
      tags:
        - Fax to Email
      parameters:
        - name: serviceId
          in: path
          description: The serviceId to which you want to add the email.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Email'
            example:
              email: user@domain.com
              phoneNumbers:
                - number: '+14155552222'
                  permissions: both
      responses:
        '201':
          description: The added email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to add email for
              const serviceId = 'FAX_SERVICE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxToEmail.addToNumbers({
                  serviceId,
                  emailRequestBody: {
                    email: 'user@domain.com',
                    phoneNumbers: [
                      {
                        number: '+14155552222',
                        permissions: 'both',
                      },
                    ],
                  },
                });
                console.log('✅ Successfully added an Email to the Fax Service.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to add an Email to the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{serviceId}/emails/{email}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: serviceId
        description: The serviceId containing the email you want to work with.
        required: true
        in: path
        schema:
          type: string
      - name: email
        description: The email you want to work with.
        required: true
        in: path
        schema:
          type: string
    put:
      description: Set the numbers for an email.
      operationId: updateEmail
      summary: Update numbers for email
      tags:
        - Fax to Email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - phoneNumbers
              properties:
                phoneNumbers:
                  description: List of numbers
                  type: array
                  items:
                    $ref: '#/components/schemas/Number'
            example:
              phoneNumbers:
                - number: '+14155552222'
                  permissions: both
      responses:
        '200':
          description: The added email
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Email'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to update the email for
              const serviceId = 'FAX_SERVICE_ID';
              // The email address you want to update the phone numbers for
              const email ='EMAIL_ADDRESS';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxToEmail.update({
                  serviceId,
                  email,
                  updateEmailRequestBody: {
                    phoneNumbers: [
                      {
                        number: '+14155552222',
                        permissions: 'both',
                      },
                    ],
                  },
                });
                console.log('✅ Successfully updated the Phone Numbers.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the Phone Numbers associated with the Email ${email} from the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
    delete:
      tags:
        - Fax to Email
      summary: Remove email
      description: >-
        Delete an email and associated numbers to that email to disable that
        email from sending and receiving faxes.
      operationId: deleteEmail
      responses:
        '204':
          description: 'No content: **The email was deleted**'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to remove the email from
              const serviceId = 'FAX_SERVICE_ID';
              // The email you want to remove
              const email ='EMAIL_ADDRESS';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.fax.faxToEmail.delete({
                  serviceId,
                  email,
                });
                console.log(`✅ Successfully deleted the Email ${email} from the Fax Service with ID ${serviceId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the Email ${email} from the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{serviceId}/emails/{email}/numbers:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: serviceId
        description: The serviceId containing the email you want to work with.
        required: true
        in: path
        schema:
          type: string
      - name: email
        description: The email you want to get numbers for.
        required: true
        in: path
        schema:
          type: string
      - name: pageSize
        in: query
        schema:
          type: integer
          default: 20
          example: 20
          maximum: 1000
        description: Number of items to return on each page.
      - name: page
        in: query
        schema:
          type: string
        description: >-
          Optional. The page to fetch. If not specified, the first page will be
          returned.
    get:
      description: Get  configured numbers for an email
      summary: Get numbers for email
      operationId: getNumbersByEmail
      tags:
        - Fax to Email
      responses:
        '200':
          description: A list of numbers associated with the email
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      phoneNumbers:
                        description: List of numbers
                        type: array
                        items:
                          $ref: '#/components/schemas/ServicePhoneNumber'
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The Fax Service ID you want to list phone numbers associated with an email address for
              const serviceId = 'FAX_SERVICE_ID';
              // The email address you want to get numbers for
              const email ='EMAIL_ADDRESS';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.fax.faxToEmail.listNumbers({
                  serviceId,
                  email,
                });
                if (response.data.length === 0) {
                  console.log('No Phone Numbers found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} Phone Numbers.`);
                response.data.forEach((servicePhoneNumber) => {
                  console.log(servicePhoneNumber);
                });
              } catch (err) {
                console.error(`❌ Failed to list the configured Phone Numbers associated with the Email address ${email} and to the Fax Service with ID ${serviceId}:`);
                console.error(err);
              }
            }

            main();
  /v3/projects/{projectId}/services/{serviceId}/domains:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Domains
      parameters:
        - name: serviceId
          in: path
          description: The serviceId containing the domains you want to list.
          required: true
          schema:
            type: string
            example: 01GVRB50KEQFFE1SGMPFRNBG6J
      summary: List domains
      description: List existing domains for the specified service.
      operationId: listDomains
      responses:
        '200':
          description: The domains contained in the service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainsListResponse'
  /v3/projects/{projectId}/services/{serviceId}/domains/{domainName}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    post:
      tags:
        - Domains
      parameters:
        - name: serviceId
          in: path
          description: The serviceId where you want to create a domain.
          required: true
          schema:
            type: string
            example: 01GVRB50KEQFFE1SGMPFRNBG6J
        - name: domainName
          in: path
          description: The name of the domain to create.
          required: true
          schema:
            type: string
            example: yourdomain.com
      summary: Create a domain
      description: Creates a new domain on the specified service to host email templates.
      operationId: createDomain
      responses:
        '201':
          description: The created domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDomainResponse'
    get:
      tags:
        - Domains
      parameters:
        - name: serviceId
          in: path
          description: The serviceId containing the domain you want to retrieve.
          required: true
          schema:
            type: string
            example: 01GVRB50KEQFFE1SGMPFRNBG6J
        - name: domainName
          in: path
          description: The name of the domain you want to retrieve.
          required: true
          schema:
            type: string
            example: yourdomain.com
      summary: Get domain
      description: Retrieve a specific domain for the specified service.
      operationId: getDomain
      responses:
        '200':
          description: The details of the domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainDetailsResponse'
    delete:
      tags:
        - Domains
      parameters:
        - name: serviceId
          in: path
          description: The serviceId containing the domain you want to delete.
          required: true
          schema:
            type: string
            example: 01GVRB50KEQFFE1SGMPFRNBG6J
        - name: domainName
          in: path
          description: The name of the domain you want to delete.
          required: true
          schema:
            type: string
            example: yourdomain.com
      summary: Delete domain
      description: Delete a specific domain for the specified service.
      operationId: deleteDomain
      responses:
        '204':
          description: No content
  /v3/projects/{projectId}/services/{serviceId}/domains/{domainName}:verify:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Domains
      parameters:
        - name: serviceId
          in: path
          description: The serviceId containing the domain you want to verify.
          required: true
          schema:
            type: string
            example: 01GVRB50KEQFFE1SGMPFRNBG6J
        - name: domainName
          in: path
          description: The name of the domain you want to verify.
          required: true
          schema:
            type: string
            example: yourdomain.com
      summary: Verify domain
      description: Verify a specific domain for the specified service.
      operationId: verifyDomain
      responses:
        '200':
          description: The verification status of the domain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyDomainResponse'
  /v3/projects/{projectId}/services/{serviceId}/domains/{domainName}/templates:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Templates
      parameters:
        - name: serviceId
          in: path
          description: The serviceId containing the templates you want to list.
          required: true
          schema:
            type: string
            example: 01GVRB50KEQFFE1SGMPFRNBG6J
        - name: domainName
          in: path
          description: The name of the domain containing the templates you want to list.
          required: true
          schema:
            type: string
            example: yourdomain.com
      summary: List templates for domain
      description: List templates for a specific domain for the specified service.
      operationId: listTemplates
      responses:
        '200':
          description: The returned templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplatesDomainNameResponse'
  /v3/projects/{projectId}/services/{serviceId}/domains/{domainName}/templates/{templateName}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Templates
      parameters:
        - name: serviceId
          in: path
          description: The serviceId containing the templates you want to list.
          required: true
          schema:
            type: string
            example: 01GVRB50KEQFFE1SGMPFRNBG6J
        - name: domainName
          in: path
          description: The name of the domain containing the template you want to get.
          required: true
          schema:
            type: string
            example: yourdomain.com
        - name: templateName
          in: path
          description: The name of the template you want to get.
          required: true
          schema:
            $ref: '#/components/schemas/TemplateName'
      summary: Get template
      description: >-
        Retrieve a named template for a specific domain for the specified
        service.
      operationId: getTemplate
      responses:
        '200':
          description: The returned template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateByNameResponse'
    put:
      tags:
        - Templates
      parameters:
        - name: serviceId
          in: path
          description: The serviceId containing the templates you want to update.
          required: true
          schema:
            type: string
            example: 01GVRB50KEQFFE1SGMPFRNBG6J
        - name: domainName
          in: path
          description: The name of the domain containing the templates you want to update.
          required: true
          schema:
            type: string
            example: yourdomain.com
        - name: templateName
          in: path
          description: The name of the template you want to update.
          required: true
          schema:
            $ref: '#/components/schemas/TemplateName'
      summary: Update template
      description: Update a template for a specific domain for the specified service.
      operationId: updateTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateRequest'
            examples:
              successfulOutboundFax:
                summary: successful outbound fax
                value:
                  template: >-
                    <!DOCTYPE html><html lang='en'><head><meta
                    charset='utf-8'><meta name='viewport'
                    content='width=device-width'></head><body
                    style='margin:0;padding:0;background:#f3f4f6;'><table
                    role='presentation' width='100%' cellpadding='0'
                    cellspacing='0' style='background:#f3f4f6;'><tr><td
                    align='center' style='padding:24px;'><table
                    role='presentation' width='100%' cellpadding='0'
                    cellspacing='0'
                    style='max-width:600px;background:#ffffff;border-radius:8px;border:1px
                    solid #e5e7eb;'><tr><td style='padding:24px
                    28px;font-family:Segoe
                    UI,Helvetica,Arial,sans-serif;color:#111827;font-size:14px;line-height:1.5;'><p
                    style='margin:0 0 16px 0;'>Hi,</p><p style='margin:0 0 20px
                    0;'>You have sent a successful fax to:
                    <strong>{{to}}</strong>!</p><table role='presentation'
                    cellpadding='0' cellspacing='0'
                    style='border-collapse:collapse;'><tr><td style='padding:0
                    10px 6px 0;font-weight:600;'>Fax Id:</td><td
                    style='padding:0 0 6px 0;'>{{id}}</td></tr><tr><td
                    style='padding:0 10px 6px 0;font-weight:600;'>From:</td><td
                    style='padding:0 0 6px 0;'>{{from}}</td></tr><tr><td
                    style='padding:0 10px 6px 0;font-weight:600;'>To:</td><td
                    style='padding:0 0 6px 0;'>{{to}}</td></tr><tr><td
                    style='padding:0 10px 6px 0;font-weight:600;'>Number of
                    pages:</td><td style='padding:0 0 6px
                    0;'>{{numberOfPages}}</td></tr><tr><td style='padding:0 10px
                    6px 0;font-weight:600;'>Completed at:</td><td
                    style='padding:0 0 6px
                    0;'>{{completedTime}}</td></tr><tr><td style='padding:0 10px
                    0 0;font-weight:600;'>Price:</td><td style='padding:0 0 0
                    0;'>{{currencyCode}} {{amount}}</td></tr></table><p
                    style='margin:20px 0 0
                    0;'>Thanks!</p></td></tr></table></td></tr></table></body></html>
              successfulInboundFax:
                summary: successful inbound fax
                value:
                  template: >-
                    <!DOCTYPE html><html lang='en'><head><meta
                    charset='utf-8'><meta name='viewport'
                    content='width=device-width'></head><body
                    style='margin:0;padding:0;background:#f3f4f6;'><table
                    role='presentation' width='100%' cellpadding='0'
                    cellspacing='0' style='background:#f3f4f6;'><tr><td
                    align='center' style='padding:24px;'><table
                    role='presentation' width='100%' cellpadding='0'
                    cellspacing='0'
                    style='max-width:600px;background:#ffffff;border-radius:8px;border:1px
                    solid #e5e7eb;'><tr><td style='padding:24px
                    28px;font-family:Segoe
                    UI,Helvetica,Arial,sans-serif;color:#111827;font-size:14px;line-height:1.5;'><p
                    style='margin:0 0 16px 0;'>Hi,</p><p style='margin:0 0 20px
                    0;'>You have received a successful fax from:
                    <strong>{{from}}</strong>!</p><table role='presentation'
                    cellpadding='0' cellspacing='0'
                    style='border-collapse:collapse;'><tr><td style='padding:0
                    10px 6px 0;font-weight:600;'>Fax Id:</td><td
                    style='padding:0 0 6px 0;'>{{id}}</td></tr><tr><td
                    style='padding:0 10px 6px 0;font-weight:600;'>From:</td><td
                    style='padding:0 0 6px 0;'>{{from}}</td></tr><tr><td
                    style='padding:0 10px 6px 0;font-weight:600;'>To:</td><td
                    style='padding:0 0 6px 0;'>{{to}}</td></tr><tr><td
                    style='padding:0 10px 6px 0;font-weight:600;'>Number of
                    pages:</td><td style='padding:0 0 6px
                    0;'>{{numberOfPages}}</td></tr><tr><td style='padding:0 10px
                    6px 0;font-weight:600;'>Completed at:</td><td
                    style='padding:0 0 6px
                    0;'>{{completedTime}}</td></tr><tr><td style='padding:0 10px
                    0 0;font-weight:600;'>Price:</td><td style='padding:0 0 0
                    0;'>{{currencyCode}} {{amount}}</td></tr></table><p
                    style='margin:20px 0 0
                    0;'>Thanks!</p></td></tr></table></td></tr></table></body></html>
              unsuccessfulOutboundFax:
                summary: unsuccessful outbound fax
                value:
                  template: >-
                    <!DOCTYPE html><html lang='en'><head><meta
                    charset='utf-8'><meta name='viewport'
                    content='width=device-width'></head><body
                    style='margin:0;padding:0;background:#f3f4f6;'><table
                    role='presentation' width='100%' cellpadding='0'
                    cellspacing='0' style='background:#f3f4f6;'><tr><td
                    align='center' style='padding:24px;'><table
                    role='presentation' width='100%' cellpadding='0'
                    cellspacing='0'
                    style='max-width:600px;background:#ffffff;border-radius:8px;border:1px
                    solid #e5e7eb;'><tr><td style='padding:24px
                    28px;font-family:Segoe
                    UI,Helvetica,Arial,sans-serif;color:#111827;font-size:14px;line-height:1.5;'><p
                    style='margin:0 0 16px 0;'>Hi,</p><p style='margin:0 0 20px
                    0;'>A fax you sent to: <strong>{{to}}</strong> was not sent
                    successfully.</p><table role='presentation' cellpadding='0'
                    cellspacing='0' style='border-collapse:collapse;'><tr><td
                    style='padding:0 10px 6px 0;font-weight:600;'>Fax
                    Id:</td><td style='padding:0 0 6px
                    0;'>{{id}}</td></tr><tr><td style='padding:0 10px 6px
                    0;font-weight:600;'>From:</td><td style='padding:0 0 6px
                    0;'>{{from}}</td></tr><tr><td style='padding:0 10px 6px
                    0;font-weight:600;'>To:</td><td style='padding:0 0 6px
                    0;'>{{to}}</td></tr><tr><td style='padding:0 10px 6px
                    0;font-weight:600;'>Number of pages:</td><td
                    style='padding:0 0 6px
[...]
