openapi: 3.0.3
info:
  title: Elastic SIP Trunk API
  description: >-
    This document provides a detailed user guide and reference documentation on
    the Sinch Elastic SIP Trunk API. For information on how to authenticate API
    requests, please check the Authentication section.


    ## Authentication


    Elastic SIP Trunk API supports both
    [basic](https://developers.sinch.com/docs/est/api-reference/est/section/authentication#basic)
    and
    [OAuth2](https://developers.sinch.com/docs/est/api-reference/est/section/authentication#oauth2)
    authentication types.


    ### Basic


    {% partial file="/partials/authentication/basic/_intro.md"/ %}

    {% partial file="/partials/authentication/basic/_instructions.md"/ %}


    ### OAuth2


    {% partial file="/partials/authentication/oauth/_intro.md"/ %}

    {% partial file="/partials/authentication/oauth/_instructions.md"/ %}


    ## Servers


    Elastic SIP Trunk API serves all endpoints from the following server:


    ```https://elastic-trunking.api.sinch.com/v1/projects/{projectId}```


    {% admonition type="info" name="Note:" %}

    The `projectId` is a required parameter you must include when making any API
    calls. You can find your project ID on your
    [dashboard](https://dashboard.sinch.com).

    {% /admonition %}
  version: 1.0.0
  license:
    name: MIT
    url: https://www.sinch.com/toc
  contact:
    email: support@sinch.com
    name: support at sinch
security:
  - Basic: []
  - OAuth2.0: []
servers:
  - url: https://elastic-trunking.api.sinch.com
tags:
  - name: SIP Trunks
    description: >-
      The SIP Trunks endpoint has operations that allow you to create, view,
      update, and remove SIP trunks.
  - name: SIP Endpoints
    description: >-
      A SIP endpoint is the resource that represents your SIP infrastructure,
      typically an SBC. Note the Elastic SIP Trunk API does not support user
      registration and presence.
  - name: Country Permissions
    description: >-
      Country permissions are used to control which countries can be dialed from
      a specific SIP trunk. You can view, update, and remove country
      permissions. For beta, only US, CA and wild card are supported.

      Please note that these permissions are not per trunk but rather they are
      per project/account. In the future Sinch may extend these permissions to
      other voice and messaging products.

      If you are using sub-projects you can use the same country permissions for
      all sub-projects.

      You can also specify different country permissions for each sub-project
      that will override the parent country permissions.
  - name: Phone Numbers
    description: >-
      The `/phoneNumbers` endpoint has operations that allow you to assign and
      remove phone numbers from SIP trunks.
  - name: Calls
    description: >-
      The `/calls` endpoint has operations that allow you to retrieve call
      history and details about calls made or received using EST.
  - name: Call Blocking Rules
    description: >-
      The Call Blocking Rules endpoint has operations that allow you to
      configure and manage your call blocking rules for your EST solution.
  - name: Access Control List
    description: >-
      The Access Control List (ACL) endpoint has operations that allow you to
      create, view, update, and remove ACLs.

      You use ACLs to control which IP addresses can send traffic to your SIP
      trunk. You can create multiple ACLs and assign them to multiple SIP
      trunks. In order to make outbound calls you need to have at least one ACL
      set up.
    x-displayName: Access Control Lists
  - name: Credential Lists
    description: >-
      The Credential Lists endpoint has operations that allow you to view and
      manage credential lists. 

      You use credential lists to easily configure which users are allowed to
      make calls on a trunk.
  - name: Credentials
    description: >-
      The Credentials endpoint has operations that allow you to manage
      credentials within a credential list.
  - name: Projects
    description: Manage your Elastic SIP Trunking projects.
paths:
  /v1/projects/{projectId}/calls:
    get:
      summary: Find calls
      description: Find calls by query parameters.
      operationId: findCalls
      tags:
        - Calls
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: from
          in: query
          description: >-
            A phone number that you want to use to filter results. You can pass
            a partial number to get all calls sent to numbers that start with
            the number you passed.
          required: false
          schema:
            type: string
            format: phonenumber
        - name: to
          in: query
          description: >-
            Only include calls made to this number or address. You can pass a
            partial number to get all calls sent to numbers that start with the
            number you passed.
          required: false
          schema:
            type: string
            format: phonenumber
        - name: trunkId
          in: query
          description: Only include calls made from this trunk.
          required: false
          schema:
            type: string
        - name: createTime
          description: >-
            Filter calls based on  `createTime`. You make the query more
            precise, fewer results will be returned.

            For example, 2021-02-01 will return all calls from the first of
            February 2021, and 2021-02-01T14:00:00Z will return all calls after
            14:00 on the first of February.

            This field also supports <= and >= to search for calls in a range
            ?createTime>=2021-10-01&createTime<=2021-10-30 to get a list if
            calls for october 2021

            It is also possible to submit partial dates for example
            createTime=2021-02 will return all calls for February


            ***Defaults to 24 hours***


            ***Internal notes***

            If a customer submits = and not <> we should add min and max for the
            date range

            psueodo sql


            ```

            createTime = 2021-02-01

            select * from calls where createTime >= 2021-02-01 and createTime <=
            2021-02-01T23:59:59Z


            createTime = 2021-02-01T08

            select * from calls where createTime >= 2021-02-01T08:00:00 and
            createTime <= 2021-02-01T08:59:59Z

            ```


            but if they submit < or > we should just use the value they
            submitted and parse it a complete date
          required: false
          in: query
          schema:
            type: string
            example: '2021-02-01'
            default: now-24h
        - name: callResult
          in: query
          description: >-
            only include calls by on the callResult(s), example
            callResult=COMPLETED will return all calls which have completed
            normally.
          required: false
          schema:
            $ref: '#/components/schemas/CallResult'
        - name: direction
          in: query
          description: >-
            only include calls by on the direction(s), example
            direction=INBOUND,OUTBOUND will return all calls that are inbound or
            outbound.
          required: false
          schema:
            type: string
            description: Filter results based on the call direction.
            enum:
              - INBOUND
              - OUTBOUND
            x-ga-description: >-
              Describes whether the call was `INBOUND` *to* your Sinch number or
              was `OUTBOUND` and made *from* your Sinch number. An `INBOUND`
              call can also come from a SIP infrastructure or an application
              built using the Sinch SDK. An `OUTBOUND` call can be placed to a
              SIP infrastructure or an application built using the Sinch SDK.
            x-enumDescriptions:
              INBOUND: Somebody called your Sinch number.
              OUTBOUND: You called somebody from your SIP device.
        - name: page
          in: query
          description: The page you want to fetch
          schema:
            type: string
        - name: size
          in: query
          description: >-
            The maximum number of items to return per request. The default is
            100 and the maximum is 1000. If you need to export larger amounts
            and pagination is not suitable for you can use the Export function
            in the dashboard.
          schema:
            type: integer
            maximum: 1000
            minimum: 1
      responses:
        '200':
          description: Call result response
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      calls:
                        type: array
                        description: The list of calls that matches the query parameters.
                        items:
                          $ref: '#/components/schemas/Call'
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // Replace with a valid 'from' number in your call history
              const fromFilter = '+1781';
              // Replace with one of: 'COMPLETED', 'NO_ANSWER', 'CANCEL', 'BUSY', 'FAILED'
              const callResultFilter = 'FAILED';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.calls.find({
                  from: fromFilter,
                  callResult: callResultFilter,
                });
                if (response.data.length === 0) {
                  console.log('No calls found matching your criteria.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} calls.`);
                response.data.forEach((call) => {
                  console.log(call);
                });
              } catch (err) {
                console.error('❌ Failed to find calls:');
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/calls/export:
    get:
      tags:
        - Calls
      summary: Export call records
      description: >-
        Export call records for a project. This returns a comma separate value
        (CSV) response. You can specify which records to export using the query
        parameters.
      operationId: exportCallRecords
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: from
          in: query
          description: >-
            A phone number that you want to use to filter results. You can pass
            a partial number to get all calls sent to numbers that start with
            the number you passed.
          required: false
          schema:
            type: string
            format: phonenumber
        - name: to
          in: query
          description: >-
            Only include calls made to this number or address. You can pass a
            partial number to get all calls sent to numbers that start with the
            number you passed.
          required: false
          schema:
            type: string
            format: phonenumber
        - name: trunkId
          in: query
          description: Only include calls made from this trunk.
          required: false
          schema:
            type: string
        - name: createTime
          description: >-
            Filter calls based on  `createTime`. You make the query more
            precise, fewer results will be returned.

            For example, 2021-02-01 will return all calls from the first of
            February 2021, and 2021-02-01T14:00:00Z will return all calls after
            14:00 on the first of February.

            This field also supports <= and >= to search for calls in a range
            ?createTime>=2021-10-01&createTime<=2021-10-30 to get a list if
            calls for october 2021

            It is also possible to submit partial dates for example
            createTime=2021-02 will return all calls for February


            ***Defaults to 24 hours***
          required: false
          in: query
          style: form
          explode: true
          schema:
            type: string
            example: '2021-02-01'
            default: now-24h
        - name: callResult
          in: query
          description: >-
            only include calls by on the callResult(s), example
            callResult=COMPLETED will return all calls which have completed
            normally.
          required: false
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/CallResult'
        - name: direction
          in: query
          description: >-
            only include calls by on the direction(s), example
            direction=INBOUND,OUTBOUND will return all calls that are inbound or
            outbound.
          required: false
          style: form
          explode: false
          schema:
            type: string
            description: >-
              Filter results based on the call direction. Describes whether the
              call was `INBOUND` *to* your Sinch number or was `OUTBOUND` and
              made *from* your Sinch number. An `INBOUND` call can also come
              from a SIP infrastructure or an application built using the Sinch
              SDK. An `OUTBOUND` call can be placed to a SIP infrastructure or
              an application built using the Sinch SDK.
            enum:
              - INBOUND
              - OUTBOUND
            x-enumDescriptions:
              INBOUND: Somebody called your Sinch number.
              OUTBOUND: You called somebody from your SIP device.
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - name: fromCountryCode
          in: query
          required: false
          description: >-
            Set this if you want to filter on the country of the caller phone
            number.
          schema:
            type: string
            example: US
        - name: toCountryCode
          in: query
          required: false
          description: >-
            Set this if you want to filter on the country of the callee phone
            number.
          schema:
            type: string
            example: CA
        - name: emergencyOnly
          in: query
          required: false
          description: Set this if you want to filter on emergency calls or not.
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
            x-enumDescriptions:
              'true': Include only emergency calls.
              'false': Include all calls.
        - name: region
          in: query
          required: false
          description: Set this is you want to filter calls based on the region.
          schema:
            type: string
            example: us-east
        - name: projectIds
          in: query
          required: false
          description: Set this if you want to include calls from other projects.
          schema:
            type: string
        - name: fileName
          in: query
          required: false
          schema:
            type: string
        - name: groupId
          in: query
          required: false
          description: Set this if you want to filter calls based on the group ID.
          schema:
            type: string
            example: >-
              e234bd85-8uv5-44a2-a973-1f705a0960f5@vp3-i-06a73121dc26a8906.xmpp.vpc
        - name: parentId
          in: query
          required: false
          description: Set this if you want to filter calls based on the call's parent ID.
          schema:
            type: string
            example: 9128525b-7273-123f-73ae-0225d0254abb
        - name: relationshipType
          in: query
          required: false
          description: >-
            The type of relationship the call has, for example, an initial call
            or a child call.
          schema:
            type: string
            example: initial
        - name: hasChildren
          in: query
          required: false
          description: Set this if you want to filter on calls with children or not.
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
            x-enumDescriptions:
              'true': Include only calls with children.
              'false': Include all calls.
      responses:
        '200':
          description: OK
          content:
            application/csv:
              schema:
                type: string
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // Replace with a valid 'from' number in your call history
              const fromFilter = '+1440';
              // Replace with one of: 'COMPLETED', 'NO_ANSWER', 'CANCEL', 'BUSY', 'FAILED'
              const callResultFilter = 'FAILED';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.calls.export({
                  from: fromFilter,
                  callResult: callResultFilter,
                });
                console.log('✅ Successfully exported the call records.');
                console.log(response);
              } catch (err) {
                console.error('❌ Failed to export the call records:');
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/calls/records/{pcapId}/pcap:
    get:
      tags:
        - Calls
      summary: Get PCAPs by ID
      description: >-
        Return PCAPs by the PCAP ID. Returns a .pcap file of the requested call
        to download. You can find the PCAP ID in the response from
        ['/calls'](https://developers.sinch.com/docs/est/api-reference/est/calls/findcalls)
        endpoint. PCAPs are only available for calls from within the last 10
        days.
      operationId: getPcap
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: pcapId
          in: path
          description: The ID of the PCAP you want to retrieve.
          required: true
          schema:
            type: string
            example: 0a81e938-07bd-1240-8487-0ecf41868d11
        - name: direction
          in: query
          description: >-
            Request a PCAP for the call leg specified by the direction. If this
            query parameter is not included, the default behavior is to return
            OUTBOUND calls.
          required: false
          schema:
            type: string
            enum:
              - INBOUND
              - OUTBOUND
            x-enumDescriptions:
              INBOUND: Somebody called your Sinch number.
              OUTBOUND: You called somebody from your SIP device.
            default: OUTBOUND
      responses:
        '200':
          description: The .pcap file.
          content:
            application/octet-stream: {}
  /v1/projects/{projectId}/callBlockingRules:
    get:
      tags:
        - Call Blocking Rules
      summary: Get call blocking rules
      description: Return all the call blocking rules for the specified project.
      operationId: getBlockingRules
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Sort'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CallBlockingRule'
    post:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      tags:
        - Call Blocking Rules
      summary: Create call blocking rule
      description: Create a call blocking rule for the specified project.
      operationId: createBlockingRule
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBlockingRule'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBlockingRule'
  /v1/projects/{projectId}/callBlockingRules/{id}:
    put:
      tags:
        - Call Blocking Rules
      summary: Update blocking rule
      description: Update the call blocking rule by the specified ID.
      operationId: updateBlockingRuleById
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: id
          in: path
          required: true
          description: The ID of the call blocking rule to update.
          schema:
            type: string
            example: 01KG5BN8Z0HSR2P9GM3K9YA8RE
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallBlockingRule'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallBlockingRule'
    delete:
      tags:
        - Call Blocking Rules
      operationId: deleteBlockingRuleById
      summary: Delete blocking rule
      description: Delete a call blocking rule using its ID.
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: id
          in: path
          required: true
          description: The ID of the call blocking rule to delete.
          schema:
            type: string
            example: 01KG5BN8Z0HSR2P9GM3K9YA8RE
      responses:
        '204':
          description: No Content
  /v1/projects/{projectId}/trunks/{sipTrunkId}/endpoints:
    get:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SipTrunkId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
      tags:
        - SIP Endpoints
      summary: Return SIP endpoints
      description: Returns a list of all SIP endpoints with paging.
      operationId: getSipEndpoint
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      endpoints:
                        type: array
                        items:
                          $ref: '#/components/schemas/SipEndpoint'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID to list SIP Endpoints from
              const sipTrunkId = 'SIP_TRUNK_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.sipEndpoints.list({
                  sipTrunkId,
                });
                if (response.data.length === 0) {
                  console.log(`No SIP Endpoints found for the SIP Trunk with ID ${sipTrunkId}.`);
                  return;
                }
                console.log(`✅ Found ${response.data.length} SIP Endpoints.`);
                response.data.forEach((endpoint) => {
                  console.log(endpoint);
                });
              } catch (err) {
                console.error(`❌ Failed to list the SIP Endpoints for the SIP Trunk with ID ${sipTrunkId}`);
                console.error(err);
              }
            }

            main();
    post:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SipTrunkId'
      tags:
        - SIP Endpoints
      summary: Create SIP endpoint
      description: Create a new SIP endpoint.
      operationId: createSipEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipEndpoint'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      endpoints:
                        type: array
                        items:
                          $ref: '#/components/schemas/SipEndpoint'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to create the endpoint in
              const sipTrunkId = 'SIP_TRUNK_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.sipEndpoints.create({
                  sipTrunkId,
                  createSipEndpointRequestBody: {
                    address: '127.0.0.1',
                    name: 'Acme Endpoint',
                    priority: 1,
                  },
                });
                console.log('✅ Successfully created the SIP Endpoint.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error('❌ Failed to create the SIP Endpoint:');
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/trunks/{sipTrunkId}/endpoints/{sipEndpointId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SipTrunkId'
      - $ref: '#/components/parameters/SipEndpointId'
    get:
      tags:
        - SIP Endpoints
      summary: Get SIP endpoint by ID
      description: Get a SIP endpoint by specifying its ID.
      operationId: getSipEndpointById
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipEndpoint'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID of the SIP Endpoint you want to retrieve
              const sipTrunkId = 'SIP_TRUNK_ID';
              // The SIP Endpoint ID you want to retrieve
              const sipEndpointId = 'SIP_ENDPOINT_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.sipEndpoints.get({
                  sipTrunkId,
                  sipEndpointId,
                });
                console.log('✅ Successfully retrieved the SIP Endpoint.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to fetch the SIP Endpoint with ID ${sipEndpointId} from the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
    put:
      tags:
        - SIP Endpoints
      summary: Update existing SIP endpoint
      description: Updated an existing SIP endpoint by specifying its ID.
      operationId: updateSipEndpoint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipEndpoint'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipEndpoint'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to update the endpoint for
              const sipTrunkId = 'SIP_TRUNK_ID';
              // The SIP Endpoint ID you want to update
              const sipEndpointId = 'SIP_ENDPOINT_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.sipEndpoints.update({
                  sipTrunkId,
                  sipEndpointId,
                  updateSipEndpointRequestBody: {
                    address: '127.0.0.1',
                    name: 'Acme Endpoint',
                    priority: 1,
                  },
                });
                console.log('✅ Successfully updated the SIP Endpoint.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the SIP Endpoint with ID ${sipEndpointId} from the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
    delete:
      tags:
        - SIP Endpoints
      summary: Delete SIP endpoint
      description: Delete a SIP endpoint by specifying its ID.
      operationId: deleteSipEndpoint
      responses:
        '204':
          description: SIP endpoint deleted successfully.
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to delete the SIP Endpoint from
              const sipTrunkId = 'SIP_TRUNK_ID';
              // The SIP Endpoint ID you want to delete
              const sipEndpointId = 'SIP_ENDPOINT_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                await sinch.elasticSipTrunking.sipEndpoints.delete({
                  sipTrunkId,
                  sipEndpointId,
                });
                console.log(`✅ Successfully deleted the SIP Endpoint with ID: ${sipEndpointId} from the SIP Trunk with ID ${sipTrunkId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the SIP Endpoint with ID ${sipEndpointId} from the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/trunks:
    post:
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      tags:
        - SIP Trunks
      summary: Create SIP trunk
      description: Creates a new SIP trunk.
      operationId: createSipTrunk
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipTrunk'
        required: true
      responses:
        '201':
          description: SIP trunk created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipTrunk'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.elasticSipTrunking.sipTrunks.create({
                  createSipTrunkRequestBody: {
                    name: 'Acme Trunk',
                    hostName: 'acme-domain-1',
                  },
                });
                console.log('✅ Successfully created the SIP Trunk.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error('❌ Failed to create the SIP Trunk:');
                console.error(err);
              }
            }

            main();
    get:
      summary: List SIP trunks
      tags:
        - SIP Trunks
      description: >-
        Returns a list of all SIP trunks. If you specify pagination settings,
        the list of SIP trunks can be returned separated and sorted into pages.
      operationId: getSipTrunks
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/Size'
        - name: domain
          in: query
          description: Filter by domain
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Request completed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      sipTrunks:
                        type: array
                        description: >-
                          The list of SIP trunks that matches the query
                          parameters.
                        items:
                          $ref: '#/components/schemas/SipTrunk'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.sipTrunks.list({});
                if (response.data.length === 0) {
                  console.log('No SIP Trunks found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} SIP Trunks.`);
                response.data.forEach((trunk) => {
                  console.log(trunk);
                });
              } catch (err) {
                console.error('❌ Failed to list the SIP Trunks:');
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/trunks/{sipTrunkId}:
    get:
      summary: Get SIP Trunk
      description: Search for a SIP trunk by ID.
      operationId: getSipTrunkById
      tags:
        - SIP Trunks
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SipTrunkId'
      responses:
        '200':
          description: SIP trunk found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipTrunk'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to retrieve
              const sipTrunkId = 'SIP_TRUNK_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.sipTrunks.get({ sipTrunkId });
                console.log('✅ Successfully retrieved the SIP Trunk.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
    put:
      summary: Update SIP trunk
      description: >-
        Update an existing SIP Trunk by ID. The whole object must be sent. Any
        missing fields will be set to null.
      operationId: updateSipTrunk
      tags:
        - SIP Trunks
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SipTrunkId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SipTrunk'
        required: true
      responses:
        '200':
          description: SIP trunk updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SipTrunk'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to update
              const sipTrunkId = 'SIP_TRUNK_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.sipTrunks.update({
                  sipTrunkId,
                  updateSipTrunkRequestBody: {
                    name: 'Acme Trunk',
                    hostName: 'acme-domain-1',
                  },
                });
                console.log('✅ Successfully updated the SIP Trunk.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
    delete:
      summary: Delete SIP trunk
      description: Delete a SIP trunk by its ID.
      operationId: deleteSipTrunk
      tags:
        - SIP Trunks
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - $ref: '#/components/parameters/SipTrunkId'
      responses:
        '204':
          description: The SIP trunk deleted successfully
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to delete
              const sipTrunkId = 'SIP_TRUNK_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                await sinch.elasticSipTrunking.sipTrunks.delete({ sipTrunkId });
                console.log(`✅ Successfully deleted the SIP Trunk with ID ${sipTrunkId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/phoneNumbers:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/SipTrunkIdQuery'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/Size'
      - $ref: '#/components/parameters/Sort'
    get:
      summary: Get all phone numbers
      description: >-
        Get all phone numbers. You can filter and sort the phone numbers
        returned with paging.
      operationId: GetPhoneNumbers
      tags:
        - Phone Numbers
      responses:
        '200':
          description: A successful response is an array containing phone numbers.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Pagination'
                  - type: object
                    properties:
                      phoneNumbers:
                        type: array
                        items:
                          $ref: '#/components/schemas/Number'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const phoneNumbers = [];
                for await (const entry of sinch.elasticSipTrunking.phoneNumbers.list({})) {
                  phoneNumbers.push(entry);
                }
                if (!phoneNumbers.length) {
                  console.log('No phone numbers found.');
                  return;
                }
                console.log(`✅ Found ${phoneNumbers.length} phone numbers.`);
                phoneNumbers.forEach((number) => {
                  console.log(number);
                });
              } catch (err) {
                console.error('❌ Failed to list phone numbers:');
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/phoneNumbers/{phoneNumber}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/PhoneNumber'
    get:
      summary: Find a specific phone number
      description: >-
        Search for an Elastic SIP Trunk-enabled phone number by the e.164
        number.
      operationId: GetPhoneNumberByNumber
      tags:
        - Phone Numbers
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Number'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The phone number you want to search for.
              const phoneNumber = process.env.PHONE_NUMBER ?? '+15552229999';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.phoneNumbers.get({
                  phoneNumber,
                });
                console.log('✅ Successfully retrieved the phone number.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the phone number ${phoneNumber}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/countryPermissions:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Country Permissions
      summary: Fetch all country permissions
      description: Fetches the list of country permissions.
      operationId: getCountryPermissions
      responses:
        '200':
          description: The list of countries available
          content:
            application/json:
              schema:
                type: object
                properties:
                  countryPermissions:
                    type: array
                    items:
                      $ref: '#/components/schemas/CountryPermission'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.countryPermissions.list({});
                if (!response.countryPermissions?.length) {
                  console.log('No country permissions found.');
                  return;
                }
                console.log(`✅ Found ${response.countryPermissions.length} country permissions.`);
                response.countryPermissions.forEach((countryPermission) => {
                  console.log(countryPermission);
                });
              } catch (err) {
                console.error('❌ Failed to list the country permissions:');
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/countryPermissions/{isoCode}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: isoCode
        in: path
        description: The ISO code of the country.
        required: true
        schema:
          type: string
    get:
      tags:
        - Country Permissions
      summary: Fetch country permission
      description: Fetches the requested country permission.
      operationId: getCountryPermission
      responses:
        '200':
          description: The returned country permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryPermission'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The country code you want to get permissions for
              const countryCode = 'US';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.countryPermissions.get({
                  isoCode: countryCode,
                });
                console.log('✅ Successfully retrieved the country permissions.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the country permissions for country code ${countryCode}:`);
                console.error(err);
              }
            }

            main();
    put:
      tags:
        - Country Permissions
      summary: Update country permission
      description: Update the requested country permission.
      operationId: updateCountryPermission
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CountryPermission'
      responses:
        '200':
          description: The updated country permission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryPermission'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // Replace with the country code you want to update permissions for
              const countryCode = 'US';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.countryPermissions.update({
                  isoCode: countryCode,
                  updateCountryPermissionRequestBody: {
                    enabled: true,
                  },
                });
                console.log('✅ Successfully updated the country permissions.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the country permissions for the country code ${countryCode}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/accessControlLists:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
    get:
      tags:
        - Access Control List
      summary: List ACLs
      description: Fetches the list of Access Control List entries.
      operationId: getAccessControlList
      responses:
        '200':
          description: The list of ACL entries
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      accessControlLists:
                        type: array
                        items:
                          $ref: '#/components/schemas/AccessControlList'
                  - $ref: '#/components/schemas/Pagination'
              examples:
                listAcls:
                  $ref: '#/components/examples/aclListResponse'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.accessControlList.list({});
                if (response.data.length === 0) {
                  console.log('No ACLs found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} ACLs.`);
                response.data.forEach((acl) => {
                  console.log(acl);
                });
              } catch (err) {
                console.error('❌ Failed to list the ACLs:');
                console.error(err);
              }
            }

            main();
    post:
      tags:
        - Access Control List
      summary: Create an ACL
      description: >-
        Create an access control list entry with at least one IP address or IP
        range.
      operationId: createAccessControlList
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessControlList'
            examples:
              createNewAcl:
                $ref: '#/components/examples/createAclReq'
      responses:
        '200':
          description: The list of access control list entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlList'
              examples:
                createNewAcl:
                  $ref: '#/components/examples/createAclRes'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.elasticSipTrunking.accessControlList.create({
                  createAccessControlListBody: {
                    name: 'My new ACL',
                    ipRanges: [
                      {
                        description: 'Location 1',
                        ipAddress: '15.15.15.15',
                        range: 20,
                      },
                    ],
                  },
                });
                console.log('✅ Successfully created the ACL.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error('❌ Failed to create the ACL:');
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/accessControlLists/{id}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: id
        in: path
        description: The ID of the access control list entry.
        required: true
        schema:
          type: string
    get:
      tags:
        - Access Control List
      operationId: getAccessListById
      summary: Get access control list
      description: Return an access control list by its ID.
      responses:
        '200':
          description: The returned access control list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlList'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The ID of the ACL to retrieve
              const aclId = 'ACL_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.accessControlList.get({
                  id: aclId,
                });
                console.log('✅ Successfully retrieved the ACL.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the ACL with ID ${aclId}:`);
                console.error(err);
              }
            }

            main();
    put:
      tags:
        - Access Control List
      summary: Update ACL
      description: >-
        Create an access control list entry with at least one IP address or IP
        range.
      operationId: updateAccessControlList
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Your name for the access control list entry.
                  example: LA Office
                enabled:
                  type: boolean
                  description: >-
                    Whether the access control list entry is enabled. You can
                    use this to disable a list temporarily without deleting it.
                  default: true
                ipRanges:
                  type: array
                  description: An array of all the IP ranges to update.
                  items:
                    $ref: '#/components/schemas/IpRange'
            examples:
              updateAcl:
                $ref: '#/components/examples/updateAclReq'
      responses:
        '200':
          description: The list of access control list entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessControlList'
              examples:
                updateAcl:
                  $ref: '#/components/examples/updateAclRes'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The ID of the ACL to update
              const aclId = 'ACL_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.accessControlList.update({
                  id: aclId,
                  updateAccessControlListRequestBody: {
                    name: 'Updated ACL name',
                    enabled: false,
                  },
                });
                console.log('✅ Successfully updated the ACL.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the ACL with ID ${aclId}:`);
                console.error(err);
              }
            }

            main();
    delete:
      description: Delete an access control list entry.
      summary: Delete ACL
      operationId: deleteAccessControlList
      tags:
        - Access Control List
      responses:
        '204':
          description: No Content
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The ID of the ACL to delete
              const aclId = 'ACL_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.elasticSipTrunking.accessControlList.delete({
                  id: aclId,
                });
                console.log(`✅ Successfully deleted the ACL with ID ${aclId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the ACL with ID ${aclId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/accessControlLists/{id}/trunks:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: id
        in: path
        description: The ID of the access control list entry.
        required: true
        schema:
          type: string
    get:
      summary: Get trunks for ACL
      description: >-
        Returns a list of all trunks which use the specified access control
        list.
      operationId: trunksByACL
      tags:
        - Access Control List
      responses:
        '200':
          description: The list of trunks which use the access control list.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      trunks:
                        type: array
                        items:
                          $ref: '#/components/schemas/SipTrunk'
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The ACL ID you want to list SIP Trunks for
              const aclId = 'ACL_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.accessControlList.listTrunks({
                  id: aclId,
                });
                if (response.data.length === 0) {
                  console.log(`No SIP Trunks found for the ACL with ID ${aclId}.`);
                  return;
                }
                console.log(`✅ Found ${response.data.length} SIP Trunks for the ACL with ID ${aclId}.`);
                response.data.forEach((trunk) => {
                  console.log(trunk);
                });
              } catch (err) {
                console.error(`❌ Failed to list the SIP Trunks for the ACL with ID ${aclId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/accessControlLists/{accessControlListId}/ipRanges:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: accessControlListId
        in: path
        description: The ID of the access control list entry. that you want to work with
        required: true
        schema:
          type: string
    post:
      operationId: addIpRangeToAccessControlList
      description: Add an IP range to an access control list entry.
      summary: Add IP range to ACL
      tags:
        - Access Control List
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpRange'
            examples:
              addIpRange:
                $ref: '#/components/examples/addIpRangeReq'
      responses:
        '200':
          description: The list of IP ranges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpRange'
              examples:
                addIpRange:
                  $ref: '#/components/examples/addIpRangeRes'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The ID of the ACL to which to add an IP range
              const aclId = 'ACL_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.accessControlList.addIpRange({
                  accessControlListId: aclId,
                  addIpRangeRequestBody: {
                    description: 'IP range name',
                    ipAddress: '11.12.13.14',
                    range: 27,
                  },
                });
                console.log('✅ Successfully added IP range to ACL:');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to add IP range to the ACL with ID ${aclId}:`);
                console.error(err);
              }
            }

            main();
    get:
      operationId: getIpRangesForAccessControlList
      summary: List all IP ranges for ACL
      description: Get all IP ranges for an access control list entry.
      tags:
        - Access Control List
      responses:
        '200':
          description: The list of IP ranges
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      ipRanges:
                        type: array
                        description: The list of IP ranges
                        items:
                          $ref: '#/components/schemas/IpRange'
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The ID of the ACL to list the IP ranges from
              const aclId = 'ACL_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.accessControlList.listIpRanges({
                  accessControlListId: aclId,
                });
                if (response.data.length === 0) {
                  console.log(`No IP ranges found for the ACL with ID ${aclId}.`);
                  return;
                }
                console.log(`✅ Found ${response.data.length} IP ranges for ACL with ID ${aclId}.`);
                response.data.forEach((ipRange) => {
                  console.log(ipRange);
                });
              } catch (err) {
                console.error(`❌ Failed to list the IP ranges for the ACL with ID ${aclId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/accessControlLists/{accessControlListId}/ipRanges/{ipRangeId}:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: accessControlListId
        in: path
        description: The ID of the access control list entry that you want to update.
        required: true
        schema:
          type: string
      - name: ipRangeId
        in: path
        description: The ID of the IP range that you want to update.
        required: true
        schema:
          type: string
    delete:
      operationId: deleteIpRangeFromAccessControlList
      summary: Delete IP range from ACL
      tags:
        - Access Control List
      description: Remove an IP range to an access control list entry.
      responses:
        '204':
          description: IP range deleted
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The ID of the ACL to delete the IP range from
              const aclId = 'ACL_ID';
              // The IP Range ID you want to delete from the ACL
              const ipRangeId = 'IP_RANGE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.elasticSipTrunking.accessControlList.deleteIpRange({
                  accessControlListId: aclId,
                  ipRangeId: ipRangeId,
                });
                console.log(`✅ Successfully deleted the IP range ${ipRangeId} from the ACL with ID ${aclId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the IP range ${ipRangeId} from the ACL with ID ${aclId}:`);
                console.error(err);
              }
            }

            main();
    put:
      description: Update an IP range to an access control list entry.
      operationId: updateIpRangeFromAccessControlList
      summary: Update IP range
      tags:
        - Access Control List
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpRange'
            examples:
              updateIpRange:
                $ref: '#/components/examples/updateIpRangeReq'
      responses:
        '200':
          description: The updated IP range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpRange'
              examples:
                updateIpRange:
                  $ref: '#/components/examples/updateAclRes'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The ACL ID you want to update ACL from
              const aclId = 'ACL_ID';
              // The IP Range ID you want to update
              const ipRangeId = 'IP_RANGE_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.accessControlList.updateIpRange({
                  accessControlListId: aclId,
                  ipRangeId: ipRangeId,
                  updateIpRangeRequestBody: {
                    ipAddress: '11.12.13.14',
                    range: 27,
                  },
                });
                console.log('✅ Successfully updated the IP Range.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the IP Range ${ipRangeId} in the ACL with ID ${aclId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/credentialLists/{id}:
    get:
      tags:
        - Credential Lists
      summary: Get credential list
      description: Return a credential list by its specified ID.
      operationId: getCredentialListById
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: id
          in: path
          required: true
          description: The ID of the credential list to return.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialListResponse'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The credential list ID you want to retrieve
              const credentialListId = 'CREDENTIAL_LIST_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.credentialLists.get({
                  id: credentialListId,
                });
                console.log('✅ Successfully retrieved the credential list.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the credential list with ID ${credentialListId}:`);
                console.error(err);
              }
            }

            main();
    put:
      tags:
        - Credential Lists
      summary: Update a credential list
      operationId: updateCredentialList
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: id
          in: path
          required: true
          description: The ID of the credential list to update.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialListRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialListResponse'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The credential list ID you want to update
              const credentialListId = 'CREDENTIAL_LIST_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.credentialLists.update({
                  id: credentialListId,
                  updateCredentialListRequestBody: {
                    name: 'Updated credential list name',
                  },
                });
                console.log(`✅ Successfully updated the credential list with ID ${credentialListId}.`);
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the credential list with ID ${credentialListId}:`);
                console.error(err);
              }
            }

            main();
    delete:
      tags:
        - Credential Lists
      summary: Delete a credential list
      operationId: deleteCredentialList
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: id
          in: path
          required: true
          description: The ID of the credential list to delete.
          schema:
            type: string
      responses:
        '204':
          description: No Content
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The credential list ID you want to delete
              const credentialListId = 'CREDENTIAL_LIST_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.elasticSipTrunking.credentialLists.delete({
                  id: credentialListId,
                });
                console.log(`✅ Successfully deleted the credential list with ID ${credentialListId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the credential list with ID ${credentialListId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/credentialLists/{credentialListId}/credentials/{username}:
    put:
      tags:
        - Credential Lists
      summary: Update the password for a credential
      operationId: updateCredential
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: credentialListId
          in: path
          required: true
          description: The ID of the credential list entry.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the credential.
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Credential'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The credential list ID that contains the credential to update
              const credentialListId = 'CREDENTIAL_LIST_ID';
              // The username of the credential to update
              const credentialUsername = 'CREDENTIAL_USERNAME';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.credentialLists.updateCredential({
                  id: credentialListId,
                  username: credentialUsername,
                  updateCredentialPasswordRequestBody: {
                    password: 'newSecurePassword123[]',
                  },
                });
                console.log(`✅ Successfully updated the credential password for the username ${credentialUsername} in credential list ${credentialListId}.`);
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the credential password for the username ${credentialUsername} in credential list ${credentialListId}:`);
                console.error(err);
              }
            }

            main();
    delete:
      tags:
        - Credentials
      summary: Delete a credential
      operationId: deleteCredential
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: credentialListId
          in: path
          required: true
          description: The ID of the credential list entry.
          schema:
            type: string
        - name: username
          in: path
          required: true
          description: The username of the credential.
          schema:
            type: string
      responses:
        '204':
          description: No Content
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The credential list ID that contains the credential to delete
              const credentialListId = 'CREDENTIAL_LIST_ID';
              // The username of the credential to delete
              const credentialUsername = 'CREDENTIAL_USERNAME';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.elasticSipTrunking.credentialLists.deleteCredential({
                  id: credentialListId,
                  username: credentialUsername,
                });
                console.log(`✅ Successfully deleted the credential with username ${credentialUsername} from credential list ${credentialListId}.`);
              } catch (err) {
                console.error(`❌ Failed to delete the credential with username ${credentialUsername} from credential list ${credentialListId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/trunks/{trunkId}/credentialLists/{credentialListId}:
    delete:
      tags:
        - SIP Trunks
      summary: Remove credential list from sip trunk
      operationId: removeCredentialListFromTrunk
      parameters:
        - $ref: '#/components/parameters/ProjectId'
        - name: trunkId
          in: path
          required: true
          description: The ID of the trunk.
          schema:
            type: string
        - name: credentialListId
          in: path
          required: true
          description: The ID of the credential list entry.
          schema:
            type: string
      responses:
        '204':
          description: No Content
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to remove a credential list from
              const sipTrunkId = 'SIP_TRUNK_ID';
              // The credential list ID you want to remove from the SIP Trunk
              const credentialListId = 'CREDENTIAL_LIST_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                await sinch.elasticSipTrunking.sipTrunks.deleteCredentialList({
                  trunkId: sipTrunkId,
                  credentialListId,
                });
                console.log(`✅ Successfully removed credential list ${credentialListId} from the SIP Trunk with ID ${sipTrunkId}.`);
              } catch (err) {
                console.error(`❌ Failed to remove credential list ${credentialListId} from the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/credentialLists/{id}/trunks:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: id
        in: path
        description: The ID of the credential list entry.
        required: true
        schema:
          type: string
    get:
      description: >-
        Returns a list of all the trunks which use the specified credential
        list.
      summary: Get trunks for credential list
      operationId: trunksByCredentialList
      tags:
        - Credential Lists
      responses:
        '200':
          description: The list of trunks which use the credential list.
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      trunks:
                        type: array
                        items:
                          $ref: '#/components/schemas/SipTrunk'
                  - $ref: '#/components/schemas/Pagination'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The credential list ID you want to list SIP Trunks for
              const credentialListId = 'CREDENTIAL_LIST_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.elasticSipTrunking.credentialLists.listTrunks({
                  id: credentialListId,
                });
                if (response.data.length === 0) {
                  console.log(`No SIP Trunks found for the credential list with ID ${credentialListId}.`);
                  return;
                }
                console.log(`✅ Found ${response.data.length} SIP Trunks for the credential list with ID ${credentialListId}.`);
                response.data.forEach((trunk) => {
                  console.log(trunk);
                });
              } catch (err) {
                console.error(`❌ Failed to list the SIP Trunks for the credential list with ID ${credentialListId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/trunks/{trunkId}/accessControlLists:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: trunkId
        in: path
        description: The ID of the trunk that you want to work with
        required: true
        schema:
          type: string
    post:
      operationId: addAccessControlListToTrunk
      description: Add an access control list entry to a trunk.
      summary: Add ACL to a trunk
      tags:
        - Access Control List
        - SIP Trunks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accessControlListIds:
                  type: array
                  description: Array of AccessControlList ids
                  items:
                    type: string
                    description: The ID of the access control list entry.
            examples:
              addAcl:
                $ref: '#/components/examples/addTrunkAclReq'
      responses:
        '200':
          description: The list of access control list entries
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      accessControlListIds:
                        type: array
                        description: Array of AccessControlList ids
                        items:
                          type: string
                          description: >-
                            The ID of the access control list entry on assigned
                            to trunk after update.
              examples:
                addAcl:
                  $ref: '#/components/examples/addTrunkAclRes'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to add ACLs to
              const sipTrunkId = 'SIP_TRUNK_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.elasticSipTrunking.accessControlList.addToTrunk({
                  trunkId: sipTrunkId,
                  addAccessControlListToTrunkRequestBody: {
                    accessControlListIds: [
                      'AN_ACL_ID_TO_ADD',
                      'ANOTHER_ACL_ID_TO_ADD',
                    ],
                  },
                });
                console.log('✅ Successfully added the ACLs to the SIP Trunk.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to add the ACLs to the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
    get:
      description: Get all access control list entries for a trunk.
      summary: List all ACLs for a trunk
      operationId: getAccessControlListsForTrunk
      tags:
        - Access Control List
        - SIP Trunks
      responses:
        '200':
          description: The list of access control list entries
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      accessControlListIds:
                        type: array
                        description: Array of AccessControlList ids
                        items:
                          type: string
                          description: The ID of the access control list entry.
                  - $ref: '#/components/schemas/Pagination'
              examples:
                listTrunkAcls:
                  $ref: '#/components/examples/listTrunkAcls'
      x-codeSamples:
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The SIP Trunk ID you want to list ACLs for
              const sipTrunkId = 'SIP_TRUNK_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.elasticSipTrunking.accessControlList.listForTrunk({
                  trunkId: sipTrunkId,
                });
                if (response.data.length === 0) {
                  console.log(`No ACLs found for the SIP Trunk with ID ${sipTrunkId}.`);
                  return;
                }
                console.log(`✅ Found ${response.data.length} ACLs for the SIP Trunk with ID ${sipTrunkId}.`);
                response.data.forEach((acl) => {
                  console.log(acl);
                });
              } catch (err) {
                console.error(`❌ Failed to list the ACLs for the SIP Trunk with ID ${sipTrunkId}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/trunks/{trunkId}/credentialLists:
    parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: trunkId
        in: path
[...]
