openapi: 3.1.0
info:
  title: Provisioning API
  description: ''
  version: 1.2.117
servers:
  - url: https://provisioning.api.sinch.com
    description: Production server
security:
  - BasicAuth: []
    BearerAuth: []
    OAuth2Production: []
tags:
  - name: Webhooks
    description: >-
      Webhooks allow the Sinch servers to communicate with your server backend.
      The `webhooks` endpoint lets you create, update, and delete webhooks
      programmatically.
  - name: WhatsApp Accounts
    description: >-
      The WhatsApp accounts endpoint lets you create and update WhatsApp
      accounts as well as get account activity and leave comments.
  - name: WhatsApp
    description: >-
      The WhatsApp endpoint enables programmatic login to your WhatsApp account
      and retrieval of its details.
  - name: WhatsApp Flows
    description: >-
      The WhatsApp flows endpoint lets you retrieve and manage WhatsApp Flows
      associated with the project.
  - name: WhatsApp Senders
    description: >-
      A WhatsApp Sender is also referred to as a 'Business Profile' or a
      WhatsApp channel. The WhatsApp Sender endpoint allows you to create a
      Sender through Meta's Embedded sign up. A Sender must be provisioned for
      you as a consumer of the WhatsApp API to send messages to your end users.
  - name: WhatsApp Solutions
    description: >-
      The WhatsApp solutions endpoint offers a way for you to manage your
      WhatsApp solutions.
  - name: WhatsApp Templates
    description: >-
      The WhatsApp template endpoint offers a way for you to manage your
      WhatsApp templates that can be used with the Conversation API. The
      WhatsApp templates are a requirement to send the initial outbound messages
      in the WhatsApp API.
  - name: Bundles
    description: >-
      The bundles endpoint allows you to create and manage bundles of account
      resources.
  - name: KakaoTalk Categories
    description: >-
      The KakaoTalk categories endpoint offers a way for you to manage all of
      the KakaoTalk template categories that you can use with the Conversation
      API.
  - name: KakaoTalk Senders
    description: >-
      The KakaoTalk sender endpoint offers a way for you to manage your
      KakaoTalk senders that can be used with the Conversation API.
  - name: KakaoTalk Templates
    description: >-
      The KakaoTalk template endpoint offers a way for you to manage your
      KakaoTalk templates that can be used with the Conversation API.
  - name: Conversation
    description: >-
      The Conversation endpoints allows you to retrieve information about
      channels used with Conversation API.
  - name: RCS Accounts
    description: The RCS endpoint offers you a way to manage your RCS accounts.
  - name: RCS Questionnaire
    description: Manage your RCS questionnaires.
  - name: RCS Senders
    description: >-
      The RCS sender endpoint offers a way for you to manage your RCS senders
      that can be used with the Conversation API.
  - name: SMS Apps
    description: The SMS apps endpoint allows you to create and manage your SMS apps.
paths:
  /v1/projects/{projectId}/webhooks:
    get:
      description: |2-

            Returns a paginated list of webhooks for the specified project. If no page token is supplied then all registered webhooks (of maximum `15`) are returned in alphabetical order.
            
      operationId: WebhookWebhookController_listWebhooks_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
        - name: pageToken
          required: false
          in: query
          schema:
            type: string
          description: The page token if retrieving the next page from a previous query.
        - name: pageSize
          required: false
          in: query
          schema:
            type: number
            minimum: 1
            maximum: 15
          description: The page size requested.
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookWebhookListDto'
              examples:
                listWebhooksRes:
                  summary: List all webhooks in project
                  description: |2-

                        Returns a paginated list of webhooks for the specified project. If no page token is supplied then all registered webhooks (of maximum `15`) are returned in alphabetical order.
                        
                  value:
                    previousPageToken: '{{TOKEN}}'
                    nextPageToken: '{{TOKEN}}'
                    pageSize: 1
                    totalSize: 5
                    webhooks:
                      - id: '{{WEBHOOK_ID_1}}'
                        projectId: '{{PROJECT_ID}}'
                        target: https://my.server.com/callback1
                        triggers:
                          - WHATSAPP_TEMPLATE_APPROVED
                          - WHATSAPP_TEMPLATE_REJECTED
                      - id: '{{WEBHOOK_ID_2}}'
                        projectId: '{{PROJECT_ID}}'
                        target: https://my.server.com/callback2
                        triggers:
                          - WHATSAPP_TEMPLATE_APPROVED
                          - WHATSAPP_TEMPLATE_REJECTED
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                invalid_page_size-0:
                  summary: InvalidPageSizeError
                  value:
                    errorCode: invalid_page_size
                    message: Page size must be numeric.
                    resolution: Use a integer value for pageSize parameter.
                invalid_page_token-1:
                  summary: InvalidPageTokenError
                  value:
                    errorCode: invalid_page_token
                    message: Invalid page token.
                    resolution: >-
                      The page token to use is provided in the previous query
                      response, for new queries simply leave this field
                      undefined.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: List all webhooks in project
      tags:
        - Webhooks
      x-badges:
        - name: GA
          position: after
          color: green
    post:
      description: |2-

            Register a new webhook for a project. The webhook will be used to communicate updates to resources. Maximum of `15` webhooks allowed per project.
            
      operationId: WebhookWebhookController_createWebhook_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
      requestBody:
        required: true
        description: Webhook to register
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookWebhookInputDto'
            examples:
              registerWebhookNoTriggerReq:
                summary: Register a webhook for all events
                value:
                  secret: '{{WEBHOOK_SECRET}}'
                  target: https://my.server.com/callback
                  triggers:
                    - ALL
              registerWebhookReq:
                summary: Register a webhook with specific event triggers
                value:
                  secret: '{{WEBHOOK_SECRET}}'
                  target: https://my.server.com/callback
                  triggers:
                    - WHATSAPP_TEMPLATE_APPROVED
                    - WHATSAPP_TEMPLATE_REJECTED
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookWebhookDto'
              examples:
                registerWebhookNoTriggerRes:
                  summary: Register a webhook for all events
                  description: |2-

                        Example of a response when registering for all triggers.
                        
                  value:
                    id: '{{WEBHOOK_ID}}'
                    projectId: '{{PROJECT_ID}}'
                    target: https://my.server.com/callback
                    triggers:
                      - ALL
                registerWebhookRes:
                  summary: Register a webhook with specific event triggers
                  description: |2-

                        Example of a response when registering for specific triggers.
                        
                  value:
                    id: '{{WEBHOOK_ID}}'
                    projectId: '{{PROJECT_ID}}'
                    target: https://my.server.com/callback
                    triggers:
                      - WHATSAPP_TEMPLATE_APPROVED
                      - WHATSAPP_TEMPLATE_REJECTED
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                        - target must be a string
                        - target must be a URL address
                invalid_payload-1:
                  summary: InvalidPayloadError
                  value:
                    errorCode: invalid_payload
                    message: Invalid payload.
                    resolution: Correct payload and submit again.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                webhook_exists-0:
                  summary: WebhookExistsError
                  value:
                    errorCode: webhook_exists
                    message: Webhook with the provided target already exists.
                    resolution: >-
                      Webhooks must have a unique target. Change the target and
                      submit again.
        '424':
          description: FailedDependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                webhook_limit_reached-0:
                  summary: WebhookLimitReachedError
                  value:
                    errorCode: webhook_limit_reached
                    message: Number of webhooks has reached the limit.
                    resolution: Delete some webhooks to be able to add more.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Register a webhook for project
      tags:
        - Webhooks
      x-badges:
        - name: GA
          position: after
          color: green
  /v1/projects/{projectId}/webhooks/{webhookId}:
    get:
      description: |2-

            Return an already created webhook.
            
      operationId: WebhookWebhookController_getWebhook_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
        - name: webhookId
          required: true
          in: path
          description: The unique ID of the webhook.
          schema:
            type: string
      responses:
        '200':
          description: Webhook response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookWebhookDto'
              examples:
                triggers:
                  summary: Webhook with specific event triggers
                  description: |2-

                        Example of a response for a webhook with specific triggers.
                        
                  value:
                    id: '{{WEBHOOK_ID}}'
                    target: https://my.server.com/callback
                    projectId: '{{PROJECT_ID}}'
                    triggers:
                      - WHATSAPP_TEMPLATE_APPROVED
                      - WHATSAPP_TEMPLATE_REJECTED
                noTriggers:
                  summary: Webhook for all events
                  description: |2-

                        Example of a response for a webhook for all triggers.
                        
                  value:
                    id: '{{WEBHOOK_ID}}'
                    target: https://my.server.com/callback
                    projectId: '{{PROJECT_ID}}'
                    triggers:
                      - ALL
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                invalid_id_format-0:
                  summary: InvalidIdFormatError
                  value:
                    errorCode: invalid_id_format
                    message: Id is not in the expected format.
                    resolution: >-
                      webhookId param is in the wrong format. Confirm that
                      you're sending the correct value.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                webhook_not_found-0:
                  summary: WebhookNotFoundError
                  value:
                    errorCode: webhook_not_found
                    message: Webhook not found.
                    resolution: Verify that the parameters are correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Get webhook
      tags:
        - Webhooks
      x-badges:
        - name: GA
          position: after
          color: green
    delete:
      description: |2-

            Deletes an already created webhook.
            
      operationId: WebhookWebhookController_deleteWebhook_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
        - name: webhookId
          required: true
          in: path
          description: The unique ID of the webhook.
          schema:
            type: string
      responses:
        '204':
          description: Webhook deleted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                invalid_id_format-0:
                  summary: InvalidIdFormatError
                  value:
                    errorCode: invalid_id_format
                    message: Id is not in the expected format.
                    resolution: >-
                      webhookId param is in the wrong format. Confirm that
                      you're sending the correct value.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                webhook_not_found-0:
                  summary: WebhookNotFoundError
                  value:
                    errorCode: webhook_not_found
                    message: Webhook not found.
                    resolution: Verify that the parameters are correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Delete webhook
      tags:
        - Webhooks
      x-badges:
        - name: GA
          position: after
          color: green
    put:
      description: |2-

            Replace an already existing webhook.
            
      operationId: WebhookWebhookController_replaceWebhook_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
        - name: webhookId
          required: true
          in: path
          description: The unique ID of the webhook.
          schema:
            type: string
      requestBody:
        required: true
        description: Webhook to replace
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookWebhookInputDto'
            examples:
              updateWebhookReq:
                summary: Update a webhook with specific event triggers
                value:
                  secret: '{{WEBHOOK_SECRET}}'
                  target: https://my.server.com/callback
                  triggers:
                    - WHATSAPP_TEMPLATE_APPROVED
                    - WHATSAPP_TEMPLATE_REJECTED
              updateWebhookNoTriggerReq:
                summary: Update a webhook to listen to all events
                value:
                  secret: '{{WEBHOOK_SECRET}}'
                  target: https://my.server.com/callback
                  triggers:
                    - ALL
      responses:
        '200':
          description: Webhook response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookWebhookDto'
              examples:
                updateWebhookRes:
                  summary: Update a webhook with specific event triggers
                  description: |2-

                        Example of a response for an update to specific triggers.
                        
                  value:
                    id: '{{WEBHOOK_ID}}'
                    projectId: '{{PROJECT_ID}}'
                    target: https://my.server.com/callback
                    triggers:
                      - WHATSAPP_TEMPLATE_APPROVED
                      - WHATSAPP_TEMPLATE_REJECTED
                updateWebhookNoTriggerRes:
                  summary: Update a webhook to listen to all events
                  description: |2-

                        Example of a response for an update to all triggers.
                        
                  value:
                    id: '{{WEBHOOK_ID}}'
                    projectId: '{{PROJECT_ID}}'
                    target: https://my.server.com/callback
                    triggers:
                      - ALL
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                        - target must be a string
                        - target must be a URL address
                invalid_payload-1:
                  summary: InvalidPayloadError
                  value:
                    errorCode: invalid_payload
                    message: Invalid payload.
                    resolution: Correct payload and submit again.
                invalid_id_format-2:
                  summary: InvalidIdFormatError
                  value:
                    errorCode: invalid_id_format
                    message: Id is not in the expected format.
                    resolution: >-
                      webhookId param is in the wrong format. Confirm that
                      you're sending the correct value.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                webhook_not_found-0:
                  summary: WebhookNotFoundError
                  value:
                    errorCode: webhook_not_found
                    message: Webhook not found.
                    resolution: Verify that the parameters are correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                webhook_exists-0:
                  summary: WebhookExistsError
                  value:
                    errorCode: webhook_exists
                    message: Webhook with the provided target already exists.
                    resolution: >-
                      Webhooks must have a unique target. Change the target and
                      submit again.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Replace webhook
      tags:
        - Webhooks
      x-badges:
        - name: GA
          position: after
          color: green
    patch:
      description: |2-

            Update an already existing webhook.
            
      operationId: WebhookWebhookController_updateWebhook_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
        - name: webhookId
          required: true
          in: path
          description: The unique ID of the webhook.
          schema:
            type: string
      requestBody:
        required: true
        description: Webhook to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookUpdateWebhookInputDto'
            examples:
              updateWebhookReq:
                summary: Update a webhook with specific event triggers
                value:
                  secret: '{{WEBHOOK_SECRET}}'
                  target: https://my.server.com/callback
                  triggers:
                    - WHATSAPP_TEMPLATE_APPROVED
                    - WHATSAPP_TEMPLATE_REJECTED
              updateWebhookNoTriggerReq:
                summary: Update a webhook to listen to all events
                value:
                  secret: '{{WEBHOOK_SECRET}}'
                  target: https://my.server.com/callback
                  triggers:
                    - ALL
      responses:
        '200':
          description: Webhook response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookWebhookDto'
              examples:
                updateWebhookRes:
                  summary: Update a webhook with specific event triggers
                  description: |2-

                        Example of a response for an update to specific triggers.
                        
                  value:
                    id: '{{WEBHOOK_ID}}'
                    projectId: '{{PROJECT_ID}}'
                    target: https://my.server.com/callback
                    triggers:
                      - WHATSAPP_TEMPLATE_APPROVED
                      - WHATSAPP_TEMPLATE_REJECTED
                updateWebhookNoTriggerRes:
                  summary: Update a webhook to listen to all events
                  description: |2-

                        Example of a response for an update to all triggers.
                        
                  value:
                    id: '{{WEBHOOK_ID}}'
                    projectId: '{{PROJECT_ID}}'
                    target: https://my.server.com/callback
                    triggers:
                      - ALL
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                        - target must be a string
                        - target must be a URL address
                invalid_payload-1:
                  summary: InvalidPayloadError
                  value:
                    errorCode: invalid_payload
                    message: Invalid payload.
                    resolution: Correct payload and submit again.
                invalid_id_format-2:
                  summary: InvalidIdFormatError
                  value:
                    errorCode: invalid_id_format
                    message: Id is not in the expected format.
                    resolution: >-
                      webhookId param is in the wrong format. Confirm that
                      you're sending the correct value.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                webhook_not_found-0:
                  summary: WebhookNotFoundError
                  value:
                    errorCode: webhook_not_found
                    message: Webhook not found.
                    resolution: Verify that the parameters are correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                webhook_exists-0:
                  summary: WebhookExistsError
                  value:
                    errorCode: webhook_exists
                    message: Webhook with the provided target already exists.
                    resolution: >-
                      Webhooks must have a unique target. Change the target and
                      submit again.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Update webhook
      tags:
        - Webhooks
      x-badges:
        - name: GA
          position: after
          color: green
  /v1/projects/{projectId}/whatsapp:
    get:
      description: |2-

            Returns an account for a project.
            
      operationId: WhatsappAccountsController_getAccount_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappAccountDto'
              examples:
                response:
                  summary: Get response
                  description: |2-

                        Response with an account.
                        
                  value:
                    state: ONBOARDED
                    isEmbeddedSignup: false
                    businessManager: SINCH_UK
                    wabaId: '1234567890'
                    details:
                      companyLegalName: Legal name of company
                      wabaName: Legal name of company
                      clientBusinessManagerId: '1234567890'
                    wabaMaxPriceOnboarded: false
                    wabaEnabledForInsights: false
                    wabaEnabledForDirectSend: false
                    compatibleRegions:
                      - eu
                      - us
                    currency: EUR
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_not_found-0:
                  summary: AccountNotFoundError
                  value:
                    errorCode: account_not_found
                    message: Account not found.
                    resolution: Verify that the parameters are correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_data_is_corrupt-0:
                  summary: AccountDataIsCorruptError
                  value:
                    errorCode: account_data_is_corrupt
                    message: Account data is corrupt.
                    resolution: Please contact support.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Get account for project
      tags:
        - WhatsApp Accounts
      x-badges:
        - name: GA
          position: after
          color: green
    post:
      callbacks:
        Comment:
          '{$request.body#webhooks.target}':
            post:
              summary: Comment on account
              description: |2-

                        Received when a comment has been added to the account.
                        
              parameters:
                - in: header
                  name: x-sinch-webhook-signature
                  schema:
                    type: string
                    format: SHA256-hash
                  example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
                - in: header
                  name: x-sinch-webhook-signature-algorithm
                  schema:
                    type: string
                    const: HmacSHA256
                    x-enumDescriptions:
                      HmacSHA256: >-
                        The HMAC SHA-256 signature algorithm used to validate
                        webhook authenticity.
                    uniqueItems: false
                  example: HmacSHA256
                - in: header
                  name: x-sinch-webhook-signature-nonce
                  schema:
                    type: string
                  example: 01EAW2BNWCG9DC13RS582V0ZQ3
                - in: header
                  name: x-sinch-webhook-signature-timestamp
                  schema:
                    type: string
                    format: timestamp
                  example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: >-
                            Type of event in this case
                            `WHATSAPP_ACCOUNT_COMMENT_ADDED`.
                          type: string
                        payload:
                          description: Account at time of callback.
                          allOf:
                            - $ref: '#/components/schemas/WhatsappAccountDto'
                        comment:
                          description: Comment for account.
                          type: string
                      required:
                        - type
                        - payload
                        - comment
                    example:
                      type: WHATSAPP_ACCOUNT_COMMENT_ADDED
                      payload:
                        state: ONBOARDED
                        isEmbeddedSignup: false
                        businessManager: SINCH_UK
                        wabaId: '1234567890'
                        details:
                          companyLegalName: Legal name of company
                          wabaName: Legal name of company
                          clientBusinessManagerId: '1234567890'
                        wabaMaxPriceOnboarded: false
                        wabaEnabledForInsights: false
                        wabaEnabledForDirectSend: false
                        compatibleRegions:
                          - eu
                          - us
                        currency: EUR
                      comment: Example comment
              responses:
                '200':
                  description: >-
                    Response to callback will be ignored. The call will retry if
                    unsuccessful.
        Onboard:
          '{$request.body#webhooks.target}':
            post:
              summary: Account onboarded
              description: |2-

                        Received when an Account is onboarded.
                        
              parameters:
                - in: header
                  name: x-sinch-webhook-signature
                  schema:
                    type: string
                    format: SHA256-hash
                  example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
                - in: header
                  name: x-sinch-webhook-signature-algorithm
                  schema:
                    type: string
                    const: HmacSHA256
                    x-enumDescriptions:
                      HmacSHA256: >-
                        The HMAC SHA-256 signature algorithm used to validate
                        webhook authenticity.
                    uniqueItems: false
                  example: HmacSHA256
                - in: header
                  name: x-sinch-webhook-signature-nonce
                  schema:
                    type: string
                  example: 01EAW2BNWCG9DC13RS582V0ZQ3
                - in: header
                  name: x-sinch-webhook-signature-timestamp
                  schema:
                    type: string
                    format: timestamp
                  example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: >-
                            Type of event in this case
                            `WHATSAPP_ACCOUNT_ONBOARDED`.
                          type: string
                        payload:
                          description: Account at time of callback.
                          allOf:
                            - $ref: '#/components/schemas/WhatsappAccountDto'
                        comment:
                          description: Comment for account.
                          type: string
                      required:
                        - type
                        - payload
                    example:
                      type: WHATSAPP_ACCOUNT_ONBOARDED
                      payload:
                        state: ONBOARDED
                        isEmbeddedSignup: false
                        businessManager: SINCH_UK
                        wabaId: '1234567890'
                        details:
                          companyLegalName: Legal name of company
                          wabaName: Legal name of company
                          clientBusinessManagerId: '1234567890'
                        wabaMaxPriceOnboarded: false
                        wabaEnabledForInsights: false
                        wabaEnabledForDirectSend: false
                        compatibleRegions:
                          - eu
                          - us
                        currency: EUR
              responses:
                '200':
                  description: >-
                    Response to callback will be ignored. The call will retry if
                    unsuccessful.
        Rejected:
          '{$request.body#webhooks.target}':
            post:
              summary: Account rejected
              description: |2-

                        Received when an Account is rejected.
                        
              parameters:
                - in: header
                  name: x-sinch-webhook-signature
                  schema:
                    type: string
                    format: SHA256-hash
                  example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
                - in: header
                  name: x-sinch-webhook-signature-algorithm
                  schema:
                    type: string
                    const: HmacSHA256
                    x-enumDescriptions:
                      HmacSHA256: >-
                        The HMAC SHA-256 signature algorithm used to validate
                        webhook authenticity.
                    uniqueItems: false
                  example: HmacSHA256
                - in: header
                  name: x-sinch-webhook-signature-nonce
                  schema:
                    type: string
                  example: 01EAW2BNWCG9DC13RS582V0ZQ3
                - in: header
                  name: x-sinch-webhook-signature-timestamp
                  schema:
                    type: string
                    format: timestamp
                  example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: >-
                            Type of event in this case
                            `WHATSAPP_ACCOUNT_REJECTED`.
                          type: string
                        payload:
                          description: Account at time of callback.
                          allOf:
                            - $ref: '#/components/schemas/WhatsappAccountDto'
                        comment:
                          description: Comment for account.
                          type: string
                      required:
                        - type
                        - payload
                    example:
                      type: WHATSAPP_ACCOUNT_REJECTED
                      payload:
                        isEmbeddedSignup: false
                        businessManager: SINCH_UK
                        wabaId: '1234567890'
                        changes:
                          status: REJECTED
                          details:
                            companyLegalName: Legal name of company
                            wabaName: Legal name of company
                            clientBusinessManagerId: '1234567890'
                        wabaMaxPriceOnboarded: false
                        compatibleRegions:
                          - eu
                          - us
              responses:
                '200':
                  description: >-
                    Response to callback will be ignored. The call will retry if
                    unsuccessful.
        PendingVerification:
          '{$request.body#webhooks.target}':
            post:
              summary: Account pending verification
              description: |2-

                        Received when an Account is in pending verification.
                        
              parameters:
                - in: header
                  name: x-sinch-webhook-signature
                  schema:
                    type: string
                    format: SHA256-hash
                  example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
                - in: header
                  name: x-sinch-webhook-signature-algorithm
                  schema:
                    type: string
                    const: HmacSHA256
                    x-enumDescriptions:
                      HmacSHA256: >-
                        The HMAC SHA-256 signature algorithm used to validate
                        webhook authenticity.
                    uniqueItems: false
                  example: HmacSHA256
                - in: header
                  name: x-sinch-webhook-signature-nonce
                  schema:
                    type: string
                  example: 01EAW2BNWCG9DC13RS582V0ZQ3
                - in: header
                  name: x-sinch-webhook-signature-timestamp
                  schema:
                    type: string
                    format: timestamp
                  example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: >-
                            Type of event in this case
                            `WHATSAPP_ACCOUNT_PENDING_VERIFICATION`.
                          type: string
                        payload:
                          description: Account at time of callback.
                          allOf:
                            - $ref: '#/components/schemas/WhatsappAccountDto'
                        comment:
                          description: Comment for account.
                          type: string
                      required:
                        - type
                        - payload
                    example:
                      type: WHATSAPP_ACCOUNT_PENDING_VERIFICATION
                      payload:
                        isEmbeddedSignup: false
                        businessManager: SINCH_UK
                        wabaId: '1234567890'
                        changes:
                          status: PENDING_FACEBOOK_VERIFICATION
                          details:
                            companyLegalName: Legal name of company
                            wabaName: Legal name of company
                            clientBusinessManagerId: '1234567890'
                        wabaMaxPriceOnboarded: false
                        compatibleRegions:
                          - eu
                          - us
              responses:
                '200':
                  description: >-
                    Response to callback will be ignored. The call will retry if
                    unsuccessful.
        BusinessDailyLimitChanged:
          '{$request.body#webhooks.target}':
            post:
              summary: Account daily limit changed
              description: |2-

                        Received when Account daily limit has been changed by Meta.
                        
              parameters:
                - in: header
                  name: x-sinch-webhook-signature
                  schema:
                    type: string
                    format: SHA256-hash
                  example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
                - in: header
                  name: x-sinch-webhook-signature-algorithm
                  schema:
                    type: string
                    const: HmacSHA256
                    x-enumDescriptions:
                      HmacSHA256: >-
                        The HMAC SHA-256 signature algorithm used to validate
                        webhook authenticity.
                    uniqueItems: false
                  example: HmacSHA256
                - in: header
                  name: x-sinch-webhook-signature-nonce
                  schema:
                    type: string
                  example: 01EAW2BNWCG9DC13RS582V0ZQ3
                - in: header
                  name: x-sinch-webhook-signature-timestamp
                  schema:
                    type: string
                    format: timestamp
                  example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: >-
                            Type of event in this case
                            `WHATSAPP_ACCOUNT_DAILY_LIMIT_CHANGED`.
                          type: string
                        payload:
                          description: Account at time of callback.
                          allOf:
                            - $ref: '#/components/schemas/WhatsappAccountDto'
                        comment:
                          description: Comment for account.
                          type: string
                      required:
                        - type
                        - payload
                    example:
                      type: WHATSAPP_ACCOUNT_DAILY_LIMIT_CHANGED
                      payload:
                        state: ONBOARDED
                        isEmbeddedSignup: false
                        businessManager: SINCH_BR
                        wabaId: '1234567890'
                        details:
                          companyLegalName: Legal name of company
                          wabaName: Legal name of company
                          clientBusinessManagerId: '1234567890'
                        wabaMaxPriceOnboarded: false
                        wabaEnabledForInsights: true
                        wabaEnabledForDirectSend: false
                        compatibleRegions:
                          - br
                        primaryBusinessLocation: BR
                        currency: EUR
              responses:
                '200':
                  description: >-
                    Response to callback will be ignored. The call will retry if
                    unsuccessful.
        WabaInformationChanged:
          '{$request.body#webhooks.target}':
            post:
              summary: Account business information changed
              description: |2-

                        Received when Account has some of its business information changed by Meta.
                        
              parameters:
                - in: header
                  name: x-sinch-webhook-signature
                  schema:
                    type: string
                    format: SHA256-hash
                  example: Jc88RMjzkxPoy/fCPiL+iy7osojuUgawpjl1g6H38O8=
                - in: header
                  name: x-sinch-webhook-signature-algorithm
                  schema:
                    type: string
                    const: HmacSHA256
                    x-enumDescriptions:
                      HmacSHA256: >-
                        The HMAC SHA-256 signature algorithm used to validate
                        webhook authenticity.
                    uniqueItems: false
                  example: HmacSHA256
                - in: header
                  name: x-sinch-webhook-signature-nonce
                  schema:
                    type: string
                  example: 01EAW2BNWCG9DC13RS582V0ZQ3
                - in: header
                  name: x-sinch-webhook-signature-timestamp
                  schema:
                    type: string
                    format: timestamp
                  example: '1592227387'
              requestBody:
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        type:
                          description: >-
                            Type of event in this case
                            `WHATSAPP_WABA_ACCOUNT_CHANGED`.
                          type: string
                        payload:
                          description: Account at time of callback.
                          allOf:
                            - $ref: '#/components/schemas/WhatsappAccountDto'
                        comment:
                          description: Comment for account.
                          type: string
                      required:
                        - type
                        - payload
                    example:
                      type: WHATSAPP_WABA_ACCOUNT_CHANGED
                      payload:
                        state: ONBOARDED
                        isEmbeddedSignup: false
                        businessManager: SINCH_BR
                        wabaId: '1234567890'
                        details:
                          companyLegalName: Legal name of company
                          wabaName: Legal name of company
                          clientBusinessManagerId: '1234567890'
                        wabaMaxPriceOnboarded: false
                        wabaEnabledForInsights: true
                        wabaEnabledForDirectSend: false
                        compatibleRegions:
                          - br
                        primaryBusinessLocation: BR
                        currency: EUR
              responses:
                '200':
                  description: >-
                    Response to callback will be ignored. The call will retry if
                    unsuccessful.
      description: |2-

            Create the WhatsApp account for the project. Each project can only have one account.
            
      operationId: WhatsappAccountsController_createAccount_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
      requestBody:
        required: true
        description: Account data
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/WhatsappInputAccountPartnerInitiatedDto'
                - $ref: '#/components/schemas/WhatsappInputAccountDtoDeprecated'
            examples:
              input:
                summary: Body request
                description: |2-

                      Example body request to create an account.
                        
                value:
                  companyLegalName: Legal name of company
                  clientBusinessManagerId: '1234567890'
              partnerInitiated:
                summary: Body request - Partner Initiated
                description: |2-

                      Example body request to create a partner-initiated account.
                        
                value:
                  clientBusinessManagerId: '1234567890'
                  businessManager: SINCH_UK
                  wabaName: Legal name of company
                  senderDetails:
                    displayName: My Sender Name
                    businessCategory: OTC_DRUGS
                    region: EU
                    metaLocalStorage: BH
      responses:
        '201':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappAccountDto'
              examples:
                pending:
                  summary: Create response
                  description: |2-

                        Response when successfully creating an account.
                        
                  value:
                    isEmbeddedSignup: false
                    businessManager: SINCH_UK
                    wabaId: '1234567890'
                    changes:
                      status: IN_PROGRESS
                      details:
                        companyLegalName: Legal name of company
                        wabaName: Legal name of company
                        clientBusinessManagerId: '1234567890'
                    wabaMaxPriceOnboarded: false
                    compatibleRegions:
                      - eu
                      - us
                onboarded:
                  summary: Create response
                  description: |2-

                        Response when successfully created an account.
                        
                  value:
                    state: ONBOARDED
                    isEmbeddedSignup: false
                    businessManager: SINCH_UK
                    wabaId: '1234567890'
                    details:
                      companyLegalName: Legal name of company
                      wabaName: Legal name of company
                      clientBusinessManagerId: '1234567890'
                    wabaMaxPriceOnboarded: false
                    wabaEnabledForInsights: false
                    wabaEnabledForDirectSend: false
                    compatibleRegions:
                      - eu
                      - us
                    currency: EUR
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                        - companyLegalName must be a string
                invalid_business_manager_for_environment-1:
                  summary: InvalidBusinessManagerForEnvironmentError
                  value:
                    errorCode: invalid_business_manager_for_environment
                    message: Invalid business manager for environment.
                    resolution: >-
                      Verify that business manager is valid for environment.
                      Allowed business managers for environment SINCH_AMERICA,
                      SINCH_UK.
                invalid_payload-2:
                  summary: InvalidPayloadError
                  value:
                    errorCode: invalid_payload
                    message: Invalid payload.
                    resolution: Correct payload and submit again.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_found-0:
                  summary: ProjectNotFoundError
                  value:
                    errorCode: project_not_found
                    message: Project not found.
                    resolution: Verify that the projectId is correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_exists-0:
                  summary: AccountExistsError
                  value:
                    errorCode: account_exists
                    message: Account already exists.
                    resolution: >-
                      There can only be one WhatsApp account for each project.
                      Choose another one project to create a new WhatsApp
                      account.
                account_data_is_corrupt-1:
                  summary: AccountDataIsCorruptError
                  value:
                    errorCode: account_data_is_corrupt
                    message: Account data is corrupt.
                    resolution: Please contact support.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Create account for project
      tags:
        - WhatsApp Accounts
      x-badges:
        - name: GA
          position: after
          color: green
    delete:
      description: |2-

            Deletes the account for a project.

            Deleting an account is only possible if there is no sender assigned to the account.
            
      operationId: WhatsappAccountsController_deleteAccount_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
      responses:
        '204':
          description: Account deleted
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: >-
                      Verify that the project ID is correct and that it has been
                      onboarded for WhatsApp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_has_senders-0:
                  summary: AccountHasSendersError
                  value:
                    errorCode: account_has_senders
                    message: Account has senders.
                    resolution: Delete senders before deleting the account.
                    additionalInformation:
                      projectId: 6a13764f-97ab-4584-b7f2-4b2d11a0ce59
                      senderIds:
                        - 437f8791-69ec-42af-9271-59b86b80178d
                        - 62550a35-2307-4ff1-86e4-41b0cbc7b7cb
                account_has_sender_changes-1:
                  summary: AccountHasSenderChangesError
                  value:
                    errorCode: account_has_sender_changes
                    message: Account has pending sender changes.
                    resolution: >-
                      All sender changes must be resolved before deleting the
                      account. If the error persists, please contact support.
                    additionalInformation:
                      projectId: 6a13764f-97ab-4584-b7f2-4b2d11a0ce59
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                template_could_not_delete_drafts-0:
                  summary: TemplateCouldNotDeleteDraftsError
                  value:
                    errorCode: template_could_not_delete_drafts
                    message: Couldn't delete template drafts.
                    resolution: >-
                      Please try again later, if the error persists, please
                      contact support.
                internal_error-1:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Delete account for project
      tags:
        - WhatsApp Accounts
      x-badges:
        - name: Closed Beta
          position: after
          color: red
    patch:
      description: |2-

            Update an account. 

            It is only possible to update an account that has been rejected. After update the status will be set to `IN_PROGRESS`.
            
      operationId: WhatsappAccountsController_updateAccount_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
      requestBody:
        required: true
        description: Supported account fields to update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappInputUpdateAccountDto'
            examples:
              input:
                summary: Body request
                description: |2-

                        Example body request to update an account.
                        
                value:
                  companyLegalName: Updated legal name of company
                  wabaName: Updated legal name of company
                  clientBusinessManagerId: '1234567890'
              partnerInitiated:
                summary: Body request - Partner Initiated
                description: |2-

                        Example body request to update an account using Partner Initiated flow.
                        
                value:
                  companyLegalName: Updated legal name of company
                  wabaName: Updated legal name of company
                  clientBusinessManagerId: '1234567890'
                  senderDetails:
                    displayName: Updated display name
                    businessCategory: NON_PROFIT
                    region: BR
                    metaLocalStorage: AE
      responses:
        '200':
          description: Account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappAccountDto'
              examples:
                response:
                  summary: Update response
                  description: |2-

                        Response when successfully update an account.
                        
                  value:
                    state: REJECTED
                    isEmbeddedSignup: false
                    businessManager: SINCH_UK
                    wabaId: '1234567890'
                    changes:
                      status: IN_PROGRESS
                      details:
                        companyLegalName: Update legal name of company
                        wabaName: Legal name of company
                        clientBusinessManagerId: '1234567890'
                    details:
                      companyLegalName: Legal name of company
                      wabaName: Legal name of company
                      clientBusinessManagerId: '1234567890'
                    wabaMaxPriceOnboarded: false
                    wabaEnabledForInsights: true
                    wabaEnabledForDirectSend: false
                    compatibleRegions:
                      - eu
                      - us
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                        - wabaName must be a string
                no_fields_to_update-1:
                  summary: NoFieldsToUpdateError
                  value:
                    errorCode: no_fields_to_update
                    message: No fields to be updated.
                    resolution: Supply at least one field to be updated.
                no_fields_to_update-2:
                  summary: NoFieldsToUpdateError
                  value:
                    errorCode: no_fields_to_update
                    message: No fields to be updated.
                    resolution: Supply at least one field to be updated.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_not_found-0:
                  summary: AccountNotFoundError
                  value:
                    errorCode: account_not_found
                    message: Account not found.
                    resolution: Verify that the parameters are correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_not_updatable-0:
                  summary: AccountNotUpdatableError
                  value:
                    errorCode: account_not_updatable
                    message: Account is not updatable.
                    resolution: Only account that are in "REJECTED" state can be updated.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Update account for project
      tags:
        - WhatsApp Accounts
      x-badges:
        - name: GA
          position: after
          color: green
  /v1/projects/{projectId}/whatsapp/activities:
    get:
      description: |2-

            Lists activities on account from the most recent one to the oldest one.
            
      operationId: WhatsappAccountsController_listActivities_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
        - name: pageToken
          required: false
          in: query
          schema:
            type: string
          description: The page token if retrieving the next page from a previous query.
        - name: pageSize
          required: false
          in: query
          schema:
            type: number
            minimum: 1
            maximum: 100
          description: The page size requested.
      responses:
        '200':
          description: Recent activities on account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappAccountNotificationListDto'
              examples:
                response:
                  summary: List account activities response
                  description: |2-

                        Response for all account activities.
                        
                  value:
                    totalSize: 2
                    pageSize: 50
                    notifications:
                      - type: CREATED
                        created: '2023-01-19T13:11:08.204Z'
                        author: Provisioning API user
                      - type: COMMENT_ADDED
                        created: '2023-01-19T13:11:08.204Z'
                        comment: Example comment
                        author: Provisioning API user
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                invalid_page_token-0:
                  summary: InvalidPageTokenError
                  value:
                    errorCode: invalid_page_token
                    message: Invalid page token.
                    resolution: >-
                      The page token to use is provided in the previous query
                      response, for new queries simply leave this field
                      undefined.
                invalid_page_size-1:
                  summary: InvalidPageSizeError
                  value:
                    errorCode: invalid_page_size
                    message: Page size must be numeric.
                    resolution: Use a integer value for pageSize parameter.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_not_found-0:
                  summary: AccountNotFoundError
                  value:
                    errorCode: account_not_found
                    message: Account not found.
                    resolution: Verify that the parameters are correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Lists activities on account
      tags:
        - WhatsApp Accounts
      x-badges:
        - name: GA
          position: after
          color: green
  /v1/projects/{projectId}/whatsapp/comments:
    post:
      description: |2-

            Creates a comment for an account.
            
      operationId: WhatsappAccountsController_createComment_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
      requestBody:
        required: true
        description: Comment data
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappCommentInputDto'
            examples:
              input:
                summary: Body request
                description: |2-

                        Example body request to create a comment.
                        
                value:
                  comment: Example comment.
      responses:
        '201':
          description: Created comment for an account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappCommentDto'
              examples:
                created:
                  summary: Create response
                  description: |2-

                        Response when successfully creating a comment.
                        
                  value:
                    type: CREATED
                    comment: Example comment
                    created: '2023-01-19T13:11:08.204Z'
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                        - comment must be longer than or equal to 1 characters
                invalid_payload-1:
                  summary: InvalidPayloadError
                  value:
                    errorCode: invalid_payload
                    message: Invalid payload.
                    resolution: Correct payload and submit again.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_not_found-0:
                  summary: AccountNotFoundError
                  value:
                    errorCode: account_not_found
                    message: Account not found.
                    resolution: Verify that the parameters are correct.
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                account_data_is_corrupt-0:
                  summary: AccountDataIsCorruptError
                  value:
                    errorCode: account_data_is_corrupt
                    message: Account data is corrupt.
                    resolution: Please contact support.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Creates a comment for an account
      tags:
        - WhatsApp Accounts
      x-badges:
        - name: GA
          position: after
          color: green
  /v1/projects/{projectId}/whatsapp/enableTemplateAnalytics:
    put:
      description: |2-

              Enable Meta template analytics for WhatsApp Business Account.
              
      operationId: WhatsappTemplateAnalyticsHelpersController_enableTemplateAnalytics_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
      responses:
        '200':
          description: Meta template analytics enabled for WhatsApp Business Account.
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: >-
                      Verify that the project ID is correct and that it has been
                      onboarded for WhatsApp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '424':
          description: FailedDependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                template_insights_not_yet_available-0:
                  summary: TemplateInsightsNotYetAvailableError
                  value:
                    errorCode: template_insights_not_yet_available
                    message: Template Insights unavailable.
                    resolution: >-
                      Template Insights are not available yet for this WhatsApp
                      Business account, please contact support.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Enable Meta template analytics
      tags:
        - WhatsApp
      x-badges:
        - name: GA
          position: after
          color: green
  /v1/projects/{projectId}/whatsapp/flows:
    get:
      description: |2-

            Retrieve the list of flows created in the WhatsApp business account (WABA) associated with the project.
            
      operationId: WhatsappFlowsController_listFlows_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
        - name: pageToken
          required: false
          in: query
          schema:
            type: string
          description: The page token if retrieving the next page from a previous query.
        - name: pageSize
          required: false
          in: query
          schema:
            type: number
            minimum: 1
            maximum: 100
          description: The page size requested.
      responses:
        '200':
          description: Flows
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappFlowListDto'
              examples:
                response:
                  summary: Flows response
                  description: |2-

                        Successful response to a "list flows in a project" query.
                        
                  value:
                    totalSize: 2
                    pageSize: 50
                    flows:
                      - id: '12345678765432'
                        name: flow1
                        status: FLOW_STATUS_PUBLISHED
                      - id: '98765676543654567'
                        name: flow2
                        status: FLOW_STATUS_DRAFT
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: >-
                      Verify that the project ID is correct and that it has been
                      onboarded for WhatsApp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_found-0:
                  summary: ProjectNotFoundError
                  value:
                    errorCode: project_not_found
                    message: Project not found.
                    resolution: Verify that the projectId is correct.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: >-
        Get flows in the WhatsApp business account (WABA) associated to the
        project
      tags:
        - WhatsApp Flows
      x-badges:
        - name: GA
          position: after
          color: green
  /v1/projects/{projectId}/whatsapp/flows/{flowId}/screens:
    get:
      description: |2-

            Retrieve the list of screens in a flow.
            
      operationId: WhatsappFlowsController_listFlowScreens_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
        - name: flowId
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: Flow screens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappFlowScreenListDto'
              examples:
                response:
                  summary: Flow screens response
                  description: |2-

                        Successful response to a "list screens for a flow" query.
                        
                  value:
                    screens:
                      - id: MY_FIRST_SCREEN
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_initialized-0:
                  summary: ProjectNotInitializedError
                  value:
                    errorCode: project_not_initialized
                    message: Project not initialized for WhatsApp.
                    resolution: >-
                      Verify that the project ID is correct and that it has been
                      onboarded for WhatsApp.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                unauthorized_error-0:
                  summary: UnauthorizedErrorError
                  value:
                    errorCode: unauthorized_error
                    message: Unauthorized error.
                    resolution: Verify that projectId is correct.
        '404':
          description: NotFound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                project_not_found-0:
                  summary: ProjectNotFoundError
                  value:
                    errorCode: project_not_found
                    message: Project not found.
                    resolution: Verify that the projectId is correct.
                flow_not_found-1:
                  summary: FlowNotFoundError
                  value:
                    errorCode: flow_not_found
                    message: Flow not found.
                    resolution: Verify that the parameters are correct.
                flow_screens_not_found-2:
                  summary: FlowScreensNotFoundError
                  value:
                    errorCode: flow_screens_not_found
                    message: Flow screens not found.
                    resolution: Verify if the flow screens exist.
        '500':
          description: InternalServerError
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                internal_error-0:
                  summary: InternalErrorError
                  value:
                    errorCode: internal_error
                    message: Internal server error.
                    resolution: >-
                      Please wait and try again, if the error persist please
                      contact support.
      summary: Get screens of a flow
      tags:
        - WhatsApp Flows
      x-badges:
        - name: GA
          position: after
          color: green
  /v1/projects/{projectId}/whatsapp/longLivedAccessToken:
    post:
      deprecated: true
      description: |2-

            Returns a long lived access token based on the facebook token from the embedded signup. Valid for 60 days.
            
      operationId: WhatsappEmbeddedSignupHelperController_createLongLivedAccessToken_v1
      parameters:
        - name: projectId
          required: true
          in: path
          description: >-
            The unique ID of the project. You can find this on the <a
            href="https://dashboard.sinch.com/">Sinch Dashboard</a>.
          schema:
            type: string
      requestBody:
        required: true
        description: >-
          Facebook token generated from the embedded signup process, or another
          long lived access token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WhatsappLongLivedAccessTokenInputDto'
            examples:
              withFacebookCode:
                summary: Body request facebookCode
                description: |2-

                        Example body request to create a long lived access token.
                        
                value:
                  facebookCode: FACEBOOK_CODE
              withFacebookToken:
                summary: Body request facebookToken
                description: |2-

                        Example body request to create a long lived access token.
                        
                value:
                  facebookToken: FACEBOOK_TOKEN
      responses:
        '201':
          description: The long lived access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappLongLivedAccessTokenDto'
              examples:
                response:
                  summary: Create response
                  description: |2-

                        Response when successfully creating a long lived access token.
                        
                  value:
                    longLivedAccessToken: FACEBOOK_TOKEN
        '400':
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WhatsappPapiErrorDto'
              examples:
                invalid_input-0:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                        - facebookToken must be a string
                invalid_input-1:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
                      validationErrors:
                        - facebookCode must be a string
                invalid_input-2:
                  summary: InvalidInputError
                  value:
                    errorCode: invalid_input
                    message: Invalid input.
                    resolution: Correct the validation errors and submit again.
                    additionalInformation:
[...]
