openapi: 3.0.3
info:
  title: Numbers | Sinch
  description: >
    # Overview


    The Numbers API enables you to search for, buy, view, and manage numbers.
    It's considered a precursor to other APIs in the Sinch product family. The
    numbers API can be used in tandem with any of our APIs that perform
    messaging or calling. Once you have bought your numbers, you can then use
    the various other APIs, such as
    [SMS](https://developers.sinch.com/docs/sms/) or
    [Voice](https://developers.sinch.com/docs/voice/), to assign and use those
    numbers.


    ## Choosing how to buy a number


    Use the [Number
    Order](https://developers.sinch.com/docs/numbers/api-reference/numbers/number-order)
    API to buy numbers. It supports numbers from all regions and of all number
    types, and it collects any registration (KYC) information and supporting
    documents a region requires:


    1. Check what the region and number type require ("Lookup number
    requirements").

    2. Find a number to buy ("Search for available phone numbers" in the
    [Available
    Numbers](https://developers.sinch.com/docs/numbers/api-reference/numbers/available-number)
    API), or skip this step and order by criteria instead.

    3. Create the order, provide any required registration information and
    documents, and submit it.


    For a step-by-step walkthrough, see [Ordering numbers that meet specific
    requirements](https://developers.sinch.com/docs/numbers/kyc-numbers-order).


    **Deprecated:** The Available Numbers activation endpoints, "Activate a new
    phone number" (`availableNumbers/{phoneNumber}:rent`) and "Rent any number
    that matches the criteria" (`availableNumbers:rentAny`), are deprecated and
    only support US `LOCAL` numbers. They remain available for existing
    integrations, but new integrations should use the Number Order API. The
    Available Numbers search endpoints aren't deprecated and work for all
    regions and number types.


    ## Numbers REST formats and conventions


    Let's take a brief look at some of the formats used in the REST API.


    ### JSON


    JSON (`application/json`) is the content type of both requests and responses
    if not otherwise specified.


    Requests with invalid JSON will be rejected.


    ### Null values


    Null values can be omitted in requests and will be omitted in responses. In
    some cases, explicitly setting `null` will overwrite a previously set value
    with `null`.


    ### Phone numbers


    Only phone numbers in
    [E.164](https://community.sinch.com/t5/Glossary/E-164/ta-p/7537) standard
    format are accepted by the API.


    #### Examples:


    - **US phone number:** `+13059394139`

    - **UK phone number:** `+447478727259`

    - **SE phone number:** `+46113232516`


    ## Status codes


    A summary of status codes can be found on the [HTTP status codes
    page](https://developers.sinch.com/docs/numbers/api-reference/error-codes/status-codes).


    ## IP addresses for callbacks


    To successfully use callbacks with Numbers, add the following IP addresses
    to your allowlist:


    - 54.76.19.159

    - 54.78.194.39

    - 54.155.83.128


    ## New features


    New features might result in additional request and response parameters. New
    request parameters will either have a default value or be considered
    optional to retain backwards compatibility. It's highly recommended to
    ignore any unexpected parameters when reading JSON in API responses and in
    callback handlers.
  version: 1.0.3
  contact:
    name: Support
    url: https://www.sinch.com
    email: Support@sinch.com
  license:
    name: MIT
    url: https://www.sinch.com/toc
servers:
  - url: https://numbers.api.sinch.com
    description: Global API
security:
  - Basic: []
  - OAuth2.0: []
tags:
  - name: Available Number
    description: >-
      You can use the Available Number API to search for numbers that are
      available to buy, in any region and of any number type, and to check a
      specific number's availability, price, and capabilities.


      To buy a number you found, use the [Number
      Order](https://developers.sinch.com/docs/numbers/api-reference/numbers/number-order)
      API.


      **Deprecated:** The activation endpoints in this API, "Activate a new
      phone number" and "Rent any number that matches the criteria", are
      deprecated and only support US `LOCAL` numbers. They remain available for
      existing integrations, but new integrations should use the [Number
      Order](https://developers.sinch.com/docs/numbers/api-reference/numbers/number-order)
      API, which supports numbers from all regions and of all number types.
    x-displayName: Available Numbers
  - name: Number Order
    description: >-
      You can use the Number Order API to buy numbers. This is the recommended
      way to buy numbers: it supports numbers from all regions and of all number
      types, including numbers that require registration (KYC) information and
      supporting documents.


      A number order reserves the numbers, lets you provide the information the
      region requires, and is then submitted for review. The numbers aren't
      activated immediately: track the order's `state` with the "Get a number
      order" endpoint or the `NUMBER_ORDER_PROCESSING` callbacks.


      You can create an order in one of two ways:

      - **Order specific phone numbers** (`numberOrderOption`): order a phone
      number you found with "Search for available phone numbers". Only one phone
      number per order is currently supported.

      - **Order by quantity** (`quantityOrderOption`): order between 1 and 100
      numbers that match your criteria (pattern, capabilities), without choosing
      the specific numbers.


      Steps for buying a number via an order and providing the required KYC
      information:

      1. "Lookup number requirements" endpoint: look up country KYC requirements
      to establish which fields / information needs to be provided as part of
      buying the phone number. Also reveals if any attachment files need to be
      provided.

      2. "Search for available phone numbers" endpoint (in the Available Numbers
      API): search numbers you may want to buy. Not needed if you order by
      quantity.

      3. "Create a number order" endpoint: create the Number Order for a
      specific phone number (`numberOrderOption`) or for a quantity of numbers
      matching a set of criteria (`quantityOrderOption`), which reserves the
      numbers for a period between 30 minutes and 48 hours (check the expireTime
      field), giving plenty of time to call the other endpoint to submit the
      fields required as revealed by the API at 1. and also to hit the final
      Submit endpoint.

      4. "Update number order registration" endpoint: update the order
      Registration (container for the actual KYC required fields / information
      revealed at step #1). This is validated on the spot for required /
      optional fields, fields lengths etc. (also revealed at step #1).

      5. "Upload an attachment for a number order" endpoint: upload file
      attachments - only if mandatory as per requirements revealed by step #1.
      AttachmentId necessary for the URL will be returned at step #1.

      6. "Submit number order" endpoint: submit the order - final step after
      creating the order and providing registration info and (if required)
      attachments


      You can follow a detailed tutorial outlining the entire ordering process
      [here](https://developers.sinch.com/docs/numbers/kyc-numbers-order).
    x-displayName: Number Order
  - name: Active Number
    description: >-
      You can use the Active Number API to manage numbers you own. Release
      numbers from projects or list all numbers assigned to a project.
    x-displayName: Active Numbers
  - name: Available Regions
    description: >-
      You can use the Available Regions API to list all of the regions that have
      numbers assigned to a project.
  - name: Numbers Callbacks
    description: >-
      You can set up callback URLs to receive event notifications when your
      numbers are updated.


      When delivering events the order is not guaranteed (for example, a failed
      event scheduled for retry will not block other events that were queued).


      The client's callback handler must implement the state machine that can
      decide what to do with _unexpected_ events, for example, "old" events or
      invalid state transitions. In these cases the handler could use the API to
      GET the latest state for the resource.


      The callback handler is expected to "ingest" the event and respond with
      200 OK. The domain-specific business logic and processes should be
      executed outside of the callback request, as internal asynchronous jobs.


      Callbacks for all eventTypes - except NUMBER_ORDER_PROCESSING - will use 2
      values for the status field: SUCCEEDED or FAILED. For
      NUMBER_ORDER_PROCESSING eventsTypes, the status field will reflect the
      Number Order state transition that happened, ex: IN_REVIEW, BLOCKED,
      COMPLETED, REJECTED, EXPIRED.


      To use callbacks, add the following IP addresses to your allowlist:


      - 54.76.19.159

      - 54.78.194.39

      - 54.155.83.128


      ### Secure Webhook Endpoints with HMAC


      Implementing HMAC (Hash-based Message Authentication Code) on your webhook
      endpoints will ensure the integrity of data, preventing tampering during
      transmission.

      An HMAC used in webhooks is a common approach in the industry and in a
      nutshell it is just special code that can be used to check if a message
      hasn't been tempered with during the transmission.


      We recommend to configure an HMAC secret for your project using the
      [callback
      configuration](https://developers.sinch.com/docs/numbers/api-reference/numbers/numbers-callbacks/updatecallbackconfiguration).
      Then, when sending the number events, the HTTP POST requests will include
      the header `X-Sinch-Signature` with the computed HMAC.


      **NOTE:** The HMAC secret is configured per project; if you are using the
      Numbers API with multiple projects, make sure you configure the HMAC
      secret in each project, and fetch it for either imported or purchased
      numbers from the dedicated endpoints.


      ### HMAC verification


      We recommend to verify the HMAC code received with every event in your
      event handler. When receiving a new event on your endpoint URL, compute
      the HMAC of the payload using the secret (configured
      [here](https://developers.sinch.com/docs/numbers/api-reference/numbers/numbers-callbacks/updatecallbackconfiguration))
      and compare it with one received in the `X-Sinch-Signature` header.


      **NOTE:** Compute the HMAC on the plain text value before parsing the JSON
      payload.
x-explorer-enabled: false
x-samples-languages:
  - curl
  - java
  - csharp
  - node
  - php
x-webhooks:
  EventsCallback:
    post:
      tags:
        - Numbers Callbacks
      summary: Event notification
      description: A notification of an event sent to your configured callback URL.
      operationId: NumberService_EventsCallback
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackPayload'
      responses:
        default:
          description: 200 OK
paths:
  /v1/projects/{projectId}/availableNumbers/{phoneNumber}:rent:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
    post:
      summary: Activate a new phone number
      description: >-
        **Deprecated:** This endpoint is deprecated. It remains available for
        existing integrations, but new integrations should use the [Number
        Order](https://developers.sinch.com/docs/numbers/api-reference/numbers/number-order)
        API, which supports numbers from all regions and of all number types. To
        order a specific number with a number order, use `numberOrderOption` in
        the "Create a number order" endpoint.


        Activate a phone number to use with SMS products, Voice products, or
        both.


        **Note:** This endpoint only supports US `LOCAL` numbers.


        You'll use `smsConfiguration` to setup your number for SMS and
        `voiceConfiguration` for Voice. To setup for both, add both objects. See
        the dropdown menu (just under language selection) for code samples.


        Note: You cannot add both objects if you only need to configure one
        object. For example, if you only need to configure `smsConfiguration`
        for SMS messaging, do not add the `voiceConfiguration` object or it will
        result in an error.
      operationId: NumberService_RentNumber
      deprecated: true
      requestBody:
        $ref: '#/components/requestBodies/RentNumberRequest'
      responses:
        '200':
          $ref: '#/components/responses/ActiveNumberResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Available Number
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;


            import com.sinch.sdk.SinchClient;

            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;

            import com.sinch.sdk.domains.numbers.models.v1.ActiveNumber;

            import com.sinch.sdk.domains.numbers.models.v1.SmsConfiguration;

            import
            com.sinch.sdk.domains.numbers.models.v1.request.AvailableNumberRentRequest;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class Rent {

              private static final Logger LOGGER = Logger.getLogger(Rent.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                String servicePlanIdToAssociateWithTheNumber =
                    Settings.getServicePlanId().orElse("MY_SERVICE_PLAN_ID");

                // Available numbers list can be retrieved by using list() function from available service, see
                // the SearchAvailableSnippet or
                // https://developers.sinch.com/docs/numbers/getting-started/java-sdk/searchavailable
                String phoneNumberToBeRented = "AVAILABLE_PHONE_NUMBER_TO_BE_RENTED";

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                SmsConfiguration smsConfiguration =
                    SmsConfiguration.builder().setServicePlanId(servicePlanIdToAssociateWithTheNumber).build();

                AvailableNumberRentRequest parameters =
                    AvailableNumberRentRequest.builder().setSmsConfiguration(smsConfiguration).build();

                ActiveNumber response = numbersService.rent(phoneNumberToBeRented, parameters);

                LOGGER.info(String.format("Rented number: %s", response));
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The available phone number to rent
              const phoneNumber = 'PHONE_NUMBER';
              // The service plan ID to associate with the phone number
              const servicePlanId = process.env.SINCH_SERVICE_PLAN_ID ?? 'MY_SERVICE_PLAN_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.rent({
                  phoneNumber: phoneNumber,
                  rentNumberRequestBody: {
                    smsConfiguration: {
                      servicePlanId,
                    },
                  },
                });
                console.log('✅ Successfully rented the phone number.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to rent the phone number ${phoneNumber}:`);
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient

            from sinch.domains.numbers.models.v1.types import
            SmsConfigurationDict


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            # The available phone number to rent in E.164 format

            phone_number = "PHONE_NUMBER"

            # The service plan ID to associate with the phone number

            service_plan_id = os.environ.get("SINCH_SERVICE_PLAN_ID") or
            "MY_SERVICE_PLAN_ID"

            sms_configuration: SmsConfigurationDict = {
                "service_plan_id": service_plan_id,
            }


            rented_number = sinch_client.numbers.rent(
                phone_number=phone_number,
                sms_configuration=sms_configuration
            )

            print("Rented Number:\n", rented_number)
  /v1/projects/{projectId}/availableNumbers:rentAny:
    parameters:
      - $ref: '#/components/parameters/projectId'
    post:
      tags:
        - Available Number
      summary: Rent any number that matches the criteria
      description: >-
        **Deprecated:** This endpoint is deprecated. It remains available for
        existing integrations, but new integrations should use the [Number
        Order](https://developers.sinch.com/docs/numbers/api-reference/numbers/number-order)
        API, which supports numbers from all regions and of all number types. To
        order numbers that match a set of criteria with a number order, use
        `quantityOrderOption` in the "Create a number order" endpoint.


        Activates the first available phone number that matches the search
        criteria provided in the request. You can't review the specific number
        before it's activated.


        **Note:** This endpoint only supports US `LOCAL` numbers, so
        `regionCode` must be `US` and `type` must be `LOCAL`.
      operationId: NumberService_RentAnyNumber
      requestBody:
        description: The request to search and rent a number that matches the criteria.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RentAnyNumberRequest'
            examples:
              activateSMSNumber:
                $ref: '#/components/examples/SearchActivateSMSNumber'
        required: true
      responses:
        '200':
          description: >-
            A successful response, or an
            [error](https://developers.sinch.com/docs/numbers/api-reference/error-codes/status-codes).
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActiveNumberResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      deprecated: true
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;


            import com.sinch.sdk.SinchClient;

            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;

            import com.sinch.sdk.domains.numbers.models.v1.ActiveNumber;

            import com.sinch.sdk.domains.numbers.models.v1.NumberType;

            import com.sinch.sdk.domains.numbers.models.v1.SmsConfiguration;

            import
            com.sinch.sdk.domains.numbers.models.v1.request.AvailableNumberRentAnyRequest;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class RentAny {

              private static final Logger LOGGER = Logger.getLogger(RentAny.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                String servicePlanIdToAssociateWithTheNumber =
                    Settings.getServicePlanId().orElse("MY_SERVICE_PLAN_ID");

                // ISO 3166-1 alpha-2 country code of the phone number. e.g. "US", "GB", "SE"...
                // See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 for details
                String regionCode = "MY_REGION_CODE";

                NumberType numberType = NumberType.LOCAL;

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                SmsConfiguration smsConfiguration =
                    SmsConfiguration.builder().setServicePlanId(servicePlanIdToAssociateWithTheNumber).build();

                AvailableNumberRentAnyRequest parameters =
                    AvailableNumberRentAnyRequest.builder()
                        .setType(numberType)
                        .setRegionCode(regionCode)
                        .setSmsConfiguration(smsConfiguration)
                        .build();

                ActiveNumber response = numbersService.rentAny(parameters);

                LOGGER.info(String.format("Rented number: %s", response));
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The service plan ID to associate with the phone number
              const servicePlanId = process.env.SINCH_SERVICE_PLAN_ID ?? 'MY_SERVICE_PLAN_ID';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.rentAny({
                  rentAnyNumberRequestBody: {
                    regionCode: 'US',
                    type: 'LOCAL',
                    smsConfiguration: {
                      servicePlanId,
                    },
                  },
                });
                console.log('✅ Successfully rented a phone number.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error('❌ Failed to rent a phone number:');
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient

            from sinch.domains.numbers.models.v1.types import
            SmsConfigurationDict


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            # The service plan ID to associate with the phone number

            service_plan_id = os.environ.get("SINCH_SERVICE_PLAN_ID") or
            "MY_SERVICE_PLAN_ID"

            sms_configuration: SmsConfigurationDict = {
                "service_plan_id": service_plan_id,
            }

            # The URL to receive the notifications about provisioning events

            event_destination_target = "CALLBACK_URL"


            response = sinch_client.numbers.rent_any(
                region_code="US",
                number_type="LOCAL",
                capabilities=["SMS", "VOICE"],
                sms_configuration=sms_configuration,
                event_destination_target=event_destination_target
            )


            print("Rented Number:\n", response)
  /v1/projects/{projectId}/activeNumbers:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/regionCodeOptional'
      - $ref: '#/components/parameters/numberPattern.pattern'
      - $ref: '#/components/parameters/numberPattern.searchPattern'
      - $ref: '#/components/parameters/typeOptional'
      - $ref: '#/components/parameters/capability'
      - $ref: '#/components/parameters/pageSize'
      - $ref: '#/components/parameters/pageToken'
      - $ref: '#/components/parameters/orderBy'
    get:
      summary: Lists active numbers for a project
      description: Lists all active numbers for a project.
      operationId: NumberService_ListActiveNumbers
      responses:
        '200':
          $ref: '#/components/responses/ListActiveNumbersResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Active Number
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;


            import com.sinch.sdk.SinchClient;

            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;

            import
            com.sinch.sdk.domains.numbers.models.v1.response.ActiveNumbersListResponse;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class List {

              private static final Logger LOGGER = Logger.getLogger(List.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                LOGGER.info("Listing active numbers");

                ActiveNumbersListResponse response = numbersService.list();

                LOGGER.info("Response");

                response
                    .iterator()
                    .forEachRemaining(f -> LOGGER.info(String.format("%s: %s", f.getPhoneNumber(), f)));
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.numbers.list({
                  regionCode: 'US',
                  type: 'LOCAL',
                });
                if (response.data.length === 0) {
                  console.log('No rented phone numbers found.');
                  return;
                }
                console.log(`✅ Found ${response.data.length} rented phone numbers.`);
                response.data.forEach((phoneNumber) => {
                  console.log(phoneNumber);
                });
              } catch (err) {
                console.error('❌ Failed to list the rented phone numbers:');
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            active_numbers = sinch_client.numbers.list(
                region_code="US",
                number_type="LOCAL"
            )


            page_counter = 1

            while True:
                print(f"Page {page_counter} List of Numbers: {active_numbers}")

                if not active_numbers.has_next_page:
                    break

                active_numbers = active_numbers.next_page()
                page_counter += 1
  /v1/projects/{projectId}/activeNumbers/{phoneNumber}:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
    patch:
      summary: Update an active phone number
      description: >-
        Update an active phone number. You can perform the following updates:


        * Update the name that displays for a customer by modifying the
        `displayName` parameter.

        * Unlink the number from an SMS service or campaign by updating the
        `smsConfiguration` configuration object. To unlink a number, submit the
        request with an empty string (`””`) in the service plan ID or campaign
        ID fields.

        * Before linking a number to a new service or campaign, it must be
        unlinked from any existing service or campaign. Then, link the number to
        a new SMS service or campaign by updating the service plan ID or
        campaign ID with the new desired value.

        * Update the Voice app to which the number is assigned by using the
        voiceConfiguration object.


        You can update both SMS and Voice in the same object by including both
        configuration objects. If you only need to update either Voice or SMS,
        simply omit the other object. If you pass an empty configuration object,
        the request will fail.
      operationId: NumberService_UpdateActiveNumber
      requestBody:
        $ref: '#/components/requestBodies/ActiveNumberRequest'
      responses:
        '200':
          $ref: '#/components/responses/ActiveNumberResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Active Number
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;


            import com.sinch.sdk.SinchClient;

            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;

            import com.sinch.sdk.domains.numbers.models.v1.ActiveNumber;

            import
            com.sinch.sdk.domains.numbers.models.v1.request.ActiveNumberUpdateRequest;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class Update {

              private static final Logger LOGGER = Logger.getLogger(Update.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                String phoneNumber = Settings.getPhoneNumber().orElse("MY_SINCH_PHONE_NUMBER");

                String displayName = "Updated with Sinch Java SDK";

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                ActiveNumberUpdateRequest updateRequest =
                    ActiveNumberUpdateRequest.builder().setDisplayName(displayName).build();

                ActiveNumber response = numbersService.update(phoneNumber, updateRequest);

                LOGGER.info(String.format("Updated number: %s", response));
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The phone number to update
              const phoneNumber = process.env.SINCH_PHONE_NUMBER ?? 'MY_SINCH_PHONE_NUMBER';
              const updatedDisplayName = 'Updated name with Sinch Node.js SDK';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.numbers.update({
                  phoneNumber,
                  updateActiveNumberRequestBody: {
                    displayName: updatedDisplayName,
                  },
                });
                console.log('✅ Successfully updated the phone number.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to update the phone number ${phoneNumber}:`);
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            # The phone number to update in E.164 format

            phone_number = os.environ.get("SINCH_PHONE_NUMBER") or
            "MY_PHONE_NUMBER"

            # The display name to set for the number

            display_name = "Updated DISPLAY_NAME"


            response = sinch_client.numbers.update(
                phone_number=phone_number,
                display_name=display_name,
            )


            print("Updated Number:\n", response)
    get:
      summary: Retrieve an active phone number
      description: Retrieve a specific active phone number.
      operationId: NumberService_GetActiveNumber
      responses:
        '200':
          $ref: '#/components/responses/ActiveNumberResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Active Number
      x-codeSamples:
        - lang: Java
          source: |
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;

            import com.sinch.sdk.SinchClient;
            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;
            import com.sinch.sdk.domains.numbers.models.v1.ActiveNumber;
            import com.sinch.sdk.models.Configuration;
            import java.util.logging.Logger;
            import utils.Settings;

            public class Get {

              private static final Logger LOGGER = Logger.getLogger(Get.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                String phoneNumber = Settings.getPhoneNumber().orElse("MY_SINCH_PHONE_NUMBER");

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                LOGGER.info("Get for: " + phoneNumber);
                ActiveNumber value = numbersService.get(phoneNumber);

                LOGGER.info("Response: " + value);
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The phone number you want to retrieve details for
              const phoneNumber = process.env.SINCH_PHONE_NUMBER ?? 'MY_SINCH_PHONE_NUMBER';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.get({ phoneNumber });
                console.log('✅ Successfully retrieved the phone number details.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the details for the phone number ${phoneNumber}:`);
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            # The active phone number to retrieve details for in E.164 format

            phone_number = os.environ.get("SINCH_PHONE_NUMBER") or
            "MY_PHONE_NUMBER"


            response = sinch_client.numbers.get(phone_number=phone_number)


            print(f"Rented number details:\n{response}")
  /v1/projects/{projectId}/activeNumbers/{phoneNumber}:release:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
    post:
      summary: Release an active number from the project
      description: >-
        With this endpoint, you can cancel your subscription for a specific
        phone number.
      operationId: NumberService_ReleaseNumber
      responses:
        '200':
          $ref: '#/components/responses/ActiveNumberResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Active Number
      x-codeSamples:
        - lang: Java
          source: |
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;

            import com.sinch.sdk.SinchClient;
            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;
            import com.sinch.sdk.domains.numbers.models.v1.ActiveNumber;
            import com.sinch.sdk.models.Configuration;
            import java.util.logging.Logger;
            import utils.Settings;

            public class Release {

              private static final Logger LOGGER = Logger.getLogger(Release.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                String phoneNumber = Settings.getPhoneNumber().orElse("MY_SINCH_PHONE_NUMBER");

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                LOGGER.info("Release for: " + phoneNumber);

                ActiveNumber value = numbersService.release(phoneNumber);

                LOGGER.info("Response: " + value);
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The phone number to release
              const phoneNumber = process.env.SINCH_PHONE_NUMBER ?? 'MY_SINCH_PHONE_NUMBER';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try {
                const response = await sinch.numbers.release({ phoneNumber });
                console.log('✅ Successfully released the phone number.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to release the phone number ${phoneNumber}:`);
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            # The phone number to release in E.164 format

            phone_number = os.environ.get("SINCH_PHONE_NUMBER") or
            "MY_SINCH_PHONE_NUMBER"


            released_number = sinch_client.numbers.release(
                phone_number=phone_number
            )


            print("Released Number:", released_number)
  /v1/projects/{projectId}/availableNumbers:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/numberPattern.pattern'
      - $ref: '#/components/parameters/numberPattern.searchPattern'
      - $ref: '#/components/parameters/regionCodeRequired'
      - $ref: '#/components/parameters/typeRequired'
      - $ref: '#/components/parameters/capabilities'
      - name: size
        description: Optional. The maximum number of items to return.
        in: query
        required: false
        schema:
          type: integer
          format: int32
        example: 3
    get:
      summary: Search for available phone numbers
      description: >-
        Search for available phone numbers that are available for you to
        activate. You can filter by any property on the available number
        resource.


        When searching, indicate the `capability` of the number in the array as
        `SMS` and/or `VOICE`. To search for a number capable of both, list both
        `SMS` and `VOICE`.


        You can search for numbers in any region and of any number type. To buy
        a number from the search results, use the [Number
        Order](https://developers.sinch.com/docs/numbers/api-reference/numbers/number-order)
        API.
      operationId: NumberService_ListAvailableNumbers
      responses:
        '200':
          $ref: '#/components/responses/ListAvailableNumbersResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Available Number
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;


            import com.sinch.sdk.SinchClient;

            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;

            import com.sinch.sdk.domains.numbers.models.v1.NumberType;

            import
            com.sinch.sdk.domains.numbers.models.v1.request.AvailableNumbersListQueryParameters;

            import
            com.sinch.sdk.domains.numbers.models.v1.response.AvailableNumbersListResponse;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class SearchForAvailableNumbers {

              private static final Logger LOGGER = Logger.getLogger(SearchForAvailableNumbers.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                // ISO 3166-1 alpha-2 country code of the phone number. e.g. "US", "GB", "SE"...
                // See https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 for details
                String regionCode = "MY_REGION_CODE";
                NumberType type = NumberType.LOCAL;

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                AvailableNumbersListQueryParameters parameters =
                    AvailableNumbersListQueryParameters.builder()
                        .setRegionCode(regionCode)
                        .setType(type)
                        .build();

                LOGGER.info("Looking for available numbers");

                AvailableNumbersListResponse response = numbersService.searchForAvailableNumbers(parameters);

                response
                    .iterator()
                    .forEachRemaining(
                        number -> LOGGER.info(String.format("Available number details: %s", number)));
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.searchForAvailableNumbers({
                  regionCode: 'US',
                  type: 'LOCAL',
                });
                if (!response.availableNumbers?.length) {
                  console.log('No phone numbers are available with these criteria.');
                  return;
                }
                console.log(`✅ Found ${response.availableNumbers.length} numbers to rent.`);
                response.availableNumbers.forEach((number) => {
                  console.log(number);
                });
              } catch (err) {
                console.error('❌ Failed to list phone numbers to rent:');
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            available_numbers =
            sinch_client.numbers.search_for_available_numbers(
                region_code="AR",
                number_type="LOCAL"
            )


            print("Available numbers to rent:\n")

            for number in available_numbers.iterator():
                print(number)
  /v1/projects/{projectId}/availableNumbers/{phoneNumber}:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
    get:
      summary: Search for a specific phone number
      description: >-
        This endpoint allows you to enter a specific phone number to check if
        it's available for use. A 200 response will return the number's
        capability, setup costs, monthly costs and if supporting documentation
        is required.


        To buy the number, use the [Number
        Order](https://developers.sinch.com/docs/numbers/api-reference/numbers/number-order)
        API.
      operationId: NumberService_GetAvailableNumber
      responses:
        '200':
          $ref: '#/components/responses/AvailableNumberResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Available Number
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;


            import com.sinch.sdk.SinchClient;

            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;

            import
            com.sinch.sdk.domains.numbers.models.v1.response.AvailableNumber;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class CheckAvailability {

              private static final Logger LOGGER = Logger.getLogger(CheckAvailability.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                String phoneNumber = "A_PHONE_NUMBER_TO_CHECK";

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                LOGGER.info("CheckAvailability for: " + phoneNumber);

                AvailableNumber value = numbersService.checkAvailability(phoneNumber);

                LOGGER.info("Response: " + value);
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The phone number to check for rental availability
              const phoneNumber = 'PHONE_NUMBER';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.checkAvailability({ phoneNumber });
                console.log('✅ Phone number is available to rent.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to get a successful status for the phone number's availability (${phoneNumber}):`);
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            # The phone number to check in E.164 format

            phone_number = "PHONE_NUMBER"


            response = sinch_client.numbers.check_availability(
                phone_number=phone_number
            )


            print("The phone number is available:\n", response)
  /v1/projects/{projectId}/numberOrders:lookupNumberRequirements:
    post:
      operationId: LookupNumberRequirements
      summary: Lookup number requirements
      description: >-
        Returns required KYC fields info based on number type & country
        legislation.


        You can follow a detailed tutorial outlining the entire ordering process
        [here](https://developers.sinch.com/docs/numbers/kyc-numbers-order).
      parameters:
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LookupNumberRequirementsRequest'
            examples:
              LookupAustralianKycRequirementsRequest:
                $ref: '#/components/examples/lookupAuKycRequirementsReq'
              GettingStartedExample:
                $ref: '#/components/examples/gettingStartedLookupExample'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberRequirements'
              examples:
                LookupAustralianKycRequirementsResponse:
                  $ref: '#/components/examples/lookupAuKycRequirementsRes'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Number Order
  /v1/projects/{projectId}/numberOrders:createNumberOrder:
    post:
      operationId: CreateNumberOrder
      summary: Create a number order
      description: >-
        Create a number order for a specific number or for a quantity of numbers
        matching a set of criteria (pattern, capabilities etc.) - reserves the
        phone numbers for a period between 30 minutes and 48 hours (check the
        expireTime field) and creates entities for collecting KYC info.


        Set exactly one of these options:

        - `numberOrderOption`: order specific phone numbers. `phoneNumbers` must
        contain exactly one phone number; ordering more than one number per
        order isn't currently supported.

        - `quantityOrderOption`: order between 1 and 100 numbers
        (`requestedQuantity`) that match the given criteria.


        You can follow a detailed tutorial outlining the entire ordering process
        [here](https://developers.sinch.com/docs/numbers/kyc-numbers-order).
      parameters:
        - $ref: '#/components/parameters/projectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNumberOrderRequest'
            examples:
              CreateAustralianNumberOrderRequest:
                $ref: '#/components/examples/createAustralianNumberOrderRequest'
              CreateUsQuantityOrderRequest:
                $ref: '#/components/examples/createUsQuantityOrderRequest'
              GettingStartedExample:
                $ref: '#/components/examples/gettingStartedExample'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOrder'
              examples:
                AustralianNumberOrder:
                  $ref: '#/components/examples/australianNumberOrder'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Number Order
  /v1/projects/{projectId}/numberOrders/{numberOrderId}:
    get:
      operationId: GetNumberOrder
      summary: Get a number order
      description: >-
        Returns the number order alongside all reserved numbers.


        You can follow a detailed tutorial outlining the entire ordering process
        [here](https://developers.sinch.com/docs/numbers/kyc-numbers-order).
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/numberOrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOrder'
              examples:
                AustralianNumberOrder:
                  $ref: '#/components/examples/australianNumberOrder'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Number Order
  /v1/projects/{projectId}/numberOrders/{numberOrderId}/registration:
    put:
      operationId: UpdateNumberOrderRegistration
      summary: Update number order registration
      description: >-
        Updates the registration (vehicle for KYC info) for a specific number
        order. Validated against the country requirements revealed by the
        "Lookup number requirements" endpoints.


        You can follow a detailed tutorial outlining the entire ordering process
        [here](https://developers.sinch.com/docs/numbers/kyc-numbers-order).
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/numberOrderId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNumberOrderRegistrationRequest'
            examples:
              updateAustralianRegistration:
                $ref: '#/components/examples/australianRegistration'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
              examples:
                australianRegistration:
                  $ref: '#/components/examples/australianRegistration'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Number Order
    get:
      operationId: GetNumberOrderRegistration
      summary: Get number order registration
      description: >-
        Retrieves the Registration submitted for a number order via the "Update
        number order registration" endpoint.


        You can follow a detailed tutorial outlining the entire ordering process
        [here](https://developers.sinch.com/docs/numbers/kyc-numbers-order).
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/numberOrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
              examples:
                australianRegistration:
                  $ref: '#/components/examples/australianRegistration'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Number Order
  /v1/projects/{projectId}/numberOrders/{numberOrderId}/attachments/{attachmentId}:
    post:
      operationId: UploadNumberOrderAttachment
      summary: Upload an attachment for a number order
      description: >-
        Upload file attachments to a number order registration. Mandatory only
        if revealed in the requirements returned by the "Lookup number
        requirements" endpoint. 


        The "attachmentId" URL parameter is the one returned by the "Lookup
        number requirements" endpoint.


        You can follow a detailed tutorial outlining the entire ordering process
        [here](https://developers.sinch.com/docs/numbers/kyc-numbers-order).
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/numberOrderId'
        - name: attachmentId
          description: >-
            attachment IDs are returned by the "Lookup number requirements"
            endpoint
          in: path
          required: true
          schema:
            type: string
            example: d1c7ccbf-919d-462f-8587-dec95a1b11zz
      requestBody:
        required: true
        description: >-
          File attachment upload request body with Content-Type =
          multipart/form-data
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: File attachment to upload
                documentType:
                  type: string
                  description: >-
                    Optional document type associated with the uploaded
                    attachment
      responses:
        '200':
          description: Document uploaded successfully
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '413':
          description: Document is too large to upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestEntityTooLarge'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Number Order
  /v1/projects/{projectId}/numberOrders/{numberOrderId}/submit:
    post:
      operationId: SubmitNumberOrder
      summary: Submit number order
      description: >-
        Submits the order for review, assuming the KYC info and attachments were
        submitted using their dedicated endpoints.


        You can follow a detailed tutorial outlining the entire ordering process
        [here](https://developers.sinch.com/docs/numbers/kyc-numbers-order).
      parameters:
        - $ref: '#/components/parameters/projectId'
        - $ref: '#/components/parameters/numberOrderId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NumberOrder'
              examples:
                AustralianNumberOrder:
                  $ref: '#/components/examples/australianNumberOrder'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Number Order
  /v1/projects/{projectId}/availableRegions:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - name: types
        description: >-
          Only return regions for which numbers are provided with the given
          types: `MOBILE`, `LOCAL` or `TOLL_FREE`.

            - MOBILE: Numbers that belong to a specific range.
            - LOCAL: Numbers that are assigned to a specific geographic region.
            - TOLL_FREE: Number that are free of charge for the calling party but billed for all arriving calls.

          If you want to see all results, do not add the `types` query
          parameter.
        in: query
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/NumberType'
    get:
      summary: List available regions
      description: Lists all regions for numbers provided for the project ID.
      operationId: NumberService_ListAvailableRegions
      responses:
        '200':
          $ref: '#/components/responses/ListAvailableRegionsResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Available Regions
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers.regions;


            import com.sinch.sdk.SinchClient;

            import com.sinch.sdk.domains.numbers.api.v1.AvailableRegionsService;

            import
            com.sinch.sdk.domains.numbers.models.v1.regions.response.AvailableRegionsListResponse;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class List {

              private static final Logger LOGGER = Logger.getLogger(List.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                AvailableRegionsService availableRegionsService = client.numbers().v1().regions();

                LOGGER.info("List");

                AvailableRegionsListResponse response = availableRegionsService.list();

                LOGGER.info("Available regions:");

                response.iterator().forEachRemaining(item -> LOGGER.info(String.format("- %s", item)));
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.availableRegions.list({});
                if (!response.availableRegions?.length) {
                  console.log('No regions are available with these criteria.');
                  return;
                }
                console.log(`✅ Found ${response.availableRegions.length} available regions.`);
                response.availableRegions.forEach((region) => {
                  console.log(region);
                });
              } catch (err) {
                console.error('❌ Failed to list available regions:');
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            available_regions = sinch_client.numbers.regions.list(
                number_types=["MOBILE"]
            )


            print("Available regions:\n")

            for region in available_regions.iterator():
                print(region)
  /v1/projects/{projectId}/callbackConfiguration:
    get:
      summary: Get callbacks configuration
      description: Returns the callbacks configuration for the specified project
      operationId: GetCallbackConfiguration
      responses:
        '200':
          description: Callbacks configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackConfiguration'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - Numbers Callbacks
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers.eventdestinations;


            import com.sinch.sdk.SinchClient;

            import
            com.sinch.sdk.domains.numbers.api.v1.EventDestinationsService;

            import
            com.sinch.sdk.domains.numbers.models.v1.eventdestinations.response.EventDestinationResponse;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class Get {

              private static final Logger LOGGER = Logger.getLogger(Get.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                EventDestinationsService eventDestinationsService = client.numbers().v1().eventDestinations();

                LOGGER.info("Get");

                EventDestinationResponse value = eventDestinationsService.get();

                LOGGER.info("Response :" + value);
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.callbacks.get({});
                console.log('✅ Successfully retrieved the callback configuration.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error('❌ Failed to retrieve the callback configuration:');
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            response = sinch_client.numbers.event_destinations.get()


            print("Event Destination Configuration:\n", response)
    patch:
      summary: Update callback configuration
      description: Updates the callbacks configuration for the specified project
      operationId: UpdateCallbackConfiguration
      requestBody:
        description: The callback configuration details to be updated.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallbackConfigurationUpdate'
      responses:
        '200':
          description: Callback configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallbackConfiguration'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      parameters:
        - $ref: '#/components/parameters/projectId'
      tags:
        - Numbers Callbacks
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers.eventdestinations;


            import com.sinch.sdk.SinchClient;

            import
            com.sinch.sdk.domains.numbers.api.v1.EventDestinationsService;

            import
            com.sinch.sdk.domains.numbers.models.v1.eventdestinations.request.EventDestinationUpdateRequest;

            import
            com.sinch.sdk.domains.numbers.models.v1.eventdestinations.response.EventDestinationResponse;

            import com.sinch.sdk.models.Configuration;

            import java.util.logging.Logger;

            import utils.Settings;


            public class Update {

              private static final Logger LOGGER = Logger.getLogger(Update.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                String hmac = "NEW_HMAC_SECRET";

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                EventDestinationsService eventDestinationsService = client.numbers().v1().eventDestinations();

                LOGGER.info("Update callback HMAC secret");

                EventDestinationUpdateRequest parameters =
                    EventDestinationUpdateRequest.builder().setHmacSecret(hmac).build();

                EventDestinationResponse value = eventDestinationsService.update(parameters);

                LOGGER.info("Response :" + value);
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The new HMAC secret to configure for the callback
              const hmacSecret = 'NEW_HMAC_SECRET';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.callbacks.update({
                  updateCallbackConfigurationRequestBody: {
                    hmacSecret,
                  },
                });
                console.log('✅ Successfully updated the callback configuration.');
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error('❌ Failed to update the callback configuration:');
                console.error(err);
              }
            }

            main();
        - lang: Python
          source: >
            """

            Sinch Python Snippet


            This snippet is available at
            https://github.com/sinch/sinch-sdk-python/tree/main/examples/snippets

            """


            import os

            from dotenv import load_dotenv

            from sinch import SinchClient


            load_dotenv()


            sinch_client = SinchClient(
                project_id=os.environ.get("SINCH_PROJECT_ID") or "MY_PROJECT_ID",
                key_id=os.environ.get("SINCH_KEY_ID") or "MY_KEY_ID",
                key_secret=os.environ.get("SINCH_KEY_SECRET") or "MY_KEY_SECRET"
            )


            # The HMAC secret for signing webhook requests to your event
            destination

            hmac_secret = "NEW_HMAC_SECRET"


            response = sinch_client.numbers.event_destinations.update(
                hmac_secret=hmac_secret
            )


            print("Updated event destination configuration:\n", response)
  /v1/projects/{projectId}/activeNumbers/{phoneNumber}/emergencyAddress:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
    get:
      summary: Get the emergency address for a number
      description: >-
        With this endpoint, you can retrieve the emergency address associated
        with this number.
      operationId: NumberService_GetEmergencyAddress
      responses:
        '200':
          $ref: '#/components/responses/EmergencyAddressResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Active Number
      x-codeSamples:
        - lang: Java
          source: |
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
             * <p>See https://github.com/sinch/sinch-sdk-java/blob/main/examples/snippets/README.md for details
             */
            package numbers;

            import com.sinch.sdk.SinchClient;
            import com.sinch.sdk.domains.numbers.api.v1.NumbersService;
            import com.sinch.sdk.domains.numbers.models.v1.EmergencyAddress;
            import com.sinch.sdk.models.Configuration;
            import java.util.logging.Logger;
            import utils.Settings;

            public class GetEmergencyAddress {
              private static final Logger LOGGER = Logger.getLogger(GetEmergencyAddress.class.getName());

              public static void main(String[] args) {

                String projectId = Settings.getProjectId().orElse("MY_PROJECT_ID");
                String keyId = Settings.getKeyId().orElse("MY_KEY_ID");
                String keySecret = Settings.getKeySecret().orElse("MY_KEY_SECRET");

                String phoneNumber = Settings.getPhoneNumber().orElse("MY_SINCH_PHONE_NUMBER");

                Configuration configuration =
                    Configuration.builder()
                        .setProjectId(projectId)
                        .setKeyId(keyId)
                        .setKeySecret(keySecret)
                        .build();

                SinchClient client = new SinchClient(configuration);

                NumbersService numbersService = client.numbers().v1();

                LOGGER.info("Get EmergencyAddress for: " + phoneNumber);

                EmergencyAddress response = numbersService.getEmergencyAddress(phoneNumber);

                LOGGER.info("Response: " + response);
              }
            }
        - lang: Node.js
          source: |
            /**
             * Sinch Node.js Snippet
             * See: https://github.com/sinch/sinch-sdk-node/examples/snippets
             */
            import { SinchClient } from '@sinch/sdk-core';
            import * as dotenv from 'dotenv';
            dotenv.config();

            async function main() {
              const projectId = process.env.SINCH_PROJECT_ID ?? 'MY_PROJECT_ID';
              const keyId = process.env.SINCH_KEY_ID ?? 'MY_KEY_ID';
              const keySecret = process.env.SINCH_KEY_SECRET ?? 'MY_KEY_SECRET';

              // The phone number for which you want to retrieve the emergency address
              const phoneNumber = process.env.SINCH_PHONE_NUMBER ?? 'MY_SINCH_PHONE_NUMBER';

              const sinch = new SinchClient({ projectId, keyId, keySecret });

              try{
                const response = await sinch.numbers.getEmergencyAddress({ phoneNumber });
                console.log(`✅ Successfully retrieved the Emergency Address for the phone number ${phoneNumber}.`);
                console.log(JSON.stringify(response, null, 2));
              } catch (err) {
                console.error(`❌ Failed to retrieve the Emergency Address for the phone number ${phoneNumber}:`);
                console.error(err);
              }
            }

            main();
  /v1/projects/{projectId}/activeNumbers/{phoneNumber}/emergencyAddress:provision:
    parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/phoneNumber'
    post:
      summary: Add a emergency address for a number
      description: >-
        With this endpoint, you can provision an emergency address associated
        with this number.
      operationId: NumberService_ProvisionEmergencyAddress
      requestBody:
        $ref: '#/components/requestBodies/ProvisionEmergencyAddressRequest'
      responses:
        '200':
          $ref: '#/components/responses/EmergencyAddressResponse'
        '400':
          description: 400 Invalid Argument error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidArgument'
        '403':
          $ref: '#/components/responses/PermissionDenied'
        '404':
          description: 404 Not Found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
        '500':
          description: 500 Internal Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InternalError'
      tags:
        - Active Number
      x-codeSamples:
        - lang: Java
          source: >
            /**
             * Sinch Java Snippet
             *
             * <p>This snippet is available at https://github.com/sinch/sinch-sdk-java
             *
[...]
